/ Cet avertissement est affiché en JS lorsque l'on perd la connexion ActionCable
#agenda_disconnecter_warning.hidden
  = dsfr_alert type: :warning, size: :sm, html_attributes: { class: "fr-mb-2v" } do
    | La connexion avec le serveur a été perdue. Veuillez
    =< link_to("recharger la page", request.fullpath)
    |.
