- content_for(:menu_item) { "menu-agendas" }

- content_for :title, "Agenda (#{@agents.count} #{'agent'.pluralize(@agents.count)} sélectionnés)"

ruby:
  event_sources = [
    admin_api_agenda_rdvs_path(agent_id: @agents.map(&:id), organisation_id: current_organisation.id, format: :json),
    admin_api_agenda_absences_path(agent_id: @agents.map(&:id), organisation_id: current_organisation.id, format: :json),
    admin_api_agenda_plage_ouvertures_path(agent_id: @agents.map(&:id), organisation_id: current_organisation.id, mixed_with_rdvs: true, format: :json),
  ]
  event_sources.push(OffDays.to_full_calendar_array) unless current_territory.work_on_sunday?
  resources = @agents.map { { id: _1.id, title: _1.full_name_or_email } }

= render partial: "admin/planning/agendas/disconnected_warning"

#agenda-multi-agent.mt-2[
  data-event-sources-json="#{event_sources.to_json}"
  data-resources-json="#{resources.to_json}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-display-sundays="#{current_territory.work_on_sunday? && current_agent.display_saturdays}"
  data-organisation-id="#{current_organisation.id}"
  data-realtime-refresh=Admin::Api::Agenda.realtime_refresh?(current_agent).to_s
]

= render partial: "admin/planning/agendas/preferences_toggles"
