- content_for(:menu_item) { "menu-agendas" }

- content_for :title, "Agenda (#{@agents.count} #{'agent'.pluralize(@agents.count)} sélectionnés)"

ruby:
  event_sources = [
    { id: "Rdv",                    url: admin_api_agenda_rdvs_path(agent_id: @agents.map(&:id), organisation_id: current_organisation.id, format: :json) },
    { id: "Absence",                url: admin_api_agenda_absences_path(agent_id: @agents.map(&:id), organisation_id: current_organisation.id, format: :json) },
    { id: "ExternalCalendarEvent",  url: admin_api_agenda_external_calendar_events_path(agent_id: @agents.map(&:id), format: :json) },
    { id: "PlageOuverture",         url: admin_api_agenda_plage_ouvertures_path(agent_id: @agents.map(&:id), organisation_id: current_organisation.id, mixed_with_rdvs: true, format: :json) },
  ]
  event_sources.push(OffDays.to_full_calendar_array) unless current_territory.work_on_sunday?
  resources = @agents.map { { id: _1.id, title: _1.full_name_or_email } }

= render partial: "admin/planning/agendas/disconnected_warning"

#agenda-multi-agent.mt-2[
  data-event-sources-json="#{event_sources.to_json}"
  data-resources-json="#{resources.to_json}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-display-sundays="#{current_territory.work_on_sunday? && current_agent.display_saturdays}"
  data-group-by-agent="#{current_agent.group_by_agent}"
  data-organisation-id="#{current_organisation.id}"
]

- if current_agent.feature_enabled?(Agent::FeatureFlags::NEW_PLANNING)
  = render partial: "admin/planning/agendas/preferences_modal", locals: { display_cancelled_rdv: true, display_saturdays: true, group_by_agent: true }
- else
  = render partial: "admin/planning/agendas/preferences_buttons"
