- content_for(:menu_item) { "menu-agendas" }

= render "admin/onboarding/banner", in_agenda: true

- content_for :title do
  - if current_agent == @agent
    | Votre agenda
  - else
    | Agenda de #{@agent.full_name_and_service}

ruby:
  event_sources = [
    { id: "Rdv",            url: admin_api_agenda_rdvs_path(agent_id: @agent.id, organisation_id: current_organisation.id, format: :json) },
    { id: "Absence",        url: admin_api_agenda_absences_path(agent_id: @agent.id, organisation_id: current_organisation.id, format: :json) },
    { id: "PlageOuverture", url: admin_api_agenda_plage_ouvertures_path(agent_id: @agent.id, organisation_id: current_organisation.id, mixed_with_rdvs: true, format: :json) },
  ]

  event_sources.push({ id: "ExternalCalendarEvent", url: admin_api_agenda_external_calendar_events_path(agent_id: @agent.id, format: :json) }) if @agent.caldav_configured?
  event_sources.push(OffDays.to_full_calendar_array) unless current_territory.work_on_sunday?

= render partial: "admin/planning/agendas/disconnected_warning"

#calendar[
  data-default-date-json="#{@date&.to_json}"
  data-agent-id="#{@agent.id}"
  data-selected-event-id="#{@selected_event_id}"
  data-organisation-id="#{@organisation.id}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-display-sundays="#{current_territory.work_on_sunday? && current_agent.display_saturdays}"
  data-event-sources-json="#{event_sources.to_json}"
]

.my-3
  = render partial: "admin/planning/agendas/preferences_modal", locals: { display_cancelled_rdv: true, display_saturdays: true }

.mt-2
  = link_to admin_organisation_rdvs_path(current_organisation, agent_id: @agent.id, start: @date, end: @date, breadcrumb_page: "agenda"), class: "js-link-print-rdvs" do
    - if current_agent == @agent
      |> 🖨 Liste détaillée des RDVs du
      span.js-date
      / date is filled from JS
    - else
      |> 🖨 Liste détaillée des RDVs du
      span.js-date>
      | pour #{@agent.full_name_or_email}

.fr-mb-2v
  = render "admin/rdvs/rdv_visibility"
