- content_for(:menu_item) { "menu-agendas" }
- content_for(:menu_agent_select_path_helper_name) { "admin_organisation_planning_agenda_path" }

= render "admin/onboarding/banner", in_agenda: true

- content_for(:right_of_page_title) do
  - unless @beta_planning_layout
    .mr-1
      - url = admin_organisation_planning_toggle_new_planning_path(current_organisation, set_to: "true")
      = link_to "Activer la nouvelle vue planning", url, method: :put, class: "fr-link fr-link--sm"

- content_for :title do
  - if current_agent == my_sole_agent
    | Votre agenda
  - else
    | Agenda de #{my_sole_agent.full_name_and_service}

ruby:
  event_sources = [
    admin_api_agenda_rdvs_path(agent_id: my_sole_agent, organisation_id: current_organisation.id, format: :json),
    admin_api_agenda_absences_path(agent_id: my_sole_agent, organisation_id: current_organisation.id, format: :json),
    admin_api_agenda_plage_ouvertures_path(agent_id: my_sole_agent, organisation_id: current_organisation.id, mixed_with_rdvs: true, format: :json),
  ]
  event_sources.push(OffDays.to_full_calendar_array) unless current_territory.work_on_sunday?

= render partial: "admin/planning/agendas/disconnected_warning"

#calendar[
  data-default-date-json="#{@date&.to_json}"
  data-agent-id="#{my_sole_agent.id}"
  data-selected-event-id="#{@selected_event_id}"
  data-organisation-id="#{@organisation.id}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-display-sundays="#{current_territory.work_on_sunday? && current_agent.display_saturdays}"
  data-event-sources-json="#{event_sources.to_json}"
  data-sign-in-path="#{new_agent_session_path}"
  data-realtime-refresh=Admin::Api::Agenda.realtime_refresh?(current_agent).to_s
]

.my-3
  = render partial: "admin/planning/agendas/preferences_toggles"

.mt-2
  = link_to admin_organisation_rdvs_path(current_organisation, agent_id: my_sole_agent.id, start: @date, end: @date, breadcrumb_page: "agenda"), class: "js-link-print-rdvs" do
    - if current_agent == my_sole_agent
      |> 🖨 Liste détaillée des RDVs du
      span.js-date
      / date is filled from JS
    - else
      |> 🖨 Liste détaillée des RDVs du
      span.js-date>
      | pour #{my_sole_agent.full_name_or_email}

.fr-mb-2v
  = render "admin/rdvs/rdv_visibility"
