/# locals: (creneaux:, current_organisation:, rdv_invitation:, starting_date: nil)

turbo-frame id="rdv-invitation-creneaux"
  .fr-grid-row.fr-grid-row--no-gutters
    - first_day = (starting_date || Time.zone.today).beginning_of_week.to_date
    - previous_date = first_day - 1.week
    - if previous_date >= 1.week.ago
      = link_to "", creneaux_preview_frame_admin_organisation_rdv_invitation_path(current_organisation, rdv_invitation, date: previous_date), class: "fr-btn fr-btn--tertiary fr-btn--sm fr-icon-arrow-left-s-line fr-mt-8w", aria: { label: "Semaine précédente" }, data: { turbo_stream: true }

    - (first_day..first_day + 4.days).each do |day|
      .fr-col.rdv-text-align-center
        = l(day, format: "%A")
        br
        .fr-mb-2w= l(day, format: "%-d %b")
        - creneaux_of_the_day = creneaux.select { |creneau| creneau.starts_at.to_date == day}
        .fr-text-mention--grey.fr-text--sm
          - if creneaux_of_the_day.blank?
            | Aucun créneau
          - creneaux_of_the_day.each do |creneau|
            .fr-mx-1w.fr-my-1v[style="box-shadow: inset 0 0 0 1px var(--border-default-grey);"]
              = l(creneau.starts_at, format: "%H:%M")

    = link_to "", creneaux_preview_frame_admin_organisation_rdv_invitation_path(current_organisation, rdv_invitation, date: first_day + 1.week), class: "fr-btn fr-btn--tertiary fr-btn--sm fr-icon-arrow-right-s-line fr-mt-8w", aria: { label: "Semaine précédente" }, data: { turbo_stream: true }
