- content_for :title do
  | Invitation à prendre rendez-vous

.fr-grid-row.justify-content-center
  .fr-col-md-12.col-lg-8
    .card.card-body.fr-p-2w
      - if @rdv_invitation.motif
        = render "form"
      - else
        - motifs = Agent::MotifPolicy::Scope.apply(current_agent, current_organisation.motifs)
        p
          = motif_icon(class: "fr-mr-1w")
          | Pour quel motif souhaitez-vous envoyer une invitation à prendre rendez-vous ?
        ul.fr-raw-list
        - motifs.each do |motif|
          li.card.d-flex.fr-enlarge-link
            .card-body.fr-p-2w
              = link_to new_admin_organisation_rdv_invitation_path(current_organisation, motif_id: motif.id) do
                .fr-h6.fr-mb-1w.rdv-color-text-action-high-blue-france = motif.name
              .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
                p.fr-mb-0
                  = location_type_icon(motif.location_type, class: "fr-mr-1w")
                  = motif.human_attribute_value(:location_type)
                  = " · "
                  = "#{motif.default_duration_in_min} min."
                = icon("fr-icon-arrow-right-line", class: "rdv-color-text-action-high-blue-france")
