- content_for :tab_title do
  | Invitation à prendre rendez-vous

.fr-col-12.fr-col-md-10.fr-col-offset-md-1
  h1.fr-h2.fr-pt-2w Invitation à prendre rendez-vous
  = render "common/stepper", step_count: 3, current_step: 3, step_title: "Confirmation"
  .card.card-body.fr-p-2w
    p
      | Nous allons envoyer une invitation à <b>#{@rdv_invitation.user.full_name}</b> à l'adresse <b>#{@rdv_invitation.user.email}</b>
      span
        = icon_link_to "Changer d'usager", edit_user_admin_organisation_rdv_invitations_path(current_organisation), class: "fr-btn fr-btn--tertiary-no-outline fr-btn--sm fr-btn--icon-left fr-icon-edit-line fr-pr-0"
      |> pour lui permettre de prendre rendez-vous
      - if @rdv_invitation.motif.public_office?
        | sur place
      - elsif @rdv_invitation.motif.phone?
        | par téléphone
      - elsif @rdv_invitation.motif.visio?
        | par visio
      - elsif @rdv_invitation.motif.home?
        | à domicile
      |< pour <b>#{@rdv_invitation.motif.name}</b>
      span
        = icon_link_to "Changer de motif", edit_motif_admin_organisation_rdv_invitations_path(current_organisation, params.permit(:motif_id)), class: "fr-btn fr-btn--tertiary-no-outline fr-btn--sm fr-btn--icon-left fr-icon-edit-line fr-pr-0"
      | .

    - next_available_date = @rdv_invitation.next_available_date

    - if next_available_date
      = render "admin/rdv_invitations/creneaux_preview", next_available_date:

    - else
      p Il n'y a pas de créneau disponible pour ce motif.
      = link_to "Ajouter des plages d'ouverture", admin_organisation_planning_plage_ouvertures_path(current_organisation, { agent_id: current_agent.id }), class: "fr-btn fr-btn--secondary fr-mb-4w"

    .fr-col-12.fr-mt-2w.d-flex.rdv-justify-content-space-between
      = link_to "Retour", edit_motif_admin_organisation_rdv_invitations_path(current_organisation, params.permit(:motif_id)), class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line"
      - if next_available_date
        = form_for @rdv_invitation, url: admin_organisation_rdv_invitations_path(current_organisation), method: :post, builder: Dsfr::FormBuilder do |f|
          = f.hidden_field :user_id
          = f.hidden_field :motif_id
          = f.submit "Envoyer l'invitation", class: "fr-btn"
