- content_for :tab_title do
  | Invitation à prendre rendez-vous

.fr-col-12.fr-col-md-10.fr-col-offset-md-1
  h1.fr-h2.fr-pt-2w Invitation à prendre rendez-vous
  = render "common/stepper", step_count: 3, current_step: 3, step_title: "Confirmation"
  .card.card-body
    div
      = render "agents/rdv_plans/summary/motif", rdv_plan: @rdv_invitation

    hr.fr-mt-2w

    - creneaux_search = @rdv_invitation.creneaux_search(Time.zone.now)
    - creneaux_count = creneaux_search.creneaux.count

    - if creneaux_count > 0
      p
        = icon("fr-icon-mail-send-line", class: "fr-mr-1w")
        | Nous allons envoyer un email à #{@rdv_invitation.user.full_name} à l'adresse #{@rdv_invitation.user.email} pour lui permettre de choisir un créneau.

      p.fr-text-mention--grey.fr-text--sm
        = icon("fr-icon-checkbox-circle-line", class: "fr-mr-1w rdv-color-text-default-success fr-icon--sm")
        | Il y a #{creneaux_count} créneaux disponibles pour ce motif.

    - else
      p Il n'y a pas de créneau disponible pour ce motif.
      = link_to "Ajouter des plages d'ouverture", admin_organisation_planning_plage_ouvertures_path(current_organisation, { agent_id: current_agent.id }), class: "fr-btn fr-btn--secondary fr-mb-4w"

    .fr-col-12.fr-mt-2w.d-flex.rdv-justify-content-space-between
      = link_to "Retour", edit_motif_admin_organisation_rdv_invitation_path(current_organisation, @rdv_invitation), class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line"
      - if creneaux_count > 0
        = form_for @rdv_invitation, url: confirm_and_send_admin_organisation_rdv_invitation_path(current_organisation, @rdv_invitation), method: :patch, builder: Dsfr::FormBuilder do |f|
          = f.submit "Envoyer l'invitation", class: "fr-btn"
