- content_for :title do
  | Invitation à prendre rendez-vous

.fr-grid-row.justify-content-center
  .fr-col-md-10.fr-col-lg-6
    .card.card-body
      .fr-grid-row.justify-content-center.fr-mb-2w
        = dsfr_svg "artwork/pictograms/digital/mail-send", class: "fr-artwork--green-emeraude"
      p Un email a été envoyé à <b>#{@rdv_invitation.user.full_name}</b> à l'adresse #{@rdv_invitation.user.email} pour l'inviter à prendre rendez-vous pour le motif <b>#{@rdv_invitation.motif.name}</b>.

      p Vous pouvez retrouver cette invitation sur la page du profil de cet usager.

      .fr-grid-row.rdv-justify-content-space-between.rdv-align-items-baseline
        = button_to "Annuler", cancel_admin_organisation_rdv_invitation_path(current_organisation, @rdv_invitation), class: "fr-btn fr-btn--secondary", method: :patch
        = link_to "Retour au planning", admin_organisation_planning_agenda_path(current_organisation), class: "fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-arrow-right-line"
