/# locals: (in_agenda: false)
- needs_motif = current_organisation.motifs.active.none?

- if needs_motif && current_organisation.lieux.enabled.none?
  - content_for :onboarding_banner do
    .fr-callout.fr-pb-2w
      p 🌱 Bienvenue sur votre espace #{current_domain.name} ! Pour commencer, vous pouvez créer votre premier motif de rendez-vous.
      = link_to("Créer un motif", new_admin_organisation_motif_path(current_organisation), class: "fr-btn")
- elsif needs_lieu(current_organisation)
  - content_for :onboarding_banner do
    .fr-callout.fr-pb-2w
      p.fr-mr-2w 🌿 Vous pouvez maintenant ajouter le lieu où vous allez faire vos rendez-vous.
      = link_to("Ajouter un lieu", new_admin_organisation_lieu_path(current_organisation), class: "fr-btn")
- elsif needs_motif
  - content_for :onboarding_banner do
    .fr-callout.fr-pb-2w
      p.fr-mr-2w 🌿 Vous pouvez maintenant créer un motif de rendez-vous
      = link_to("Créer un motif", new_admin_organisation_motif_path(current_organisation), class: "fr-btn")
- elsif current_organisation.rdvs.none? && current_organisation.motifs.bookable_by_everyone.none?
  = render "admin/onboarding/ready_banner", in_agenda:
