/# locals: (rdv:)

.dropdown.text-right id="rdv-status-#{rdv.id}"
  .dropdown-toggle.btn[data-toggle="dropdown" class="rdv-status-#{rdv.temporal_status}"]
     = Rdv.human_attribute_value(:collective_status, rdv.temporal_status, disable_cast: true)
  .dropdown-menu
    - if rdv.status == "unknown"
      - if rdv.starts_at < Time.zone.now
        = render "admin/rdvs/collective_rdv_status_dropdown_item", rdv: rdv, status: "seen"
        .dropdown-divider
      = render "admin/rdvs/collective_rdv_status_dropdown_item", rdv: rdv, status: "revoked"

    - else
      = render "admin/rdvs/collective_rdv_status_dropdown_item", rdv: rdv, status: "unknown"

    - if policy(rdv, policy_class: Agent::RdvPolicy).destroy?
      .dropdown-divider
      = rdv_status_delete_dropdown_item(rdv)
