/# locals: (rdv:, b:)

- if rdv.collectif?
  = b.with_breadcrumb label: "RDV collectifs", href: admin_organisation_rdvs_collectifs_path(current_organisation)
- else
  = b.with_breadcrumb label: "Liste des RDV", href: admin_organisation_rdvs_path(current_organisation)
= b.with_breadcrumb label: "RDV #{rdv_title_for_agent(rdv)}"
