- if rdv.created_by_user?
  p
    = icon("fr-icon-global-line", class: "text-primary-blue fr-mr-1w")
    | RDV pris sur Internet

.d-flex.fr-mb-1w
  = motif_icon(class: "text-primary-blue fr-mr-1w")
  div
    = motif_name_with_status(rdv.motif)
    = motif_badges(rdv.motif)
  - if current_organisation.territory.enable_context_field
    div
      - if rdv.context.blank?
        .text-muted = t(".empty_context")
      - else
        .text-muted Contexte&nbsp;:
        .border-left.pl-2.mb-1= simple_format(rdv.context, {}, wrapper_tag: :span)

- if rdv.phone?
  p.card-text
    = phone_icon(class: "text-primary-blue fr-mr-1w")
    | RDV téléphonique
- elsif rdv.motif.visio?
  p.card-text.mb-0
    = visio_icon(class: "text-primary-blue fr-mr-1w")
    |> Par visioconférence
    = link_to("démarrer la visioconférence ", rdv.visio_url, target: :_blank)

- else
  .d-flex.mb-1
    = location_type_icon(rdv.motif.location_type, class: "text-primary-blue fr-mr-1w")
    - if rdv.home?
      |> RDV à domicile&nbsp;:
      = human_location(rdv)
    - elsif rdv.public_office?
      = human_location(rdv)
.d-flex.card-text
  = user_icon(class: "text-primary-blue fr-mr-1w")
  div
    strong
      => "Agent".pluralize(rdv.agents.size)
    = agents_to_sentence(rdv.agents)

- if rdv.public_office? && rdv.overlapping_plages_ouvertures?
  div.my-3
    .alert.alert-warning.mt-1.mb-0
      | Conflit de lieu avec des plages d'ouvertures
    .border-left.border-right.border-bottom.rounded.border-warning
      ul.pl-3.py-2.mb-0
        = render "admin/planning/plage_ouvertures/overlapping_plage_ouvertures", model: rdv, display_agents: true
