/# locals: (rdv:, contextual_agents:, success_message: nil)

turbo-frame.card[id= "rdv-#{rdv.id}" target="_top"]
  turbo-frame[id= "rdv-error-message-#{rdv.id}"]
  .card-header.border-white.d-flex.justify-content-between.align-items-center.flex-column.flex-lg-row
    = link_to rdv_starts_at_and_duration(rdv, :time_only), admin_organisation_rdv_path(rdv.organisation, rdv)
    .d-flex.float-right.flex-column.flex-lg-row
      - if success_message
        .fr-alert.fr-alert--sm.fr-alert--success.fr-pb-1w.fr-mr-2w
          p.fr-mb-0= success_message
      - if rdv.status != "unknown"
        = render "admin/rdvs/individual_rdv_status_dropdown", rdv: rdv, quick_update: true
      - else
        = link_to admin_organisation_rdv_path(rdv.organisation, rdv, rdv: { status: "seen", ignore_benign_errors: true }, quick_update: true), data: { turbo_method: :put } do
          .fr-btn.fr-btn--secondary.fr-btn--icon-left.fr-icon-checkbox-circle-line.fr-mr-2w
            = Rdv.human_attribute_value(:status, "seen", context: :action)
        = link_to admin_organisation_rdv_path(rdv.organisation, rdv, rdv: { status: "noshow", ignore_benign_errors: true}, quick_update: true), data: { turbo_method: :put }  do
          .fr-btn.fr-btn--secondary.fr-btn--icon-left.fr-icon-error-line.fr-mr-2w
            = Rdv.human_attribute_value(:status, "noshow", context: :action)
        .dropdown id="rdv-status-#{rdv.id}"
          .dropdown-toggle.fr-btn.fr-btn--secondary[data-toggle="dropdown"]
            = "Autre"
          .dropdown-menu
            = render "admin/rdvs/individual_rdv_status_dropdown_item", rdv: rdv, status: "excused", quick_update: true
            = render "admin/rdvs/individual_rdv_status_dropdown_item", rdv: rdv, status: "revoked", quick_update: true
  hr.my-0.mx-3
  .card-body.py-2.row
    .col-sm-12
       = render "admin/rdvs/rdv_details", rdv: rdv

  hr.my-0.mx-3
  .card-footer.py-1.border-white
    - if rdv.users.any?
      .d-none.d-sm-block
        = render "admin/rdvs/users_table", rdv:, contextual_agents:
    - else
      p Il n'y a pas encore de participant pour ce RDV

    - if rdv.collectif?
      = render "admin/rdvs/rdv_collectif_add_participant", rdv: rdv
