/# locals: (rdv:)

.d-flex.justify-content-start.mb-2
  - if rdv.remaining_seats? && rdv.not_cancelled?
    = link_to "Ajouter un participant", edit_admin_organisation_rdvs_collectif_path(rdv.organisation, rdv), class: "fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-left fr-icon-user-add-fill", data: { turbo: false }
  .text-muted.align-self-center.ml-2
    = render "admin/rdvs/participants_count", rdv: rdv
