/On commence par afficher les informations pratique pour participer au rendez-vous (quand et où)

- if rdv.phone?
  p.card-text
    = phone_icon(class: "text-primary-blue fr-mr-1w")
    = display_user_phone_number_for_rdv(rdv, current_agent)
- elsif rdv.motif.visio?
  p.card-text.mb-0
    = visio_icon(class: "text-primary-blue fr-mr-1w")
    |> Par visioconférence
    = link_to("démarrer la visioconférence ", rdv.visio_url, target: :_blank)
- else
  .d-flex.mb-1
    = location_type_icon(rdv.motif.location_type, class: "text-primary-blue fr-mr-1w")
    - if rdv.home?
      |> RDV à domicile&nbsp;:
      = human_location(rdv)
    - elsif rdv.public_office?
      = human_location(rdv)

.d-flex.card-text.fr-mt-3w
  = user_icon(class: "text-primary-blue fr-mr-1w")
  div
    = "Agent".pluralize(rdv.agents.size)
    |> &nbsp;:
    = agents_to_sentence(rdv.agents)

/ Puis on affiche les informations sur ce qui va se passer pendant le rendez-vous : le motif et les éléments de contexte

.d-flex.fr-mb-1w.fr-mt-3w
  = motif_icon(class: "text-primary-blue fr-mr-1w")
  |> Motif&nbsp;:
  = motif_name_with_status(rdv.motif)

- if rdv.created_by_user?
  p
    = icon("fr-icon-global-line", class: "text-primary-blue fr-mr-1w")
    | RDV pris sur Internet

- if current_organisation.territory.enable_context_field
  = icon("fr-icon-message-2-line", class: "text-primary-blue fr-mr-1w")
  - if rdv.context.blank?
    i= t(".empty_context")
  - else
    | Contexte&nbsp;:
    br
    .fr-ml-4w.fr-pl-1w.text-muted.border-left= simple_format(rdv.context, {}, wrapper_tag: :span)

- if rdv.public_office? && rdv.overlapping_plages_ouvertures?
  div.my-3
    .alert.alert-warning.mt-1.mb-0
      | Conflit de lieu avec des disponibilités
    .border-left.border-right.border-bottom.rounded.border-warning
      ul.pl-3.py-2.mb-0
        = render "admin/planning/plage_ouvertures/overlapping_plage_ouvertures", model: rdv, display_agents: true
