= simple_form_for(form, method: "GET", url: url_for({}), as: "") do |f|
  - if current_agent.multiple_organisations_access?
    .row
      .col-md-6
        = f.input :scoped_organisation_ids, collection: current_agent.organisations.map {[_1.name, _1.id]}.unshift(["Toutes", 0]), \
                selected: @selected_organisations_ids, \
                label: "Organisation", \
                input_html: { \
                  class: "select2-input", \
                  onchange: "this.form.submit()", \
                  multiple: true, \
                }, \
                wrapper: "horizontal_form"
    hr
  .row
    .col-md-6
      = f.input :agent_id, collection: [form.agent].compact, \
              label: "Agent", \
              label_method: :reverse_full_name, \
              prompt: "Tous",
              input_html: { \
                class: "select2-input", \
                data: { \
                  "select2-config": { \
                    ajax: { \
                      url: admin_organisation_agents_path(@scoped_organisations&.map(&:id)),
                      dataType: "json",
                      delay: 250, \
                    }, \
                  }, \
                }, \
              }, \
              wrapper: "horizontal_form"
      = f.input :user_id, collection: [form.user].compact,
              label: "Usager",
              label_method: :reverse_full_name,
              prompt: "Tous",
              input_html: { \
                class: "select2-input", \
                data: { \
                  "select2-config": { \
                    ajax: { \
                      url: search_admin_organisation_users_path(@scoped_organisations&.map(&:id)),
                      dataType: "json",
                      delay: 250, \
                    }, \
                  }, \
                }, \
              },
              wrapper: "horizontal_form"
      = f.input :lieu_ids,
              label: "Lieu",
              collection: @lieux.includes(:organisation).to_a.group_by { _1.organisation.name },
              as: :grouped_select,
              group_method: :last,
              label_method: :name,
              input_html: { class: "select2-input", multiple: true },
              wrapper: "horizontal_form"
    .col-md-6
      = f.input :motif_ids,
            label: "Motifs",
            collection: @motifs.includes(:service).to_a.group_by { _1.service.name },
            as: :grouped_select,
            group_method: :last,
            label_method: ->(motif) { motif_name_with_location_type_and_status(motif) },
            input_html: { class: "select2-input", multiple: true },
            wrapper: "horizontal_form"
      - temporal_statuses = Rdv.statuses.keys - ["unknown"] + ["unknown_past", "unknown_future"]
      = f.input :status, collection: temporal_statuses,
              label_method: -> { Rdv.human_attribute_value(:status, _1, disable_cast: true) },
              prompt: "Tous",
              label: "Statut",
              wrapper: "horizontal_form",
              input_html: { class: "select2-input" }
      = date_input(f, :start, label = "Période - Début", wrapper: "horizontal_form")
      = date_input(f, :end, label = "Période - Fin", wrapper: "horizontal_form")
  .d-flex.justify-content-end
    = link_to "Afficher les RDVs du jour", admin_organisation_rdvs_path(current_organisation, start: Time.zone.today, end: Time.zone.today), class: "btn btn-link"
    = link_to "Réinitialiser", admin_organisation_rdvs_path(current_organisation), class: "btn btn-link"
    input.btn.btn-primary.d-print-none type="submit" value="Rafraîchir la liste"
