ul.list-unstyled.topbar-right-menu.float-right.mb-0
  li.dropdown.js-rdv-status-dropdown
    a.dropdown-toggle.btn.rdv-status.mr-0.js-current-status[
      class="rdv-status-#{rdv.status}"
      aria-expanded="false"
      aria-haspopup="false"
      data-toggle="dropdown"
      href="#"
      role="button"
    ]
      = I18n.t("activerecord.attributes.rdv.statuses.#{rdv.temporal_status}")
    .dropdown-menu.dropdown-menu-right.dropdown-menu-animated.profile-dropdown
      .dropdown-header.noti-title
        - rdv_possible_statuses_option_items(rdv).each do |status|
          = link_to( \
            status[0], \
            admin_organisation_rdv_path(rdv.organisation, rdv, rdv: {status: status[1]}), \
            method: :put, \
            class: "dropdown-item js-change-link", \
            remote: local_assigns.fetch(:remote, false) \
          )
