- if rdvs.empty?
  .card-body
    i.fr-text-mention--grey Pas de rendez-vous à venir
- else
  ul.list-unstyled.horizontal-border-between-items
    = render partial: "admin/rdvs/short_rdv", collection: rdvs.includes(:motif)
