.web-content
  - content_for :title do
    | Liste des RDV

  - content_for(:menu_item) { "menu-rdvs-list" }

  - content_for :breadcrumb do
    - if @breadcrumb_page == "agenda" && @form.agent.present?
      ol.breadcrumb.m-0
        li.breadcrumb-item
          = link_to "Agenda de #{@form.agent.full_name}", admin_organisation_agent_agenda_path(current_organisation, @form.agent, date: @form.start)
        li.breadcrumb-item.active Liste des RDV

    - if @breadcrumb_page == "user" && @form.user.present?
      ol.breadcrumb.m-0
        li.breadcrumb-item
          = link_to "Usagers", admin_organisation_users_path(current_organisation)
        li.breadcrumb-item
          = link_to @form.user.full_name, admin_organisation_user_path(current_organisation, @form.user)
        li.breadcrumb-item.active RDVs #{ Rdv.human_attribute_value(:status, @form.status, disable_cast: true)&.downcase }

    - if @breadcrumb_page == "organisation_stats"
      ol.breadcrumb.m-0
        li.breadcrumb-item
          = link_to "Statistiques de l'organisation", admin_organisation_stats_path(current_organisation)
        - if @form.status.present?
          li.breadcrumb-item.active RDVs #{ Rdv.human_attribute_value(:status, @form.status, disable_cast: true)&.downcase }

  .row.fr-py-4w.fr-mb-4w[style="background-color: #f2f2ff;"]
    .col-12
      = render "rdv_search_form", form: @form
      = render "admin/rdvs/rdv_visibility"

  - if @rdvs.total_count > 0
    .fr-mb-4w.rdv-text-align-center
      h4
        |> Résultat :
        b> #{@rdvs.total_count} RDV trouvés
        | pour cette recherche
      .fr-mt-2w
        = link_to "↓ pagination et export en bas de page ", "#bottom", class: "fr-link fr-link--sm"

    .fr-grid-row
      .fr-col-12
        = render(partial: "rdv", collection: @rdvs_in_page, locals: { agent: nil })
  - if @rdvs.total_count > 0
    .fr-mb-4w.d-flex.justify-content-center.rdv-align-items-center.rdv-gap-1rem
      = button_to export_admin_organisation_rdvs_path(**@form.to_query),
        method: :post,
        class: "fr-btn fr-btn--secondary fr-btn--sm",
        disable_with: "Veuillez patienter…" do
        span
          - if @rdvs.total_count == 1
            |> Exporter le RDV en XLS
          - else
            |> Exporter les #{@rdvs.total_count} RDV en XLS

        i.fa.fa-download>
      = button_to participations_export_admin_organisation_rdvs_path(**@form.to_query),
        method: :post,
        class: "fr-btn fr-btn--secondary fr-btn--sm",
        disable_with: "Veuillez patienter…" do
        span> Exporter les #{@rdvs.total_count} RDVs par usager en XLS
        i.fa.fa-download>

      .fr-btn.fr-btn--secondary.fr-btn--sm.d-print-none[
        role="button"
        data-controller="print"
        data-action="click->print#print"
      ]
        span> Imprimer la page courante
        i.fa.fa-print>

    .fr-grid-row
      .fr-col-12
        .d-flex.justify-content-center= paginate @rdvs, theme: "dsfr"

    .fr-grid-row.fr-mb-4w
      .fr-col-12
        .d-flex.justify-content-center.fr-text--sm.rdv-align-items-center.rdv-gap-1rem
          = form_with url: request.path,
            method: :get,
            html: { class: "form-inline", data: { controller: "form" } } do |f|
            = f.label :per, "Nombre de RDV par page :", class: "mr-2"
            = f.select :per,
              options_for_select(Admin::RdvsController::PERMITTED_PER_PAGE, params[:per]),
              {},
              class: "form-control optional mr-2 form-control-sm",
              data: { action: "change->form#submit" }
          .custom-control.custom-switch
            input.custom-control-input[type="checkbox" id="show-users-details-switch" data-toggle="collapse" data-target=".users-details"]
            label.custom-control-label for="show-users-details-switch" Afficher plus de détails usagers
  - else
    .fr-grid-row.fr-py-3w
      .fr-col-12
        .card
          .card-body
            .fr-grid-row.justify-content-center
              .fr-col-6.rdv-text-align-center.fr-mt-2w.fr-mb-5w
                p.mb-2.lead
                  | Aucun RDV
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.far.fa-calendar.fa-stack-1x.text-white

.print-content.px-20
  h1
    - if @form.agent
      | Agenda de #{@form.agent.full_name}
    - else
      | Agenda de l'organisation
    .mt-2
      = current_organisation.name

  h3.mt-4
    = dates_interval unless params[:start] == params[:end]
  - rdvs_collection = @rdvs_in_page.group_by { |rdv| rdv.starts_at.to_date }
  - rdvs_collection.each do |date, rdvs|
    h3.mt-4
      = format_date(date.to_s)
    = render(partial: "admin/rdvs/print/rdv", collection: rdvs)
