- content_for(:menu_item) { @contextual_agents.present? ? "menu-agendas" : "menu-rdvs-list" }

- content_for :fil_ariane do
  = dsfr_breadcrumbs(html_attributes: { class: "fr-mb-0 fr-ml-2w" }) do |b|
    = render partial: "admin/rdvs/fil_ariane_rdv", locals: { rdv: @rdv, b: b }

- content_for :title do
  = "RDV #{rdv_title_for_agent(@rdv)}"

.fr-grid-row
  .fr-col-12
    / @contextual_agents is only used for links in breadcrumb and redirecting if update
    = render partial: "rdv", collection: [@rdv], locals: { contextual_agents: @contextual_agents }

.fr-grid-row
  .fr-col-12
    = render "admin/receipts/receipts", rdv: @rdv

.fr-grid-row
  .fr-col-12
    = render "admin/versions/resource_versions_row", resource_policy: policy(@rdv, policy_class: Agent::RdvPolicy), resource: @rdv
