/# locals: (rdv:, contextual_agents:, quick_update:)

- if rdv.errors.any?
  = turbo_stream.replace "rdv-error-message-#{rdv.id}" do
    = render "admin/rdvs/update_error", rdv: rdv
- else
    = turbo_stream.replace "rdv-#{rdv.id}" do
      - template = quick_update.to_bool ? "admin/rdvs/rdv_with_quick_update" : "admin/rdvs/rdv"
      = render template, rdv:, contextual_agents:, success_message: "Rendez-vous mis à jour"
