section.fr-accordion
  h3.fr-accordion__title
    button.fr-accordion__btn[type="button" aria-expanded="false" aria-controls="faq-annuler-sms"]
      | Comment annuler votre RDV depuis le SMS que vous avez reçu ?
  .fr-collapse#faq-annuler-sms
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-md-6
        h4 Capture d’écran
        = image_tag "static_pages/capture-ecran-annuler-rdv-depuis-sms.gif", class: "rdv-max-height-80vh rdv-max-width-100"
      .fr-col-md-6
        h4 Étapes à suivre
        ul
          li Consultez le SMS reçu de RDV Service public (ou RDV Solidarités ou RDV Aide Numérique)
          li Cliquez sur le lien qui suit "infos/annulation"
          li Vous êtes redirigé sur le site de RDV Service public
          li Renseignez les 3 premières lettres de votre nom de famille"
          li Cliquez sur "Annuler le RDV"
          li Confirmez l'annulation en cliquant sur "Oui, annuler le rendez-vous"
        p
          |> Une notif email vous est envoyée pour confirmer l'annulation du rendez-vous.
