/# locals: (expanded: false)
section.fr-accordion
  h3.fr-accordion__title
    button.fr-accordion__btn[type="button" aria-expanded=expanded.to_s aria-controls="faq-annuler"]
      | Comment annuler votre RDV ?
  .fr-collapse#faq-annuler
    p
      ' Vous pouvez annuler vos rendez-vous dès la confirmation du rendez-vous et jusqu'à 4 heures avant le rendez-vous.
    p
      ' Vous pouvez annuler votre rendez-vous depuis les liens présents dans le SMS et/ou l’e-mail que vous avez reçu.
    .fr-callout.fr-mb-2w
      ' Si le rendez-vous a lieu dans moins de 4 heures, vous ne pouvez plus annuler le RDV.
      ' Nous vous invitons à contacter directement le service pour l'informer de votre absence.
    p
      ' Vous trouverez ci-dessous plus de détails et des captures d’écran sur le fonctionnement de l’annulation depuis les SMS ou les emails.
