- content_for :title, "Aide pour les usagers"

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.breadcrumb label: "Contact", href: contact_path
    = b.breadcrumb label: "Aide pour les usagers"

.fr-grid-row.fr-mb-4w
  .fr-col-md-8
    h2 Questions fréquentes
    .fr-accordions-group.fr-mb-4w
      = render "static_pages/aide_usager/faq_annuler_rdv"
      = render "static_pages/aide_usager/faq_annuler_rdv_sms"
      = render "static_pages/aide_usager/faq_annuler_rdv_email"

    h2 Coordonées utiles des administrations

    p
      ' Pour des demandes de contact vers une administration en particulier, vous pouvez consulter l'annuaire.
      ' Vous y trouverez les coordonnées directes des services concernés

    p
      = link_to "Consulter l’annuaire", annuaire_path, class: "fr-link fr-link--icon-right fr-icon-arrow-right-line"

    h2.fr-mt-4w Contacter l’équipe de RDV Service Public

    p
      ' Vous pouvez contacter directement l'équipe de RDV Service Public en cas de besoin d’aide.

    p
      = link_to "Contacter l’équipe de RDV Service Public",
          new_demande_support_path,
          class: "fr-link fr-link--icon-right fr-icon-arrow-right-line"
