- content_for :title, "Conditions générales d’utilisation « Usager »"

.fr-grid-row
  .fr-col-md-8
    p En vigueur à partir du 03/06/2025
    h2 Article 1 - Champ d'application

    p Les présentes conditions générales d’utilisation (ci-après « CGU ») précisent le cadre juridique de «&nbsp;#{current_domain.name}&nbsp;» (ci-après le « Produit numérique ») et définissent les conditions d’accès et d’utilisation des Services par l’Usager.

    h2 Article 2 - Objet du Produit numérique

    p Le Produit numérique est un service public numérique développé au sein de l’Agence nationale de la cohésion des territoires (ANCT) dans le but de faciliter la prise des rendez-vous entre l’administration territoriale et ses usagers.

    h2 Article 3 - Définitions

    ul
      li «&nbsp;Administration&nbsp;» désigne toute personne morale chargée d’une mission de service public administratif à l’échelle territoriale, qui emploie des Agents et accueille des Usagers pour leurs rendez-vous
      li «&nbsp;Agent&nbsp;» désigne toute personne physique, agent public habilité d’une Administration, qui dispose d’un compte sur le Produit numérique et gère les rendez-vous avec les Usagers
      li «&nbsp;Éditeur&nbsp;» désigne la personne morale qui met à la disposition du public le Produit numérique, à savoir l’ANCT
      li «&nbsp;Produit numérique&nbsp;» désigne le service numérique qui permet aux Usagers de prendre rendez-vous avec une Administration et ses Agents
      li «&nbsp;Services&nbsp;» désigne les fonctionnalités proposées par le Produit numérique pour répondre à ses finalités
      li «&nbsp;Usager&nbsp;» désigne toute personne physique, qui s’inscrit sur le Produit numérique pour prendre rendez-vous avec une Administration et ses Agents

    h2 Article 4 - Fonctionnalités

    h3 4.1 Inscription et connexion

    p Toute personne peut se créer un compte sur le Produit numérique en renseignant les informations suivantes&nbsp;: prénom, nom d’usage, adresse courriel, numéro de téléphone (facultatif). Pour confirmer son inscription, la personne reçoit un lien magique sur son adresse courriel.

    p Pour se connecter sur le Produit numérique, l’Usager renseigne son adresse courriel et son mot de passe.

    p L’Usager peut notamment se connecter par le biais de France Connect.

    h3 4.2 Espace Usager

    p Chaque Usager peut visualiser ses rendez-vous passés et prendre un rendez-vous en indiquant son adresse postale. L’Usager choisit dès lors un service, un motif et le créneau horaire de son choix.

    p Il peut notamment modifier ses informations personnelles, gérer ses préférences de notifications, ajouter un proche en renseignant son nom, prénom et numéro de pré-demande ANTS. L’Usager peut à tout moment changer son mot de passe ou supprimer son compte.

    h2 Article 5 – Responsabilités

    h3 5.1 L’éditeur du «&nbsp;Produit numérique&nbsp;»

    p Les sources des informations diffusées sur le Produit numérique sont réputées fiables mais l’Éditeur ne garantit pas qu’elle soit exempte de défauts, d’erreurs ou d’omissions.

    p L’Éditeur s’engage à la sécurisation du Produit numérique, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies.

    p L’Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu au Produit numérique. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le Produit numérique pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.

    p En aucun cas, l’Éditeur ne saurait être tenu responsable des prises de rendez-vous entre un Usager et l’Administration et ses Agents.

    p En cas de manquement à une ou plusieurs des stipulations des présentes CGU, l’Éditeur se réserve le droit de suspendre ou de supprimer le compte de l’Usager responsable.

    h3 5.2 L’Usager

    p L’Usager s'assure de garder son lien magique et mot de passe secrets. Toute divulgation du lien magique et/ou mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son adresse courriel et mot de passe.

    p Toute information transmise par l’Usager est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du Code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.

    p L’Usager s’engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. Il veille également à ne pas communiquer de données sensibles ou de secrets protégés par la loi, et à ne pas publier de contenus illicites notamment dans les zones de champs libres.

    h2 Article 6 - Mise à jour des CGU

    p Les termes des présentes CGU peuvent être amendés à tout moment, en fonction des modifications apportées au Produit numérique, de l’évolution de la législation ou pour tout autre motif jugé nécessaire.

    p Chaque modification donne lieu à une nouvelle version qui est acceptée par l’Usager.
