- content_for :title, "Conditions générales d’utilisation « Administration territoriale - Agent »"

.fr-grid-row.fr-mb-6w
  .fr-col-md-8
    p En vigueur à partir du 03/06/2025
    h2 Article 1 - Champ d’application

    p Les présentes conditions générales d’utilisation (ci-après «&nbsp;CGU&nbsp;») précisent le cadre juridique de «&nbsp;#{current_domain.name}&nbsp;» (ci-après le «&nbsp;Produit numérique&nbsp;») et définissent les conditions d’accès et d’utilisation des Services par l’Agent.

    p L’annexe relative à l’accord sur le traitement des données, au sens de l’article 28-3 du RGPD, fait partie intégrante des présentes CGU.

    h2 Article 2 – Objet du Produit numérique

    p Le Produit numérique est un service public numérique développé au sein de l’Agence nationale de la cohésion des territoires (ANCT) dans le but de de faciliter la prise des rendez-vous entre l’administration territoriale et ses usagers.

    h2 Article 3 – Définitions

    ul
      li «&nbsp;Administrateur&nbsp;» désigne tout personne physique, Agent qui dispose de fonctionnalités et droits supplémentaires à l’échelle de son Administration
      li «&nbsp;Administrateur de territoire&nbsp;» désigne toute personne physique, Agent interlocuteur principal du partenariat qui dispose d’un compte spécifique
      li «&nbsp;Administration&nbsp;» désigne toute personne morale chargée d’une mission de service public administratif à l’échelle territoriale et qui emploie des Agents
      li «&nbsp;Agent&nbsp;» désigne toute personne physique, agent public habilité d’une Administration, qui dispose d’un compte sur le Produit numérique
      li «&nbsp;Éditeur&nbsp;» désigne la personne morale qui met à la disposition du public le Produit numérique, à savoir l’ANCT
      li «&nbsp;Produit numérique&nbsp;» désigne le service numérique qui permet aux Agents de fluidifier la prise de rendez-vous de leurs usagers
      li «&nbsp;Services&nbsp;» désigne les fonctionnalités proposées par le Produit numérique pour répondre à ses finalités

    h2 Article 4 - Fonctionnalités

    h3 4.1 Prendre rendez-vous avec l’équipe du Produit numérique

    p Toute personne peut entrer en contact avec les membres de l’équipe du Produit numérique pour bénéficier d’une présentation en visioconférence de la solution numérique.

    p La personne choisit une date et un créneau horaire puis renseigne ses informations personnelles&nbsp; prénom, nom, adresse e-mail, pays (facultatif), numéro de téléphone (facultatif). Elle peut ajouter un autre participant et renseigne également le nom de sa commune, indique sa qualité (professionnel ou particulier) et peut ajouter des informations dans une zone de champs libres.

    h3 4.2 Inscription et connexion

    p Chaque Agent reçoit un lien magique pour pouvoir se connecter au Produit numérique. Par la suite, il peut se connecter à tout moment en indiquant son adresse courriel et son mot de passe ou par le biais de la solution d’authentification «&nbsp;ProConnect&nbsp;».

    h3 4.3 Espace Agent

    p Chaque Agent peut afficher les créneaux horaires des rendez-vous en indiquant le service, le motif, la date, les agents et le lieu.

    h3 4.3.1 Planning de l’Agent

    p Chaque Agent dispose d’un agenda lui permettant de visualiser ses rendez-vous avec les usagers. Il peut notamment prendre des rendez-vous à la place des usagers en renseignant le motif, ses coordonnées, le nom de l’Agent, l’horaire, le lieu et les préférences de notifications.

    h3 4.3.2 Disponibilité, Indisponibilité et RDV collectifs

    p L’Agent peut créer une disponibilité en renseignant la description, le lieu, les motifs, la date du premier jour et les horaires de début et de fin.

    p Il peut notamment créer des plages d’indisponibilités en renseignant la description, la date de début et de fin, l’horaire de début et de fin.

    p L’Agent peut également créer un RDV collectif en choisissant le motif, la date de début, la durée, les Agents présents, l’intitulé, le contexte, le lieu et le nombre de places disponibles.

    h3 4.3.3 Liste des usagers et des rendez-vous

    p Chaque Agent dispose d’une liste des usagers et de leurs Agents référents. Il peut notamment fusionner deux fiches usagers ou en créer une.

    p Il dispose également d’une liste des rendez-vous avec les informations personnelles relatives aux usagers et aux Agents participant aux rendez-vous.

    h3 4.3.4 Statistiques de l’organisation

    p L’Agent peut à tout moment accéder à ses statistiques personnelles et aux statistiques des rendez-vous relatifs à son Administration. Les rendez-vous sont classés selon les thématiques suivantes&nbsp;
    ul
      li Vu ;
      li Excusé ;
      li Annulé par un agent ;
      li Non excusé ;
      li À renseigner ;
      li À venir.

    h3 4.3.5 Paramétrage

    p L’Agent peut modifier les informations relatives à son Administration&nbsp; nom, téléphone, site web, adresse courriel de contact, horaires.

    p Il peut également ajouter les informations d’une autre Administration où il peut accueillir les usagers.

    h3 4.4 Agent Administrateur

    p L’Administrateur peut accéder à toutes les données de son Administration, dont les rendez-vous, les usagers, les Agents et leur planning. Il peut notamment ajouter, inviter un Agent, modifier les informations personnelles des Agents de son Administration ou les supprimer.

    p Il peut également visualiser tous les rendez-vous de son Administration et ceux auxquels il est associé, gérer les droits des Agents au sein de l’Administration ou encore créer des motifs.

    h3 4.5 Agent Administrateur de territoire

    p En plus des fonctionnalités susvisées, l’Administrateur de territoire peut avoir des droits d’accès particuliers au niveau d’un territoire. Il existe lorsque la solution est déployée à l’échelle d’un département par le biais d’un partenariat.

    p L’équipe du Produit numérique crée donc un compte Administrateur de territoire pour l’interlocuteur du partenariat.

    h3 4.6 Le secrétariat

    p L’Agent qui fait partie du service secrétariat n’est plus limité à son service. Il peut donc retrouver des rendez-vous dans n’importe quel service ou consulter les plannings de n’importe quel Agent de l’Administration.

    h2 Article 5 - Responsabilités
    h3 5.1 L’Éditeur du Produit numérique

    p Les sources des informations diffusées sur le Produit numérique sont réputées fiables mais l’Éditeur ne garantit pas qu’elle soit exempte de défauts, d’erreurs ou d’omissions.

    p L’Éditeur s’engage à la sécurisation du Produit numérique, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies.

    p L’Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu au Produit numérique. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le Produit numérique pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.

    p En aucun cas, l’Éditeur ne saurait être tenu responsable de l’habilitation d’un Agent par l’Administration ou des prises de rendez-vous entre l’Administration et ses usagers.

    p En cas de manquement à une ou plusieurs des stipulations des présentes CGU, l’Éditeur se réserve le droit de suspendre ou de supprimer le compte de l’Agent responsable.

    h3 5.2 L’Agent

    p L’Agent s'assure de garder son lien magique et mot de passe secrets. Toute divulgation du lien magique et/ou mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son adresse courriel et mot de passe.

    p En utilisant le Produit numérique, l’Agent certifie notamment qu’il est habilité par son Administration à gérer les prises de rendez-vous avec les usagers.

    p Il s’engage à ne pas commercialiser les données reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi.

    p Toute information transmise par l’Agent est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du Code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.

    p L’Agent s’engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. Il veille également à ne pas communiquer de données sensibles ou de secrets protégés par la loi, et à ne pas publier de contenus illicites notamment dans les zones de champs libres.

    p L’Agent Administrateur s’engage à désactiver les accès au compte de tout Agent qui quitte ses fonctions.

    h2 Article 6 - Mise à jour des CGU

    p Les termes des présentes CGU peuvent être amendés à tout moment, en fonction des modifications apportées au Produit numérique, de l’évolution de la législation ou pour tout autre motif jugé nécessaire.

    p Chaque modification donne lieu à une nouvelle version qui est acceptée par les parties.

    h1 Annexe - Accord sur le traitement des données (article 28-3 RGPD)

    h2 Préambule

    p L’ANCT est responsable de traitement des informations relatives à l’Agent, en ce qui concerne l’inscription et la connexion de ce dernier au Produit numérique.

    p Toutefois, chaque Administration qui utilise le Produit numérique est responsable de traitement en ce qui concerne la gestion des prises de rendez-vous avec les usagers. Dans ce cadre, l’ANCT est sous-traitant puisqu’elle agit pour le compte de l’Administration et selon ses instructions.

    h2 Article 1 - Objet et champ d’application

    p Le présent accord sur le traitement de données a pour objet de garantir la conformité avec l’article 28, paragraphes 2, 3 et 4 du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE (règlement général sur la protection des données, ci-après «&nbsp;RGPD&nbsp;»).

    p Il s’applique au traitement des données à caractère personnel tel que décrit à l’article 2 ci-après.

    h2 Article 2 - Description du traitement des données à caractère personnel

    ul
      li Catégories de personnes concernées dont les données à caractère personnel sont traitées&nbsp; les usagers et leurs rendez-vous
      li Catégories de données à caractère personnel traitées&nbsp; logement, caisse d’affiliation, numéro d’allocataire, situation familiale, nombre d’enfants, date, lieu et heure du rendez-vous ;
      li Nature du traitement&nbsp; la mise en place d’un service public numérique permettant de proposer une solution numérique de fluidification de la prise de rendez-vous entre l’administration territoriale et ses usagers ;
      li Finalité pour laquelle les données à caractère personnel sont traitées pour le compte du responsable de traitement&nbsp; permettre à l’administration territoriale de gérer la prise de rendez-vous avec ses usagers par le biais de la solution numérique «&nbsp;#{current_domain.name}&nbsp;» ;
      li Durée du traitementh3 5. pendant toute la durée du contrat. Il peut prendre fin à tout moment en cas de résiliation des CGU par l’Administration ou l’ANCT.

    p Les données sont conservées selon les durées de conservation déterminées par l’Administration pendant la durée du contrat.

    h2 Article 3 - Instruction documentée du responsable de traitement et transferts internationaux

    p L’ANCT ne traite les données à caractère personnel relatives aux prises de rendez-vous que sur instruction documentée de l’Administration, y compris en ce qui concerne les transferts de données à caractère personnel en dehors de l’Union européenne, à moins que l’ANCT soit tenue de les traiter en vertu du droit européen ou français. Le cas échéant, l’ANCT informe l’Administration de cette obligation juridique avant le traitement, sauf si le droit européen ou français lui interdit une telle information pour des motifs d’intérêt public. En cas de transfert vers un pays tiers, l’ANCT et les sous-traitants ultérieurs garantissent notamment le respect du chapitre V du RGPD.

    p Des instructions peuvent également être données ultérieurement par l’Administration pendant toute la durée du traitement. Ces instructions doivent toujours être documentées.

    p L’ANCT informe immédiatement l’Administration dans le cas où l’une de ses instructions en tant que responsable de traitement constitue une violation du RGPD ou d’autres dispositions du droit européen ou du droit français.

    h2 Article 4 - Limitation de la finalité

    p L’ANCT ne traite les données à caractère personnel que pour la finalité de traitement définie à l’article 2, sauf instruction complémentaire de l’Administration.

    h2 Article 5 - Durée du traitement

    p Le traitement par l’ANCT n’a lieu que pendant la durée précisée à l’article 2, à savoir pendant toute la durée du contrat.

    h2 Article 6 - Sécurité du traitement

    p L’ANCT met au moins en œuvre des mesures techniques et organisationnelles appropriées pour assurer la sécurité des données à caractère personnel conformément à l’article 32 du RGPD.

    p Figure parmi ces mesures la protection des données contre toute violation de la sécurité entraînant, de manière accidentelle ou illicite, la destruction, la perte, l’altération, la divulgation non autorisée de données à caractère personnel ou l’accès non autorisé à de telles données (violation de données à caractère personnel).

    p Lors de l’évaluation du niveau de sécurité approprié, les parties tiennent dûment compte de l’état des connaissances, des coûts de mise en œuvre et de la nature, de la portée, du contexte et des finalités du traitement, ainsi que des risques pour les personnes concernées, à savoir les usagers.

    p L’ANCT n’accorde aux membres du Produit numérique l’accès aux données à caractère personnel faisant l’objet du traitement que dans la mesure strictement nécessaire à l’exécution, à la gestion et au suivi du contrat. L’ANCT veille également à ce que les personnes autorisées à traiter les données à caractère personnel s’engagent à respecter la confidentialité ou soient soumises à une obligation légale appropriée de confidentialité.

    p Particulièrement, lorsque le traitement porte sur des données à caractère personnel relevant des articles 9 et 10 du RGPD ou sur la donnée encadrée par l’article 30 de la loi n° 78-17 du 6 janvier 1978 modifiée, l’ANCT et l’Administration s’assurent que les mesures de sécurité adéquates sont prises.

    h2 Article 7 - Documentation et conformité

    p L’ANCT traite de manière rapide et adéquate les demandes de l’Administration concernant le traitement des données. L’ANCT met à la disposition de l’Administration toutes les informations nécessaires pour démontrer le respect des obligations prévues par le RGPD. À la demande de l’Administration, l’ANCT permet également la réalisation d’audits des activités de traitement couvertes par le présent accord et y contribue, à intervalles raisonnables ou en présence d’indices de non-conformité.

    p L’Administration peut décider de procéder elle-même à l’audit ou de mandater un auditeur indépendant.

    p L’ANCT et l’Administration mettent à la disposition de l’autorité de contrôle compétente, dès qu’elle en fait la demande, les informations susvisées y compris les résultats de tout audit.

    h2 Article 8 - Recours à des sous-traitants ultérieurs

    p L’ANCT dispose de l’autorisation générale de l’Administration concernant le recrutement de sous-traitants ultérieurs. L’ANCT informe spécifiquement par écrit l’Administration de toute modification concernant l’ajout ou le remplacement des sous-traitants ultérieurs.

    p L’ANCT garantit notamment que ses sous-traitants sont soumis aux mêmes obligations en matière de confidentialité et de sécurité, prévues par un accord sur le traitement des données conformément à l’article 28-3 du RGPD.

    p À la demande de l’Administration, l’ANCT lui fournit une copie de ce contrat conclu avec le sous-traitant ultérieur et de toute modification qui y est apportée ultérieurement.

    p L’ANCT demeure pleinement responsable, à l’égard de l’Administration, de l’exécution des obligations du sous-traitant ultérieur conformément au contrat conclu avec ce dernier. L’ANCT informe l’Administration de tout manquement du sous-traitant ultérieur à ses obligations contractuelles.

    p Les sous-traitants ultérieurs sont précisés dans la politique de confidentialité du Produit numérique.

    h2 Article 9 - Assistance au responsable de traitement

    p L’ANCT informe sans délai l’Administration de toute demande reçue de la part de la personne concernée. L’ANCT ne donne pas elle-même suite à cette demande, à moins que l’Administration ne l’autorise.

    p L’ANCT prête assistance à l’Administration pour ce qui est de remplir l’obligation qui lui incombe de répondre aux demandes des personnes concernées d’exercer leurs droits, en tenant compte de la nature du traitement.

    p L’ANCT aide l’Administration à garantir le respect des obligations prévues aux articles 32 à 36 du RGPD et notamment de&nbsp;:

    ul
      li Garantir la confidentialité et la sécurité des données à caractère personnel ;
      li Notifier à l’Administration toute violation de données à caractère personnel dans les meilleurs délais après en avoir pris connaissance ;
      li Accompagner l’Administration en cas de communication de violation de données à caractère personnel aux personnes concernées ;
      li Appuyer l’Administration dans le cas où une analyse d’impact relative à la protection des données doit être réalisée ou si l’autorité de contrôle doit être préalablement consultée ;
      li Veiller à ce que les données à caractère personnel soient exactes et à jour, en informant sans délai l’Administration si les données traitées sont inexactes ou devenues obsolètes.

    p En cas de violation de données à caractère personnel, l’ANCT coopère avec l’Administration et lui prête assistance aux fins de la mise en conformité avec les obligations qui lui incombent en vertu des articles 33 et 34 du RGPD, en tenant compte de la nature du traitement et des informations dont dispose l’ANCT.

    h2 Article 10 - Suppression des données à caractère personnel

    p L’ANCT, selon le choix de l’Administration, supprime toutes les données à caractère personnel traitées sur le Produit numérique ou les renvoie à l’Administration, et détruit les copies existantes sauf si le droit européen ou français n’en exige la conservation.
