- content_for :title, "Contact, Aide et Documentation"

.fr-grid-row.fr-mb-4w
  .fr-col-md-8
    p
      ' L’équipe de RDV Service Public essaie de fournir un support adapté à tous les usagers et agents du service public.
      | Pour vous aider le plus efficacement possible, veuillez nous indiquer votre rôle ci-dessous.

    = form_with url: contact_path, method: :GET, builder: DsfrFormBuilder do |f|
      = f.dsfr_radio_buttons :role,
        [{value: "usager",
          label: "Vous êtes usager",
          hint: "Vous avez un RDV ou vous cherchez à prendre un RDV pour accéder à un service public",},
         {value: "agent",
          label:"Vous êtes agent du service public",
          hint: "L’administration dans laquelle vous travaillez utilise RDV Service Public ou souhaite plus d’informations",},
        ],
        legend: "Vous êtes…",
        required: true
      = f.submit value: "Valider", class: "fr-btn"
