link href="https://unpkg.com/maplibre-gl@5.0.1/dist/maplibre-gl.css" rel="stylesheet"
script src="https://unpkg.com/maplibre-gl@5.0.1/dist/maplibre-gl.js"

= javascript_include_tag "lieux_map"

#map data-lieux=@lieux.to_json
  | Carte en cours de chargement…

css:
  #map { min-height: 200px; height: 80vh; }
