- content_for :title, "Politique de confidentialité"

.fr-grid-row.fr-mb-6w
  .fr-col-12.fr-col-md-8
    p #{current_domain.name} est un service public numérique développé par l’Agence nationale de la cohésion des territoires (ANCT). Son objectif est de faciliter la prise de rendez-vous entre l’administration territoriale et ses usagers.

    p L’ANCT est responsable de traitement des données en lien avec la mise à disposition de la solution numérique pour fluidifier la prise de rendez-vous, la gestion et la sécurisation des comptes utilisateurs.

    h2 Pourquoi traitons-nous des données à caractère personnel ?

    p #{current_domain.name} traite des données à caractère personnel dans le but de&nbsp;:

    ul
      li Gérer et sécuriser les comptes utilisateurs (agents publics et usagers) ;
      li Mettre à disposition la solution numérique à l’administration territoriale pour fluidifier la prise de rendez-vous ;
      li Gérer les demandes de démo de la solution numérique par les agents publics.

    h2 Quelles sont les données à caractère personnel traitées par #{current_domain.name} ?

    ul
      li Données relatives aux comptes agents publics&nbsp;: nom, prénom, adresse courriel ;
      li Données relatives aux prescripteurs externes&nbsp;: nom, prénom, adresse courriel professionnelle, numéro de téléphone professionnel (facultatif) ;
      li Données relatives aux comptes usagers&nbsp;: nom d’usage, prénom, adresse courriel, numéro de téléphone, adresse postale, informations relatives aux proches (nom et prénom) ;
      li Données relatives aux demandes de démo par les agents publics&nbsp;: nom, prénom, adresse courriel, champs libres ;
      li Données relatives à la traçabilité&nbsp;: logs et adresse IP.

    h2 Qu’est-ce qui nous autorise à traiter des données à caractère personnel ?

    p #{current_domain.name} traite des données à caractère personnel en se basant sur l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-1 e) du RGPD.

    p Cette mission d’intérêt public est mise en œuvre par l’article #{link_to("L. 1231-2 V", "https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000038804535/", target: "_blank")} du code général des collectivités territoriales.

    h2 Pendant combien de temps conservons-nous ces données ?

    .fr-table
      table
        thead
          tr
            th Catégories de données
            th Durées de conservation
        tbody
          tr
            td Données relatives aux comptes agents publics
            td Les données sont supprimées 2 ans après la dernière connexion de l’agent
          tr
            td Données relatives aux prescripteurs externes
            td Les données sont supprimées 2 ans après le dernier rendez-vous pris
          tr
            td Données relatives aux comptes usagers
            td Les données sont supprimées 2 ans après le dernier rendez-vous pris
          tr
            td Données relatives aux demandes de démo
            td Dès la fin de la visioconférence
          tr
            td Données relatives à la traçabilité
            td 1 an, conformément à la LCEN

    h2 Qui peut avoir accès à ces données ?

    p Les accès aux données à caractère personnel sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données&nbsp;:
    ul
      li Les membres habilités de l’équipe de #{current_domain.name} ;
      li Les administrations territoriales.

    h2 Qui nous aide à traiter vos données à caractère personnel ?

    p Certaines données sont envoyées à des sous-traitants. Le responsable de traitement s’est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.

    .fr-table.rdv-white-space-nowrap
      table
        thead
          tr
            th Partenaire
            th Traitement réalisé
            th Pays destinataire
            th Garanties
        tbody
          tr
            td Scalingo
            td Hébergement
            td France
            td = link_to " Contrat de Gestion des Traitements de Données Personnelles Scalingo", "https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles", target: "_blank"
          tr
            td Brevo
            td Envoi de mails
            td France
            td = link_to "Politique de Confidentialité Brevo", "https://www.brevo.com/fr/legal/privacypolicy/", target: "_blank"
          tr
            td LinkMobility
            td Envoi de SMS
            td France
            td = link_to "Politique de confidentialité Link Mobility", "https://www.linkmobility.com/fr/legal/politique-de-confidentialite", target: "_blank"
          tr
            td Calendso (Cal.com)
            td Gestion et organisation des créneaux de démo du produit
            td États-Unis
            td = link_to "Politique de confidentialité Cal.com", "https://cal.com/privacy", target: "_blank"

    h2 Quels sont vos droits ?

    p Vous disposez d’un droit d’accès et de rectification des données à caractère personnel qui vous concernent. Vous disposez également d’un droit d’opposition et de limitation du traitement de vos données.
    p Pour exercer vos droits ou pour toute question sur le traitement de vos données, vous pouvez nous écrire via #{link_to("le formulaire de contact", contact_path)}.
    p Vous pouvez également contacter la déléguée à la protection des données (DPD) de l’ANCT&nbsp;:

    ul
      li par courriel à l’adresse suivante&nbsp;: #{mail_to("dpo@anct.gouv.fr")}
      li ou par courrier à l’adresse suivante&nbsp;:

    p Agence Nationale de la Cohésion des Territoires
    p
      | À l’attention de la déléguée à la protection des données (DPD)
      br
      | 20 avenue de Ségur
      br
      | 75007 Paris

    p Si vous estimez, après nous avoir contactés, que vos droits prévus par le RGPD ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL;

    h2 Témoins de connexion (cookies) et traceurs

    p #{current_domain.name} n’utilise que des témoins de connexion strictement nécessaires au bon fonctionnement du service numérique et ne nécessite pas de bandeau prévu à cet effet.

    p Pour aller plus loin, vous pouvez consulter les fiches proposées par la Commission Nationale de l'Informatique et des Libertés (CNIL)&nbsp;:

    ul
      li = link_to "Cookies & traceurs : que dit la loi ?", "https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi", target: "_blank"
      li = link_to "Cookies : les outils pour les maîtriser", "https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser", target: "_blank"
