.row.justify-content-center
  .col-md-8
    .card.p-3
      h1 Comparaison des motifs de :
      = form_for(@presenter, as: "", url: compare_admin_territory_motifs_path, method: :get) do |f|
        .row.mt-1
          .col-md-6
            = f.select :org_a, Agent::MotifPolicy.organisations_i_can_manage(current_agent).map { [_1.name, _1.id] }, { selected: @presenter.org_a&.id, include_blank: true }, { class: "select2-input", onchange: "this.form.submit()" }
          .col-md-6
            = f.select :org_b, Agent::MotifPolicy.organisations_i_can_manage(current_agent).map { [_1.name, _1.id] }, { selected: @presenter.org_b&.id, include_blank: true }, { class: "select2-input", onchange: "this.form.submit()" }

        .row.mt-3
          .col-md-12.d-flex.flex-gap-1em.align-items-center
            = f.check_box :show_all_attrs, as: :checkbox, onchange: "this.form.submit()"
            = f.label "Afficher tous les attributs", for: :show_all_attrs, class: "mb-0"
        .row.mt-2
          .col-md-12.d-flex.flex-gap-1em.align-items-center
            = f.check_box :only_different_pairs, as: :checkbox, onchange: "this.form.submit()"
            = f.label "Afficher uniquement les paires différentes", for: :only_different_pairs, class: "mb-0"

- if @presenter.organisations_selected?
  - if @presenter.displayed_pairs.none?
    p Les motifs de ces deux organisations sont cohérents

  - @presenter.displayed_pairs.each do |pair|
    - motif_a, motif_b = pair.motif_a, pair.motif_b
    - attrs_to_display = @presenter.show_all_attrs || pair.one_side? ? MotifsComparisonPresenter.attrs_names : pair.differences.keys
    - next if attrs_to_display.none?

    .card.p-3
      h3.mb-3 #{motif_name_and_location_type_and_service(motif_a || motif_b)}
      table.table
        tr
          th
          th = link_to(@presenter.org_a, edit_admin_organisation_motif_path(motif_a.organisation, motif_a)) if motif_a
          th = link_to(@presenter.org_b, edit_admin_organisation_motif_path(motif_b.organisation, motif_b)) if motif_b
        - attrs_to_display.each do |attr_name|
          ruby:
            value_in_a = motif_a.send(attr_name) if motif_a
            value_in_b = motif_b.send(attr_name) if motif_b
            classes = motif_a && motif_b && value_in_a != value_in_b && @presenter.show_all_attrs ? ["text-warning"] : []
          tr
            th[style="width:30%"] = Motif.human_attribute_name(attr_name)
            td[class=classes style="width:40%"] = Motif.human_attribute_value(attr_name, motif_a.send(attr_name)) if motif_a
            td[class=classes style="width:40%"] = Motif.human_attribute_value(attr_name, motif_b.send(attr_name)) if motif_b
