= territory_navigation(t(".title"))

.card.pl-4.pr-4.pt-2.pb-3
  h1 Filtres
  = form_with url: admin_territory_motifs_path(current_territory), method: :get do |form|
    = form.hidden_field :current_tab, value: @current_tab

    .form-row
      .form-group.col-md-4
        label for="search"
          | Nom
        input[id="search" name="search" type="text" class="form-control" placeholder="Nom" value=params[:search]]
      .form-group.col-md-4
        label for="organisation_ids"
          | Organisation(s)
        select.select2-input[id="organisation_ids" name="organisation_ids[]" multiple data-select2-config={ placeholder: "-" }.to_json style="width: 100%"]
          = options_for_select(@organisations.pluck(:name, :id), params[:organisation_ids])
      .form-group.col-md-4
        label for="organisation_ids"
          | Service(s)
        select.select2-input[id="service_ids" name="service_ids[]" multiple data-select2-config={ placeholder: "-" }.to_json style="width: 100%"]
          = options_for_select(@services.pluck(:name, :id), params[:service_ids])
    .form-row
      .form-group.col-md-4
        label for="location_type"
          | Type
        select.select2-input[id="location_type" name="location_type"  style="width: 100%"]
          - options = Motif.location_types.map{ |l| [Motif.human_attribute_value(:location_type, l[0]), l[1]] }
          = options_for_select(options_for_select([["-", ""]] + options, params[:location_type]))
      .form-group.col-md-4
        label for="collectif"
          | Nombre de participants
        select.select2-input[id="collectif" name="collectif" style="width: 100%"]
          = options_for_select([["-", ""], ["Collectif", "true"], ["Individuel", "false"]], params[:collectif])
      .form-group.col-md-4
        label for="bookable_by"
          | Réservable par
        select.select2-input[id="bookable_by" name="bookable_by" style="width: 100%"]
          = options_for_select(bookable_by_filter_options(rdvi_mode: @organisations.any?(&:rdv_insertion?)), params[:bookable_by])
    .form-row.justify-content-end.flex-gap-1em
      .form-group
        a.btn.btn-link[href=admin_territory_motifs_path(current_territory, current_tab: @current_tab)] Réinitialiser
      .form-group
        button.btn.btn-primary[type="submit"] Filtrer

.row
  .col-12

    .float-right
      .d-flex.flex-gap-1em
        - if @current_tab != :archived
          form#batch_edit_form[action=batch_edit_admin_territory_motifs_path method="get"]
            button.btn.mb-2.js-batch-edit-button[role="submit" disabled=true] = t("admin.motifs.actions.batch_edit")

        a.btn.btn-primary.mb-2[href=new_admin_territory_motif_path] = t("admin.motifs.actions.new")

    ul.nav.nav-tabs
      - [[:active, "Actifs", @filtered_motifs.active.count], [:archived, "Archivés", @filtered_motifs.archived.count]].each do |value, label, count|
        li.nav-item
          ruby:
            tab_url_params = request.query_parameters.merge({ current_tab: value }) # keep filters when changing tab
            tab_attrs = { href: admin_territory_motifs_path(current_territory, tab_url_params) }
            if @current_tab == value
              tab_attrs[:class] = "active"
              tab_attrs[:"aria-current"] = "page"
            end
          a.nav-link *tab_attrs
            = label
            span.badge.badge-light.badge-pill.ml-1 = count

.row
  .col-12
    - if @current_tab == :archived
      .row
        .col-12
          .alert.alert-info.d-flex.align-items-center
            = t("admin.motifs.archiving_explanation")

    - if @motifs_page.any?
      = paginate @motifs_page, theme: "twitter-bootstrap-4"
      = render partial: "admin/territories/motifs/motifs_table", locals: { motifs: @motifs_page, display_actions: true, display_checkboxes: @current_tab != :archived }
      .mt-2 = paginate @motifs_page, theme: "twitter-bootstrap-4"

    - else
      .rdv-text-align-center
        p.m-2.lead
          | Aucun résultat
