- content_for :title, "Copier vos données vers RDV Service Public"

p Pour commencer, nous allons lier votre compte #{current_domain.name} à RDV Service Public.

p Sur la prochaine page, vous allez être redirigé vers RDV Service Public. Utilisez ProConnect pour vous connecter

p Si vous n'avez pas encore de compte sur RDV Service Public, vous pourrez en créer un.

= link_to  "Connexion à RDV Service Public", "/omniauth/rdvservicepublic", class: "fr-btn", method: :post
