- content_for :title, "Copier vos données vers RDV Service Public"

p Pour commencer, nous allons connecter votre compte RDV Aide Numérique à RDV Service Public

p Vous allez être redirigé vers RDV Service Public. Utilisez ProConnect pour continuer

= link_to  "Connecter mon compte RDV Service Public", "/omniauth/rdvservicepublic", class: "fr-btn", method: :post
