- content_for :title, "Copier vos données vers RDV Service Public"

p Migration terminée !

= link_to  "Ouvrir RDV Service Public", ENV['RDV_SERVICE_PUBLIC_OAUTH_BASE_URL'], class: "fr-btn fr-btn--secondary"
