ruby:
  rdv_wizard = local_assigns[:rdv_wizard]
  form_url = rdv_wizard.present? ? users_rdv_wizard_step_path(step: 1, **@rdv_wizard.to_query.except(:rdv)) : users_informations_path
  form_method = rdv_wizard.present? ? "post" : "patch"
  territories = Territory.joins(organisations: :user_profiles).where(user_profiles: { user_id: user.id }).to_a

= form_for user, url: form_url, method: form_method, builder: Dsfr::FormBuilder do |f|
  = render "model_errors", model: user, f: f
  .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
    .fr-col-12.fr-col-md-6= f.dsfr_text_field :first_name, disabled: user.connected_with_sso?, autocomplete: "given-name"
    .fr-col-12.fr-col-md-6= f.dsfr_text_field :last_name, disabled: user.pro_connect_openid_sub, autocomplete: "family-name"
  .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
    - unless current_user.signed_in_with_invitation_token? || current_domain == Domain::RDV_MAIRIE || user.pro_connect_openid_sub
      .fr-col-12.fr-col-md-6= f.dsfr_text_field :birth_name, placeholder: "Nom de naissance", disabled: user.connected_with_sso?
    - if !current_user.signed_in_with_invitation_token? && rdv_wizard&.rdv&.territory&.enable_birth_date_field?
      .fr-col-12.fr-col-md-6= f.dsfr_text_field :birth_date, type: "date", disabled: user.logged_once_with_franceconnect?, autocomplete: "bday"
  - if rdv_wizard&.rdv&.requires_ants_predemande_number?
    = f.dsfr_text_field :ants_pre_demande_number, required: true, hint: t("simple_form.hints.user.ants_pre_demande_number_html"), style: "text-transform: uppercase;"
  - if user.logged_once_with_franceconnect?
    .fr-alert.fr-alert--info.fr-mb-1w
      = I18n.t("users.franceconnect_frozen_fields")
  - if current_user.signed_in_with_invitation_token?
    - if user.email.present?
      / Pour des raisons historiques on garde le champ email
      = f.dsfr_email_field :email, disabled: user.email.present? && !user.email_changed?, required: true, autocomplete: "email"
    - else
      / Nous ne voulons pas perdre d'informations si l'utilisateur a déjà un email de notification, donc le champ est requis
      / L'utilisateur peut définir un email de notification s'il n'en a pas encore, mais ce n'est pas obligatoire
      = f.dsfr_email_field :notification_email, required: user.notification_email.present?
  - elsif user.email.blank? && user.notification_email && user.connected_with_sso?
    = f.dsfr_email_field :notification_email, label: "Email de notification"

  = f.dsfr_phone_field :phone_number, as: :tel, required: rdv_wizard&.motif&.phone?, autocomplete: "tel"
  - if user.phone_number.present? && !user.phone_number_mobile?
    .fr-alert.fr-alert--warning.fr-mb-1w Vous ne recevrez pas de SMS avec ce numéro non-mobile
  div.mb-2 Préférences de notifications
  div= f.dsfr_check_box :notify_by_email
  div= f.dsfr_check_box :notify_by_sms
  - unless current_user.signed_in_with_invitation_token? || current_domain == Domain::RDV_MAIRIE
    - address_value = rdv_wizard.present? && user.address.nil? ? rdv_wizard.to_query[:where] : user.address
    = f.dsfr_text_field :address, value: address_value, required: rdv_wizard&.motif&.home?, data: { "address-autocomplete": "on" }, autocomplete: "street-address", dir: "ltr"

  - if territories.map(&:enable_address_details).any?
    = f.dsfr_text_field :address_details, data: { "address-autocomplete": "on" }, autocomplete: "street-address", dir: "ltr"

  = f.hidden_field :city_code
  = f.hidden_field :post_code
  = f.hidden_field :city_name

  - if local_assigns[:service].nil? || service.user_field_groups.include?(:social)
    - if territories.map(&:enable_caisse_affiliation_field).any? || territories.map(&:enable_affiliation_number_field).any?
      .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
        - if territories.map(&:enable_caisse_affiliation_field).any?
          .fr-col-12.fr-col-md-6= f.dsfr_select :caisse_affiliation, User.human_attribute_values(:caisse_affiliation), include_blank: true
        - if territories.map(&:enable_affiliation_number_field).any?
          .fr-col-12.fr-col-md-6= f.dsfr_text_field :affiliation_number

    - if rdv_wizard
      ruby:
        current_organisation = Motif.find(rdv_wizard.to_query[:motif_id]).organisation
      - if current_organisation.territory.enable_logement_field
        = f.dsfr_select :logement, User.human_attribute_values(:logement), include_blank: true
    - elsif territories.map(&:enable_logement_field).any?
      = f.dsfr_select :logement, User.human_attribute_values(:logement), include_blank: true

  - if rdv_wizard.present?
    - rdv_wizard.to_query.each do |wizard_key, wizard_value|
      = hidden_field_tag "rdv[#{wizard_key}]", wizard_value

    .fr-grid-row.fr-grid-row--gutters.fr-mt-3w
      .fr-col.rdv-justify-content-space-between.d-flex.flex-row-aligned
        = dsfr_link_to "Revenir en arrière", prendre_rdv_path(rdv_wizard.to_query), class: "fr-icon-arrow-left-line fr-link--icon-left"
        = f.submit "Continuer", class: "fr-btn"

  - else
    .rdv-text-align-right
      = f.submit "Enregistrer", class: "fr-btn"
