- content_for :title, t(".my_informations")

.fr-container.fr-pt-3w
  .row.justify-content-md-center
    .col-md-6
      .card
        .card-body
          h1.card-title = t(".my_informations")

          = form_for @user_form, as: :user, url: users_informations_path, method: :patch, builder: Dsfr::FormBuilder do |f|
            - fo = f.object
            = render "model_errors", model: fo, f: f

            .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
              .fr-col-12.fr-col-md-6
                = f.dsfr_text_field :first_name, disabled: fo.first_name_frozen?, autocomplete: "given-name"
              .fr-col-12.fr-col-md-6
                = f.dsfr_text_field :last_name, disabled: fo.last_name_frozen?, autocomplete: "family-name"

            .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
              - if fo.show_birth_name_field?
                .fr-col-12.fr-col-md-6
                  = f.dsfr_text_field :birth_name, placeholder: "Nom de naissance", disabled: fo.birth_name_frozen?

            - if fo.show_franceconnect_frozen_fields_warning?
              .fr-alert.fr-alert--info.fr-mb-1w= I18n.t("users.franceconnect_frozen_fields")

            - if fo.show_email_field?
              = f.dsfr_email_field :email, disabled: fo.email_disabled?, required: true, autocomplete: "email"
            - elsif fo.show_notification_email_field?
              = f.dsfr_email_field :notification_email, required: fo.notification_email_required?, label: fo.notification_email_label

            = f.dsfr_phone_field :phone_number, as: :tel, autocomplete: "tel"
            - if fo.show_landline_phone_number_warning?
              .fr-alert.fr-alert--warning.fr-mb-1w Vous ne recevrez pas de SMS avec ce numéro non-mobile

            .mb-2 Préférences de notifications
            div= f.dsfr_check_box :notify_by_email
            div= f.dsfr_check_box :notify_by_sms

            - if fo.show_address_details_field?
              = f.dsfr_text_field :address_details

            = f.hidden_field :city_code
            = f.hidden_field :post_code
            = f.hidden_field :city_name

            - if fo.show_caisse_affiliation_field? || fo.show_affiliation_number_field?
              .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
                - if fo.show_caisse_affiliation_field?
                  .fr-col-12.fr-col-md-6
                    = f.dsfr_select :caisse_affiliation, User.human_attribute_values(:caisse_affiliation), include_blank: true
                - if fo.show_affiliation_number_field?
                  .fr-col-12.fr-col-md-6
                    = f.dsfr_text_field :affiliation_number

            - if fo.show_logement_field?
              = f.dsfr_select :logement, User.human_attribute_values(:logement), include_blank: true

            .rdv-text-align-right
              = f.submit "Enregistrer", class: "fr-btn"

    .col-md-6
      .card
        .card-body
          h2.card-title = t(".my_relatives")
          ul.list-group.mb-2
            - if @user.relatives.empty?
              li.list-group-item
                em = t(".no_relatives")
            - @user.relatives.order(:birth_date).each do |relative|
              li.list-group-item
                .row
                  .col
                    => relative.full_name
                    = "(#{age(relative)})" if relative.birth_date
                  .col-auto.rdv-text-align-right
                    = link_to t("admin.rdvs.show.update"), edit_relative_path(relative)
          .rdv-text-align-right
            = link_to t(".add_relative"), new_relative_path, class: "fr-btn fr-btn--secondary", data: { modal: true }
