- case export.status
- when Export::STATUS_PENDING
  span.fr-badge.fr-badge--sm.fr-badge--info.fr-badge--no-icon
    | En création
- when Export::STATUS_EXPIRED
  span.fr-badge.fr-badge--sm
    | Expiré
