/ locals(rdv_plan:)
br
- if rdv_plan.public_office?
  = lieu_icon(class: "fr-mr-1w")
  = rdv_plan.lieu.name
- elsif rdv_plan.phone?
  = phone_icon(class: "fr-mr-1w")
  = "Par téléphone"
- elsif rdv_plan.visio?
  = visio_icon(class: "fr-mr-1w")
  = "Par visio"
= link_to "modifier", edit_modalites_agents_rdv_plan_path(rdv_plan), class: "fr-ml-2w"
