- content_for :title do
  ol.breadcrumb.m-0.p-0
    li.breadcrumb-item.p-0
      = link_to 'Vos agendas', organisation_agent_path(current_organisation, current_agent)
    li.breadcrumb-item.p-0.ml-2
      | RDV
      |&nbsp;
      = rdv_title_for_agent(@rdv)
      - if @rdv.cancelled?
        span.badge.badge-danger

.row
  .col-md-8.mb-3
    .card
      .card-header Détails du RDV
      .card-body
        p.card-text
          i.fa.fa-fw.fa-calendar>
          = rdv_title(@rdv)
          | &nbsp;
          = link_to "voir dans l'agenda", organisation_agent_path(current_organisation, @rdv.agents.first, selected_event_id: @rdv.id, date: @rdv.starts_at.to_date)
        = render 'rdv_details', rdv: @rdv
        .row
          .col
            - if !@rdv.past? && !@rdv.cancelled?
              = link_to "Annuler", organisation_rdv_path(@rdv.organisation, @rdv, status: :excused), method: :put, class: "btn btn-outline-danger mr-1", data: { confirm: "Êtes-vous sûr de vouloir annuler ce rendez-vous ? L'usager recevra une notification de cette annulation."}
              | ou
            = link_to "Supprimer ❌", organisation_rdv_path(@rdv.organisation, @rdv), method: :delete, class: "btn btn-link text-danger", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce rendez-vous ? Cette action est définitive et aucune notification ne sera envoyée à #{@rdv.users.map(&:full_name).to_sentence}."}

          .col.text-right
            = link_to "Modifier", edit_organisation_rdv_path(@rdv.organisation, @rdv), class: "btn btn-outline-primary", data: { rightbar: true }

  .col-md-4.mb-3
    .card
      .card-header
        | Modifier le statut du RDV rapidement
      .card-body
        = simple_form_for(@rdv, url: status_organisation_rdv_path(@rdv.organisation)) do |f|
          = f.input :status, collection: Rdv.human_enum_collection(:status), as: :radio_buttons, label: ''
          .text-right= f.submit class: 'btn btn-secondary'

.row data-controller='versions' data-versions-url=organisation_rdv_versions_path(@rdv.organisation, @rdv, only: ['user_ids', 'agent_ids', 'duration_in_min', 'status', 'starts_at', 'location', 'notes'])
  .col-md-12
    .card
      .card-header
        a[
          href="#history"
          data-action="click->versions#toggle"
          data-target="versions.title"
          data-text-close="🕵️‍♂️ Cacher l'historique des actions ˄"
          data-text-open="🕵️‍♂️ Afficher l'historique des actions ⌄"
        ]
          | 🕵️‍♂️ Afficher l'historique des actions ⌄
      #history.collapse class=(@uncollapsed_section == 'history' ? "show" : "") data-target="versions.body"
        .text-center.py-4
          .spinner.spinner-border
