// common : users & agents
footer {
  color: $gray-600;
  text-decoration: none;

  .footer-links a {
    color: $gray-600;
    &:hover {
      color: $gray-900;
    }
  }
}

// only used for users
footer.main-footer {
  padding: 3rem 0 0;
  overflow-x: hidden;
  .brand {
    font-weight: 800;
    font-size: 1.7rem;
    color: #222;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  footer.main-footer {
    padding: 100px 0 0;
  }
}

// only used for agents
.footer {
  border-top: 1px solid rgba($gray-600, 0.2);
  bottom: 0;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0;
  color: $gray-600;
  left: $leftbar-width;
}

body.users .footer {left: 0;}

body.providers .footer {
  left: 0 !important;
}

@include media-breakpoint-down(sm) {
  .footer {
    left: 0 !important;
    text-align: center;
  }
}

// Used for account authentication pages
.footer-alt {
  left: 0;
  border: none;
  text-align: center;
}

// Layout - Topnav
body[data-layout="topnav"] {
  .footer {
      left: 0 !important;
      padding: 19px 0 20px;
  }
}
