.content-page {
  margin-left: $leftbar-width;
  overflow: hidden;
  min-height: 80vh;
}

.left-side-menu {
  background: $bg-leftbar;

  a {
    color: $menu-item;
    transition: all 0.4s;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &[aria-expanded="true"] {
      color: $menu-item-hover;
      text-decoration: none;
    }
  }

  .menu-arrow {
    transition: transform .15s
  }

  [aria-expanded=true] .menu-arrow {
    transform: rotate(90deg);
  }

  .badge{
    margin-top: 4px;
  }

  .side-nav-item.connected-agent {
    background-color: lighten($bg-leftbar, 10%);
  }

  .side-nav-title {
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    text-transform: uppercase;
    color: $menu-item;
    font-weight: $font-weight-bold;
  }
}

@include media-breakpoint-up(md) {
  .wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .left-side-menu {
    width: $leftbar-width;
    z-index: 10;
    bottom: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;

    .logo-and-hamburger {
      justify-content: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .left-side-menu {
    .logo-and-hamburger {
      justify-content: space-between;
    }
  }
  .content-page {
    margin-left: 0 !important;
  }
  // the order of these next 2 rules is important
  #menu-agent.collapsing, #menu-agent.show {
    display: block;
  }
  #menu-agent {
    display: none;
  }
}
