.button-menu-mobile {// Unused ?
  border: none;
  color: $dark;
  height: 70px;
  line-height: 70px;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  float: left;

  &.disable-btn {
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar-custom {// Unused ?
    left: 70px;
    right: 0;
  }
  .app-search {// Unused ?
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-custom {// Unused ?
    left: 0;
    padding: 0 10px;
    margin: -5px -10px 0;
  }
  .button-menu-mobile {// Unused ?
    &.disable-btn {
      display: inline-block;
    }
  }
  .nav-user {// Unused ?
    padding: 17px 5px 17px 57px !important;
    .account-position,
    .account-user-name {
      display: none;
    }
  }
}
