# Rails configuration
HOST=http://localhost:3001

# This is used to provide redirections to rdv-insertion.fr website and to handle webhook endpoints in the seeds
# It is needed as an env variable because seeds can be used on staging envs
RDV_INSERTION_HOST=http://localhost:8000

# This is the secret used for the rdv-insertion webhook endpoints in the seeds
# It is needed as an env variable because seeds can be used on staging envs
RDV_INSERTION_SECRET=rdv-solidarites

RDV_SOLIDARITES_INSTANCE_NAME="RDV_SOLIDARITES_DEV"

DEFAULT_DOMAIN_IS_RDV_SOLIDARITES=true

# Shared Secrets used for RDV Insertion
SHARED_SECRET_FOR_AGENTS_AUTH=123456

# On a des identifiants ProConnect différents pour nos trois marques en production, mais en local c'est la même valeur pour les trois
PRO_CONNECT_RDVS_CLIENT_ID="4ec41582-1d60-4f11-a63b-d8abaece16aa"
PRO_CONNECT_RDVAN_CLIENT_ID="4ec41582-1d60-4f11-a63b-d8abaece16aa"
# pour récupérer les trois clés suivantes en local https://vaultwarden.incubateur.net/#/vault?organizationId=2662d2f2-17f4-49c2-907c-0e7049c28cb7&collectionId=e5e23afd-18f2-4da1-af4a-77d97bbb2684&itemId=2d8626d9-62cc-4b03-a62f-11a07eb67c46
# cf docs/interconnexions/proconnect.md
PRO_CONNECT_RDVS_CLIENT_SECRET=""
PRO_CONNECT_RDVAN_CLIENT_SECRET=""
