- agent_role = agent.role_in_organisation(current_organisation)
- agent_policy = policy(agent, policy_class: Agent::AgentPolicy)

tr id="agent_#{agent.id}"
  td
    - if agent_policy.edit?
      - if agent.full_name.present?
        span= link_to agent.reverse_full_name, edit_admin_organisation_agent_path(current_organisation, agent), class: "mr-2"
      - unless agent.is_an_intervenant?
        / les intervenants ne peuvent pas se connecter, il est inutile de les afficher comme "Inactif".
        - if agent.last_sign_in_at.nil? && agent.invitation_sent_at.present? && agent.invitation_accepted_at.nil?
          - if agent.invitation_due_at.past?
            .badge.badge-warning Invitation expirée
          - else
            .badge.badge-warning Invitation en attente
        - elsif agent.last_sign_in_at.nil?
          / ce cas est très rare et n’arrive plus depuis 2022 car les agents sont connectés tout de suite après avoir accepté l’invitation
          .badge.badge-warning Jamais connecté·e
        - elsif agent.last_sign_in_at <= 1.month.ago
          .badge.badge-warning Pas connecté·e depuis plus d'un mois
      end
    - else
      span.mr-2= agent.reverse_full_name
    = me_tag(agent)
  td.word-break-all
    = agent.email
  td
    - agent.services.each do |service|
      .badge.badge-primary= service.short_name
  td.text-nowrap
    span>= agent_role.human_attribute_value(:access_level)
    - if agent_role.admin?
      i.fa.fa-user-cog
  td
    .d-flex
      - if agent_policy.create? && !agent.invitation_accepted? && !agent.is_an_intervenant?
        div.mr-3= link_to t("devise.invitations.reinvite"),
                reinvite_admin_organisation_invitation_path(current_organisation, agent),
                method: :post
      - if agent_policy.edit?
        div.mr-3= link_to edit_admin_organisation_agent_path(current_organisation, agent), title: t("helpers.edit") do
          i.fa.fa-edit
      - if agent_policy.destroy?
        - agent_removal_presenter = AgentRemovalPresenter.new(agent, current_organisation)
        - path = admin_organisation_agent_path(current_organisation, agent)
        = link_to path,
                method: :delete,
                title: agent_removal_presenter.button_value,
                data: { confirm: agent_removal_presenter.confirm_message } do
          i.fa.fa-trash-alt
