- content_for :title do
  | Modifier le niveau de permission de l'agent #{@agent.full_name_or_email}

= render "admin/agents/fil_ariane", current_page_title: @agent.full_name_or_email
- content_for(:menu_item) { "menu-settings" }

- if @agent.is_an_intervenant?
  = render "admin/agent_intervenants/name_form", agent_intervenant: @agent

.row.justify-content-center
  .col-md-12.col-lg-8
    .card
      .card-body.js_agent_role_form
        = simple_form_for [:admin, current_organisation, @agent] do |f|
          = render "model_errors", model: @agent

          - if current_territory.services.any? || @agent.agent_services.any?
            p
              - if @agent.services.count == 0
                | #{@agent.full_name_or_email} n'appartient à aucun service
              - elsif @agent.services.count == 1
                = "#{@agent.full_name_or_email} appartient au service "
                b #{@agent.services.first.name}
              - else
                | #{@agent.full_name_or_email} appartient à #{@agent.services.count} services :
                ul.fr-pl-2w
                - @agent.services.each do |service|
                  li.rdv-font-weight-bold= service.name

            - if Agent::TerritoryPolicy.new(current_agent, current_territory).allow_to_manage_access_rights?
              = link_to "Ajouter ou retirer des services", edit_admin_territory_agent_path(territory_id: current_territory.id, agent_id: @agent.id), class: "fr-link fr-icon-pencil-line fr-link--icon-left"
            - else
              .fr-mb-0.fr-text--sm.text-muted
                | Le changement ou l’ajout de service est réservé aux admins d'espace avec ce droit d’accès

            hr

          = f.simple_fields_for @agent_role do |ff|
            = ff.input :access_level,
              collection: @roles,
              label_method: -> { render("admin/agents/role_labels/#{_1}", { services: @agent.services }) },
              hint: ("Les agents peuvent avoir des permissions différentes sur chaque organisation." if current_agent.organisations_count > 1),
              as: :radio_buttons

          / allow turning an intervenant into an agent with an account
          - if AgentRole.find(@agent_role.id).access_level == "intervenant"
            .js_agent_role_form__agent_with_account_fields[style="display:none;"]
              = f.input :email, label: "Email d'invitation de l'agent", required: true, disabled: true
              .row
                .col-md-6
                  = f.input :first_name, required: true, disabled: true
                .col-md-6
                  = f.input :last_name, required: true, input_html: { value: "" }, disabled: true

          .row
            - if policy(@agent, policy_class: Agent::AgentPolicy).destroy?
              .col.text-left
                = button_to @agent_removal_presenter.button_value, \
                  admin_organisation_agent_path(current_organisation, @agent), \
                  data: { confirm: @agent_removal_presenter.confirm_message }, \
                  method: :delete, \
                  class: "btn btn-outline-danger"
            .col.text-right
              - if AgentRole.find(@agent_role.id).access_level == "intervenant"
                = f.button :submit
              - else
                .js_agent_role_form__agent_with_account_fields
                  = f.button :submit
                .js_agent_role_form__intervenant_fields[style="display:none;"]
                  = f.button :submit, data: { confirm: "Cet agent ne pourra plus se connecter à son compter. Êtes vous sûr de vouloir continuer ?" }

.row.justify-content-center
  .col-md-12.col-lg-8
    = render "admin/versions/resource_versions_row", resource_policy: policy(@agent, policy_class: Agent::AgentPolicy), resource: @agent
