= render "admin/agents/fil_ariane"

- content_for(:title, "Agents de #{current_organisation.name}")

- if current_agent_can_create_agent_in?(current_organisation)
  - content_for :right_of_page_title do
    = link_to t("agents.create_cta"), new_admin_organisation_agent_path(current_organisation), class:"fr-btn fr-btn--secondary"

.card
  .card-body
    - if needs_agent_search?
      = form_with url: admin_organisation_agents_path(current_organisation), method: :get, scope: :agents_search do |f|
        .fr-table__header.rdv-justify-content-flex-end.rdv-width-100
          ul.fr-btns-group.fr-btns-group--right.fr-btns-group--inline-md.fr-btns-group--icon-left.fr-mb-0
            li
              - if agents_search_params[:query].present?
                = link_to t("helpers.reset"), admin_organisation_agents_path(current_organisation), class: "fr-btn fr-btn--tertiary-no-outline"
              .fr-search-bar
                = f.label :query, "Prénom, Nom, Email", class: "fr-label fr-sr-only"
                = f.search_field :query, placeholder: "Prénom, Nom, Email", autocomplete: "off", class: "fr-input", value: agents_search_params[:query]
            li
              = f.submit "Filtrer", class: "fr-btn"
    table.table
      thead
        tr
          th= Agent.human_attribute_name(:name)
          th= Agent.human_attribute_name(:email)
          - if @display_services
            th= Agent.human_attribute_name(:services)
          th= AgentRole.human_attribute_name(:access_level)
          th Actions
      tbody
        = render partial: "agent", collection: @agents
    - if @agents.empty?
      .mb-4.p.rdv-text-align-center Aucun agent trouvé
    - elsif @agents.total_pages > 1
      .m-3
        .d-flex.justify-content-center
          = paginate @agents, theme: "dsfr"
        .rdv-text-align-center= page_entries_info @agents

    - if current_agent_can_create_agent_in?(current_organisation)
      .m-3.d-flex.justify-content-center.align-items-center
        = link_to t("agents.create_cta"), new_admin_organisation_agent_path(current_organisation), class: "fr-btn"
