= render "admin/agents/fil_ariane"

- content_for(:title, "Agents de #{current_organisation.name}")

- if current_agent_can_create_agent_in?(current_organisation)
  - content_for :right_of_page_title do
    = link_to t("agents.create_cta"), new_admin_organisation_agent_path(current_organisation), class:"fr-btn fr-btn--secondary"

.card
  .card-body
    - if @agents_search_form.should_display?
      = form_for @agents_search_form, url: admin_organisation_agents_path(current_organisation), method: :get, scope: :agents_search, builder: Dsfr::FormBuilder, as: "search" do |f|
        fieldset.fr-fieldset.rdv-gap-1rem.rdv-justify-content-flex-end.rdv-align-items-first-baseline
          .fr-fieldset__element--inline
            = f.dsfr_check_box :role, { label: "Uniquement les admin", class: "fr-mb-0" }, "admin", ""
          .fr-fieldset__element--inline
              = f.dsfr_text_field :query, placeholder: "Prénom, Nom, Email", autocomplete: "off", label: ""
          .fr-fieldset__element--inline
              = f.submit "Filtrer", class: "fr-btn"
              - if @agents_search_form.active_filters?
                .fr-mt-1w
                  = link_to "Réinitialiser", admin_organisation_agents_path(current_organisation), class: "fr-btn fr-btn--tertiary fr-btn--sm"
    table.table
      thead
        tr
          th= Agent.human_attribute_name(:name)
          th= Agent.human_attribute_name(:email)
          - if @display_services
            th= Agent.human_attribute_name(:services)
          th= AgentRole.human_attribute_name(:access_level)
          th Actions
      tbody
        = render partial: "agent", collection: @agents
    - if @agents.empty?
      .mb-4.p.rdv-text-align-center Aucun agent trouvé
    - elsif @agents.total_pages > 1
      .m-3
        .d-flex.justify-content-center
          = paginate @agents, theme: "dsfr"
        .rdv-text-align-center= page_entries_info @agents

    - if current_agent_can_create_agent_in?(current_organisation)
      .m-3.d-flex.justify-content-center.align-items-center
        = link_to t("agents.create_cta"), new_admin_organisation_agent_path(current_organisation), class: "fr-btn"
