- content_for :title do
  .fr-h1
    | Création de compte sur #{current_domain.name}

.fr-container
  .fr-grid-row.fr-grid-row--center
    .fr-col-xs-12.fr-col-md-10.fr-py-5w
      - if resource.invited_by.present? && resource.organisations.one?
        p.rdv-text-align-center
          => resource.invited_by.full_name
          | vous invite à rejoindre l'organisation « #{resource.organisations.first.name} ».

      - if display_pro_connect_button?
        p.rdv-text-align-center Pour créer votre compte, connectez-vous avec ProConnect.
        .rdv-text-align-center
          = render "common/proconnect_button_dsfr", login_hint: resource.email

      - else
        p.rdv-text-align-center Pour finaliser votre création de compte, nous avons besoins de quelques informations complémentaires.
        = render "password_signup_form"
