.fr-container
  .fr-grid-row.fr-grid-row--center
    .fr-col-xs-12.fr-col-md-8.fr-py-5w
      h1.fr-pb-3w Création de compte sur #{current_domain.name}

      - if display_agent_connect_button?
        h2 Se créer un compte avec ProConnect
        .rdv-text-align-center
          - if display_agent_connect_button?
            = render "common/proconnect_button_dsfr"

        p.fr-mt-3w.fr-hr-or = "ou"

      h2 Se créer un compte avec un mot de passe
      = form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }, builder: DsfrFormBuilder, display_required_tags: false do |f|
        p.fr-hint-text Tous les champs sont obligatoires.
        = render "devise/shared/dsfr_error_messages", resource: resource
        = f.hidden_field :invitation_token
        .fr-grid-row.fr-grid-row--gutters
          .fr-col-md-6= f.dsfr_text_field :first_name, required: true
          .fr-col-md-6= f.dsfr_text_field :last_name, required: true
        = render "common/form/new_password_input", f: f, live_validation: true, hint: "Choisissez votre mot de passe"

        .fr-btns-group.fr-btns-group--inline.fr-btns-group--right
          .fr-mt-2w= f.submit t("devise.invitations.edit.submit_button"), class: "fr-btn"
