ruby:
  content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) }
  email_to_search = page.resource.email.presence
  same_email_count = email_to_search.present? ? User.where.not(id: page.resource.id).where(email: email_to_search).count : 0
header.main-content__header role="banner"
  h1.main-content__page-title
    = content_for(:title)
  div
    => link_to(t("administrate.actions.edit_resource", name: page.page_title),[:edit, namespace, page.resource], class: "button") if accessible_action?(page.resource, :edit)
    - if same_email_count > 0
      => link_to "Voir les fiches avec le même email (#{same_email_count})", super_admins_users_path(search: email_to_search), class: "button"
section.main-content__body
  dl
    - page.attributes.each do |attribute|
      dt.attribute-label id="#{attribute.name}"
        = t( "helpers.label.#{resource_name}.#{attribute.name}", default: attribute.name.titleize)
      dd class=("attribute-data attribute-data--#{attribute.html_class}") = render_field attribute,page: page
= render partial: "super_admins/history", locals: {resource: page.resource}
