/ This partial is used for the form in Lieu#new and Lieu#edit, as well as and RdvWizardSteps#step3 (as a nested form)
  TODO: We might want to allow admins to create a new Lieu for a Rdv, and immediately save it in the organisation lieu.
  In this scenario, having this common partial (instead of a separate partial for the nested form) will be useful.

- is_nested_form = f.object_name != "lieu"

/ All forms
= f.dsfr_text_field :name, label: Lieu.human_attribute_name(:name), required: true, hint: "Le nom apparaît dans les notifications par email et SMS aux usagers."

= f.dsfr_text_field :address, label: Lieu.human_attribute_name(:address), data: { "address-autocomplete": "on", "address-no-geocoding-checkbox": "lieu[address_without_geocoding]" }, required: true, hint: "L'adresse apparaît dans les notifications par email et SMS aux usagers."
- if current_domain == Domain::RDV_SERVICE_PUBLIC
  = f.dsfr_check_box :address_without_geocoding, label: "Le lieu est à l'étranger"
= f.hidden_field :latitude
= f.hidden_field :longitude

- unless is_nested_form
  = f.dsfr_text_field :phone_number, label: Lieu.human_attribute_name(:phone_number), hint: "Facultatif. Ce numéro permet aux usagers de vous contacter. Faites en sorte que les personnes qui répondent au téléphone puissent avoir accès à #{current_domain.name}."
