/ This partial is used for the form in Lieu#new and Lieu#edit, as well as and RdvWizardSteps#step3 (as a nested form)
  TODO: We might want to allow admins to create a new Lieu for a Rdv, and immediately save it in the organisation lieu.
  In this scenario, having this common partial (instead of a separate partial for the nested form) will be useful.

- is_new_form = f.object_name == "lieu" && f.object.new_record?
- is_edit_form = f.object_name == "lieu" && f.object.persisted?
- is_nested_form = f.object_name != "lieu"

/ New and Edit
- if is_new_form || is_edit_form
  = render "model_errors", model: f.object

/ All forms
= f.input :name, required: true

= f.input :address, input_html: { data: { "address-autocomplete": "on" } }
= f.hidden_field :latitude
= f.hidden_field :longitude

- unless is_nested_form
  = f.input :phone_number, hint: I18n.t("simple_form.hints.lieu.phone_number", app_name: current_domain.name)
