- nb_rdv = Agent::RdvPolicy::Scope.apply(AgentOrganisationContext.new(current_agent, current_organisation), Rdv).for_today.merge(lieu.rdvs).count
tr id="lieu_#{lieu.id}"
  td
    - if @lieux_policy.edit?
      = link_to edit_admin_organisation_lieu_path(current_organisation, lieu) do
        = lieu.name
        = unavailability_tag(lieu)
    - else
      = lieu.name
      = unavailability_tag(lieu)
  td= lieu.address
  td= lieu.phone_number
  td= link_to nb_rdv > 0 ? nb_rdv : "aucun", admin_organisation_rdvs_path(current_organisation, lieu_id: lieu.id, start: Time.zone.now.beginning_of_day, end: Time.zone.now.end_of_day )
  td
    - if @lieux_policy.edit?
      div.mr-3= link_to "", edit_admin_organisation_lieu_path(current_organisation, lieu),
              title: t("helpers.edit"),
              class: "fr-btn fr-btn--tertiary fr-btn--sm fr-icon-edit-fill"
