- content_for :title do
  | Modifier le lieu

= render "admin/lieux/fil_ariane", current_page_title: content_for(:title)
- content_for(:menu_item) { "menu-settings" }

.row.justify-content-center
  .col-md-12.col-lg-8
    .card
      .card-body
        = form_for [:admin, @lieu.organisation, @lieu], builder: Dsfr::FormBuilder, display_required_tags: false do |f|
          = render "model_errors", model: @lieu, f: f
          p.fr-hint-text Sauf mention contraire, tous les champs sont obligatoires.
          = render "lieu_fields", f: f
          .col.text-right.fr-p-0
            = link_to t("helpers.cancel"), admin_organisation_lieux_path(@lieu.organisation), class: "fr-btn fr-btn--tertiary-no-outline fr-mr-1w"
            = f.submit "Enregistrer", class: "fr-btn"

.row.justify-content-center
  .col-md-12.col-lg-8
    .card
      .card-body
        - if @lieu.enabled?
          h2.fr-h6 Ce lieu est ouvert aux nouveaux rendez-vous
          p Vous pouvez fermer ce lieu pour empêcher que de nouveaux rendez-vous ou des nouvelles plages d'ouvertures y soient associées.
          p Il sera ensuite possible de rouvrir ce lieu dès que vous le souhaitez.
          = button_to "Fermer ce lieu", close_admin_organisation_lieu_path(current_organisation, @lieu), method: :post, class: "fr-btn fr-btn--secondary"

        - else
          h2.fr-h6 Ce lieu est fermé aux nouveaux rendez-vous

          p Il n'est pas possible d'ajouter des rendez-vous ou des plages d'ouverture pour ce lieu.
          p Si vous le souhaitez, vous pouvez le rouvrir
          = button_to "Réouvrir ce lieu", reopen_admin_organisation_lieu_path(current_organisation, @lieu), method: :post, class: "fr-btn fr-btn--secondary"

- if @lieu.disabled?
  .row.justify-content-center
    .col-md-12.col-lg-8
      .card
        .card-body
          - lieu_is_referenced = @lieu.plage_ouvertures.any? || @lieu.rdvs.any?
          .row
            .col
              - if lieu_is_referenced
                .alert.alert-info
                  h5.alert-heading Ce lieu ne peut pas être supprimé.
                  - if @lieu.plage_ouvertures.any?
                    p Des plages d’ouvertures sont programmées à ce lieu. Déplacez-les pour pouvoir le supprimer.
                  - if @lieu.rdvs.any?
                    p
                      = link_to "Des RDVs sont associés à ce lieu.", admin_organisation_rdvs_path(current_organisation, lieu_id: @lieu.id)
                      =< "Supprimez-les avant de pouvoir supprimer ce lieu."
          - if lieu_is_referenced
            = button_tag t("helpers.delete"), type: "button", disabled: true, class: "btn btn-outline-danger"
          - else
            p Vous pouvez supprimer ce lieu
            = button_to t("helpers.delete"), admin_organisation_lieu_path(@lieu.organisation, @lieu), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Confirmez-vous la suppression de ce lieu ?" }

.row.justify-content-center
  .col-md-12.col-lg-8
    = render "admin/versions/resource_versions_row", resource_policy: @lieu_policy, resource: @lieu
