- content_for :title do
  | Nouveau lieu

= render "admin/lieux/fil_ariane", current_page_title: content_for(:title)
- content_for(:menu_item) { "menu-settings" }

.row.justify-content-center
  .col-md-12.col-lg-8
    .card
      .card-body
        = form_for [:admin, @lieu.organisation, @lieu], builder: Dsfr::FormBuilder do |f|
          = render "model_errors", model: @lieu, f: f
          = render "lieu_fields", f: f

          .col.text-right.fr-p-0
            = link_to t("helpers.cancel"), admin_organisation_lieux_path(@lieu.organisation), class: "fr-btn fr-btn--tertiary-no-outline fr-mr-1w"
            = f.submit "Enregistrer", class: "fr-btn"
