- content_for :title do
  | Nouveau lieu

= render "admin/lieux/fil_ariane", current_page_title: content_for(:title)
- content_for(:menu_item) { "menu-settings" }

.row.justify-content-center
  .col-md-12.col-lg-8
    .card
      .card-body
        = simple_form_for [:admin, @lieu.organisation, @lieu] do |f|
          = render "lieu_fields", f: f
