- if current_domain == Domain::RDV_AIDE_NUMERIQUE
  = render("search/address_selection/rdv_aide_numerique", context: context)
- else
  = render("search/address_selection/rdv_solidarites", context: context)
