section.py-2.rdv-background-color-flat-blue-ecume
  .fr-container
    h1.mb-3.rdv-color-white
      - case current_domain

      - when Domain::RDV_AIDE_NUMERIQUE
        span Prenez rendez-vous avec
        br.fr-hidden.fr-unhidden-md
        span< un médiateur numérique

      - when Domain::RDV_MAIRIE
        span Prenez rendez-vous avec
        br.fr-hidden.fr-unhidden-md
        span<
          - if @context&.public_link_organisation
            = @context.public_link_organisation.name
          - else
            = "votre mairie"

      - when Domain::RDV_SOLIDARITES
        span Prenez rendez-vous en ligne
        - unless @context.invitation?
          br.fr-hidden.fr-unhidden-md
          span< avec votre département
          - if @context.departement.present?
            span< le #{@context.departement}

