section.py-2.rdv-background-color-alt-blue-ecume
  .fr-container
    .fr-col-12.fr-col-lg-10.fr-col-offset-lg-1
      h1.fr-mb-3w.rdv-color-active-blue
        = render(current_domain.search_banner_template_name, context: context)
