- lieu_selection_service = CreneauWizardForUsers::Steps::LieuSelection.new(context)

- content_for :title, "Sélectionnez le lieu"

= render "search/selected_motif_recap", context: context
- if lieu_selection_service.shown_lieux.empty?
  = render "search/nothing_to_show", context: context
- else
  p.fr-text--lg = t(".select_lieu")
  p.fr-text--sm = t(".lieu_available", count: lieu_selection_service.shown_lieux.count)
  ul.fr-raw-list
    / similar to app/views/search/_organisation_selection.html.slim:10
    - lieu_selection_service.next_availability_by_lieux.each do |lieu, next_availability|
      - motif = next_availability.motif
      - if motif.restriction_for_rdv.present?
        = render "/common/dsfr_modal", id: "rdv-restriction-motif-#{lieu.id}", title: "À lire avant de prendre un rendez-vous", body: restriction_for_rdv_to_html(motif), confirm_path: prendre_rdv_path(context.query_params.merge(lieu_id: lieu.id, date: next_availability.starts_at)), confirm_message: "Continuer", cancel_message: "Annuler"
      li.fr-card.fr-enlarge-button.fr-card--lg.fr-card--horizontal.fr-mb-3w
        .fr-card__body aria-controls="rdv-restriction-motif-#{lieu.id}" data-fr-opened="false"
          .fr-card__content
            - if motif.restriction_for_rdv.blank?
              .fr-card__title
                link_to "#{lieu.name} - #{lieu.address}", prendre_rdv_path(context.query_params.merge(lieu_id: lieu.id, date: next_availability.starts_at))
            - else
              h3.fr-card__title
                button type="button"
                  = "#{lieu.name} - #{lieu.address}"
            p.fr-card__desc = lieu.organisation.name
            .fr-card__end
              .fr-card__detail
                p.fr-text.rdv-color-text-default-grey
                  span.fr-icon-calendar-2-fill.fr-mr-1w
                  = "#{t('.next_availability')} "
                  strong= l(next_availability.starts_at, format: :human)
