- organisation_selection_service = CreneauWizardForUsers::Steps::OrganisationSelection.new(context)

- content_for :title, "Sélectionnez la structure"

= render "search/selected_motif_recap", context: context
- if organisation_selection_service.next_availability_by_motifs_organisations.empty?
  = render "search/nothing_to_show", context: context
- else
  p.fr-text--lg Sélectionnez la structure avec laquelle prendre RDV&nbsp;:
  ul.fr-raw-list
    - organisation_selection_service.next_availability_by_motifs_organisations.each do |organisation, next_availability|
      - motif = next_availability.motif
      - if motif.restriction_for_rdv.present?
        = render "/common/dsfr_modal", id: "rdv-restriction-motif-#{organisation.id}", title: "À lire avant de prendre un rendez-vous", body: restriction_for_rdv_to_html(motif), confirm_path: prendre_rdv_path(context.query_params.merge(user_selected_organisation_id: organisation.id, date: next_availability.starts_at)), confirm_message: "Continuer", cancel_message: "Annuler"
        li.fr-card.fr-enlarge-button.fr-card--horizontal.fr-mb-2w
          .fr-card__body aria-controls="rdv-restriction-motif-#{organisation.id}" data-fr-opened="false"
            .fr-card__content
              h3.fr-card__title
                button type="button"
                  = organisation.name
              .fr-card__end
                = render "search/organisation_card_subtitles", organisation: organisation
                .fr-card__detail
                  p.fr-text.fr-mt-3w.rdv-color-text-default-grey
                    span.fr-icon-calendar-2-fill.fr-mr-1w
                    ' Prochaine disponibilité le
                    strong= l(next_availability.starts_at, format: :human)
      - else
        li.fr-card.fr-enlarge-link.fr-card--horizontal.fr-mb-2w
          .fr-card__body
            .fr-card__content
              .fr-card__title
                = link_to organisation.name, prendre_rdv_path(context.query_params.merge(user_selected_organisation_id: organisation.id, date: next_availability.starts_at))
              .fr-card__end
                = render "search/organisation_card_subtitles", organisation: organisation
                .fr-card__detail
                  p.fr-text.fr-mt-3w.rdv-color-text-default-grey
                    span.fr-icon-calendar-2-fill.fr-mr-1w
                    ' Prochaine disponibilité le
                    strong= l(next_availability.starts_at, format: :human)
