- if organisation.website?
  .fr-card__detail.fr-icon-global-fill
    = organisation.website
- if organisation.phone_number?
  .fr-card__detail.fr-icon-phone-fill
    = organisation.phone_number
- if organisation.email?
  .fr-card__detail.fr-icon-mail-fill
    = organisation.email
