.card
  ul.list-group.list-group-flush
    li.list-group-item
      .row
        .col
          span.fr-icon-check-line.fr-mr-1w.rdv-color-text-default-success
          | Motif :&nbsp;
          = context.first_matching_motif.name
        .col-auto
          = link_to "modifier", path_to_service_selection(params), title: "Modifier le motif"
    - case context.first_matching_motif.location_type
    - when Motif.location_types[:phone]
      li.list-group-item
        span.fr-icon-check-line.fr-mr-1w.rdv-color-text-default-success
        | RDV téléphonique
    - when Motif.location_types[:home]
      li.list-group-item
        span.fr-icon-check-line.fr-mr-1w.rdv-color-text-default-success
        | RDV à domicile
    - when Motif.location_types[:visio]
      li.list-group-item
        span.fr-icon-check-line.fr-mr-1w.rdv-color-text-default-success
        | RDV par visioconférence
    - when Motif.location_types[:public_office]
      - if context.ants_pre_demandes_count.present?
        li.list-group-item
          .row
            .col
              span.fr-icon-check-line.fr-mr-1w.rdv-color-text-default-success
              | Nombre de pré-demandes ANTS à déposer :&nbsp;
              = context.ants_pre_demandes_count
            .col-auto
              = link_to "modifier", path_to_ants_pre_demandes_count_selection(params), title: "Modifier le nombre de pré-demandes ANTS"
      - if context.lieu
        li.list-group-item
          .row
            .col
              span.fr-icon-check-line.fr-mr-1w.rdv-color-text-default-success
              | Lieu :&nbsp;
              = context.lieu.full_name
            .col-auto
              = link_to "modifier", path_to_organisation_selection(params), title: "Modifier le lieu"
    - else
      = raise "unrecognized location_type: #{rdv_wizard.motif.location_type.inspect}"
