- content_for :title, "Sélectionnez le service"

- if context.unique_motifs_by_name_and_location_type.empty?
  = render "search/nothing_to_show", context: context
- else
  h2 Sélectionnez le service puis le motif pour lequel vous voulez prendre un RDV&nbsp;:
  = dsfr_accordion(classes: "fr-mb-7v") do |accordion|
    - context.motifs_grouped_by_service.each do |service, motifs|
      .fr-card.fr-enlarge-link.fr-card--horizontal.fr-mb-2w
        .fr-card__body
        = accordion.with_section(title: service.name) do
          ul.fr-raw-list
            .fr-card__title
            - motifs.sort.each do |motif|
              li.fr-card.fr-enlarge-link.fr-card--horizontal.fr-mb-2w
                .fr-card__body
                  .fr-card__content
                    .fr-card__title
                      = link_to motif.name, prendre_rdv_path(context.query_params.merge(motif_name_with_location_type: motif.name_with_location_type))
                    .fr-card__start
                      ul.fr-badges-group
                        - case motif.location_type
                        - when "phone"
                          li.fr-badge.fr-badge--blue-cumulus.fr-icon-phone-fill.fr-badge--icon-left = motif.human_attribute_value(:location_type)
                        - when "home"
                          li.fr-badge.fr-badge--blue-cumulus.fr-icon-home-4-fill.fr-badge--icon-left = motif.human_attribute_value(:location_type)
                        - when "public_office"
                          li.fr-badge.fr-badge--blue-cumulus.fr-icon-building-fill.fr-badge--icon-left = motif.human_attribute_value(:location_type)
                        - when "visio"
                          li.fr-badge.fr-badge--blue-cumulus.fr-icon-mac-fill.fr-badge--icon-left = motif.human_attribute_value(:location_type)
                        - else
                          li.fr-badge.fr-badge--blue-cumulus = motif.human_attribute_value(:location_type)
                        - if motif.collectif?
                          li.fr-badge.fr-badge--purple-glycine.fr-icon-team-fill.fr-badge--icon-left = "RDV collectif"
= render "search/referent_booking_card", context: context
