.fr-grid-row.align-items-center.fr-mt-2w
  .fr-col.text-left
    = link_to("Revenir en arrière", rdv_wizard_form.previous_step_path, dsfr_return_btn_options)
  .fr-col.text-right
    = f.submit submit_value, class: "fr-btn"
