.row.align-items-center.mt-3
  .col.text-left
    = link_to(rdv_wizard_form.previous_step_path) do
      i.fa.fa-arrow-left
      |< Revenir en arrière
  .col.text-right
    = f.submit submit_value, class: "fr-btn"
