/ Component: the form inputs for a participation

- participation = form.object
- user = participation.user
- element_id = "participations-form-#{participation.user.id}"

div id=element_id
  = form.hidden_field :user_id
  .d-flex.mt-2.mb-1
    div
      = user_icon(class: "fr-icon--sm fr-mr-1w")
      - if user.relative?
        = "#{user} (responsable: #{user.responsible})"
      - else
        = user
    div.ml-2
      = link_to edit_admin_organisation_user_path( \
          current_organisation, user, modal: true, return_location: modals_return_location, role: default_service_selection_from(user) \
        ), \
        data: { modal: "true" }, title: t("helpers.edit") do
        = icon("fr-icon-edit-line", class: "fr-icon--sm")
  .ml-3
    = render "admin/users/notifications_preferences", user: user.user_to_notify
    - if participation.user.user_to_notify.valid_email? || participation.user.user_to_notify.phone_number.present?
      h6= t("admin.participations.notifications_overrides")
      = form.input :send_lifecycle_notifications, wrapper: false
      - if current_organisation.rdv_insertion?
        span.text-muted.font-14= participation.rdv.motif.human_attribute_value(:visibility_type, context: :hint_checkbox)
      = form.input :send_reminder_notification, wrapper: false
      - if current_organisation.rdv_insertion?
        span.text-muted.font-14= participation.rdv.motif.human_attribute_value(:visibility_type, context: :hint_checkbox)
