ul.list-group.list-group-flush
  - steps.each do |step|
    li.list-group-item.hover-bg-light.fr-p-0
      = link_to rdv_wizard_form.path_for_step(step[:step]) do
        .d-flex.align-items-center.fr-p-2w
          = icon("fr-icon-success-line", class: "fr-icon--sm fr-mr-1w fr-text-mention--grey")
          div.fr-text-mention--grey.flex-shrink-0.mr-1= t("admin.rdv_wizard_steps.step#{step[:step]}.step_title")
          div.fr-text-default--grey.text-truncate= step[:value]
