- content_for(:menu_item) { "menu-agendas" }
- content_for(:title) { t(".page_title", starts_at: l(@rdv.starts_at, format: :dense)) }

= render "card", rdv_wizard_form: @rdv_wizard, next_steps: [{step: 2}, {step: 3}, {step: 4}], step_title: t(".step_title") do
  = simple_form_for(@rdv_wizard, as: :rdv, url: admin_organisation_rdv_wizard_step_path(current_organisation), method: :get) do |f|
    = render "model_errors", model: @rdv_wizard
    = render "hidden_fields", f: f, step: 1, \
      fields: %i[starts_at lieu_id context service_id], \
      user_ids: @rdv.user_ids, agent_ids: @rdv.agent_ids,
      lieu_attributes: @rdv.nested_lieu_attributes

    - if @services.count > 1
      = f.input :service_id, \
        collection: @services, \
        input_html: { \
          class: "select2-input js-service-filter", \
          data: { \
            placeholder: "Sélectionnez un service pour filtrer les motifs", \
            "select-options": { disableSearch: true }, \
          }, \
        }

    = f.input :motif_id, \
      label: "Motif du rendez-vous", \
      required: true, \
      include_blank: true, \
      collection: @motifs.includes(:service).to_a.group_by { _1.service.name }, \
      as: :grouped_select, \
      group_method: :last,
      label_method: -> { motif_name_with_location_and_group_type(_1) }, \
      input_html: { \
        data: { placeholder: "Sélectionnez un motif", "auto-select-sole-option": true },
        class: @services.count > 1 ? "js-filtered-motifs" : "select2-input", \
      }

    = render "actions", rdv_wizard_form: @rdv_wizard, submit_value: "Continuer", f: f
