- if resource.errors.any?
  .fr-alert.fr-alert--error.fr-mb-2w
    ul
      - resource.errors.each do |error|
        - if error.match?(:email, t("activerecord.errors.models.user.attributes.email.taken"))
          li
            = "#{t('activerecord.errors.models.user.attributes.email.taken')}. "
            = link_to('Avez-vous oublié votre mot de passe ?', new_password_path(resource_name, "email": resource.email), class: 'fr-link')
        - else
          li= error.full_message
