.fr-grid-row.justify-content-center
  .fr-col-md-12.fr-col-lg-8
    = render "admin/motifs/form/configuration_principale", f: f, motif: motif
    .card.mt-2
      .rdv-accordion-card.fr-accordion
        .fr-accordion__title
          button.fr-accordion__btn aria-expanded="false" aria-controls="options-avancees" type="button"
            | Consignes et options avancées
        .fr-collapse id="options-avancees"
          = render "admin/motifs/form/consignes", f: f, motif: motif, rdvi_mode: rdvi_mode
          = render "admin/motifs/form/advanced_options", f: f, motif: motif, rdvi_mode: rdvi_mode

    .fr-grid-row.mb-5
      .fr-col.text-right
        = f.submit((motif.new_record? ? "Créer le motif" : "Enregistrer"), class: "fr-btn fr-btn--lg")
