/# locals: (motif: )

- if motif.instruction_for_rdv.blank?
  p.fr-mt-4w
    i.fr-text-mention--grey Pas d'instructions à afficher après la prise de rendez-vous
- else
  p.fr-mt-4w
    b Instructions à afficher après la prise de rendez-vous
  .fr-highlight.fr-mb-2w
    i= instruction_for_rdv_to_html(motif)
