/# locals: (motif: )

- if motif.restriction_for_rdv.blank?
  p
    i.fr-text-mention--grey Pas d'instructions à accepter avant la prise de rendez-vous
- else
  p
    b Instructions à accepter avant la prise de rendez-vous
  .fr-highlight.fr-mb-2w
    i= restriction_for_rdv_to_html(motif)
