- content_for :title do
  | Motifs de rendez-vous

= render "admin/organisations/configurations/fil_ariane", current_page_title: content_for(:title)
- content_for(:menu_item) { "menu-settings" }

- if agent_can_create_motif?
  - content_for :breadcrumb do
    = link_to t("admin.motifs.actions.new"), new_admin_organisation_motif_path(current_organisation), class:"btn btn-outline-primary"

= simple_form_for "", url: admin_organisation_motifs_path(current_organisation), html: { method: :get, class: "form-inline" }, wrapper: :inline_form do |f|
  = f.hidden_field :current_tab, value: @current_tab

  .container-fluid.card

    - if @need_search
      / Le margin-bottom négatif compense la hauteur des onglets
      .fr-mt-2w.d-flex.justify-content-end[style="margin-bottom: -32px"]
        - if [params[:search], params[:online_filter], params[:service_filter], params[:location_type_filter]].compact_blank.any?
          div = link_to "Réinitialiser", admin_organisation_motifs_path(current_organisation, current_tab: @current_tab), class: "btn btn-link"
        = f.input :search, placeholder: "ex. Être appelé par la MDS", label: false, input_html: { autocomplete: "off", class: "search-form-control", value: params[:search] }, required: false
        = f.button :submit, "Rechercher"

    ul.nav.nav-tabs.fr-mt-2w
      - [[:active, "Actifs", @filtered_motifs.active.count], [:archived, "Archivés", @filtered_motifs.archived.count]].each do |value, label, count|
        li.nav-item
          ruby:
            tab_url_params = request.query_parameters.merge({ current_tab: value }) # keep filters when changing tab
            tab_attrs = { href: admin_organisation_motifs_path(current_organisation, tab_url_params) }
            if @current_tab == value
              tab_attrs[:class] = "active"
              tab_attrs[:"aria-current"] = "page"
            end
          a.nav-link *tab_attrs
            = label
            span.badge.badge-light.badge-pill.ml-1 = count

    - if current_agent.admin_in_organisation?(current_organisation) && @current_tab == :archived
      .row
        .col-12
          .alert.alert-info.d-flex.align-items-center.mt-2
            = t("admin.motifs.archiving_explanation")

    table.table.table-centered
      - if current_organisation.motifs.any?
        thead
          tr
            th
            th= Motif.human_attribute_name("name")
            th
              div
                = Motif.human_attribute_name("bookable_by")
              - if @need_search
                div
                  - options = options_for_select(["En ligne", "Hors ligne"], params[:online_filter])
                  = select_tag("online_filter", options, include_blank: "Tous", class: "js-submit-on-change select2-input")
            - if display_sectorisation_level?
              th= Motif.human_attribute_name("sectorisation_level")
            th
              div
                = Motif.human_attribute_name("service")
              - if @need_search
                div
                  - options = options_from_collection_for_select(current_territory.services, :id, :short_name, params[:service_filter])
                  = select_tag("service_filter", options, include_blank: "Tous", class: "js-submit-on-change select2-input")
            th
              div
                = Motif.human_attribute_name("location_type")
                - if @need_search
                  div
                    - options = options_for_select(Motif.location_types.map{|l| [Motif.human_attribute_value(:location_type, l[0]), l[1]] }, params[:location_type_filter])
                    = select_tag("location_type_filter", options, include_blank: "Tous", class: "js-submit-on-change select2-input")
            th= Motif.human_attribute_name(:default_duration)
            th
      tbody
        - if @motifs_page.any?
          = render partial: "admin/motifs/motif", collection: @motifs_page, as: :motif
          .d-flex.justify-content-center
            = paginate @motifs_page, theme: "dsfr"
        - else
          tr
            td(colspan=6)
              .fr-grid-row.justify-content-md-center
                .fr-col-md-6.fr-mt-2w.fr-mb-4w
                  - if current_organisation.motifs.none?
                    h3.fr-mb-2w Vous n'avez pas encore créé de motif.
                    p Les motifs sont les types de rendez-vous que vous proposez dans votre organisation.
                    p Chaque motif a des options indépendantes : durée, format (à domicile, par téléphone, sur place), prise de rendez-vous en ligne activée etc…
                  - else
                    p.mb-2.lead Aucun motif ne correspond à votre filtre
                  - if agent_can_create_motif?
                    .rdv-text-align-center.m-3
                      = link_to t("admin.motifs.actions.new"), new_admin_organisation_motif_path(current_organisation), class: "btn btn-primary"

    - if @motifs_page.any?
      .d-flex.justify-content-center
        = paginate @motifs_page, theme: "dsfr"
      - if agent_can_create_motif? && @current_tab == :active
        .rdv-text-align-center.m-3
          = link_to t("admin.motifs.actions.new"), new_admin_organisation_motif_path(current_organisation), class: "btn btn-primary"
