- title = @motif.name
- title += " (#{@motif.service_short_name})" if @motif.service_short_name
- title += " (archivé)" if @motif.archived?

- content_for :title, title

= render "admin/motifs/fil_ariane", current_page_title: content_for(:title)

- content_for :right_of_page_title do
  .fr-btns-group.fr-btns-group--inline
    - if !@motif.archived? && @motif_policy.edit?
      = link_to t("admin.motifs.actions.edit"), edit_admin_organisation_motif_path(current_organisation, @motif), class: "fr-btn"
    - if @motif_policy.duplicate?
      = link_to t("admin.motifs.actions.duplicate"), new_admin_organisation_motif_path(current_organisation, duplicated_from_motif_id: @motif.id), class: "fr-btn fr-btn--secondary"

.fr-grid-row
  .fr-col-12
    .card.mt-2
      .card-body[style="border-radius: 4px; border-left: 6px solid #{sanitize(@motif.color)};"]
        h2.fr-h6 Informations générales
        - if current_territory.services.any? || @motif.service
          = motif_attribute_row(Motif.human_attribute_name(:service), @motif.service_name, margin: false)
          - if @motif.service.blank?
            span.fr-text-mention--grey= I18n.t("admin.motifs.motif_without_service_explanation")
        - if @motif.motif_category.present?
          = motif_attribute_row(MotifCategory.model_name.human, @motif.motif_category.name)
        = motif_attribute_row \
          Motif.human_attribute_name(:default_duration_in_min_short), \
          "#{@motif.default_duration_in_min} minutes"
        = motif_attribute_row(Motif.human_attribute_name(:color)) do
          span.motif-color-badge>[style="background-color: #{@motif.color};"]
          span.fr-text-mention--grey= @motif.color

        .fr-mt-4w
          = location_type_icon(@motif.location_type, class: "fr-mr-1w fr-icon--sm")
          = "#{@motif.human_attribute_value(:collectif)} #{@motif.human_attribute_value(:location_type).downcase}"
        .fr-hint-text
          = sanitize(@motif.human_attribute_value(:location_type, context: :hint), scrubber: :prune)

    .card[class="#{"fr-enlarge-link" if current_agent.admin_in_organisation?(current_organisation)}"]
      .card-body
        .d-flex.rdv-align-items-baseline
          - if current_agent.admin_in_organisation?(current_organisation)
            h2.fr-h5.fr-mr-2w = link_to "Réservation en ligne", admin_organisation_online_booking_motif_path(current_organisation, @motif)
          - else
            h2.fr-h5.fr-mr-2w Réservation en ligne

          = render "admin/organisations/online_booking/motifs/availability_badge", motif: @motif, availabilities_count: @motif.upcoming_availabilities.count

        .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
          - if @motif.bookable_by_everyone?
            p Ce motif est ouvert à la réservation en ligne.
          - else
            = render "admin/organisations/online_booking/motifs/bookable_by_text", motif: @motif

          - if current_agent.admin_in_organisation?(current_organisation)
            = icon("fr-icon-arrow-right-line", class: "rdv-color-text-action-high-blue-france")

    .card.mt-2
      .card-body
        .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
          h2.fr-h5 Consignes à destination de l'usager

          - if !@motif.archived? && @motif_policy.edit?
            = link_to t("admin.motifs.actions.edit"), edit_consignes_admin_organisation_motif_path(current_organisation, @motif), class: "fr-btn fr-btn--secondary"

        = render "admin/motifs/restriction_for_rdv_recap", motif: @motif
        = render "admin/motifs/instruction_for_rdv_recap", motif: @motif

        p.fr-mt-4w
          b =Motif.human_attribute_name(:custom_cancel_warning_message)

          = icon("fr-icon-information-line", "aria-describedby" => "cancel-warning-message-tooltip", class: "fr-icon--sm fr-ml-1w")
          span.fr-tooltip.fr-placement#cancel-warning-message-tooltip role="tooltip"
            = Motif.human_attribute_name(:custom_cancel_warning_message_hint)
        - if @motif.custom_cancel_warning_message.blank?
          p
            i.fr-text-mention--grey Pas d'instructions à afficher quand l'usager annule le rendez-vous
        - else
          .fr-highlight.fr-mb-2w
            = @motif.custom_cancel_warning_message

    .card.mt-2
      .card-body
        .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
          h2.fr-h5 Options avancées

          - if !@motif.archived? && @motif_policy.edit?
            = link_to t("admin.motifs.actions.edit"), edit_advanced_options_admin_organisation_motif_path(current_organisation, @motif), class: "fr-btn fr-btn--secondary"

        b= @motif.human_attribute_value(:visibility_type, context: :html)

        .fr-text-mention--grey
          = @motif.human_attribute_value(:visibility_type, context: :hint)
          - if current_organisation.rdv_insertion?
            br
            span= @motif.human_attribute_value(:visibility_type, context: :hint_rdv_insertion)

        = motif_attribute_row \
          Motif.human_attribute_name(:follow_up_short), \
          motif_option_activated(@motif, :follow_up), \
          hint: Motif.human_attribute_name(:follow_up_hint)

        = motif_attribute_row \
          Motif.human_attribute_name(:for_secretariat_short), \
          motif_option_activated(@motif, :for_secretariat), \
          hint: Motif.human_attribute_name(:for_secretariat_hint)

        = motif_attribute_row \
          "Ouverture aux prescripteurs", \
          motif_option_activated(@motif, :prescription), \
          hint: sanitize(I18n.t("activerecord.attributes.motif/bookable_by/hint.everyone"))

    - if @motif_policy.edit? || @motif_policy.destroy?
      .card.mt-2
        .card-body
          - if @motif.archived?
            h2.fr-h4 Ce motif est archivé

            p Il n'est pas possible de prendre de nouveaux rendez-vous pour ce motif.
            .fr-btns-group.fr-btns-group--inline
              - if @motif_policy.unarchive?
                = link_to t("admin.motifs.actions.unarchive"), unarchive_admin_organisation_motif_path(current_organisation, @motif), method: :post, class: "fr-btn"
              - if @motif_policy.destroy?
                = link_to t("admin.motifs.actions.destroy"), admin_organisation_motif_path(current_organisation, @motif), method: :delete, data: { confirm: t("admin.motifs.actions.destroy_confirm") }, class: "fr-btn fr-btn--tertiary"

          - else
            h2.fr-h4 Ce motif est actif

            p
              | Vous pouvez archiver ce motif si vous ne souhaitez pas que de nouveaux rendez-vous soient pris.

            .fr-btns-group.fr-btns-group--inline
              - if @motif_policy.archive?
                = link_to t("admin.motifs.actions.archive"), archive_admin_organisation_motif_path(current_organisation, @motif), method: :post, data: { confirm: t("admin.motifs.actions.archive_confirm") }, class: "fr-btn fr-btn--secondary"
              - if @motif_policy.destroy?
                = link_to t("admin.motifs.actions.destroy"), admin_organisation_motif_path(current_organisation, @motif), method: :delete, data: { confirm: t("admin.motifs.actions.destroy_confirm") }, class: "fr-btn fr-btn--tertiary"

.fr-grid-row
  .fr-col-12
    = render "admin/versions/resource_versions_row", resource_policy: @motif_policy, resource: @motif
