p Votre code de connexion à #{@domain.name} est :

= render "mailers/common/login_code", login_code: @login_code

hr{style="margin: 1rem 0;"}
p
  | Si vous n'avez pas demandé de code de connexion, nous vous invitons à changer votre mot de passe immédiatement.
