.fr-container.fr-py-8w
  h1.fr-h3.fr-pb-2w Bienvenue !
  p.fr-py-1w Pour commencer, aidez-nous à reconnaitre votre organisation.

  p.fr-py-1w Si vos collègues utilisent déjà #{current_domain.name}, vous pouvez leur demander de vous inviter dans leur espace via le menu “Paramètres > Agents > Ajouter un agent”.

  p.fr-py-1w Si vous souhaitez ouvrir un nouvel espace sur #{current_domain.name} pour votre organisation, notre équipe est là vous aider.

  ul.fr-btns-group.fr-btns-group--center.fr-btns-group--inline-md.fr-mb-8w
    li
      = link_to "Contacter notre équipe", Agents::PagesController::CONTACT_TEAM_URL, class: "fr-btn"
