.fr-container.fr-pb-8w
  h1.fr-h3.fr-pb-2w Bienvenue !
  p.fr-py-1w Pour commencer, aidez-nous à en savoir plus :

  p.fr-pt-1w.fr-pb-2w
    | Votre structure <b>utilise déjà #{current_domain.name}</b> et vous souhaitez disposer d’un accès ?
    br
    | Vos collègues peuvent vous inviter depuis le menu <b>“Paramètres > Agents > Ajouter un agent”</b>.

  p.fr-py-1w
    | Votre structure <b>n’utilise pas #{current_domain.name}</b> et vous souhaitez créer un compte ?
    br
    | Nous vous invitons à contacter notre équipe. Nous organiserons un temps d’échanges pour vous présenter la solution et créer le compte de votre structure.

  ul.fr-btns-group.fr-btns-group--center.fr-btns-group--inline-md.fr-mb-8w
    li
      = link_to "Contacter notre équipe", "https://cal.com/team/rdv-service-public/temps-d-echanges", class: "fr-btn"
