= render "users/rdv_wizard_steps/stepper", step_title: @step_title

main.container
  .row.justify-content-center
    .col-lg-7.col-md-10.col-sm-11
      .card
        = render "users/rdv_wizard_steps/rdv_wizard_summary", rdv_wizard: @rdv_wizard
        .card-body
          h3 Bénéficiaire
          p Indiquez les coordonnées de la personne qui viendra au rendez-vous

          = form_for @beneficiaire, url: prescripteur_create_rdv_path, builder: Dsfr::FormBuilder do |f|
            .fr-grid-row.fr-grid-row--gutters.fr-mb-3v
              .fr-col-12.fr-col-md-6= f.dsfr_text_field :first_name, required: true
              .fr-col-12.fr-col-md-6= f.dsfr_text_field :last_name, required: true
              - if @rdv_wizard.rdv.requires_ants_predemande_number?
                .fr-col-12= f.dsfr_text_field :ants_pre_demande_number, required: true, input_html: {style: "text-transform: uppercase;"}

              .fr-col-12= f.dsfr_phone_field :phone_number, hint: "Format attendu : 0122334455. Un SMS de confirmation et un SMS de rappel seront envoyés à ce numéro"

            = render("model_errors", model: @beneficiaire, f: f)

            .rdv-text-align-right
              = f.submit "Confirmer le rendez-vous", class: "fr-btn"
