/# Collection
/
/This partial is used on the `index` and `show` pages
/to display a collection of resources in an HTML table.
/
/## Local variables:
/
/- `collection_presenter`:
/  An instance of [Administrate::Page::Collection][1].
/  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
/  the columns displayed in the table
/- `resources`:
/  An ActiveModel::Relation collection of resources to be displayed in the table.
/  By default, the number of resources is limited by pagination
/  or by a hard limit to prevent excessive page load times
/
/[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection

container
  - resources.each do |request|
    .fr-card.fr-enlarge-link.fr-card--horizontal.fr-card--sm
      .fr-card__body
        .fr-card__content
          h3.fr-card__title
            = link_to(edit_super_admins_territory_creation_request_path(request.id))
              = request.territory_name
          p.fr-card__desc
            = "demandé par #{request.agent.full_name}"
            br
            = request.agent.email
