- content_for(:title) { "Demande d'ouverture d'espace" }

header.main-content__header
  h1.main-content__page-title
    = content_for(:title)

section.main-content__body
  dl
    dt.attribute-label.attribute-label--normal-case Espace
    dd.attribute-data = @territory_creation_request.territory_name

    dt.attribute-label.attribute-label--normal-case Organisation
    dd.attribute-data = @territory_creation_request.organisation_name

    dt.attribute-label.attribute-label--normal-case Demandé par
    dd.attribute-data
      = @territory_creation_request.agent.full_name
      = " "
      = mail_to(@territory_creation_request.agent.email)

    - siret = @territory_creation_request.agent.proconnect_siret
    - if siret
      dt.attribute-label SIRET
      dd.attribute-data =link_to(siret, "https://annuaire-entreprises.data.gouv.fr/etablissement/#{siret}", target: "_blank")

    dt.attribute-label.attribute-label--normal-case Service
    dd.attribute-data = @territory_creation_request.service_name

  section.main-content__body[style=""]
    - if @territory_creation_request.possible_duplicate_organisations_by_email_domain.none?
      p ✅ Aucun espace existant n'a d'agents avec des adresses email similaires.
    - else
      p ⚠️ Attention, ces organisations ont des agents avec des adresses email similaires :
      ul
        - @territory_creation_request.possible_duplicate_organisations_by_email_domain.each do |organisation|
          li
            = link_to organisation.name, super_admins_organisation_path(organisation)

      p Si vous pensez que ce nouvel espace serait un doublon, vous pouvez contacter un admin d'organisation pour lui proposer d'inviter #{@territory_creation_request.agent.full_name}.

    - if @territory_creation_request.possible_duplicate_organisations_by_siret.none?
      p ✅ Aucun espace existant n'a d'agents avec des SIRET similaires.
    - else
      p ⚠️ Attention, ces organisations ont des agents avec le même SIRET :
      ul
        - @territory_creation_request.possible_duplicate_organisations_by_siret.each do |organisation|
          li
            = link_to organisation.name, super_admins_organisation_path(organisation)

      p Si vous pensez que ce nouvel espace serait un doublon, vous pouvez contacter un admin d'organisation pour lui proposer d'inviter #{@territory_creation_request.agent.full_name}.

    hr
    h2 Réponse
    p Pour éviter de créer des doublons, vérifiez qu'il n'y a pas d'espace déjà existant avec un nom similaire

    p Si vous refusez la demande, merci de contacter l'agent pour lui expliquer votre décision.

    div[style="display: flex; padding-top: 12px"]
      = simple_form_for([namespace, @territory_creation_request], html: { class: "form", style: "padding-right: 20px" }) do |f|
        = f.hidden_field :response, value: "refused"
        = f.submit "Refuser"

      = link_to("Accepter", new_super_admins_compte_path(request_id: @territory_creation_request.id), class: "button")
