//## Local variables:
/
/- `page`:
/  An instance of [Administrate::Page::Form][1].
/  Contains helper methods to help display a form,
/  and knows which attributes should be displayed in the resource's form.
/
/[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form

- content_for(:title) { "Demande d'ouverture d'espace" }

header.main-content__header
  h1.main-content__page-title
    = content_for(:title)

section.main-content__body
  p
    b = "Demandé par : "
    = page.resource.agent.full_name
    = " "
    = page.resource.agent.email

  p
    b = "Nom de l'espace : "
    = page.resource.territory_name

  p
    b = "Nom de l'organisation : "
    = page.resource.organisation_name

  p
    b = "Service demandé : "
    = page.resource.service_name

    - if page.resource.agent.proconnect_siret
      p
        b = "Siret de l'agent : "
        = page.resource.agent.proconnect_siret
      - agents_with_same_siret = Agent.joins(:organisations).where(agents: { proconnect_siret: page.resource.agent.proconnect_siret }).limit(10).distinct
      - if agents_with_same_siret.any?
        p D'autres agents ont le même siret :
        ul
          - agents_with_same_siret.each do |agent|
            li = link_to(agent.full_name, super_admins_agent_path(agent), target: :_blank)

  = "Avant d'accepter cette requête, pour éviter de créer des doublons, merci de faire les vérifications suivantes :"
  ul
    li Il n'y a pas d'autre territoire/espace avec un nom similaire
    li Il n'y a pas d'autres organisation avec un nom similaire
    li Il n'y a pas d'autres agents avec le même nom de domaine qui ont déjà un espace

  = simple_form_for([namespace, page.resource], html: { class: "form" }) do |f|
    = f.hidden_field :response, value: "refused"
    = f.submit "Refuser"

  = link_to("Accepter", new_super_admins_compte_path(request_id: page.resource.id), class: "btn")
