header.main-content__header
  h1.main-content__page-title
    | Demandes d'ouverture d'espace
    - if params[:status].blank?
      = " en attente"
    - elsif params[:status] == "accepted"
      = " acceptées"
    - elsif params[:status] == "refused"
      = " refusées"

section.main-content__body.main-content__body--flush
  div[style="margin-bottom: 12px"]
    = link_to "Demandes en attente", super_admins_territory_creation_requests_path(response: nil), class: "button button--alt", style: "margin: 0 8px"
    = link_to "Demandes acceptées", super_admins_territory_creation_requests_path(response: "accepted"), class: "button button--alt", style: "margin: 0 8px"
    = link_to "Demandes refusées", super_admins_territory_creation_requests_path(response: "refused"), class: "button button--alt", style: "margin: 0 8px"

  div[style="margin: 12px"]
    - if @territory_creation_requests.empty?
      p Il n'y a aucune demande avec ce statut
    - @territory_creation_requests.each do |request|
        h3
          = link_to(edit_super_admins_territory_creation_request_path(request.id))
            = request.territory_name
        p
          = "demandé par #{request.agent.full_name}"
          br
          = request.agent.email
