- content_for :title, "Modifier un proche"

.card
  .card-body
    = form_for @form, url: relative_path(@form.user), builder: Dsfr::FormBuilder do |f|
      = render "model_errors", model: @form, f: f
      = render "form_fields", f: f
      .d-flex.justify-content-between
        = link_to "Supprimer", relative_path(@form.user), method: :delete, class: "fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-delete-line", data: { confirm: "Confirmez-vous la suppression de ce proche ?"}

        .d-flex.justify-content-end
          = link_to "Annuler", users_informations_path, class: "fr-btn fr-btn--tertiary fr-mr-2v"
          = f.button :submit, class: "fr-btn"
