p = t("mailers.common.hello")

p= t(".description_1")
p= t(".description_2")

= render "absence_overview", absence: @absence

.btn-wrapper= link_to "Voir sur #{domain.name}", edit_admin_organisation_absence_url(@absence.agent.organisations.first, @absence), class:"btn btn-primary"

= t("mailers.common.farewell_html", domain_name: domain.name)
