p Bonjour,

p Vous venez de créer une indisponibilité sur votre planning de RDV Solidarités.
p Vous pouvez synchroniser cette indisponibilité sur votre calendrier en ouvrant la pièce-jointe de cet email.
