= render "search/banner", context: OpenStruct.new(public_link_organisation: @rdv_invitation.motif.organisation)

.fr-container
  section.fr-py-3w.fr-col-12.fr-col-lg-10.fr-col-offset-lg-1
    p.fr-text--lg Vous êtes invité·e à prendre rendez-vous pour le motif <b>#{@rdv_invitation.motif.name}</b>, #{@rdv_invitation.motif.default_duration_in_min} minutes.

    - if @rdv_invitation.lieu
      p.fr-text--lg
        | Le rendez-vous aura lieu à <b>#{@rdv_invitation.lieu.name}</b>, au <b>#{@rdv_invitation.lieu.address}</b>
    - elsif @rdv_invitation.motif.visio
      p.fr-text--lg
        | Le rendez-vous aura lieu par visioconférence
    - elsif @rdv_invitation.motif.phone
      / TODO: garder juste les 2 derniers chiffres
      p.fr-text--lg L'agent vous appellera au #{@rdv_invitation.user.humanized_phone_number}
    - elsif @rdv_invitation.motif.home
      p.fr-text--lg L'agent se rendra à votre domicile.

    p.fr-text--lg Choisissez un créneau:

    .card
      .card-body
        = render "search/creneaux", creneau_selection_service: @creneau_selection_service
