h1 Configuration

h2 Clé d’API

p
  |> Vous pouvez ici générer une clé d’API vous permettant d’automatiser l’ouverture d’espace.
  |> Cette clé vous sera affiché une fois, et pourra être révoquée à tout moment.
= link_to "Générer la clef", "#", class: "fr-btn fr-icon-add-line fr-btn--icon-left"
