/# locals: (f:)

.card
  .card-body
    h2.dsfr-card-title.mb-3 Options avancées
    = f.input :title, label: "Libellé (facultatif)", placeholder: "ex: Permanence hebdo", hint: "Ce libellé sera affiché aux agents mais jamais aux usagers"
