p = t("mailers.common.hello")

p= t(".description_1")
p= t(".description_2")

= render "plage_ouverture_overview", plage_ouverture: @plage_ouverture

= t("mailers.common.farewell_html", domain_name: domain.name)
