p = t("mailers.common.hello")

p= t(".description_1")
p= t(".description_2")

.btn-wrapper= link_to t("mailers.common.see_on_rdvs"), admin_organisation_plage_ouverture_url(@plage_ouverture.organisation, @plage_ouverture), class:"btn btn-primary"

= t("mailers.common.farewell_html")
