.fr-card.fr-enlarge-link.fr-card--horizontal
  .fr-card__body
    .fr-card__content
      h3.fr-card__title
        a[href=post.link target="_blank"]
          = post.title
        .fr-card__detail.fr-icon-calendar-2-fill.rdv-align-items-center.mt-1
          = l(post.published_at.to_date, format: :long)
      p.fr-card__desc
        = post.description.truncate_words(35)
