= form_with(url: url_for({}), method: :get) do |form|
  .row
    .col-md-6
      ruby:
        collection = @agents.map { |agent| [agent.reverse_full_name_or_email, agent.id] }
        data = {
          "select2-config": {
            ajax: {
              url: admin_organisation_agents_path(current_organisation),
                dataType: "json",
                delay: 250,
              },
            },
          }
      = form.select :agent_id, collection, { selected: @agents.map(&:id), multiple: @agents.size > 1 }, { name: "agent_id[]", class: "select2-input", onchange: @agents.size == 1 ? "this.form.submit()" : "", data: }

  .row
    .col
      - if @agents.size == 1
        button#multi_agent_toggle.fr-btn.fr-btn--tertiary Sélectionner plusieurs agents
      #submit_agents[class=(@agents.size > 1 ? "" : "hidden")]
        = form.submit "Appliquer", {class: "fr-btn  "}
      #reset_agents[class=(@agents.size > 1 ? "" : "hidden")]
        = link_to "Revenir à mon agenda", admin_organisation_planning_agenda_path(current_organisation, agent_id: current_agent), class: "fr-btn fr-btn--tertiary"
