.container-fluid.py-1.px-3[style="background-color: white; border-bottom: 1px solid #EEE;"]
  h1.fr-h2.my-1.d-flex
    | Planning de
    .ml-2
      = form_with(url: url_for({}), method: :get, id: "agent_id_form", class: "d-flex rdv-align-items-end") do |form|
        div
          ruby:
            collection = @agents.map { |agent| [agent.reverse_full_name_or_email, agent.id] }
            klasses = ["select2-input"]
            klasses.push("js-submit-on-change") if @agents.size == 1 # Le select mono-agent recharge la page dès qu'on en sélectionne un
            data = {
              "select2-config": {
                      dropdownCssClass: "dropdownCssClassdropdownCssClass",
                      containerCssClass: "containerCssClasscontainerCssClass",
                ajax: {
                  url: admin_organisation_agents_path(current_organisation),
                    dataType: "json",
                    delay: 250,
                  },
                },
              }
          = form.select :agent_id, collection, { selected: @agents.map(&:id), multiple: @agents.size > 1 }, { name: "agent_id[]", class: klasses, data: }

        .ml-2.d-flex[style="gap: 0 0.5em"]
          - if @agents.size == 1
            button#multi_agent_toggle.fr-btn.fr-btn--tertiary Sélectionner plusieurs agents
          #submit_agents[class=(@agents.size > 1 ? "" : "hidden")]
            = form.submit "Appliquer", {class: "fr-btn  "}
          #reset_agents[class=(@agents.size > 1 ? "" : "hidden")]
            = link_to "Revenir à mon agenda", admin_organisation_planning_agenda_path(current_organisation, agent_id: current_agent), class: "fr-btn fr-btn--tertiary"

.container-fluid.px-2.d-flex[style="background-color: white; border-bottom: 1px solid #EEE;align-items: center;"]

  .flex-grow-1
    = render partial: "admin/planning/planning_tabs"

  = content_for :breadcrumb

.fr-mx-2w= render "layouts/flash"
