nav#planning_tabs.fr-nav[role="navigation" aria-label="Menu du planning"]
  ul.fr-nav__list
    li.fr-nav__item
      = active_link_to(admin_organisation_planning_agenda_path(current_organisation, { agent_id: @agent_for_absence&.id }.compact_blank), class: "fr-nav__link") do
        | Agenda
    li.fr-nav__item
      = active_link_to(admin_organisation_planning_plage_ouvertures_path(current_organisation, { agent_id: @agent_for_absence&.id }.compact_blank), class: "fr-nav__link") do
        | Plages d'ouverture
    li.fr-nav__item
      = active_link_to(admin_organisation_planning_absences_path(current_organisation, { agent_id: @agent_for_absence&.id }.compact_blank), class: "fr-nav__link") do
        | Indisponibilités
