- content_for :title, "Copier vos usagers vers RDV Service Public"

p Pour commencer, nous allons lier votre compte #{current_domain.name} à RDV Service Public.

p Sur la prochaine page, vous allez être redirigé vers RDV Service Public. Utilisez ProConnect pour vous connecter

.rdv-text-align-center
  = link_to  "Connexion à RDV Service Public", "/omniauth/rdvservicepublic", class: "fr-btn", method: :post
