/# locals: (context:)
span Prenez rendez-vous
- if context&.public_link_organisation
  = " avec "
  br.fr-hidden.fr-unhidden-md
  span<
      =  context.public_link_organisation.name
- else
  - territories = Territory.where(departement_number: context.departement)
  - territory =  territories.count == 1 ? territories.first : nil
  - if territory&.name.present?
    = " avec "
    br.fr-hidden.fr-unhidden-md
    span<
      =  territory.name
