p = t("mailers.common.hello")

p
  = "Bonne nouvelle ! Votre espace "
  b = domain.name
  = " est désormais ouvert. 🎉"

  br
  | Vous pouvez dès maintenant commencer à configurer votre organisation :

ul
  li définir vos premiers motifs de rendez-vous,
  li ouvrir vos plages de disponibilité,
  li inviter vos collègues à rejoindre l’espace.

.btn-wrapper
  = link_to "Accéder à mon espace", configuration_admin_organisations_url,  class: "btn btn-primary"

hr
br
br

p Pour aller plus loin dans la prise en main :

.btn-wrapper
  = link_to "Consulter les tutoriels", "https://aide.rdv-service-public.fr/", class: "btn btn-secondary", style: "padding-left: 86px; padding-right: 86px"
.btn-wrapper
  = link_to "Participer à un webinaire de présentation", "https://rdv.anct.gouv.fr/prendre_rdv?departement=SP&public_link_organisation_id=1628", class: "btn btn-primary"

p Ces ressources vous aideront à prendre en main la solution pas à pas.

= t("mailers.common.farewell_html", domain_name: domain.name)
