p Votre code de connexion est :

p{style="font-family: monospace; letter-spacing: .5rem; font-size: 1.4rem; max-height: 4rem; height: 4rem;"}
  = @login_code.code

hr{style="margin: 1rem 0;"}
p
  | Si vous n’avez pas demandé de code de connexion, vous pouvez ignorer cet email.
