= territory_navigation(t(".title"))

.row.justify-content-center
  .col-md-6
    .card
      .card-body
        = form_for current_territory, url: admin_territory_motif_categories_path(current_territory), builder: Dsfr::FormBuilder do |f|
          = render "model_errors", model: current_territory

          h1.card-title= t(".card_title")
          p.text-muted.font-14= t(".hint_1")

          h6= t("admin.territories.motif_categories.edit.title")
          p.text-muted.font-14= t("admin.territories.motif_categories.edit.hint_1")

          - MotifCategory.all.each do |motif_category|
            = f.dsfr_check_box "motif_category_ids_#{motif_category.id}", { label: motif_category.name, checked: current_territory.motif_category_ids.include?(motif_category.id), name: "territory[motif_category_ids][]" }, motif_category.id, nil

          .text-right
            = f.submit "Enregistrer", class: "fr-btn"
