/# locals: (agent:)

- if agent.invitation_accepted_at.nil? && agent.password.nil?
  => link_to "Inviter", invite_super_admins_agent_path(agent), method: :post, class: "button", data: { disable_with: "Veuillez patienter…"} if accessible_action?(agent, :invite)
- unless agent.is_an_intervenant?
  => link_to "Se logger en tant que", sign_in_as_super_admins_agent_path(agent), class: "button" if accessible_action?(agent, :sign_in_as)
=> link_to("Migrer", new_super_admins_agent_migration_path(agent_id: agent.id), class: "button")
- if agent.roles.none?
  = link_to("Ouvrir un compte", new_super_admins_compte_path(agent_id: agent.id), class: "button")
