/# locals: (agent:)

header.main-content__header style="width: 100%;"
  h2.main-content__page-title
    | Fonctionnalités en accès limité
section.main-content__body
  table.table.table-striped
    thead
      tr
        th Fonctionnalité
        th État
        th Action
    tbody
      - Agent::AVAILABLE_FEATURES.each do |feature|
        - if agent.feature_enabled?(feature)
          tr
            td= feature
            td Activée
            td= link_to "Désactiver", toggle_feature_super_admins_agent_path(agent_id: agent.id, feature: feature, set_to: "false"), method: :post, class: "button"
        - else
          tr
            td= feature
            td Désactivée
            td= link_to "Activer", toggle_feature_super_admins_agent_path(agent_id: agent.id, feature: feature, set_to: "true"), method: :post, class: "button"
