.text-center.m-auto
  h4.text-dark-50.text-center.mt-0.font-weight-bold.mb-4 Définir mon mot de passe

- if @from_confirmation
  p.text-muted Pour finaliser votre inscription, veuillez définir un mot de passe.

= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, builder: Dsfr::FormBuilder do |f|
  = f.hidden_field :reset_password_token
  .form-group
    = render "common/form/new_password_input", f: f

  .text-center
    = f.submit "Enregistrer", class: "fr-btn"

- unless @from_confirmation
  - content_for :footer do
    = render "devise/shared/links"
