- content_for :title, "Changer de participant"

ul.list-group.fr-mb-3w
  li.list-group-item
    span.fr-icon-draft-fill.fr-mr-1w[aria-hidden="true"]
    = @rdv.motif_name

  li.list-group-item
    span.fr-icon-calendar-fill.fr-mr-1w[aria-hidden="true"]
    = rdv_title(@rdv)
    = rdv_tag(@rdv)

  - if @rdv.home?
    li.list-group-item
      span.fr-icon-home-4-fill.fr-mr-1w[aria-hidden="true"]
      | Ce RDV se déroulera à domicile

  - elsif @rdv.public_office?
    li.list-group-item
      span.fr-icon-building-fill.fr-mr-1w[aria-hidden="true"]
      = human_location(@rdv)
      - if @rdv.lieu&.phone_number
        br
        span.fr-icon-phone-fill.fr-mr-1w[aria-hidden="true"]
        = link_to @rdv.lieu.phone_number, "tel:#{@rdv.lieu.phone_number_formatted}"

  - elsif @rdv.phone?
    li.list-group-item
      span.fr-icon-phone-fill.fr-mr-1w[aria-hidden="true"]
      | RDV Téléphonique

  - if @rdv.motif.instruction_for_rdv.present?
    li.list-group-item
      span.fr-icon-warning-fill.fr-mr-1w[aria-hidden="true"]
      strong Informations supplémentaires&nbsp;:
      .pl-3.pt-1
        = instruction_for_rdv_to_html(@rdv.motif)

  li.list-group-item
    span.fr-icon-team-fill.fr-mr-1w[aria-hidden="true"]
    | Participant

    = form_with url: users_rdv_participations_path(@rdv), builder: Dsfr::FormBuilder do |f|
      - users = current_user.available_users_for_rdv.map { |user| {label: user.full_name, hint: birth_date_and_age(user), value: user.id, checked: user.id.in?(@rdv.user_ids) } }
      = f.dsfr_radio_buttons :users, users, legend: "", required: true, rich: true, name: "user_id"
      ul.fr-btns-group.fr-btns-group--inline-md.fr-btns-group--right
        li
          = link_to "Ajouter un proche", new_relative_path(ants_pre_demande_number_required: @rdv.requires_ants_predemande_number?, ants_meeting_point_id: @rdv.lieu_id),  class: "fr-btn fr-btn--tertiary", data: { modal: true }
        li
          = submit_tag "Enregistrer", class: "fr-btn"
