.dropdown-menu {
  box-shadow: $shadow;
}

.show {
  > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0 !important;
  }
}


// Dropdown Large (Custom)
.dropdown-lg { // Unused ?
  width: $dropdown-lg-width;
}

@include media-breakpoint-down(sm) {
  .dropdown-lg {// Unused ?
    width: 200px !important;
  }
}


// Dropdown arrow hide
.arrow-none {
  &:after {
    display: none;
  }
}
