.dropdown-menu {
  box-shadow: $shadow;
}

.show {
  > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0 !important;
  }
}

// Dropdown arrow hide
.arrow-none {
  &:after {
    display: none;
  }
}
