
.badge-motif-reservable_online {
  background-color: $yellow;
  color: $dark;
}

.badge-motif-phone {
  background-color: $cyan;
  color: $white;
}

.badge-motif-home {
  background-color: $gray-900;
  color: $white;
}

.badge-motif-secretariat {
  background-color: $orange;
  color: $dark;
}

.badge-motif-follow_up {
  background-color: $green;
  color: $white;
}

.badge-motif-sectorisation_level_organisation,
.badge-motif-sectorisation_level_departement {
  border: 1px solid $gray-900;
}
