a.rdv-status {
  border:0;
  border-radius: 5px;
}

a.rdv-status-unknown {
  background-color: $blue;
  color: $white;
}

a.rdv-status-waiting {
  background-color: $turquoise;
  color: $blue;
}

a.rdv-status-seen {
  background-color: $green;
  color: $blue;
}

a.rdv-status-excused {
  background-color: $green;
  color: $blue;
}

a.rdv-status-notexcused {
  background-color: #fe6376;
  color: $blue;
}
