.select2-results__options[aria-multiselectable=true]
.select2-results__option[aria-selected=true] {
  font-style: italic;

  &::before {
    content: "×";
    font-style: initial;
    padding-right: 10px;
  }
}

.select2-results__options[aria-multiselectable=true]
.select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
  background-color: $tertiary;
  color: $dark;
}

.select2-container--bootstrap4 .select2-results__group {
  font-size: initial;
}
