.timeline-alt {
  padding: 20px 0;
  position: relative; }
.timeline-alt:before {
  background-color: #e3eaef;
  bottom: 30px;
  content: "";
  left: 9px;
  position: absolute;
  top: 30px;
  width: 2px;
  z-index: 0; }
.timeline-alt .timeline-item {
  position: relative; }
.timeline-icon {
  float: left;
  margin-top: 4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  background-color: #fff; }
.timeline-alt .timeline-item .timeline-item-info {
  margin-left: 30px; }