.bg-overlay {
  background: rgba(255, 255, 255, .9);
}

.translucent {
  opacity: 0.5;
}

.strikethrough {
  text-decoration: line-through;
}

a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}

.word-break-all {
  word-break: break-all;
}

.d-grid {
  display: grid;
}
.grid-three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-align-center {
  align-items: center;
}
.grid-first-column-empty > *:nth-child(1) {
  grid-column-start: 2;
}

.flex-gap-1em {
  gap: 0 1em;
}

ul.horizontal-border-between-items {
  li {
    border-bottom: 1px solid #eee;
  }
  li:last-child {
    border-bottom: none;
  }
}
