.bg-overlay {
  background: rgba(255, 255, 255, .9);
}

.translucent {
  opacity: 0.5;
}

.strikethrough {
  text-decoration: line-through;
}

a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}

.word-break-all {
  word-break: break-all;
}
