---
http_interactions:
- request:
    method: propfind
    uri: https://ox8-oidc.ox8-oidc.osprod.dimail1.numerique.gouv.fr/dav/caldav/1234_calendar_id
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
            <apple:calendar-color/>
            <dav:sync-token/>
            <dav:supported-report-set/>
            <caldav:supported-calendar-component-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:APPLE="http://apple.com/ns/ical/" xmlns:CAL="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/</D:href>
            <D:propstat>
              <D:prop>
                <D:displayname>agenda test1</D:displayname>
                <calendar-color xmlns="http://apple.com/ns/ical/" symbolic-color="custom">#cc73e1</calendar-color>
                <D:sync-token>1768988597604.0.2</D:sync-token>
                <D:supported-report-set>
                  <D:supported-report>
                    <D:report>
                      <CAL:calendar-multiget/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <CAL:calendar-query/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:acl-principal-prop-set/>
                    </D:report>
                  </D:supported-report>
  [...]
- request:
    method: report
    uri: https://ox8-oidc.ox8-oidc.osprod.dimail1.numerique.gouv.fr/dav/caldav/1234_calendar_id
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT"/>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:APPLE="http://apple.com/ns/ical/" xmlns:CAL="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/fa75d9fe-2063-465e-a323-dd8ae7589746.ics</D:href>
            <D:propstat>
              <D:prop>
                <D:getetag>2-184187-1768594849785</D:getetag>
                <calendar-data xmlns="urn:ietf:params:xml:ns:caldav">BEGIN:VCALENDAR
        VERSION:2.0
        PRODID:-//Open-Xchange//8.43.61//EN
        BEGIN:VTIMEZONE
        TZID:Europe/Paris
        LAST-MODIFIED:20250410T142247Z
        TZURL:https://www.tzurl.org/zoneinfo-outlook/Europe/Paris
        X-LIC-LOCATION:Europe/Paris
        BEGIN:DAYLIGHT
        TZNAME:CEST
        TZOFFSETFROM:+0100
        TZOFFSETTO:+0200
        DTSTART:19700329T020000
        RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU
        END:DAYLIGHT
        BEGIN:STANDARD
        TZNAME:CET
        TZOFFSETFROM:+0200
        TZOFFSETTO:+0100
        DTSTART:19701025T030000
        RRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU
        END:STANDARD
        END:VTIMEZONE
        BEGIN:VEVENT
        DTSTAMP:20260116T202049Z
        CLASS:PUBLIC
        CREATED:20260116T202049Z
        DTEND;TZID=Europe/Paris:20260113T101500
        DTSTART;TZID=Europe/Paris:20260113T094500
        LAST-MODIFIED:20260116T202049Z
        PRIORITY:0
        RRULE:FREQ=WEEKLY;BYDAY=MO,TU,WE,TH
        SEQUENCE:0
        SUMMARY:Daily
        TRANSP:OPAQUE
        UID:fa75d9fe-2063-465e-a323-dd8ae7589746
        END:VEVENT
        END:VCALENDAR</calendar-data>
              </D:prop>
              <D:status>HTTP/1.1 200 OK</D:status>
            </D:propstat>
          </D:response>
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/6a54e0b7-93cf-43e4-a854-afd8e3d3f2c4.ics</D:href>
            <D:propstat>
              <D:prop>
                <D:getetag>2-184188-1768594866238</D:getetag>
                <calendar-data xmlns="urn:ietf:params:xml:ns:caldav">BEGIN:VCALENDAR
        VERSION:2.0
        PRODID:-//Open-Xchange//8.43.61//EN
        BEGIN:VTIMEZONE
        TZID:Europ[...]
