---
http_interactions:
- request:
    method: propfind
    uri: https://ox8-oidc.ox8-oidc.osprod.dimail1.numerique.gouv.fr/dav/caldav/1234_calendar_id
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
            <apple:calendar-color/>
            <dav:sync-token/>
            <dav:supported-report-set/>
            <caldav:supported-calendar-component-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:APPLE="http://apple.com/ns/ical/" xmlns:CAL="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/</D:href>
            <D:propstat>
              <D:prop>
                <D:displayname>agenda VCR</D:displayname>
                <calendar-color xmlns="http://apple.com/ns/ical/" symbolic-color="custom">#ff2968</calendar-color>
                <D:sync-token>1769419251161.0.1</D:sync-token>
                <D:supported-report-set>
                  <D:supported-report>
                    <D:report>
                      <CAL:calendar-multiget/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <CAL:calendar-query/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:acl-principal-prop-set/>
                    </D:report>
                  </D:supported-report>
  [...]
- request:
    method: report
    uri: https://ox8-oidc.ox8-oidc.osprod.dimail1.numerique.gouv.fr/dav/caldav/1234_calendar_id
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT"/>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:APPLE="http://apple.com/ns/ical/" xmlns:CAL="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/c766aa62-c76e-48eb-a6a1-c5a496ec740b.ics</D:href>
            <D:propstat>
              <D:prop>
                <D:getetag>2-193694-1769419251161</D:getetag>
                <calendar-data xmlns="urn:ietf:params:xml:ns:caldav">BEGIN:VCALENDAR
        VERSION:2.0
        PRODID:-//Open-Xchange//8.43.61//EN
        BEGIN:VTIMEZONE
        TZID:Europe/Paris
        LAST-MODIFIED:20250410T142247Z
        TZURL:https://www.tzurl.org/zoneinfo-outlook/Europe/Paris
        X-LIC-LOCATION:Europe/Paris
        BEGIN:DAYLIGHT
        TZNAME:CEST
        TZOFFSETFROM:+0100
        TZOFFSETTO:+0200
        DTSTART:19700329T020000
        RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU
        END:DAYLIGHT
        BEGIN:STANDARD
        TZNAME:CET
        TZOFFSETFROM:+0200
        TZOFFSETTO:+0100
        DTSTART:19701025T030000
        RRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU
        END:STANDARD
        END:VTIMEZONE
        BEGIN:VEVENT
        DTSTAMP:20260126T092051Z
        CLASS:PUBLIC
        CREATED:20260126T092051Z
        DTEND;TZID=Europe/Paris:20260128T173000
        DTSTART;TZID=Europe/Paris:20260128T170000
        LAST-MODIFIED:20260126T092051Z
        PRIORITY:0
        SEQUENCE:0
        SUMMARY:dispo
        TRANSP:TRANSPARENT
        UID:c766aa62-c76e-48eb-a6a1-c5a496ec740b
        END:VEVENT
        END:VCALENDAR</calendar-data>
              </D:prop>
              <D:status>HTTP/1.1 200 OK</D:status>
            </D:propstat>
          </D:response>
        </D:multistatus>
  recorded_at: Mon, 26 Jan 2026 09:22:56 GMT
recorded_with: VCR 6.4.0
