/# locals: (booking_link:)
.d-flex.rdv-align-items-baseline
  = link_to(booking_link, booking_link, target: "_blank")
  = render "common/copy_to_clipboard_button", { clipboard_content: booking_link }
