/# locals: (motif:)
- availabilities_count = motif.upcoming_availabilities.count
.fr-col-12
  .card.fr-enlarge-link
    .card-body
      .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
        h3.fr-h5 = link_to motif.name, admin_organisation_online_booking_motif_path(@organisation, motif)
        = render "admin/organisations/online_booking/availability_badge", motif:, availabilities_count:
      p.fr-mb-0
        = location_type_icon(motif.location_type, class: "fr-mr-1w")
        = motif.human_attribute_value(:location_type)
        = " · "
        = "#{motif.default_duration_in_min} mn"

        - if availabilities_count
          = " · "
          - if motif.collectif?
            - if availabilities_count > 0
              | #{availabilities_count} rendez-vous avec des places disponibles
            - else
              | Pas de rendez-vous avec des places disponibles
          - else
            - if availabilities_count > 0
              | #{availabilities_count} #{"plage".pluralize(availabilities_count)} d'ouverture
            - else
              | Pas de plage d'ouverture
