/# locals: (motif:)
- availabilities_count = motif.upcoming_availabilities.count
.fr-col-12
  .card.fr-enlarge-link
    .card-body.fr-pb-0
      .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
        .d-flex
          h3.fr-h6 = link_to motif.name, admin_organisation_online_booking_motif_path(@organisation, motif)
          p.fr-mb-0.fr-ml-2w
            = location_type_icon(motif.location_type, class: "fr-mr-1w")
            = motif.human_attribute_value(:location_type)
        div
          = render "admin/organisations/online_booking/motifs/availability_badge", motif:, availabilities_count:


