= render "admin/organisations/configurations/fil_ariane", current_page_title: "Réservation en ligne"

- content_for :title do
  | Réservation en ligne

.fr-grid-row
  .fr-col-12.fr-col-lg-10
    .card.card-body
      p La réservation en ligne n'est pas encore configurée pour cette organisation.
      p Un administrateur de l'organisation peut activer cette fonctionnalité pour un ou plusieurs motifs.
