h1 Bienvenue

- if operator_manager_signed_in?
  | Vous êtes connecté en tant que #{current_operator_manager["first_name"]}.
- else
  = render "common/proconnect_button_dsfr", for_operator_manager: true
