//
// authentication.scss
//

// authentication pages background
body.authentication-bg {
  background-size: cover;
  background-position: center;
  background: linear-gradient(to right, lighten($primary, 30%), lighten($secondary, 30%));
}

.authentication-bg.enlarged,.auth-fluid-pages.enlarged {
  min-height: 100px;
}

// Logout page
.logout-icon {
  width: 140px;
}

// Authentication fluid
.auth-fluid {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  align-items: stretch;
  background-size: cover;

  .auth-fluid-form-box {
    max-width: 960px;
    border-radius: 0;
    z-index: 2;
    padding: 3rem 2rem;
    background-color: $white;
    position: relative;
    width: 100%;
  }

  .auth-fluid-left {
    padding: 6rem 3rem;
    flex: 1;
    position: relative;
    color: $white;
    background-color: $primary;
  }
}


.auth-brand {
  margin-bottom: 2rem;
  display: none;
}

@include media-breakpoint-down(md) {
  .auth-fluid {
    display: block;

    .auth-fluid-form-box {
      max-width: 100%;
      min-height: 100vh
    }

    .auth-fluid-left {
      display: none;
    }
    .auth-brand {
      display: block;
      top: 3rem;
    }
  }
}
