.right-bar {
  background-color: $white;
  box-shadow: 0 0 24px 0 rgba($dark, 0.1), 0 1px 0 0 rgba($dark, 0.08);
  display: block;
  position: fixed;
  transition: all 200ms ease-out;
  width: $rightbar-width;
  z-index: 1000;
  float: right !important;
  right: -($rightbar-width + 10px);
  top: 0;
  bottom: 0;
  .right-bar-title {
    background-color: $primary;
    padding: 1rem;
    color: $white;
  }
  .right-bar-body {
    padding: 1rem;
  }
}

.right-bar-enabled {
  .right-bar {
    right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .right-bar {
    overflow: auto;
    .slimscroll-menu {
      height: auto !important;
    }
  }
}