= render layout: "agents/shared/login_code_verification", locals: { form_url: agents_sessions_by_code_path, resend_path: resend_agents_sessions_by_code_path, show_remember_device: true } do
  p
    |> Votre compte est considéré comme sensible. Pour des raisons de sécurité, la saisie d'un code de vérification envoyé par email est requise à chaque connexion.
    |> Pour en savoir plus sur la vérification par code, consultez notre
    => external_link_to "documentation", "https://aide.rdv-service-public.fr/toutes-les-notions/authentification-a-deux-facteurs-par-code", class: "fr-link"
