= render "prescription_banner"

span Prenez rendez-vous en ligne
- unless context.invitation?
  br.fr-hidden.fr-unhidden-md
  span< avec votre département
  - if context.departement.present?
    span< le #{context.departement}

section.rdv-background-color-flat-blue-ecume.fr-pt-4w.fr-pb-8w
  .fr-container
    #search_form
      = simple_form_for :search, url: prendre_rdv_path, method: :get do |f|
        = f.input :departement, as: :hidden, input_html: { name: "departement", value: context.departement }
        - if context.prescripteur?
          = f.input :prescripteur, as: :hidden, input_html: { name: "prescripteur", value: 1 }
        = f.input :city_code, as: :hidden, input_html: { name: "city_code", value: context.city_code }
        = f.input :street_ban_id, as: :hidden, input_html: { name: "street_ban_id", value: context.street_ban_id }
        = f.input :latitude, as: :hidden, input_html: { name: "latitude", value: context.latitude }
        = f.input :longitude, as: :hidden, input_html: { name: "longitude", value: context.longitude }
        .form-row.d-flex.justify-content-md-center
          / TODO: change input name to address and change whereInput in application.js
          .col-lg-9= f.input :where, label: "Votre adresse", placeholder: "ex : 21 rue Anatole France, Calais", input_html: { value: context.address, name: "address", class: "form-control-lg places-js-container" }, wrapper_html: { class: "mb-1 mb-lg-0" }
          .col-lg-3.align-self-end
            = f.button :button, id: "search_submit", class: "btn-white btn-lg w-100 text-center", disabled: true do
              i.fa.fa-search>
              | Rechercher

section.fr-py-4w
  .fr-container
    h2.rdv-text-align-center  Comment ça marche ?
    .fr-grid-row.fr-grid-row--gutters.mt-5
      .fr-col-12.fr-col-lg-3
        .rdv-text-align-center.mb-3
          .d-flex.justify-content-center
            = image_tag "welcome/location.svg", class: "img-circle mb-3", alt: "premièrement"
          span.rdv-color-text-action-high-blue-ecume.mt-3 Choisir votre adresse
      .fr-col-12.fr-col-lg-3
        .rdv-text-align-center.mb-3
          .d-flex.justify-content-center
            = image_tag "welcome/service.svg", class: "img-circle mb-3", alt: "deuxièmement"
          span.rdv-color-text-action-high-blue-ecume.mt-3 Choisir un service
      .fr-col-12.fr-col-lg-3
        .rdv-text-align-center.mb-3
          .d-flex.justify-content-center
            = image_tag "welcome/motif.svg", class: "img-circle mb-3", alt: "troisièmement"
          span.rdv-color-text-action-high-blue-ecume.mt-3 Choisir un motif
      .fr-col-12.fr-col-lg-3
        .rdv-text-align-center.mb-3
          .d-flex.justify-content-center
            = image_tag "welcome/creneau.svg", class: "img-circle mb-3", alt: "et quatrièmement"
          span.rdv-color-text-action-high-blue-ecume.mt-3 Choisir un créneau

section.rdv-background-color-alt-green-menthe.fr-py-4w.rdv-text-align-center.rdv-text-align-md-left
  .fr-container
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-3.align-items-center
        = image_tag "welcome/agent.svg", class: "mx-auto d-block", alt: ""
      .fr-col-12.fr-col-md-9
        .fr-text--lg.mb-2.rdv-color-text-action-high-blue-ecume Vous êtes un agent ?
        p Nous nous engageons à réduire le nombre de rendez-vous manqués dans les services sociaux départementaux.
        = link_to "En savoir plus", presentation_agent_path, class: "btn btn-tertiary"
