.fr-mb-3w
  .rdv-text-align-center
    = link_to "Accéder à superadmin", "/omniauth/github", class: "fr-btn", data: { turbo_method: :post }

  - if Rails.env.development?
    .fr-col-lg-3.fr-col-offset-lg-5.fr-mt-3w
      h5 Liens utiles
      ul
        li = link_to "Letter Opener", letter_opener_web_path
        li = link_to "Mailer Previews", "/rails/mailers"
        li = link_to "SMS Previews", "/lapin/sms_preview"
        li = link_to "Routes", "/rails/info/routes"
        li = link_to "Rails properties", "/rails/info/properties"
