div.text-center
  = link_to "/omniauth/microsoft_graph?login_hint=#{current_agent.email}", class: "mb-4", method: :post do
    = image_tag("sign_in_with_microsoft.svg", alt: "Se connecter avec Microsoft")
