section.rdv-background-color-alt-blue-ecume.fr-pt-4w.fr-pb-8w
  .fr-container
    #search_form.fr-col-lg-10.fr-col-offset-lg-1
      = render "search/address_selection/address_form", address: context.address, prescripteur: context.prescripteur?
