section.rdv-background-color-alt-blue-ecume.fr-pt-4w.fr-pb-8w
  .fr-container
    #search_form.fr-col-lg-10.fr-col-offset-lg-1
      = form_with url: prendre_rdv_path, method: :get, scope: :search do |f|
        = f.hidden_field :departement, name: "departement", value: context.departement
        = f.hidden_field :city_code, name: "city_code", value: context.city_code
        = f.hidden_field :street_ban_id, name: "street_ban_id", value: context.street_ban_id
        = f.hidden_field :latitude, name: "latitude", value: context.latitude
        = f.hidden_field :longitude, name: "longitude", value: context.longitude
        - if context.prescripteur?
          = f.hidden_field :prescripteur, name: "prescripteur", value: 1
        = f.label :where, class: "fr-label" do
          | Saisissez votre adresse
          span.fr-hint-text
            | Exemple : 21 rue Anatole France, Calais
        .fr-search-bar.fr-search-bar--lg.autocomplete-wrapper[role="search"]
        / TODO: change input name to address and change whereInput in application.js

        .fr-search-bar.fr-search-bar--lg[role="search"]
          = f.text_field :where, name: "address", class: "fr-input", required: true, value: context.address, data: { "address-autocomplete": "on" }, aria: { describedby: "where-error-message" }
          = button_tag :button, id: "search_submit", class: "fr-btn" do
            | Rechercher
        .fr-messages-group.fr-mt-2v#where-error-message[aria-live="polite" hidden]
          p.fr-message.fr-message--error#where-error-message-text
