---
http_interactions:
- request:
    method: get
    uri: https://operateurs.suite.anct.gouv.fr/api/v1.0/entitlements/?account_email=contact@mairie-nantes.fr&account_type=user&service_id=49&siret=21550050500015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
      Authorization: "[Filtered in vcr.rb -> before_record]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - fr-fr
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
    body:
      encoding: UTF-8
      string: |-
        {
          "organization": {
            "type": "other",
            "name": "Bezonvaux",
            "oidc_valid": null
          },
          "operator": {
            "name": "TEST",
            "siret": "13002603200016",
            "url": null,
            "config": {}
          },
          "entitlements": {
            "can_access": true,
            "is_admin": false
          }
        }
  recorded_at: Wed, 01 Apr 2026 09:59:46 GMT
recorded_with: VCR 6.4.0
