---
http_interactions:
- request:
    method: get
    uri: https://operateurs.suite.anct.gouv.fr/api/v1.0/entitlements/?account_email=contact@mairie-nantes.fr&account_type=user&service_id=49&siret=21550050500015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Service-Auth:
      - Bearer fake-token
      Authorization: "[Filtered in vcr.rb -> before_record]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - fr-fr
    body:
      encoding: UTF-8
      string: '{"organization":{"type":"other","name":"Bezonvaux","oidc_valid":null},"operator":{"id":"f33e9b4b-213f-4db9-8b39-ab17558f2931","name":"TEST","url":null,"config":{}},"entitlements":{"can_access":true,"is_admin":false,"is_admin_reason":"no_account"}}'
  recorded_at: Mon, 09 Mar 2026 17:05:01 GMT
recorded_with: VCR 6.4.0
