ruby:
  visibility_types = %i[visible_and_notified visible_and_not_notified invisible].map do |value|
    {
      value:,
      checked: @motif.visibility_type == value.to_s || (motif.new_record? && value == :visible_and_notified),
      label: sanitize(Motif.human_attribute_value(:visibility_type, value, context: :html)),
      hint: Motif.human_attribute_value(:visibility_type, value, context: rdvi_mode ? :hint_rdv_insertion : :hint),
    }
  end

.card.card-body.fr-pb-0
  = f.dsfr_radio_buttons :visibility_type, visibility_types, legend: sanitize("<b>#{t('activerecord.attributes.motif.visibility_type')}</b>"), hint: "Si ce motif est sensible (par exemple s'il lié à des services médicaux ou sociaux), vous pouvez désactiver les notifications pour protéger la confidentialité de vos usagers."

.card.card-body.fr-pb-0
  fieldset.fr-fieldset.fr-mb-0
    legend.fr-fieldset__legend--regular.fr-fieldset__legend.fr-text--bold
      = Motif.human_attribute_name("follow_up_short")
      span.fr-hint-text
        = Motif.human_attribute_name("follow_up_warning")
    = f.dsfr_check_box :follow_up, "data-action": "change->motif-form#refreshSections", "data-motif-form-target": "followUpCheckbox"

.card.card-body.fr-pb-0
  fieldset.fr-fieldset.fr-mb-0 [data-motif-form-target="secretariatSection"]
    legend.fr-fieldset__legend--regular.fr-fieldset__legend.fr-text--bold
      = Motif.human_attribute_name("for_secretariat_short")
      span.fr-hint-text
        = Motif.human_attribute_name("for_secretariat_hint")
    = f.dsfr_check_box :for_secretariat, label: Motif.human_attribute_name("for_secretariat_label"), class: "js-uncheck-on-section-disable"

- prescription_cannot_be_disabled = @motif.bookable_by.to_sym.in?(%i[agents_and_prescripteurs_and_invited_users everyone])

.card.card-body.fr-pb-0
  fieldset.fr-fieldset.fr-mb-0
    legend.fr-fieldset__legend--regular.fr-fieldset__legend.fr-text--bold
      | Ouverture aux prescripteurs
      span.fr-hint-text
        = sanitize(t("activerecord.attributes.motif.prescription_hint"))
        - if prescription_cannot_be_disabled
          br
          | Ce motif étant ouvert à la réservation en ligne, il est automatiquement ouvert aux prescripteurs.
    = f.dsfr_check_box :prescription, label: "Autoriser les prescripteurs à prendre rendez-vous pour ce motif", checked: (prescription_cannot_be_disabled || @motif.bookable_by.to_sym == :agents_and_prescripteurs ), disabled: prescription_cannot_be_disabled

- if current_territory.motif_categories.present?
  = f.dsfr_select :motif_category_id, current_territory.motif_categories.collect { |motif_categorie| [motif_categorie.name, motif_categorie.id] }, { include_blank: "Aucune" }, label: MotifCategory.model_name.human, hint: MotifCategory.human_attribute_name("category_hint")
