.d-flex.flex-column
  ruby:
    location_types = Motif.location_types.each_key.map do |value|
      {
              value:,
              checked: @motif.location_type == value,
              label: content_tag(:span, location_type_icon(value, class: "fr-mr-1w") + Motif.human_attribute_value(:location_type, value)),
              hint: sanitize(Motif.human_attribute_value(:location_type, value, context: :hint), scrubber: :prune),
      }
    end
  = f.dsfr_radio_buttons :location_type, location_types, disabled:, "data-action": "change->motif-form#refreshSections", "data-motif-form-target": "locationTypeRadios", hint: "Choisissez le type du rendez-vous", rich: true
  - motif = f.object
  - if motif.persisted?
    p.text-muted.font-14
      = icon("fr-icon-information-fill")
      |> Pour permettre plusieurs types de rendez-vous, vous pouvez
      = link_to("dupliquer ce motif", new_admin_organisation_motif_path(current_organisation, duplicated_from_motif_id: motif.id))
      | .

- if disabled
  = dsfr_alert type: :warning, size: :sm, html_attributes: { class: "fr-mb-2v" } do
    | Ce motif est déjà utilisé dans au moins un RDV, il n'est pas possible de changer le type
