.card
  .card-body.pt-4
    ruby:
      visibility_types = %i[visible_and_notified visible_and_not_notified invisible].map do |value|
        { value:,
          checked: @motif.visibility_type == value || (motif.new_record? && value == :visible_and_notified),
          label: sanitize(Motif.human_attribute_value(:visibility_type, value, context: :html)),
          hint: Motif.human_attribute_value(:visibility_type, value, context: rdvi_mode ? :hint_rdv_insertion : :hint), }
      end
    = f.dsfr_radio_buttons :visibility_type, visibility_types

.card
  .card-body
    fieldset.fr-fieldset
      legend.fr-fieldset__legend--regular.fr_fieldset__legend
        | Consignes à destination de l'usager
        span.fr-hint-text Vous pouvez paramétrer des messages par défaut, qui s’afficheront avant la prise de rendez-vous, après la confirmation du rendez-vous, et/ou en cas d’annulation du rendez-vous.
      .fr-fieldset__element
        = f.dsfr_text_area :restriction_for_rdv,
                label: sanitize("Instructions à accepter <strong>avant</strong> la prise du RDV"),
                placeholder: "Laissez vide si vous ne souhaitez pas donner d’instruction.",
                input_html: { rows: 5 },
                wrapper_html: { class: "mb-1" },
                hint: link_to("Voir un exemple", image_path("motif_form/restriction_for_rdv.png"), target: "_blank")
      .fr-fieldset__element
        = f.dsfr_text_area :instruction_for_rdv,
                label: sanitize("Instructions affichées <strong>après</strong> la prise du RDV"),
                placeholder: "Laissez vide si vous ne souhaitez pas donner d’instruction.",
                input_html: { rows: 5 },
                wrapper_html: { class: "mb-1" },
                hint: link_to("Voir un exemple", image_path("motif_form/instruction_for_rdv.png"), target: "_blank")
      .fr-fieldset__element
        = f.dsfr_text_area :custom_cancel_warning_message,
                label: sanitize("Message d’avertissement </strong>en cas d’annulation</strong>"),
                placeholder: "Laissez vide si vous ne souhaitez pas afficher de messager d’avertissement.",
                  input_html: { rows: 5 },
                  wrapper_html: { class: "mb-1" },
                  hint: link_to("Voir un exemple", image_path("motif_form/custom_cancel_warning_message.png"), target: "_blank")
