- content_for(:title) { "Espace à ajouter au CRM" }

header.main-content__header
  h1.main-content__page-title
    = content_for(:title)

section.main-content__body
  dl
    dt.attribute-label.attribute-label--normal-case Espace
    dd.attribute-data = @territory.name_in_stats

    dt.attribute-label.attribute-label--normal-case Administré par
    dd.attribute-data
      = @territory.admin_agents.map { |agent| "#{agent.full_name} (#{agent.email})" }.to_sentence

    dt.attribute-label.attribute-label--normal-case Crée le
    dd.attribute-data = "#{l(@territory.created_at, format: :human)} (il y a #{time_ago_in_words(@territory.created_at)})"

    dt.attribute-label.attribute-label--normal-case Lieux
    dd.attribute-data = Lieu.joins(:organisation).where(organisations: { territory_id: @territory.id }).pluck(:name).to_sentence

    - siret = @territory.admin_agents.where.not(proconnect_siret: nil).order("created_at desc").first&.proconnect_siret
    - if siret
      dt.attribute-label SIRET
      dd.attribute-data
        = link_to(siret, "https://annuaire-entreprises.data.gouv.fr/etablissement/#{siret}", target: "_blank")
        - annuaire_client = AnnuaireServicePublic.new(siret)
        p= link_title = annuaire_client.nom
        - if annuaire_client.mairie?
          p ✅ Cette structure est une mairie

section.main-content__body
  p Ajoutez cet espace au CRM, puis remplissez sa catégorie ici.
  = simple_form_for([namespace, @territory], url: super_admins_accounts_for_crm_path(@territory), html: { class: "form" }) do |f|
    - if @territory.errors.any?
      #error_explanation
        h2
          = t("administrate.form.errors", pluralized_errors: pluralize(@territory.errors.count, t("administrate.form.error")),
            resource_name: display_resource_name(page.resource_name, singular: true))
        ul
          - @territory.errors.full_messages.each do |message|
            li.flash-error= message
    div[style="margin-bottom: 24px"]= f.input :category, as: :select, collection: Compte::CATEGORIES, label: "Catégorie de l'espace"
    div[style="margin-bottom: 16px"]
      = label_tag "add_to_crm", "Créer la carte dans Notion"
      = check_box_tag "add_to_crm", id: "add_to_crm", checked: true
    = f.submit
