- content_for(:title) { "Ajouter un participant" }

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths: [["RDV collectifs", admin_organisation_rdvs_collectifs_path(current_organisation)], [@rdv.motif_name, admin_organisation_rdv_path(current_organisation, @rdv)]], current_page_title: "Ajouter un participant"

.row.justify-content-md-center
  .col-md-12.col-lg-8
    = form_for(@rdv, url: admin_organisation_rdvs_collectif_path(current_organisation), method: :put, builder: Dsfr::FormBuilder) do |f|
      .card
        .card-header
          h3 = rdv_title_for_agent(@rdv)
          = I18n.l(@rdv.starts_at, format: "%A %-d %B à %H:%M").capitalize
        .card-body.px-3
          .row.mt-3
            .col-md-6
              .d-flex.card-text.mb-2
                = icon("fr-icon-team-fill", class: "fr-mr-1w")
                div
                  - if @rdv.max_participants_count
                    = I18n.t("rdvs.seats", count: @rdv.max_participants_count)
                  - else
                    = "Pas de limite de places"

              .d-flex.card-text.mb-3
                = icon("fr-icon-team-fill", class: "fr-mr-1w")
                div
                  = I18n.t("rdvs.participants", count: @rdv.users_count)
                  ul
                    - @rdv.users.each do |user|
                      li= user.full_name

            .col-md-6
              .d-flex.card-text.mb-2
              - if @rdv.public_office?
                = lieu_icon(class: "fr-mr-1w")
                = @rdv.lieu.name
              - elsif @rdv.visio?
                = visio_icon(class: "fr-mr-1w")
                = link_to("Visioconférence", @rdv.visio_url, target: :_blank)

              .d-flex.card-text.mb-2
                = user_icon(class: "fr-mr-1w")
                strong> Animé par &nbsp;
                = agents_to_sentence(@rdv.agents)

              .d-flex.card-text
                = icon("fr-icon-time-fill", class: "fr-mr-1w")
                = "#{@rdv.duration_in_min} minutes"

        .card-footer.px-3
          = render "model_errors", model: @rdv

          .form-group
            = "Usager à inscrire :"
            = f.fields_for :participations, @participations_to_add do |participation_form|
              = render "admin/participations/form", form: participation_form

          div.form-row.grid-align-center.pb-4
            .flex-grow-1.pr-4
              - select2_url = search_admin_organisation_users_path(current_organisation, exclude_ids: @rdv.participations.map(&:user_id))
              = select_tag :user_to_add,
                options_for_select([]),
                include_blank: "Rechercher un usager",
                required: false,
                class: "select2-input js-rdv-user-select",
                data: { \
                  "width": "auto",
                  "scroll-to-bottom": @add_user_ids.present?,
                  "select2-config": { ajax: {  url: select2_url, dataType: "json", delay: 250 } }, \
                }
            = render "admin/users/create_user_cta", path: new_admin_organisation_user_path(current_organisation, modal: true, return_location: edit_admin_organisation_rdvs_collectif_path(current_organisation, @rdv, add_user: @add_user_ids), role: default_service_selection_from(@rdv.motif.service))

          .fr-grid-row.fr-grid-row--gutters
            .fr-col.rdv-justify-content-space-between.d-flex
              = link_to t("helpers.back"), admin_organisation_rdvs_collectifs_path(current_organisation), class: "fr-icon-arrow-left-line fr-btn--icon-left fr-btn fr-btn--tertiary-no-outline"
              = f.submit t("helpers.submit.submit"), class: "fr-btn", disabled: @participations_to_add.empty?
