- content_for :title do
  | RDV collectifs

- needs_collectif_motif = current_organisation.motifs.collectif.active.none?
- content_for :right_of_page_title do
  - unless needs_collectif_motif
    = link_to "Nouveau RDV collectif", admin_organisation_rdvs_collectif_motif_selections_path(current_organisation), class: "fr-btn"

.card
  - unless needs_collectif_motif
    .card-header
      = form_for(@form, as: "", url: admin_organisation_rdvs_collectifs_path(current_organisation), method: :get, builder: Dsfr::FormBuilder) do |f|
        .fr-grid-row.fr-grid-row--gutters.fr-grid-row--bottom
          .fr-col-12.fr-col-md-3
            = f.dsfr_text_field :from_date, \
              label: "À partir du", \
              value: @form.from_date.strftime("%d/%m/%Y"), \
              data: { behaviour: "datepicker" }, \
              autocomplete: "off", \
              placeholder: "__/__/___"
          .fr-col-12.fr-col-md-3
            .fr-select-group
              = f.label :motif_id, "Motif", class: "fr-label"
              = f.select :motif_id, \
                @motifs.map { |motif| [motif_name_and_location_type(motif), motif.id] }, \
                { include_blank: true }, \
                class: "fr-select select2-input", \
                data: { placeholder: "Sélectionnez un motif", "allow-clear": true }
          .fr-col-12.fr-col-md-4
            .fr-checkbox-group
              = f.check_box :with_remaining_seats
              = f.label :with_remaining_seats, "Avec des places disponibles", class: "fr-label"
          .fr-col-12.fr-col-md-2.fr-btns-group--right
            = f.submit "Filtrer", class: "fr-btn fr-btn--secondary"

  .card-body
    - if InstanceExports::CopyPlanningJob.agent_might_have_rdvs_on_old_instance?(current_agent, @form.from_date)
      .fr-notice.fr-notice--info.fr-mb-3w
        .fr-notice__body
          p.fr-mb-0.fr-mx-2w
            span.fr-notice__desc
              | Il est possible que vous ayez des RDV collectifs prévus sur RDV Aide Numérique avant votre migration sur RDV Service Public.
            = link_to  "Ouvrir RDV Aide Numérique", "https://#{Domain::RDV_AIDE_NUMERIQUE.host_name}", class: "fr-btn fr-btn--secondary fr-m-1w"

    - if @rdvs.any?
      = render(partial: "admin/rdvs_collectifs/rdv", collection: @rdvs.includes(:organisation, :users, :lieu, :motif, agents: :services))
      .d-flex.justify-content-center= paginate @rdvs, theme: "dsfr"
    - else
      - if current_organisation.motifs.collectif.active.none?
        = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer un RDV collectif, vous devez d'abord créer un motif de rendez-vous collectif."
      - else
        .row.justify-content-md-center
          .col-md-6.rdv-text-align-center.my-5
            p.mb-2.lead
              | Aucun RDV collectif
