- attribute_name = defined?(name) ? name : :password
= f.dsfr_input_group attribute_name, class: "fr-password fr-mt-2w"
  = f.dsfr_label_with_hint attribute_name, class: "fr-label", for: "password", hint: defined?(hint) ? hint : nil, label: defined?(password_label) ? password_label : nil
  .fr-input-wrap
    = f.password_field attribute_name, autocomplete: "current-password", required: true, class: "fr-password__input fr-input"
    = f.dsfr_error_message attribute_name
  .fr-password__checkbox.fr-checkbox-group.fr-checkbox-group--sm
    input type="checkbox" aria-label="Afficher le mot de passe" id="password-show"
    label for="password-show" class="fr-password__checkbox fr-label" Afficher
