/# locals: (f:, name: :password, hint: nil, password_label: nil, forgotten_password_link: false, forgotten_password_link_label: "Mot de passe oublié ?")

= f.dsfr_input_group name, class: "fr-password fr-mt-2w"
  = f.dsfr_label_with_hint name, class: "fr-label", for: "password", hint: hint, label: password_label
  .fr-input-wrap
    = f.password_field name, autocomplete: "current-password", required: true, class: "fr-password__input fr-input"
    = f.dsfr_error_message name
  .fr-password__checkbox.fr-checkbox-group.fr-checkbox-group--sm
    input type="checkbox" aria-label="Afficher le mot de passe" id="password-show"
    label for="password-show" class="fr-password__checkbox fr-label" Afficher
  - if forgotten_password_link
    = link_to forgotten_password_link_label, new_password_path(resource_name), class: "fr-link"
