/# locals: (f:, hint: nil, password_label: nil)

= f.dsfr_input_group :password, class: "fr-password fr-mt-2w", data: {component: "js_dsfr_new_password"}
  = f.dsfr_label_with_hint :password, class: "fr-label fr-password__label", hint: hint, label: password_label
  .fr-input-wrap
    = f.password_field :password, class: "fr-input fr-password__input", required: "true", autocomplete: "new-password"
    = f.dsfr_error_message :password
  .fr-password__checkbox.fr-checkbox-group.fr-checkbox-group--sm
    input#new-password-show[class="fr-checkbox" aria-label="Afficher le mot de passe" type="checkbox"]
    label.fr-password__checkbox.fr-label[for = "new-password-show"] Afficher
  = render "common/form/password_live_validation"
