.fr-messages-group[aria-live="assertive"]
  p.fr-message#password-input-message
    = "Votre mot de passe doit contenir :"
  p.fr-message.fr-message--info[data-component="js_dsfr_new_password__min_length_message" data-min-length="#{Devise.password_length.first}"] = "#{Devise.password_length.first} caractères minimum"
  p.fr-message.fr-message--info[data-component="js_dsfr_new_password__at_least_one_digit_message"] = "1 chiffre minimum"
  p.fr-message.fr-message--info[data-component="js_dsfr_new_password__at_least_one_capital_letter_message"] = "1 majuscule minimum"
  p.fr-message.fr-message--info[data-component="js_dsfr_new_password__at_least_one_special_character_message"] = "1 caractère spécial minimum"
