tr id="agent_#{agent.id}"
  td
    span.mr-2= agent.reverse_full_name
  td
    = agent.services_short_names
  td.text-right
    div.mr-3
      - if action == :remove
        = button_to "Retirer", admin_organisation_user_referent_assignation_path(current_organisation, @user, agent), method: :delete, class: "fr-btn fr-btn--secondary", data: { confirm: "Voulez-vous vraiment retirer ce référent ?"}
      - elsif action == :add
        = button_to "Ajouter", admin_organisation_user_referent_assignations_path(current_organisation, @user, agent_id: agent.id), method: :post, class: "fr-btn", data: { disable_with: "Veuillez patienter…"}
