/ Link to the "Last" page
/ - available local variables
/   url:           url to the last page
/   current_page:  a page object for the currently displayed page
/   total_pages:   total number of pages
/   per_page:      number of items to fetch per page
/   remote:        data-remote

- if current_page.last?
  = content_tag("a", "Dernière page", title: "Dernière page", role: "link", class: "fr-pagination__link fr-pagination__link--last", aria: { disabled: true })
- else
  = link_to "Dernière page", url, title: "Dernière page", role: "link", class: "fr-pagination__link fr-pagination__link--last"
