.fr-grid-row
  .fr-col-12.fr-col-md-8
    h1.fr-h1 Erreur inattendue

    p Erreur 500

    p Désolé, une erreur s'est produite. Notre équipe technique en a été avertie automatiquement, et va chercher à la résoudre le plus rapidement possible.

    p Vous pouvez retrouver plus d'information sur l'état général de notre service ici&nbsp;:

    = render "admin/static_pages/instatus_iframe"

    p.fr-mt-4w
      |> Essayez de rafraîchir la page ou bien réessayez plus tard.
      |> Si vous avez besoin d’une aide immédiate, merci de nous contacter avec le bouton ci-dessous ou en nous écrivant directement à l’adresse

      = mail_to(current_domain.support_email, current_domain.support_email)

    .fr-btns-group.fr-btns-group--inline
      = link_to "Contactez-nous", new_aide_demande_support_path(sujet: "Erreur 500"), class: "fr-btn"
      = link_to("Retour à l'accueil", root_path, class: "fr-btn fr-btn--secondary")

  .fr-col-0.fr-col-md-4
    = image_tag "static_pages/not_found_illustration.svg", class: "img-fluid fr-p-3w", alt: ""
