.fr-grid-row
  .fr-col-12.fr-col-md-8
    h1.fr-h1 Page introuvable

    p Erreur 404

    p La page que vous cherchez est introuvable. Veuillez nous excuser pour la gêne occasionnée.

    p Si vous souhaitiez accéder à un RDV ou un agent, il est possible qu’il ait été supprimé.

    p Si vous avez tapé l’adresse web dans le navigateur, vérifiez qu’elle est correcte. La page n’est peut-être plus disponible.

    p
      |> Vous pouvez retourner sur la page d’accueil, ou nous contacter pour que l’on puisse vous rediriger vers la bonne page, avec le bouton ci-dessous.

    .fr-btns-group.fr-btns-group--inline
      = link_to "Contactez-nous", new_aide_demande_support_path(sujet: "Erreur 404", message: "\n\n--- votre message au-dessus ---\n\nErreur rencontrée sur la page : #{request.original_url}"), class: "fr-btn"
      = link_to("Retour à l'accueil", root_path, class: "fr-btn fr-btn--secondary")

  .fr-col-0.fr-col-md-4
    = image_tag "static_pages/not_found_illustration.svg", class: "img-fluid fr-p-3w", alt: ""
