= icon("fr-icon-admin-fill", class: "fr-mr-1w")
| Intervenant
br
ul
  li Ne nécessite pas d'email et ne peut donc pas se connecter
  li Ne peut pas modifier son agenda
  li Ne reçoit aucune notification
