- content_for :title, "Paramètres de #{current_territory.name_for_agent}"

= link_to(root_path, class: "pt-1 pb-4") do
  = icon("fr-icon-arrow-left-line")
  |< Retour à l'accueil

h1.fr-my-2w.rdv-text-align-center.fr-pb-2w =  t("admin.territories.show.title", territory: current_territory.name_for_agent)

.fr-container-fluid
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-4.fr-mb-2w
      .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
        .fr-tile__body
          .fr-tile__content
            h2.fr-tile__title
              = link_to admin_territory_organisations_path(current_territory) do
                | Organisations
            .fr-tile__desc
              | Gérer les organisations
        .fr-tile__header
          .fr-tile__pictogram
            = dsfr_svg "artwork/pictograms/buildings/city-hall"
    - if Configuration::AgentPolicy.allowed_to_manage_agents_in?(current_territory, current_agent)
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to admin_territory_agents_path(current_territory) do
                  | Agents
              .fr-tile__desc
                | Inviter des agents, affecter à des équipes
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/digital/avatar"
    - if Agent::TerritoryPolicy.new(current_agent, current_territory).edit?
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to admin_territory_motifs_path(current_territory) do
                  | Motifs
              .fr-tile__desc
                | Lister, modifier, supprimer les motifs de toutes vos organisations
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/document/document"
    - if Agent::TerritoryPolicy.new(pundit_user, current_territory).edit?
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to edit_admin_territory_path(current_territory) do
                  | Nom de l'espace
              .fr-tile__desc
                | Nom de l'espace et département
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/system/system"
    - if Agent::TerritoryPolicy.new(current_agent, current_territory).edit?
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to edit_admin_territory_services_path(current_territory) do
                  | Services
              .fr-tile__desc
                | Choisir la liste des services auxquels les agents peuvent être affectés
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/digital/search"

h2.rdv-text-align-center.fr-pt-4w.fr-pb-2w Paramètres avancés

.fr-container-fluid
  .fr-grid-row.fr-grid-row--gutters
    - if Agent::TeamPolicy.allowed_to_manage_teams_in?(current_territory, current_agent)
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to admin_territory_teams_path(current_territory) do
                  | Équipes
              .fr-tile__desc
                | Construire des équipes pour grouper des agents
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg image_path("custom-artworks/ecosystem.svg"), custom: true
    - if Agent::WebhookEndpointPolicy.allowed_to_manage_webhooks_in?(current_territory, current_agent)
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to admin_territory_webhook_endpoints_path(current_territory) do
                  | Webhook
              .fr-tile__desc
                | Interconnecter #{current_domain.name} avec vos systèmes.
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg image_path("custom-artworks/flow-list.svg"), custom: true
    - if Agent::SectorPolicy.allowed_to_manage_sectors_in?(current_territory, current_agent)
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to admin_territory_sectorization_path(current_territory) do
                  | Sectorisation
              .fr-tile__desc
                | Créer, importer, affecter vos secteurs géographiques.
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg image_path("custom-artworks/location-overseas-france.svg"), custom: true
    - if Agent::TerritoryPolicy.new(current_agent, current_territory).edit?
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to edit_admin_territory_user_fields_path(current_territory) do
                  | Fiches usagers
              .fr-tile__desc
                | Gérer les informations enregistrées sur les usagers
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/document/document-add"
    - if Agent::TerritoryPolicy.new(current_agent, current_territory).edit?
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to edit_admin_territory_rdv_fields_path(current_territory) do
                  | Fiches rendez-vous
              .fr-tile__desc
                | Gérer les informations enregistrées sur les rendez-vous
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/document/document-add"
      .fr-col-12.fr-col-md-4.fr-mb-2w
        .fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md
          .fr-tile__body
            .fr-tile__content
              h2.fr-tile__title
                = link_to edit_admin_territory_motif_fields_path(current_territory) do
                  | Champs optionnels pour les motifs
              .fr-tile__desc
                | Gérer les options de configuration des motifs
          .fr-tile__header
            .fr-tile__pictogram
              = dsfr_svg "artwork/pictograms/document/document-add"
