= territory_navigation(t(".title"))

.fr-grid-row.justify-content-center
  .fr-col-md-8
    .card
      .card-body
        = form_for current_territory, url: admin_territory_rdv_fields_path(current_territory), builder: Dsfr::FormBuilder do |f|
          = render "model_errors", model: current_territory

          h1.fr-h2= t(".card_title")
          p.fr-text-mention--grey.font-14= t(".hint_1")
          p.fr-text-mention--grey.font-14= t(".hint_2")

          - Territory::OPTIONAL_RDV_FIELD_TOGGLES.each do |toggle, field_name|
            = f.dsfr_check_box toggle, label: Rdv.human_attribute_name(field_name)
          .text-right
            = f.submit t("helpers.submit.update"), class: "fr-btn"

    .card
      .card-body
        = form_for current_territory, url: admin_territory_rdv_fields_path(current_territory), builder: Dsfr::FormBuilder do |f|
          = render "model_errors", model: current_territory

          h1.fr-h2= t(".waiting_room_title")
          p.fr-text-mention--grey.font-14= t(".waiting_room_config_hint")

          - Territory::OPTIONAL_RDV_WAITING_ROOM_FIELD_TOGGLES.each do |toggle, field_name|
            = f.dsfr_check_box toggle, label: Rdv.human_attribute_name(field_name)
          .text-right
            = f.submit t("helpers.submit.update"), class: "fr-btn"
