- content_for :title, "Formulaire de contact"

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.breadcrumb label: "Contact", href: contact_path
    = b.breadcrumb label: "Aide pour les usagers", href: aide_usager_path
    = b.breadcrumb label: "Contacter l’équipe de RDV Service Public", href: aiguillage_usager_path
    = b.breadcrumb label: yield(:title)

.fr-grid-row.fr-mb-4w
  .fr-col-12.fr-col-md-8
    = form_for @form, url: demande_support_path, method: :POST, builder: DsfrFormBuilder do |f|
      = f.hidden_field :role
      = f.hidden_field :sujet

      -# rubocop:disable Rails/OutputSafety
      = f.dsfr_text_field :sujet,
        value: @form.sujet,
        label: "La raison de votre message",
        disabled: true,
        hint: "Pour modifier cette raison, <a href='#{aiguillage_usager_path}'>veuillez revenir en arrière</a>".html_safe
      -# rubocop:enable Rails/OutputSafety

      .fr-grid-row.fr-grid-row--gutters.fr-mb-2w
        .fr-col-12.fr-col-md-6
          = f.dsfr_text_field :first_name, label: "Votre prénom", required: true
        .fr-col-12.fr-col-md-6
          = f.dsfr_text_field :last_name, label: "Votre nom de famille", required: true
      .fr-grid-row.fr-grid-row--gutters.fr-mb-2w
        .fr-col-12.fr-col-md-6
          = f.dsfr_email_field :email, label: "Votre email", required: true
        .fr-col-12.fr-col-md-6
          = f.dsfr_phone_field :phone, label: "Votre numéro de téléphone (facultatif)"
      = f.dsfr_text_area :message, rows: 5, label: "Votre message", required: true

      ul.fr-btns-group.fr-btns-group--inline
        li= link_to "Annuler", aide_usager_path, class: "fr-btn fr-btn--secondary"
        li= f.submit "Envoyer votre demande", class: "fr-btn"

      - if @form.role_usager?
        .fr-alert.fr-alert--info.fr-my-2w
          p Merci de ne pas inclure d’informations sensibles (par exemple des informations de santé) dans votre message.
          p Ce message sera reçu par l’équipe de RDV Service Public, et non pas par les agents publics avec qui vous avez RDV.
