- content_for :title, "Demande de support"

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.breadcrumb label: "Contact", href: contact_path
    = b.breadcrumb label: "Aide pour les usagers", href: aide_usager_path
    = b.breadcrumb label: "Demande de support"

.fr-grid-row.fr-mb-4w
  .fr-col-md-8
    p.fr-mb-4w
      ' Ce formulaire permet de recevoir du support de la part de l’équipe technique de RDV Service Public.
    = form_for @form, url: new_demande_support_path, method: @form.method, builder: DsfrFormBuilder do |f|
      = f.dsfr_radio_buttons :raison,
        @form.raisons_options,
        legend: safe_join([@form.raison_legend, (@form.raison.present? ? link_to("modifier", new_demande_support_path) : nil)]),
        disabled: @form.raison.present?

      - if @form.raison_annuler?
        .fr-accordions-group.fr-mb-4w
          = render "static_pages/aide_usager/faq_annuler_rdv", expanded: true
          = render "static_pages/aide_usager/faq_annuler_rdv_sms"
          = render "static_pages/aide_usager/faq_annuler_rdv_email"

        p
          ' Si vous n’arrivez toujours pas à annuler votre RDV, vous pouvez contacter l’équipe technique :
        = f.hidden_field :besoin_contact, value: true
        div= f.submit "Contacter l’équipe technique", class: "fr-btn fr-mb-2w"
        p ou
        div= link_to "Revenir à l’accueil", contact_path, class: "fr-btn fr-btn--secondary"

      - if @form.display_textarea?
        = f.dsfr_text_area :message, rows: 5
        .fr-alert.fr-alert--info.fr-mb-2w
          p Merci de ne pas inclure d’informations sensibles dans ce message.
          p En effet, ce message sera reçu par l’équipe technique de RDV Service Public, et non pas par les agents publics avec qui vous avez RDV.

      - if @form.display_submit?
        = f.submit "Envoyer ma demande à l’équipe technique", class: "fr-btn"
