/# locals: (service:, just_got_enabled: false, just_got_disabled: false)

- just_got_changed = just_got_enabled || just_got_disabled

turbo-frame[id="service-toggle-turbo-frame-#{service.id}"]
  = form_with(url: toggle_admin_territory_services_path(territory_id: current_territory, service_id: service.id), method: :put) do
    - input_id = "service-toggle-#{service.id}"
    - input_description = "#{input_id}-description"
    .fr-toggle[class=(just_got_changed ? "fr-toggle--valid fr-mb-1w" : "")]
      input[type="hidden" name="enabled" value="0"]
      input.fr-toggle__input.js-submit-on-change[
        type="checkbox"
        id=input_id
        name="enabled"
        value="1"
        checked=current_territory.services.to_a.include?(service)
        aria-describedby=input_description
      ]
      label.fr-toggle__label.rdv-display-flex.rdv-align-items-center[for=input_id]
        = service.name
        - agents_count = service.agents.active.merge(current_territory.organisations_agents).count
        - if agents_count > 0
          strong.rdv-color-text-default-grey.fr-ml-1w
            = " (#{agents_count} #{'agent'.pluralize(agents_count)})"
      - if just_got_changed
        .fr-messages-group[id=input_description aria-live="polite"]
          p.fr-message.fr-message--valid
            - if just_got_enabled
              | Service activé
            - elsif just_got_disabled
              | Service désactivé
