= territory_navigation("Services")

.fr-grid-row
  .fr-col-md-10
    .card
      .card-body
        h1.fr-h2 Services
        p Les services vous permettent de classifier vos motifs pour éviter que tous les agents aient accès à tous les rendez-vous.

        p Par exemple, si vous créez un motif « Entretien annuel » pour le service « Ressources Humaines », seuls les agents du service « Ressources Humaines » pourront assurer des rendez-vous pour ce motif. Les agents des autres services ne pourront pas les voir ni les modifier, sauf s'ils sont secrétaires ou admin.

        p Vous pouvez activer ou désactiver les services auxquels vos agents peuvent être affectés.

        = form_with(method: :get) do |f|

          datalist#service_names
            - Service.pluck(:name).each do |name|
              option = name

          .fr-input-group.mt-4.mb-2
            label.fr-label[for="filter"] Trouvez un service par nom
            .fr-input-wrap.fr-input-wrap--addon
              input#filter.fr-input[name="filter" value=@filter type="text" aria-describedby="filter-messages" list="service_names" autocomplete="off"]
              button.fr-btn.fr-btn--secondary.fr-btn--icon-left.fr-icon-filter-fill[type="submit"] Filtrer
            #filter-messages.fr-messages-group[aria-live="polite"]

        - @displayed_services.each do |service|
          = render partial: "admin/territories/services/service_toggle", locals: { service: }

        p.mt-2
          - new_form_link = new_admin_territory_services_path(territory_id: current_territory.id, name: @filter)
          - if @displayed_services.any?
            |> Vous ne trouvez pas votre service dans la liste ?
            = link_to "Créer un nouveau service", new_form_link
          - else
            |> Aucun résultat pour “#{@filter}” ?
            div
              = link_to "Créer ce service", new_form_link, class: "fr-btn fr-btn--primary"
