= territory_navigation("Services")

.fr-grid-row
  .fr-col-md-10
    .card
      .card-body
        h1.card-title Services
        p Les services vous permettent de classifier vos motifs pour éviter que tous les agents aient accès à tous les rendez-vous.

        p Par exemple, si vous créez un motif « Entretien annuel » pour le service « Ressources Humaines », seuls les agents du service « Ressources Humaines » pourront assurer des rendez-vous pour ce motif. Les agents des autres services ne pourront pas les voir ni les modifier, sauf s'ils sont secrétaires ou admin.

        p Vous pouvez activer ou désactiver les services auxquels vos agents peuvent être affectés.

        = form_with(method: :get) do |f|
          .fr-input-group.mt-4.mb-2
            label.fr-label[for="filter"] Trouvez un service par nom
            .fr-input-wrap.fr-input-wrap--addon
              input#filter.fr-input[name="filter" value=@filter type="text" aria-describedby="filter-messages"]
              button.fr-btn.fr-btn--icon-left.fr-icon-seo-line[type="submit"] Filtrer
            #filter-messages.fr-messages-group[aria-live="polite"]

        = simple_form_for current_territory, url: admin_territory_services_path(current_territory, redirect_to_organisation_id: params[:redirect_to_organisation_id]) do |f|
          = render "model_errors", model: current_territory

          / On ajoute les services déjà activés en hidden fields afin qu'ils soient ré-envoyés au serveur à la validation
          - (current_territory.services - @displayed_services).each do |not_displayed_but_activated|
            input[type="hidden" name="territory[service_ids][]" value=not_displayed_but_activated.id]

          = f.association :services, collection: format_for_checkboxes(@displayed_services), label: "", as: :check_boxes, label_method: :first, value_method: :second

          p.mt-2
            - new_form_link = new_admin_territory_services_path(territory_id: current_territory.id, name: @filter)
            - if @displayed_services.any?
              |> Vous ne trouvez pas votre service dans la liste ?
              = link_to "Créer un nouveau service", new_form_link
            - else
              |> Aucun résultat pour “#{@filter}” ?
              = link_to "Créer ce service", new_form_link

          .d-flex.rdv-flex-direction-row-md.flex-row-aligned
            - if params[:redirect_to_organisation_id]
              .mr-2
                = link_to("Annuler", new_admin_organisation_agent_path(params[:redirect_to_organisation_id]), class: "fr-btn fr-btn--tertiary")
            = f.submit "Valider la sélection", class: "fr-btn"
