.fr-card.fr-enlarge-link.fr-card--horizontal
  .fr-card__body
    .fr-card__content
      h3.fr-card__title
        ul.fr-tag-group.float-right[style="padding-top: -6px"]
          - post.categories.each do |category|
            li.fr-tag.fr-tag--sm
              p.my-1 = category
        = link_to post.title, post.external_url, target: "_blank"
        .fr-card__detail.fr-icon-calendar-2-fill.rdv-align-items-center.mt-1
          = l(post.published_at.to_date, format: :long)
      p.fr-card__desc
        = post.description.truncate_words(35)
