- content_for(:title) do
  h2.h4 Nouveautés
- if @posts.any?
  - @posts.each do |post|
    .m-2
      = render partial: "agents/blog/posts/post", locals: { post: post }
  .m-2
    = dsfr_link_to("Voir toutes les nouveautés", BlogPost::HEADWAY_URL, target: "_blank")
- else
  .m-2 Aucune nouveauté
