- content_for(:title) do
  h2.h4 = @feed.title
- @feed.posts.each do |post|
  .m-2
    = render partial: "agents/blog/posts/post", locals: { post: post }
.m-2
  = dsfr_link_to("Voir toutes les nouveautés", @feed.link, target: "_blank")
