turbo-frame#blog-posts
  - if @posts.any?
    ul.fr-raw-list
      - @posts.each do |post|
        li.m-2
          = render partial: "agents/blog/posts/post", locals: { post: post }
    .m-2
      = dsfr_link_to("Voir toutes les nouveautés", BlogPost::DOCS_URL, target: "_blank")
  - else
    .m-2 Aucune nouveauté
