= simple_form_for [:admin, current_organisation, :planning, absence] do |f|
  = render "model_errors", model: absence
  = f.hidden_field :agent_id

  = f.input :title, hint:"Uniquement visible en interne", placeholder: t(".absence_example")

  hr
  = render partial: "common/recurrence", locals: { f: f, model: absence }

  .row
    .col.text-right
      = f.submit class: "fr-btn"
