= simple_form_for [:admin, current_organisation, :planning, absence] do |f|
  .card
    .card-body
      = render "model_errors", model: absence
      = f.hidden_field :agent_id

      = f.input :title, hint:"Uniquement visible en interne", placeholder: t(".absence_example")

  .card
    .card-body
      h2.dsfr-card-title Dates et horaires
      - legend = "Déclarer une indisponibilité sur un seul jour ou récurrente sur plusieurs jours, semaines, mois ?"
      = render partial: "common/recurrence", locals: { f: f, model: absence, legend: }

  .row
    - if absence.persisted?
      .col.text-left
        = link_to "Supprimer", admin_organisation_planning_absence_path(current_organisation, absence), method: :delete, class: "btn btn-outline-danger", data: { confirm: t(".confirm_delete_absence")}
    .col.text-right
      = f.submit class: "fr-btn"
