- content_for(:menu_item) { "menu-absences" }

- content_for :title do
  - if @absence.agent == current_agent
    = "Modifier votre indisponibilité"
  - else
    = "Modifier l’indisponibilité de #{@absence.agent.full_name_or_email}"

- content_for :fil_ariane do
  - if @absence.agent == current_agent
    = render "common/fil_ariane",
            titles_and_paths: [["Vos indisponibilités", admin_organisation_planning_absences_path(current_organisation, agent_id: @absence.agent)]],
            current_page_title: yield(:title)
  - else
    = render "common/fil_ariane",
            titles_and_paths: [["Indisponibilités de #{@absence.agent.full_name_and_service}", admin_organisation_planning_absences_path(current_organisation, agent_id: @absence.agent)]],
            current_page_title: yield(:title)

- content_for :right_of_page_title do
  - @absence.external_references.each do |reference|
    = link_to("Voir sur #{reference.oauth_application.name}", reference.external_url, target: :_blank, class: "fr-btn fr-btn--secondary fr-mr-2w")

- reference_to_rdv_on_old_instance = InstanceExports::CopyPlanningJob.external_reference_to_rdv_on_old_instance(@absence)
- if reference_to_rdv_on_old_instance
  .fr-notice.fr-notice--info.fr-mb-3w.fr-mt-2w
    .fr-notice__body
      p.fr-mb-0.fr-mx-2w
        span.fr-notice__desc
        | Cette indisponibilité correspond à un rendez-vous pris sur RDV Aide Numérique avant la migration sur RDV Service Public.

.row.justify-content-center
  .col-md-6
    .card
      .card-body
        = render "form", absence: @absence, agent: @agent

.row.justify-content-center
  .col-md-12.col-lg-8
    = render "admin/versions/resource_versions_row", resource_policy: policy(@absence, policy_class: Agent::AbsencePolicy), resource: @absence
