- content_for(:menu_item) { "menu-absences" }
- content_for(:menu_agent_select_path_helper_name) { "admin_organisation_planning_absences_path" }

- content_for :title do
  - if current_agent == @agent
    = "Vos indisponibilités"
  - else
    = "Indisponibilités de #{@agent.full_name_and_service}"

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths: [["Accueil", root_path]], current_page_title: yield(:title)

- content_for :breadcrumb do
  = link_to "Créer une indisponibilité",
          new_admin_organisation_planning_absence_path(current_organisation, agent_id: @agent.id),
          class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"

.card.pb-3
  - if @display_tabs
    ul.nav.nav-tabs.px-2.mt-2
      li.nav-item
        = active_link_to "En cours", admin_organisation_planning_absences_path(current_organisation, agent_id: @agent.id), class: "nav-link", active: :exact
      li.nav-item
        = active_link_to "Passées", admin_organisation_planning_absences_path(current_organisation, agent_id: @agent.id, current_tab: "expired"), class: "nav-link", active: :exact

  - if @absences.any?
    .fr-table.fr-table--no-scroll.fr-mx-2w
      .fr-table__wrapper
        .fr-table__container
          .fr-table__content
            table
              thead
                tr
                  th Description
                  th Dates
                  th Actions
              tbody
                = render @absences
      .fr-table__footer
        .fr-table__footer--middle
          = paginate @absences, theme: "dsfr"

  - else
    .row.justify-content-md-center.p-2.mt-3
      .col-md-6.rdv-text-align-center.mb-2
        p.mb-2.lead
          - if current_agent == @agent
            | Vous n’avez pas encore créé d’indisponibilité
          - else
            | #{@agent.full_name_or_email} n’a pas encore créé d’indisponibilité
        p
          |> Les indisponibilités sont des exceptions aux
          em> plages d’ouvertures.
          | Vous pouvez les utiliser pour les congés ou les fermetures. Les indisponibilités peuvent être récurrentes (par exemple pour les temps partiels).
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.far.fa-calendar.fa-stack-1x.text-white
  .rdv-text-align-center.py-2
    = link_to new_admin_organisation_planning_absence_path(current_organisation, agent_id: @agent.id), class: "fr-btn" do
      - if @agent == current_agent
        | Créer une indisponibilité
      - else
        | Créer une indisponibilité pour #{@agent.full_name_or_email}

- unless current_territory.work_on_sunday?
  = dsfr_alert type: :info, size: :sm, html_attributes: { class: "fr-mb-2v" } do
    |< Les jours fériés sont automatiquement considérés comme indisponibles.
