- content_for :title do
  - if @absence.agent == current_agent
    | Nouvelle indisponibilité
  - else
    | Nouvelle indisponibilité pour #{@absence.agent.full_name_or_email}

- content_for :fil_ariane do
    - if @absence.agent == current_agent
      = render "common/fil_ariane",
              titles_and_paths: [["Vos indisponibilités", admin_organisation_planning_absences_path(current_organisation, agent_id: @absence.agent)]],
              current_page_title: yield(:title)
    - else
      = render "common/fil_ariane",
              titles_and_paths: [["Indisponibilités de #{@absence.agent.full_name_or_email}", admin_organisation_planning_absences_path(current_organisation, agent_id: @absence.agent)]],
              current_page_title: yield(:title)

.fr-grid-row.justify-content-center
  .fr-col-12.fr-col-lg-8
    = render "form", absence: @absence, agent: @agent
