= content_for(:title) do
  = "Ouverture d'un nouveau compte"

header.main-content__header
  h1.main-content__page-title
    = content_for(:title)

  div
    = link_to t("administrate.actions.back"), :back, class: "button"

section.main-content__body
  p
    | Ce formulaire vous permet de créer un territoire, une organisation, et un lieu (facultatif) pour un agent qui en sera admin (généralement la personne référente du projet).
  p
    | Des motifs "Suivi de dossier" seront créés par défaut
  = simple_form_for([namespace, page.resource], html: { class: "form" }) do |f|
    = f.simple_fields_for :territory do |ff|
      = ff.input :name, label: "Nom du territoire", input_html: { value: @territory_creation_request&.territory_name }
      = ff.input :category, as: :select, collection: Compte::CATEGORIES, label: "Catégorie du territoire", input_html: { class: "fr-select" }

    = f.simple_fields_for :organisation do |ff|
      div[style="margin: 8px 0"]
        = ff.input :name, label: "Nom de la première organisation", input_html: { value: @territory_creation_request&.organisation_name }
      div[style="margin: 16px 0 8px 0"]
        = ff.input :ants_connectable, as: :boolean, label: "Autoriser le branchement au moteur de recherche de l'ANTS", hint: "En cochant cette case, vous permettrez à cette organisation (probablement une mairie) d'apparaitre sur https://rendezvouspasseport.ants.gouv.fr/"

    = f.simple_fields_for :lieu do |ff|
      = ff.input :address, label: "Adresse du premier lieu", hint: "Le nom du lieu sera le même que celui de l'organisation", input_html: { data: { "address-autocomplete": "on" }}, required: false
      = ff.input :latitude, as: :hidden
      = ff.input :longitude, as: :hidden

    = f.simple_fields_for :territory do |ff|
      = ff.input :departement_number, label: "Numéro du département", hint: "Facultatif", required: false

    h2[style="margin: 32px 0 16px 0"] Admin de territoire
    = f.simple_fields_for :agent do |ff|
      - if @agent
        p = @agent.full_name
        p = @agent.email
        = ff.hidden_field :id, value: @agent.id
      - else
        = ff.input :first_name, label: "Prénom"
        = ff.input :last_name, label: "Nom"
        = ff.input :email, label: "Adresse mail", hint: "Une invitation sera envoyée automatiquement"
      = ff.input :service_ids, label: "Service", collection: Service.all, hint: sanitize("Si nécessaire, vous pouvez #{link_to('créer un nouveau service', new_super_admins_service_path, target: :blank)}")
      - if @territory_creation_request
        .form-text.text-muted[style="margin-bottom: 12px"]
          = "L'agent a indiqué travailler pour le service "
          b #{@territory_creation_request.service_name}

    = f.submit
