- content_for :title, "Choisissez une organisation"

- @organisations_by_territory.each do |territory, organisations|
  .card
    .card-header
      .d-flex.justify-content-between.align-items-center
        h5.fr-m-2w #{territory.name_for_agent.capitalize}
        - if Agent::TerritoryPolicy.new(current_agent, territory).show?
          = link_to admin_territory_path(territory), class: "float-right fr-btn fr-btn--sm fr-btn--tertiary fr-icon-settings-5-fill fr-btn--icon-left" do
            = t(".territory_configuration")
    .card-body
      ul.list-group.list-group-flush
        - organisations.each do |organisation|
          li.list-group-item
            span>= link_to organisation.name, admin_organisation_planning_agenda_path(organisation)
            - if current_agent.admin_in_organisation?(organisation)
              i.fa.fa-user-cog.text-muted[title="Vous administrez cette organisation"]
      - if policy(Organisation.new(territory: territory), policy_class: Agent::OrganisationPolicy).new?
        .fr-mt-4w.fr-ml-2w
          = link_to "Gérer les organisation", admin_territory_organisations_path(current_territory), class: "fr-btn fr-btn--secondary"
