- relatives = current_user.relatives.order(:first_name)

fieldset.fr-fieldset.rdv-proche-selection.fr-mt-3w data-controller="proche-selection" data-action="change->proche-selection#update"
  legend.fr-fieldset__legend--regular.fr-fieldset__legend Pour qui prenez-vous rendez-vous ?

  .fr-fieldset__element.rdv-nested-fields-wrapper data-proche-selection-target="option"
    .fr-radio-group
      = radio_button_tag "user[selected_proche]", "", @rdv_booking_form.selected_proche.blank?, id: "user_selected_proche_myself"
      = label_tag "user_selected_proche_myself", "Moi-même"
    - if @rdv_booking_form.requires_ants_predemande_number?
      .rdv-nested-fields
        = f.dsfr_text_field :ants_pre_demande_number

  - relatives.each do |relative|
    .fr-fieldset__element.rdv-nested-fields-wrapper data-proche-selection-target="option"
      .fr-radio-group
        = radio_button_tag "user[selected_proche]", relative.id.to_s, @rdv_booking_form.selected_proche == relative.id.to_s, id: "user_selected_proche_#{relative.id}"
        = label_tag "user_selected_proche_#{relative.id}", relative.full_name
      - if @rdv_booking_form.requires_ants_predemande_number?
        .rdv-nested-fields
          = f.fields_for :relatives, [relative], index: "r#{relative.id}" do |rf|
            = rf.hidden_field :id
            = rf.dsfr_text_field :ants_pre_demande_number

  .fr-fieldset__element.rdv-nested-fields-wrapper data-proche-selection-target="option"
    .fr-radio-group
      = radio_button_tag "user[selected_proche]", "new", @rdv_booking_form.selected_proche == "new", id: "user_selected_proche_new"
      = label_tag "user_selected_proche_new", "Une autre personne"

    .rdv-nested-fields
      = f.fields_for :relatives, [@rdv_booking_form.new_proche] do |rf|
        .fr-grid-row.fr-grid-row--gutters
          .fr-col-12.fr-col-md-6= rf.dsfr_text_field :first_name, label: "Prénom"
          .fr-col-12.fr-col-md-6= rf.dsfr_text_field :last_name, label: "Nom"
          - if @rdv_booking_form.show_birth_date_field?
            .fr-col-12.fr-col-md-6.fr-mt-4w= rf.dsfr_text_field :birth_date, type: "date", label: "Date de naissance"
          - if @rdv_booking_form.requires_ants_predemande_number?
            .fr-col-12= rf.dsfr_text_field :ants_pre_demande_number
