ul.list-group.list-group-flush
  li.list-group-item
    .row
      .col
        i.fa.fa-check.fa-fw.mr-1.text-success
        | Motif :&nbsp;
        = rdv_wizard.motif.name
      .col-auto
        = puts "rdv_wizard.motif #{rdv_wizard.inspect}"
        = link_to "modifier", root_path(rdv_wizard.search_motif_context_query)
  - if rdv_wizard.motif.phone?
    li.list-group-item
      i.fa.fa-check.fa-fw.mr-1.text-success
      | RDV téléphonique
  - else
    li.list-group-item
      .row
        .col
          i.fa.fa-check.fa-fw.mr-1.text-success
          | Lieu :&nbsp;
          = rdv_wizard.lieu_full_name
        .col-auto
          = link_to "modifier", root_path(rdv_wizard.search_lieu_context_query)
  li.list-group-item
    .row
      .col
        i.fa.fa-check.fa-fw.mr-1.text-success
        | Date du rendez-vous :&nbsp;
        = rdv_starts_at_and_duration(rdv_wizard.rdv, :human)
      .col-auto
        = link_to "modifier", root_path(rdv_wizard.search_slot_context_query)
  - if rdv_wizard.is_a?(UserRdvWizard::Step3)
    li.list-group-item
      .row
        .col
          i.fa.fa-check.fa-fw.mr-1.text-success
          | Usager :&nbsp;
          = users_to_sentence(rdv_wizard.users)
        .col-auto
          = link_to "modifier", new_users_rdv_wizard_step_path(step: 2, **@rdv_wizard.to_query)
    li.list-group-item
      .row
        .col
          i.fa.fa-check.fa-fw.mr-1.text-success
          | Informations de contact :&nbsp;
      .row
        .col.ml-3
          span> ✉️ Email :
          b>= current_user.email
          span>= "(notifications par email #{current_user.notify_by_email? ? 'activées' :  'désactivées'})"
      .row
        .col.ml-3
          span> 📞 Téléphone :
          = user_notifiable_by_sms_text(current_user)
        .col-auto
          = link_to "modifier", new_users_rdv_wizard_step_path(step: 1, **@rdv_wizard.to_query)
