- content_for :title, "Votre rendez-vous"

.fr-container.fr-pt-3w
  .fr-col-lg-8.fr-col-offset-lg-2.fr-col-md-10.fr-col-offset-md-1
    h1.fr-h3 Confirmez votre rendez-vous…
    .card
      = render "rdv_wizard_summary", rdv_wizard: @rdv_booking_form.rdv_builder
      .card-body
        = form_for @rdv_booking_form, as: :user, url: users_rdv_wizard_step_path(**@rdv_booking_form.to_query), method: "post", builder: Dsfr::FormBuilder do |f|
          h2.fr-h4 Vos informations

          = render "users/users/form_fields", f: f

          /! Hidden fields pour les params du wizard
          - @rdv_booking_form.to_query.each do |wizard_key, wizard_value|
            = hidden_field_tag "rdv[#{wizard_key}]", wizard_value

          ul.fr-btns-group.fr-btns-group--inline-md.fr-btns-group--icon-left.rdv-flex-wrap-wrap-reverse.rdv-justify-content-space-between.fr-mt-6w
            li= link_to "Revenir en arrière", prendre_rdv_path(@rdv_booking_form.to_query), class: "fr-icon-arrow-left-line fr-btn--icon-left fr-btn fr-btn--tertiary-no-outline"
            li
              - if @rdv.collectif?
                = f.submit "Confirmer ma participation", class: "fr-btn"
              - else
                = f.submit "Confirmer mon RDV", class: "fr-btn"
