/# locals: (current_step:, max_step:, next_step:)

- content_for :title, current_step[:title]

.fr-container.fr-pt-3w
  .fr-col-lg-8.fr-col-offset-lg-2.fr-col-md-10.fr-col-offset-md-1
    = dsfr_stepper(title: current_step[:title], value: current_step[:stepper_index], max: max_step, next_title: next_step[:title])
    .card
      = render "rdv_wizard_summary", rdv_wizard: @rdv_wizard
      .card-body
        = form_for @rdv_booking_form, as: :user, url: users_rdv_wizard_step_path(step: 1, **@rdv_wizard.to_query), method: "post", builder: Dsfr::FormBuilder do |f|
          = render "users/users/form_fields", f: f
          - @rdv_wizard.to_query.each do |wizard_key, wizard_value|
            = hidden_field_tag "rdv[#{wizard_key}]", wizard_value
          .fr-grid-row.fr-grid-row--gutters.fr-mt-3w
            .fr-col.rdv-justify-content-space-between.d-flex.flex-row-aligned
              = link_to "Revenir en arrière", prendre_rdv_path(@rdv_wizard.to_query), class: "fr-icon-arrow-left-line fr-btn--icon-left fr-btn fr-btn--tertiary-no-outline"
              = f.submit "Continuer", class: "fr-btn"
