@font-face {
  font-family: "Marianne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Marianne Regular"),
    local("Marianne-Regular"),
    url("../fonts/dsfr/Marianne-Regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dsfr/Marianne-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Marianne";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Marianne Medium"),
    local("Marianne-Medium"),
    url("../fonts/dsfr/Marianne-Medium.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dsfr/Marianne-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
