@use "sass:math";

$blueish-light-grey: #eff2f7;
$lightturquoise: #cef3ef;

// Bootstrap Variables

// DSFR Colors
$focus-dsfr: #0067F7;

// Custom Variables
// Shadow
$shadow:                0px 0px 35px 0px rgba(154, 161, 171, 0.15);
$shadow-lg:             0 0 45px 0 rgba(0, 0, 0, 0.12);

//Background left-sidebar
$bg-leftbar:            $primary;

// Leftbar width
$leftbar-width:         250px;

//Menu item colors (Default-dark)
$menu-item:          #cbdae2;
$menu-item-hover:    #ffffff;
$menu-item-active:   #ffffff;

//Menu item colors (light)
$menu-item-light:          #6c757d;
$menu-item-light-hover:    #8f75da;
$menu-item-light-active:   #8f75da;

//Topbar Background
$bg-topbar:          #ffffff;

// Font weight
$font-weight-semibold: 600;
