// override the default bootstrap grid breakpoints to match the DSFR ones
// this is temporary while we still use responsive classes from bootstrap
// cf https://www.systeme-de-design.gouv.fr/fondamentaux/grille-et-points-de-rupture

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1248px,
  // xl is actually the only one that is different
);

$primary: #2f4077; // == --blue-ecume-sun-247-moon-675 == --background-flat-blue-ecume
