@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "./_variables";
@import "./fontawesome_imports";
@import "./fonts";

@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2";
@import "~select2-bootstrap4-theme/dist/select2-bootstrap4.min";

// Plugins
@import "@fullcalendar/core/main";
@import "@fullcalendar/daygrid/main";
@import "@fullcalendar/timegrid/main";
@import "@fullcalendar/list/main";
@import "jquery-datetimepicker/build/jquery.datetimepicker.min";
@import "./headway";

// Structure
@import "./structure/general";
@import "./structure/header";
@import "./structure/left-menu";
@import "./structure/footer";
@import "./structure/page-head";

// Components
@import "./components/rdv_status";
@import "./components/backgrounds";
@import "./components/calendar";
@import "./components/forms";
@import "./components/breadcrumb";
@import "./components/dropdown";
@import "./components/motifs";
@import "./components/nav";
@import "./components/tables";
@import "./components/types";
@import "./components/cards";
@import "./components/recurrence";
@import "./components/settings";
@import "./components/utilities";
@import "./components/autocomplete";
@import "./components/pagination";
@import "./components/select2";
@import "./components/zones_map";
@import "./components/creneaux";
@import "./components/rdv_solidarites_instance_name";
@import "./components/alert";

.page-title-box {
  h1.page-title {
    line-height: 1.5;
  }
}
