//
// print.scss
//

.print-content {
  display: none;
}

@media print {
  .left-side-menu,
  .footer,
  .page-title,
  .web-content,
  .header {
    display: none;
  }
  .print-content {
    display: block;
  }
  .card-body,
  .content-page,
  .content,
  body {
    padding: 0;
    margin: 0 !important;
    font-family: "Marianne";
  }
  .card.rdv-card {
    border-radius: 0 !important;
    border: 1px solid #dddddd;
    background-color: inherit;
  }
  b,
  strong {
    font-family: "Marianne"; // fix unreadable bold font in FF print
  }
}
