@import "vendor/inclusion_connect_button";

.flex {
  display: flex;
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex--center {
  justify-content: center;
}

// Un hack pour éviter d'afficher les astérisques de champs obligatoire dans les formulaires DSFR
label > abbr[title="obligatoire"] {
  display: none;
}
