.rdvsp-landing__big_text {
  font-size: 75px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}
