- content_for :title, t(".title")

p.mb-1 Allez dans votre agenda externe et ajoutez un nouveau calendrier avec cette URL :

- calendar_url = ics_calendar_url(current_agent.calendar_uid, protocol: :webcal, format: :ics)
=  link_to(calendar_url, calendar_url, class: "mb-1")

p Tous vos rendez-vous de #{current_domain.name} seront copiés automatiquement au fur et à mesure de leur création (ou modification).
p Pour plus d'informations sur cette fonctionnalité, #{link_to("consultez la FAQ", current_domain.faq_url, target: :blank)}.

p Si jamais votre lien de synchronisation a été partagé par erreur et qu’il y a un risque que quelqu’un d’autre accède à votre liste de rendez-vous, vous pouvez le réinitialiser immédiatement.

div.text-center
  = simple_form_for(current_agent, url: agents_calendar_sync_webcal_sync_path) do |f|
    = f.submit "Réinitialiser mon lien de synchronisation", class: "btn btn-secondary", data: { confirm: "Attention, si vous réinitialisez votre lien de synchronisation, vous devrez entrer le nouveau lien dans votre agenda externe" }

= link_to "Retour aux méthodes de synchronisation calendrier", agents_calendar_sync_path, class: "float-right mt-3"
