- if plage_ouverture.available_motifs.any?
  = simple_form_for [:admin, plage_ouverture.organisation, :planning, plage_ouverture], html: { class: "plage-ouverture-form" } do |f|
    .row.justify-content-center
      .col-md-6
        = render("model_errors", model: plage_ouverture, f: f)

    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            = render partial: "common/recurrence", locals: { f: f, model: plage_ouverture }

    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            = render partial: "admin/planning/plage_ouvertures/choix_motifs", locals: { plage_ouverture:, f: }

    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            = f.input :title, label: "Libellé (facultatif)", placeholder: "ex: Permanence hebdo", hint: "Ce libellé sera affiché aux agents mais jamais aux usagers"
            = f.input :hex_color, as: :color, label: "Couleur", hint: "Cette couleur peut vous aider à distinguer vos plages sur votre agenda."

    .row.justify-content-center
      .col-md-6
        .row.mb-5
          - if plage_ouverture.persisted?
            .col.text-left
              = link_to "Annuler", \
                admin_organisation_planning_plage_ouverture_path(current_organisation, plage_ouverture), \
                class: "btn btn-link"
            .col.text-right
              = f.button :submit, "Enregistrer"
          -else
            .col.text-left
              = link_to "Annuler", \
                admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: current_agent), \
                class: "fr-btn fr-btn--tertiary-no-outline"
            .col.text-right
              = f.submit "Créer la plage d'ouverture", class: "fr-btn"
- else
  .card
    .card-body
      - if plage_ouverture.organisation.motifs.active.none?
        = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer une plage d'ouverture, vous devez d'abord créer un motif de rendez-vous."
      - elsif plage_ouverture.organisation.motifs.active.individuel.none?
        = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer une plage d'ouverture, vous devez d'abord créer un motif de rendez-vous individuel. Cette organisation ne contient que des motifs collectifs.", non_admin_text: "Aucun motif de rendez-vous individuel n'est disponible dans cette organisation. Vous devez demander à un administrateur de votre organisation d'en créer un."
      - else
        = render "admin/motifs/creation_needed_callout", motivation_text: "Aucun motif individuel n'est accessible à cet agent. Les motifs existants sont liés à des services auxquels il n'appartient pas.", non_admin_text: "Vous n'avez accès à aucun motif individuel pour cette organisation. Les motifs existants sont liés à des services auxquels vous n'appartenez pas. Vous devez demander à un administrateur de votre organisation d'en créer un accessible à votre service."
