- if plage_ouverture.available_motifs.any?
  = simple_form_for [:admin, plage_ouverture.organisation, :planning, plage_ouverture], html: { class: "plage-ouverture-form" } do |f|
    .fr-grid-row.justify-content-center
      .fr-col-lg-6
        = render("model_errors", model: plage_ouverture, f: f)

    .fr-grid-row.justify-content-center
      .fr-col-lg-6
        .card
          .card-body
            h2.dsfr-card-title Dates et horaires
            - legend = "Déclarer une disponibilité sur un seul jour ou récurrente sur plusieurs jours, semaines, mois ?"
            = render partial: "common/recurrence", locals: { f:, model: plage_ouverture, legend: }

    .fr-grid-row.justify-content-center
      .fr-col-lg-6
        .card
          .card-body
            h2.dsfr-card-title Motifs
            = render partial: "admin/planning/plage_ouvertures/choix_motifs", locals: { plage_ouverture:, f: }

    .fr-grid-row.justify-content-center
      .fr-col-lg-6
        .card
          .card-body
            h2.dsfr-card-title.mb-3 Options avancées

            - collection = [["0", "Pas de pause"], ["5", "5 min."], ["10", "10 min."], ["15", "15 min."], ["20", "20 min."], ["30", "30 min."]]
            - hint = "Cette durée est automatiquement ajoutée après chaque rendez-vous pris sur plage d'ouverture, y compris pour le dernier rendez-vous."
            - label_content = capture do
              span.fr-mr-1w Temps de battement après chaque rendez-vous
              p.fr-badge.fr-badge--pink-tuile[aria-describedby="tooltip-minutes-after-rdvs-beta"] Beta
              span#tooltip-minutes-after-rdvs-beta.fr-tooltip.fr-placement[role="tooltip"]
                | Cette nouvelle fonctionnalité est expérimentale.
                br
                | N'hésitez pas à nous faire part de vos questions et remarques via
                =< link_to("le formulaire de contact", new_aide_demande_support_path(role: "agent", sujet: "Pause après chaque rendez-vous"), target: :_blank)
                | .
            = f.input :minutes_after_rdvs, label: label_content, collection:, hint:, value_method: :first, label_method: :second, include_blank: false

            = f.input :title, label: "Libellé (facultatif)", placeholder: "ex: Permanence hebdo", hint: "Ce libellé sera affiché aux agents mais jamais aux usagers"
            = f.input :hex_color, as: :color, label: "Couleur", hint: "Cette couleur peut vous aider à distinguer vos plages sur votre agenda."

    .fr-grid-row.justify-content-center
      .fr-col-lg-6
        .fr-grid-row.mb-5
          - if plage_ouverture.persisted?
            .col.text-left
              = link_to "Annuler", \
                admin_organisation_planning_plage_ouverture_path(current_organisation, plage_ouverture), \
                class: "btn btn-link"
            .col.text-right
              = f.button :submit, "Enregistrer"
          -else
            .col.text-left
              = link_to "Annuler", \
                admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: current_agent), \
                class: "fr-btn fr-btn--tertiary-no-outline"
            .col.text-right
              = f.submit "Créer la plage d'ouverture", class: "fr-btn"
- else
  .card
    .card-body
      - if plage_ouverture.organisation.motifs.active.none?
        = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer une plage d'ouverture, vous devez d'abord créer un motif de rendez-vous."
      - elsif plage_ouverture.organisation.motifs.active.individuel.none?
        = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer une plage d'ouverture, vous devez d'abord créer un motif de rendez-vous individuel. Cette organisation ne contient que des motifs collectifs.", non_admin_text: "Aucun motif de rendez-vous individuel n'est disponible dans cette organisation. Vous devez demander à un administrateur de votre organisation d'en créer un."
      - else
        = render "admin/motifs/creation_needed_callout", motivation_text: "Aucun motif individuel n'est accessible à cet agent. Les motifs existants sont liés à des services auxquels il n'appartient pas.", non_admin_text: "Vous n'avez accès à aucun motif individuel pour cette organisation. Les motifs existants sont liés à des services auxquels vous n'appartenez pas. Vous devez demander à un administrateur de votre organisation d'en créer un accessible à votre service."
