- if plage_ouverture.available_motifs.any?
  = simple_form_for [:admin, plage_ouverture.organisation, :planning, plage_ouverture], html: { class: "plage-ouverture-form" } do |f|
    .row.justify-content-center
      .col-md-6
        = render("model_errors", model: plage_ouverture, f: f)

        .card
          .card-body
            h2.card-title Motifs
            - if plage_ouverture.agent == current_agent
              p.mb-4 Pour quels motifs de rendez-vous êtes-vous disponible ?
            - else
              p.mb-4 Pour quels motifs de rendez-vous l'agent est-t-il disponible ?

            = collapsible_form_fields_for_warnings(plage_ouverture) do
              = f.hidden_field :agent_id
              - motifs_by_services = plage_ouverture.available_motifs.group_by(&:service)
              - lieu_required = plage_ouverture.available_motifs.all?(&:public_office?)
              - sort_motifs_by_service(motifs_by_services).each do |service, motifs|
                .form-group data-controller="checkbox-select-all"
                  label.h4.d-flex
                    input.mr-1 type="checkbox" data-checkbox-select-all-target="checkboxAll"
                    span.cursor-pointer
                      - if service
                        | Motifs de #{service.name}
                      - else
                        | Motifs ouverts à tous les agents
                  - motifs.each do |motif|
                    .pl-4
                      = f.check_box :motif_ids, { multiple: true, class: "form-check-input #{motif.location_type}", data: { checkbox_select_all_target: "checkbox" } }, motif.id, false
                      = f.label "motif_ids_#{motif.id}", motif_name_with_location_type_and_badges(motif), class: "form-check-label"
              .js-lieu-field[class="#{:collapse unless lieu_required}"]
                = f.association :lieu,
                  collection: Agent::LieuPolicy::Scope.apply(current_agent, current_organisation.lieux).enabled.ordered_by_name,
                  label_method: :full_name,
                  input_html: { \
                      class: "select2-input", \
                      data: { \
                        placeholder: "Sélectionnez un lieu", \
                        "select2-config": { disableSearch: true }, \
                        "auto-select-sole-option": lieu_required,
                        "allow-clear": !lieu_required, \
                      }, \
                    }

    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            = render partial: "common/recurrence", locals: { f: f, model: plage_ouverture }

    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            = f.input :title, label: "Libellé (facultatif)", placeholder: "ex: Permanence hebdo", hint: "Ce libellé sera affiché aux agents mais jamais aux usagers"
            = f.input :minutes_between_rdvs, label: "Intervalle entre chaque rendez-vous (en minutes)", hint: "Les créneaux proposés prendront en compte ce temps de pause"

    .row.justify-content-center
      .col-md-6
        .row.mb-5
          - if plage_ouverture.persisted?
            .col.text-left
              = link_to "Annuler", \
                admin_organisation_planning_plage_ouverture_path(current_organisation, plage_ouverture), \
                class: "btn btn-link"
            .col.text-right
              = f.button :submit, "Enregistrer"
          -else
            .col.text-left
              = link_to "Annuler", \
                admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: current_agent), \
                class: "fr-btn fr-btn--tertiary-no-outline"
            .col.text-right
              = f.submit "Créer la plage d'ouverture", class: "fr-btn"
- else
  .card
    .card-body
      = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer une plage d'ouverture, vous devez d'abord créer un motif de rendez-vous."
