- content_for(:menu_item) { "menu-plages-ouvertures" }

- content_for :title do
  - if current_agent == @agent
    | Plages d’ouverture
  - else
    | Plages d’ouverture de #{@agent.full_name_and_service}

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths: [["Accueil", root_path]], current_page_title: yield(:title)

- content_for :breadcrumb do
  .text-right
    = link_to admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: @agent.id, search: params[:search], current_tab: params[:current_tab]), class: "btn btn-outline-primary align-bottom mr-3" do
      span.mr-1= t("admin.planning.plage_ouvertures.index.list_view")
      i.fa.fa-calendar-alt
    = link_to t("admin.planning.plage_ouvertures.index.create_plage_ouverture"), new_admin_organisation_planning_plage_ouverture_path(current_organisation, agent_id: @agent.id), class: "btn btn-outline-primary align-bottom"

= render partial: "admin/planning/planning_tabs"

#calendar [
  data-agent-id="#{@agent.id}"
  data-organisation-id="#{@current_organisation.id}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-event-sources-json="#{[admin_api_agenda_plage_ouvertures_path(agent_id: @agent, organisation_id: current_organisation.id), OffDays.to_full_calendar_array].to_json}"
]
