- content_for(:menu_item) { "menu-plages-ouvertures" }
- content_for(:menu_agent_select_path_helper_name) { "admin_organisation_planning_plage_ouvertures_path" }

- content_for :title do
  - if current_agent == @agent
    | Plages d’ouverture
  - else
    | Plages d’ouverture de #{@agent.full_name_and_service}

- content_for :right_of_page_title do
  .fr-btns-group.fr-btns-group--inline.fr-btns-group--icon-left
    = link_to t("admin.planning.plage_ouvertures.index.list_view"), admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: @agent.id, search: params[:search], current_tab: params[:current_tab]), class: "fr-btn fr-btn--secondary fr-icon-list-unordered"
    = link_to t("admin.planning.plage_ouvertures.index.create_plage_ouverture"),  new_admin_organisation_planning_plage_ouverture_path(current_organisation, agent_id: @agent.id), class: "fr-btn fr-btn--secondary"

#agenda_plage_ouverture [
  data-agent-id="#{@agent.id}"
  data-organisation-id="#{@current_organisation.id}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-display-sundays="#{current_territory.work_on_sunday? && current_agent.display_saturdays}"
  data-event-sources-json="#{[admin_api_agenda_plage_ouvertures_path(agent_id: @agent, organisation_id: current_organisation.id), OffDays.to_full_calendar_array].to_json}"
]
