- content_for(:menu_item) { "menu-plages-ouvertures" }
- content_for(:menu_agent_select_path_helper_name) { "admin_organisation_planning_plage_ouvertures_path" }

- content_for :title do
  - if current_agent == @agent
    | Plages d’ouverture
  - else
    | Plages d’ouverture de #{@agent.full_name_and_service}

- content_for :right_of_page_title do
  - if current_organisation.motifs.active.any?
    .fr-btns-group.fr-btns-group--inline.fr-btns-group--icon-left
      = link_to t(".calendar_view"), calendar_admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: @agent.id), class: "fr-btn fr-btn--secondary fr-icon-calendar-fill mb-0"
      = link_to t(".create_plage_ouverture"),  new_admin_organisation_planning_plage_ouverture_path(current_organisation, agent_id: @agent.id), class: "fr-btn fr-btn--secondary mb-0"

- if flash[:onboarding] == "online_booking_ready"
  - content_for :onboarding_banner do
    .fr-callout.fr-pb-2w
      h2.fr-h6 Vous avez terminé !
      p La réservation en ligne est maintenant disponible grâce à cette plage d'ouverture !
      = link_to("Voir la réservation en ligne", admin_organisation_online_booking_path(current_organisation), class: "fr-btn")

.card
  - if @display_tabs
    ul.nav.nav-tabs.px-2.mt-2
      li.nav-item
        = active_link_to t(".in_progress"), admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: @agent.id, search: params[:search]), class: "nav-link", active: params[:current_tab] != "expired"
      li.nav-item
        = active_link_to t(".past"), admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: @agent.id, current_tab: "expired", search: params[:search]), class: "nav-link", active: { current_tab: "expired" }

  - enough_records_to_need_search = @plage_ouvertures_before_text_search.reorder(nil).distinct.limit(5).pluck(:id).count == 5 # On espere que le pluck et le limit coute moins cher en perf qu'un count
  - if enough_records_to_need_search
    .m-2.d-flex.justify-content-end
      div= link_to t("helpers.reset"), admin_organisation_planning_plage_ouvertures_path(current_organisation, agent_id: @agent.id), class: class_names("btn", "btn-link", "d-none": params[:search].blank?)
      = simple_form_for "", url: admin_organisation_planning_plage_ouvertures_path(current_organisation), html: { method: :get, class: "form-inline" }, wrapper: :inline_form do |f|
        = f.input :search, placeholder: t(".search_placeholder"), label: false, input_html: { autocomplete: "off", class: "search-form-control mr-2", value: params[:search] }, required: false
        = f.hidden_field :current_tab, value: params[:current_tab]
        = f.hidden_field :agent_id, value: @agent.id
        = f.button :submit, t("helpers.search")

  - if @plage_ouvertures.any?
    table.table
      thead
        tr
          th = t(".title")
          th = t(".motifs")
          th = t(".place")
          th = t(".dates")
          th = t("helpers.actions")
      tbody
        = render partial: "admin/planning/plage_ouvertures/plage_ouverture", collection: @plage_ouvertures, as: :plage_ouverture
    .d-flex.justify-content-center
      = paginate @plage_ouvertures, theme: "dsfr"
  - else
    .fr-grid-row.justify-content-md-center.p-2.mt-3
      .fr-col-md-6.mb-2
        - if params[:search].present?
          = t(".no_results_for_your_search")
        - else
          - if current_agent == @agent
            h2= t(".self.not_yet_created_plage_ouverture")
            p = t(".self.explanation_plage_ouverture")
          - else
            h2= t(".other_agent.not_yet_created_plage_ouverture", full_name: @agent.full_name_or_email)
            p = t(".other_agent.explanation_plage_ouverture")

          - if current_organisation.motifs.active.any?
            .mt-3
              = link_to  new_admin_organisation_planning_plage_ouverture_path(current_organisation, agent_id: @agent.id), class: "fr-btn" do
                - if current_agent == @agent
                  = t(".self.create_first_plage_cta")
                - else
                  = t(".other_agent.create_first_plage_cta", full_name: @agent.full_name_or_email)
    - if current_organisation.motifs.active.none?
      .fr-grid-row
        .fr-col-12.fr-px-2w
          = render "admin/motifs/creation_needed_callout", motivation_text: "Pour créer une plage d'ouverture, vous devez d'abord créer un motif de rendez-vous."

  - if params[:current_tab] == "expired"
    .rdv-text-align-center.text-muted = t(".hint_delete_old")
