- content_for :title do
  = truncate(@plage_ouverture.title_with_default, length: 40)

- content_for :fil_ariane do
  - if current_agent == @plage_ouverture.agent
    = render "common/fil_ariane", titles_and_paths: [["Plages d’ouverture", admin_organisation_planning_plage_ouvertures_path(@plage_ouverture.organisation, agent_id: @plage_ouverture.agent)]], current_page_title: yield(:title)
  - else
    = render "common/fil_ariane", titles_and_paths: [["Plages d’ouverture de #{@plage_ouverture.agent.full_name_or_email}", admin_organisation_planning_plage_ouvertures_path(@plage_ouverture.organisation, agent_id: @plage_ouverture.agent)]], current_page_title: yield(:title)

.fr-grid-row
  .fr-col-12
    .card
      .card-body
        .rdv-display-md-flex.rdv-justify-content-space-between.rdv-align-items-baseline
          h1.fr-h2=@plage_ouverture.title_with_default
          .fr-btns-group.fr-btns-group--inline-md
            = link_to("Dupliquer",
                new_admin_organisation_planning_plage_ouverture_path(current_organisation, agent_id: @plage_ouverture.agent.id, duplicate_plage_ouverture_id: @plage_ouverture.id),
                class: "fr-btn fr-btn--secondary")
            = link_to("Supprimer",
              admin_organisation_planning_plage_ouverture_path(current_organisation, @plage_ouverture),
              method: :delete,
              data: { confirm: "Confirmez-vous la suppression de cette plage d'ouverture ?"},
              class: "fr-btn fr-btn--secondary")

            = link_to("Modifier",
                edit_admin_organisation_planning_plage_ouverture_path(@plage_ouverture.organisation, @plage_ouverture),
                class: "fr-btn")

        div.mt-2.d-flex
          .flex-shrink-0.mr-1.fr-text-mention--grey Agent&nbsp;:
          span= @plage_ouverture.agent.full_name
        div.mt-2.d-flex
          .flex-shrink-0.mr-1.fr-text-mention--grey Dates&nbsp;:
          - if @plage_ouverture.recurring?
            = sanitize(display_recurrence(@plage_ouverture).join(" "))
          - else
            | Le #{l(@plage_ouverture.first_day, format: :human)} #{display_time_range(@plage_ouverture)}
          span.fr-ml-1w
            = ponctuelle_tag(@plage_ouverture)
        - if @plage_ouverture.lieu
          div.mt-2.d-flex
            .flex-shrink-0.mr-1.fr-text-mention--grey Lieu&nbsp;:
            = lieu_tag(@plage_ouverture.lieu)
        div.mt-2.d-flex
          .flex-shrink-0.mr-1.fr-text-mention--grey Motifs&nbsp;:
          ul.pl-3.mb-0
            - @plage_ouverture.motifs.each do |motif|
              li= motif_name_with_location_type_and_badges(motif)
        div.mt-2.d-flex
          - if @plage_ouverture.minutes_after_rdvs == 0
            = "Pas de battement après chaque rendez-vous"
          - else
            = "#{@plage_ouverture.minutes_after_rdvs} minutes de battement après chaque rendez-vous"

        - if @plage_ouverture.overlapping_plages_ouvertures?
          div.mt-3
            .fr-alert.fr-alert--warning.fr-mt-1w.fr-mb-0
              = @plage_ouverture.send(:warn_overlapping_plage_ouvertures).type
              ul.pl-3.py-2.mb-0
                = render "overlapping_plage_ouvertures", model: @plage_ouverture
        - if @plage_ouverture.overflow_motifs_duration?
          .fr-mt-2w.fr-alert.fr-alert--warning
            = @plage_ouverture.send(:warn_overflow_motifs_duration).type
            ul.pl-3.py-2.mb-0
              = render "motifs_duration_exceed", plage_ouverture: @plage_ouverture
        div.mt-3.fr-text-mention--grey.text-right
          | modifiée le #{l(@plage_ouverture.updated_at, format: :short)}

.fr-grid-row
  .fr-col-12
    = render "admin/versions/resource_versions_row", resource_policy: policy(@plage_ouverture, policy_class: Agent::PlageOuverturePolicy), resource: @plage_ouverture
