.bg-light {
  background-color: darken(#F6F7FA, 2%) !important;
}

.bg-lightturquoise {
  background-color: $lightturquoise;
}

.bg-dsfr-blue-ecume-975 {
  background-color: #F4F6FE;
}

.bg-primary {
  background-color: $primary !important;
}

a.bg-primary {
  &:focus, &:hover {
    background-color: #2d6ade !important;
  }
}

.bg-negative {
  margin-top: -80px;
}

a.bg-success {
  &:focus, &:hover {
    background-color: #1e7e34 !important;
  }
}
