.rdv-background-color-flat-blue-ecume {
  background-color: var(--background-flat-blue-ecume);
}

.rdv-background-color-alt-blue-ecume {
  background-color: var(--background-alt-blue-ecume);
}

.rdv-background-color-alt-green-menthe {
  background-color: var(--background-alt-green-menthe);
}

.rdv-background-color-alt-grey {
  background-color: var(--background-alt-grey);
}

.rdv-background-color-blue-ecume-925-125 {
  background-color: var(--blue-ecume-925-125);
}
