$rdvs-fc-header-bg-color: $gray-200;

:root {
  --fc-button-text-color: #000000;
  --fc-button-bg-color: #e3eaef;
  --fc-button-border-color: #1a252f; // non utilisée car en border: none

  --fc-button-hover-text-color: #000000;
  --fc-button-hover-bg-color: #f6f6f6;
  --fc-button-hover-border-color: #1a252f; // non utilisée car en border: none

  --fc-button-active-color: #fff;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27; // non utilisée car en border: none

  --fc-bg-event-opacity: 1;
}

.fc {
  // réduit la taille de la date
  .fc-toolbar-title {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  // change l'apparence de l'en-tête du calendrier
  .fc-col-header-cell {
    background: $rdvs-fc-header-bg-color;
    border: none;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
  }

  // Les headers FullCalendar sont des <a> sans href et le DSFR les grise.
  // Ici on override ce ce comportement pour garder le texte en noir (meilleur contraste).
  a.fc-col-header-cell-cushion,
  a.fc-list-day-text,
  a.fc-list-day-side-text {
    color: black;
    cursor: default;
  }

  // définit la couleur de fond de la petite case en haut à gauche
  .fc-timegrid-axis:not(.fc-timegrid-col) {
    background-color: $rdvs-fc-header-bg-color;
  }
}

.fc:not(#agenda-multi-agent) .fc-button {
  border: none;
  text-transform: capitalize;
  box-shadow: none;
  border-radius: 0px;
  margin: 0 3px;
  padding: 6px 12px;
  height: auto;

  // prend le dessus sur une règle très spécifique dans FullCalendar
  // .fc .fc-button-primary:not(:disabled).fc-button-active
  &.fc-button-active.fc-button-primary:not(:disabled) {
    color: var(--fc-button-active-color);
  }
}

#agenda-multi-agent.fc {
  .fc-button {
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 145);

    padding: 8px 16px;

    border: none;
    box-shadow: rgb(221, 221, 221) 0 0 0 1px inset;

    // prend le dessus sur une règle très spécifique dans FullCalendar
    // .fc .fc-button-primary:not(:disabled).fc-button-active
    &.fc-button-active.fc-button-primary:not(:disabled) {
      color: rgb(0, 0, 145);
      background-color: rgb(246, 246, 246);
    }

    &.fc-toggleGrouping-button {
      border-radius: 0;
      background-color: transparent;
    }
  }
}

.fc-timegrid-event {
  border-radius: 0px;
  border: none;
  font-size: 0.8125rem;
}

.rdv-fc-event-barre {
  .fc-event-title {
    text-decoration: line-through;
  }
}

.rdv-fc-event-transparent {
  opacity: 0.7;
}

.rdv-fc-event-waiting {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 75%,
    transparent 75%,
    transparent
  );
  background-repeat: repeat;
  background-size: 1rem 1rem;
}

.rdv-fc-unauthorized-rdv {
  cursor: not-allowed;
}

.fc-event-main {
  white-space: nowrap;
}

.fc-timegrid-event {
  .fc-event-main-frame {
    padding-left: 0.3rem;
  }

  // alignement vertical centré pour les événements courts
  &.fc-timegrid-event-short {
    .fc-event-main-frame {
      align-items: center;
    }
  }

  // alignement vertical centré pour les événements longs
  &:not(.fc-timegrid-event-short) {
    .fc-event-main-frame {
      justify-content: center;
      .fc-event-title-container {
        flex-grow: 0;
      }
    }
  }
}

.fc-toolbar {
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.fc-timeGridWeek-view {
  .fc-event:not(.fc-bg-event) {
    // Ce petit décalage des RDVs vers la droite permet de visualiser
    // la plage affichée en background en dessous.
    margin-left: 5%;
  }
}
.fc-timegrid {
  .fc-bg-event {
    cursor: default;
    .fc-event-title {
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      color: black;
    }
  }
}

// La section suivante implémente la petite secousse utilisée
// pour mettre en valeur sur le calendrier le RDV tout juste créé.
.rdv-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
