@import "~bootstrap/scss/bootstrap";

.lieux-search-results {
  h1,
  h2 {
    color: $blue;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  p,
  h2 {
    @extend .font-weight-bold;
  }
  .card {
    @extend .mb-3;
  }
  h2 + h3 {
    @extend .mb-2;
  }
  .result-info,
  .result-cta {
    @extend .col-md;
  }
  .result-cta {
    @extend .align-self-center;
    @extend .pt-3;
    @extend .pt-md-0;
    @extend .position-static;
  }
}
