.badge-motif-bookable_by_everyone {
  background-color: $yellow;
  color: $dark;
}

.badge-motif-bookable_by_invited_users {
  background-color: $yellow;
  color: $dark;
}

.badge-motif-phone {
  background-color: $cyan;
  color: $white;
}

.badge-motif-home {
  background-color: $gray-900;
  color: $white;
}

.badge-motif-for_secretariat {
  background-color: $orange;
  color: $dark;
}

.badge-motif-follow_up {
  background-color: $green;
  color: $white;
}

.badge-motif-collectif {
  background-color: $purple;
  color: $white;
}

.badge-motif-sectorisation_level_organisation,
.badge-motif-sectorisation_level_departement {
  border: 1px solid $gray-900;
}

.motif-color-badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
