select#agent_id {
  &[multiple] {
    min-width: 200px;
    max-width: 600px;
  }
  &:not([multiple]) {
    min-width: 200px;
    max-width: 800px;
  }
}

#agent_id_form .select2-container {
  width: 50vw !important;
  max-width: 600px !important;
}
