a.rdv-status {
  border: 1px solid transparent;
  &:hover {
    border-color: #000;
  }
}

$status_colors: (
  "unknown": $light,
  "unknown_future": $light,
  "unknown_today": $warning,
  "unknown_past": $warning,
  "seen": $success,
  "revoked": $teal,
  "excused": $info,
  "noshow": $danger,
);

@each $status, $color in $status_colors {
  .rdv-status.rdv-status-#{$status},
  .btn.rdv-status-#{$status} {
    background-color: $color;
    color: #000;
  }
  i.fa.rdv-status-#{$status} {
    color: $color;
  }
}

.text-primary-blue {
  color: $blue;
}
