a.rdv-status {
  border: 1px solid transparent;
  &:hover {
    border-color: #000;
  }
}

$status_colors: (
  "unknown": var(--grey-950-100),
  "unknown_future": var(--grey-950-100),
  "unknown_today": var(--yellow-moutarde-850-200),
  "unknown_past": var(--yellow-moutarde-850-200),
  "seen": #27a658,
  // La couleur success-625 du dsfr
  "revoked": var(--green-archipel-850-200),
  "excused": var(--blue-ecume-925-125),
  "noshow": #f95c5e,
  // La couleur red-marianne-625 du dsfr
);

@each $status, $color in $status_colors {
  .rdv-status.rdv-status-#{$status},
  .btn.rdv-status-#{$status} {
    background-color: $color;
    color: #000;
  }
  span.fr-icon-circle-fill.rdv-status-#{$status} {
    color: $color;
  }
}

.rdv-status-print {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: end;
}
.rdv-status-print::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
@each $status, $color in $status_colors {
  .rdv-status-print.rdv-status-print-#{$status}::before {
    background-color: $color;
  }
}
