.recurrence-select {

  &.recurrence-select--never {
    .all-select {
      display: none;
    }
  }

  &.recurrence-select--monthly {
    .weekly-select {
      display: none;
    }
  }

  &.recurrence-select--weekly {
    .monthly-select {
      display: none;
    }
  }
}

.until {
  &.until--none {
    .until-date-select, .until-occurences-select {
      display: none;
    }
  }

  &.until--date {
    .until-occurences-select {
      display: none;
    }
  }

  &.until--occurences {
    .until-date-select {
      display: none;
    }
  }
}
