#search_form {
  .select2-selection {
    min-height: 3rem;
    padding-top: 0.9rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border: 0;
  }

  label {
    color: white;
  }

  .fr-btn[type="submit"] {
    background-color: white;
    color: #313131;
    &:hover {
      opacity: 0.9;
    }
    &[disabled] {
      opacity: 0.65;
    }
  }
}
