#search_form{
  .select2-selection {
    min-height: 3rem;
    padding-top: 0.9rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border: 0;
  }

  .btn {
    color: $gray-900;
  }

  label {
    color: white;
  }
}
