.rdv-iframe-metabase {
  height: 1500px;

  @include media-breakpoint-up(md) {
    height: 1800px;
  }
}

ul.rdv-stats-legend {
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    margin-left: 0;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 10px;
  }

  li span.rdv-stats-legend-circle {
    flex-shrink: 0;
    content: "";
    background-color: transparent; // will be set through JS
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2px; // better alignment with legend text
  }
}

.stats-map {
  border: 1px solid var(--border-default-grey);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rdv-stats-hero-card {
  border-radius: 8px;
  box-shadow: 0 12px 30px 0 rgba(214, 214, 255, 0.4);

  padding: 32px;
  @include media-breakpoint-up(md) {
    padding: 32px 40px;
  }

  .fr-btn--tooltip {
    &:hover {
      color: inherit;
    }
  }
}
