.rdv-iframe-metabase {
  height: 1900px;

  @include media-breakpoint-up(md) {
    height: 2300px;
  }
}

ul.rdv-stats-legend {
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    margin-left: 0;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 10px;
  }

  li span.rdv-stats-legend-circle {
    flex-shrink: 0;
    content: "";
    background-color: transparent; // will be set through JS
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2px; // better alignment with legend text
  }
}

.stats-map {
  border: 1px solid var(--border-default-grey);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rdv-stats-hero-figure {
  text-align: center;
  font-weight: bold;
  color: var(--text-action-high-blue-france);

  p:first-child {
    font-size: 6rem;
    line-height: 6rem;
  }
  p:nth-child(2) {
    font-size: 1.7rem;
  }
}
.rdv-stats-hero-card {
  border-radius: 10px;
  box-shadow: 6px 6px 15px 11px rgba(28, 42, 128, 0.11);
  padding: 2.5rem;

  & > p:first-child {
    font-weight: bold;
    font-size: 3rem;
  }

  .fr-btn--tooltip {
    &:hover {
      color: inherit;
    }
  }
}
