.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}

// Font sizes (Custom)
.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.lead {
  font-size: 1.2rem;
  font-weight: 400 !important; // override bootstrap default
  line-height: 1.8em;
}

.badge {
  margin-left: 0.2rem;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small, .small {
  font-size: 80%;
  font-weight: normal;
}

.larger {
  font-size: larger;
}

mark, .mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.blockquote {
  padding: 3rem 2rem;
  margin-bottom: 1rem;
  font-size: 1.05rem;
  border-left: 4px solid $primary;
}

.blockquote-footer {
  color: #868e96;
  &::before {
    content: "\2014 \00A0";
  }
}

// Font colors (Custom)

.text-dsfr-grey-50 {
  color: #161616;
}

.text-header-blue {
  color: #2E4077;
}
