.bg-overlay {
  background: rgba(255, 255, 255, 0.9);
}

// DISPLAY & VISIBILITY

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.translucent {
  opacity: 0.5;
  pointer-events: none;
}

// TEXT

.strikethrough {
  text-decoration: line-through;
}

a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}

.word-break-all {
  word-break: break-all;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.rdv-text-align-right {
  text-align: right;
}

// GRID

.d-grid {
  display: grid;
}
.grid-three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-align-center {
  align-items: center;
}
.grid-first-column-empty > *:nth-child(1) {
  grid-column-start: 2;
}

// FLEX

.flex-gap-1em {
  gap: 0 1em;
}

.flex-v-gap-1em {
  gap: 1em 0;
}

.flex-row-aligned {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 0.5em;
}

// OTHER

ul.horizontal-border-between-items {
  li {
    border-bottom: 1px solid #eee;
  }
  li:last-child {
    border-bottom: none;
  }
}

.bordered-divs > div {
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.hover-bg-light:hover {
  background-color: $gray-200;
}

.no-transition {
  transition: none !important;
}
