#js-zones-map {
  width: 100%;
  height: 80vh;

  &.small {
    height: 400px;
  }
}
.legend-organisation-circle {
  padding: 3px 10px;
  border-radius: 7px;
}
#js-zones-map-legend {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  right: 0;
  top: 0;
  padding: 20px;
  width: 200px;
  max-height: 80vh;
  overflow: auto;
}
#js-zones-map-small-legend {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 3rem;
  overflow: hidden;
}
.hovered-city-container {
  min-height: 4rem;
}
