= territory_navigation("Organisations")

.fr-grid-row
  .fr-col-md-10
    h1 = @organisation.name

    p Cette organisation est fermée, mais vous pouvez la réouvrir pour y assurer des rendez-vous à nouveau.

    = button_to "Réouvrir cette organisation", reopen_admin_territory_organisation_path(current_territory, @organisation.id), class: "fr-btn"
