= territory_navigation("Organisations")

.fr-grid-row
  .fr-col-md-10
    h1 Organisations de #{current_territory.name_for_agent}

    .card
      .card-body
        ul
          - @organisations.each do |organisation|
            li
              span>= link_to organisation.name, admin_organisation_configuration_path(organisation)

        - if policy(Organisation.new(territory: current_territory), policy_class: Agent::OrganisationPolicy).new?
          .fr-mt-4w
            = link_to "Ajouter une organisation", new_admin_organisation_path(territory_id: current_territory.id), class: "fr-btn"

    .card
      .card-body
        h2.card-title Fermer une organisation
        p Si vous cessez votre activité de rendez-vous dans une organisation ou si vous l'avez ouverte par erreur, vous pouvez fermer une organisation.
        = link_to "Fermer une organisation", select_for_close_admin_territory_organisations_path(current_territory), class: "fr-btn fr-btn--secondary"
