= territory_navigation("Organisations")

.fr-grid-row
  .fr-col-md-10
    h1 Fermer une organisation

    .card
      .card-body
        p Vous ne pouvez que fermer les organisations qui n'ont pas de rendez-vous à venir.
        p Si vous voulez empêcher la prise de nouveaux rendez-vous dans une organisation, vous pouvez archiver ses motifs depuis sa page de configuration.
        p Quelle organisation souhaitez-vous fermer ?

        = form_with url: close_admin_territory_organisations_path(current_territory), method: :patch, builder: Dsfr::FormBuilder do |f|
          = f.select :organisation_id, @organisations.map { |o| [o.name, o.id] }, {}, { class: "select2-input", data: { "select2-config": { disableSearch: true, width: "50%" } } }
          = f.submit "Fermer cette organisation", class: "fr-btn fr-mt-2w"
