- content_for :title, "Définir mon mot de passe"

.card
  .card-body
    - if @from_confirmation
      p.rdv-color-text-mention-grey Pour finaliser votre inscription, veuillez définir un mot de passe.

    = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, builder: DsfrFormBuilder do |f|
      = f.hidden_field :reset_password_token
      .form-group
        = render "common/form/password_input", f: f, live_validation: true

      .rdv-text-align-center
        = f.submit "Enregistrer", class: "fr-btn"
