- content_for :title, "Mot de passe oublié ?"

.card
  .card-body
    = form_for resource, as: resource_name, url: password_path(resource_name) do |f|
      = render "devise/shared/error_messages", resource: resource
      .fr-input-group
        = f.label :email, "Adresse e-mail", class: "fr-label" do
          = "Adresse email"
          span.fr-hint-text Format attendu : nom@domaine.fr
        = f.email_field :email, autofocus: true, required: true, class: "fr-input", autocomplete: "email"

      .rdv-text-align-center
        = f.submit "Envoyer", class: "fr-mb-4v fr-btn"

    hr
    .rdv-text-align-center
      .fr-mb-2w.fr-text--sm
        |> Vous pouvez aussi vous
        = link_to "connecter via code à 6 chiffres", new_user_session_path
