
.online {
  background-color: $yellow;
  color: $dark;
}

.phone {
  background-color: $cyan;
  color: $white;
}

.home {
  background-color: $gray-900;
  color: $white;
}

.secretariat {
  background-color: $orange;
  color: $dark;
}

.follow-up {
  background-color: $green;
  color: $white;
}

