//
// print.scss
//

@media print {
  .left-side-menu,
  .footer {
      display: none;
  }
  .card-body,
  .content-page,
  .content,
  body {
    padding: 0;
    margin: 0 !important;
  }
  .card {
    border-radius: 0 !important;
  }
  .card.print-border-bottom {
    border-bottom: 1px solid #000;
  }
  .card.print-border-top {
    border-top: 1px solid #000;
  }
  b, strong {
    font-family: initial; // fix unreadable bold font in FF print
  }
}
