- content_for(:menu_item) { "menu-online-booking" }

- content_for :title do
  = settings_icon(class: "fr-mr-1w")
  | Configuration

.fr-grid-row.fr-mt-4w
  .fr-col-6.fr-mb-2w
    = render "common/tuile", title: "Agents", path: "#",  description: "1 admin et 5 agents basiques"
  .fr-col-6.fr-mb-2w
    = render "common/tuile", title: "Motifs", path: "#",  description: "3 motifs"
  .fr-col-6.fr-mb-2w
    = render "common/tuile", title: "Lieux", path: "#",  description: "Mairie de Montreuil", details: "3 rue de la république, 93000 Montreuil"
  .fr-col-6.fr-mb-2w
    = render "common/tuile", title: "Information de contact", path: "#",  description: "contact@mairie-montreuil.fr  061122334455"
  .fr-col-6.fr-mb-2w
    = render "common/tuile", title: "Réservation en ligne", path: "#",  description: "contact@mairie-montreuil.fr  061122334455"

br.fr-my-2w
br.fr-my-2w
