.row.justify-content-center
  .col-md-12.col-lg-8
    .card
      .card-body
        = form_for [:admin, current_organisation, agent_intervenant], url: admin_organisation_agent_intervenant_path(current_organisation, agent_intervenant), html: { method: :put }, builder: Dsfr::FormBuilder do |f|
          = f.dsfr_text_field :last_name, label: "Nom", placeholder: "Avocat #1", autocomplete: "off"
          = f.submit "Modifier le nom", class: "fr-btn"
