- content_for :title do
  | Fusionner deux usagers

- content_for :breadcrumb do
  ol.breadcrumb.m-0
    li.breadcrumb-item
      = link_to 'Vos usagers', organisation_users_path(current_organisation)
    li.breadcrumb-item.active Fusionner

= simple_form_for @merge_users_form, url: organisation_merge_users_path(current_organisation), method: "POST" do |f|
  = render partial: 'layouts/model_errors', locals: { model: @merge_users_form }
  .card
    table.table.table-bordered.merge-users-table[style="table-layout:fixed"]
      tr.text-center
        th[style="width:20%"]
        th[style="width:40%"]
          i.fa.fa-user>
          | Usager A
        th[style="width:40%"]
          i.fa.fa-user>
          | Usager B
      tr.text-center
        td
        td= render "user_selection", user: @merge_users_form.user1, attribute: "user1_id", f: f, other_user_id: @merge_users_form.user2&.id
        td= render "user_selection", user: @merge_users_form.user2, attribute: "user2_id", f: f, other_user_id: @merge_users_form.user1&.id
      - @merge_users_form.available_attributes.each do |attribute|
        tr class=@merge_users_form.attribute_comparison(attribute)
          - if [:logement].include?(attribute)
            td= I18n.t("activerecord.attributes.user_profile.#{attribute}")
          - else
            td= I18n.t("activerecord.attributes.user.#{attribute}")

          td.text-right
            - if @merge_users_form.user1
              div.pr-2
                label for="merge_users_form_#{attribute}_1"
                  - value = DisplayableUser.new(@merge_users_form.user1, current_organisation).send(attribute)
                  - if value&.present?
                    = value
                  - else
                    i.text-muted N/A
                  - if @merge_users_form.attribute_comparison(attribute) == :different
                    span.ml-2= f.radio_button attribute, "1", required: true
          td.text-left.pl-3
            - if @merge_users_form.user2
              label for="merge_users_form_#{attribute}_2"
                - if @merge_users_form.attribute_comparison(attribute) == :different
                  span.mr-2= f.radio_button attribute, "2", required: true
                - value = DisplayableUser.new(@merge_users_form.user2, current_organisation).send(attribute)
                - if value&.present?
                  = value
                - else
                  i.text-muted N/A
      tr
        td= "🔒 RDVs"
        td.text-right= render "user_rdvs", user: @merge_users_form.user1
        td.text-left= render "user_rdvs", user: @merge_users_form.user2
      tr
        td= "🔒 Notes"
        td.text-right= render "user_notes", user: @merge_users_form.user1
        td.text-left= render "user_notes", user: @merge_users_form.user2

      - unless @merge_users_form.user1&.relative? && @merge_users_form.user2&.relative?
        tr
          td= "🔒 Agents Responsables"
          td.text-right= render "user_agents", user: @merge_users_form.user1
          td.text-left= render "user_agents", user: @merge_users_form.user2
        tr
          td= "🔒 Proches"
          td.text-right= render "user_relatives", user: @merge_users_form.user1
          td.text-left= render "user_relatives", user: @merge_users_form.user2
    .row.pr-3.pb-3
      .col.text-right
        = f.button :submit, value: "Fusionner", data: { confirm: "Êtes-vous certain(e) de vouloir fusionner ces deux usagers ? Cette action est définitive" }
