div
  p= t("mailers.common.hello")

  p
    - if @rdv.status == "revoked"
      | Votre RDV #{@rdv.service_name} du #{l(@rdv.starts_at, format: :human)} a été annulé pour raison administrative.
    - else
      | Votre RDV #{@rdv.service_name} du #{l(@rdv.starts_at, format: :human)} a bien été annulé à votre demande.

  - if @rdv.phone_number.present?
    |> Vous pouvez reprendre un rendez-vous en appelant au
    => link_to(@rdv.phone_number, "tel:#{@rdv.phone_number_formatted}")
    | .

  - if @rdv.bookable_by_everyone?
    p
      | Vous pouvez reprendre un rendez-vous en cliquant sur le lien ci-dessous :
    .btn-wrapper
      = link_to "Reprendre RDV", prendre_rdv_url(\
        departement: @rdv.organisation.departement_number,
        motif_name_with_location_type: @rdv.motif.name_with_location_type,
        public_link_organisation_id: @rdv.organisation_id,
        lieu_id: @rdv.lieu_id,
        address: @rdv.address,
        invitation_token: @token \
      ), class: "btn btn-primary"

  br
  = t("mailers.common.farewell_html", domain_name: domain.name)
