#search_form{
  > div {
    margin-bottom: 1.4rem;
  }

  .input-wrapper{
    input{
      border: none;
      font-size: 18px;
    }
  }

  #search_where {
    @media (min-width: 992px) {
      border-radius: .5rem 0 0 .5rem;
    }
  }

  button{
    margin-top: 0.2rem;
    border-radius: .5rem;

    @media (min-width: 992px) {
      border-radius: 0 .5rem .5rem 0;
    }

    color: $blue;
    font-weight: bold;
  }

  .select2 {
    background: white;
    border-radius: .5rem;
    @media (min-width: 992px) {
      border-radius: 0;
    }
  }

  .select2-multiple{
    left: 1.5rem;
    top: 32px;
  }

  .select2-selection {
    cursor: text;
    border: none;
    min-height: 3rem;
    border-left: .1rem solid $light;
    border-radius: .5rem;
    @media (min-width: 992px) {
      border-radius: 0;
    }
  }
}

.select2-dropdown.select2-dropdown--below{
  margin-top: 3px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.select2-container--bootstrap4{
  .select2-results > .select2-results__options{
    max-height: 259px;
  }

  li.select2-results__option{
    color: #313131;
    padding: 0.7rem 1.375rem;
    height: 46px;
  }

  .select2-selection__arrow {
    display: none;
  }

  .select2-results__option--highlighted[aria-selected]{
    background-color: #efefef;
    color: #313131;
  }

  .select2-selection--single{
    padding: .75rem 0 .75rem .375rem;
  }

  .select2-selection--single .select2-selection__rendered{
    color: #313131;
    font-size: 18px;
    padding-left: 10px;
    line-height: 24px;
  }

  .select2-search__field{
    height: 40px;
    padding-left: 10px;
  }

  &.select2-container--below{
    text-overflow: ellipsis;
    width: 100% !important;
  }

  span[title="ex : PMI"], span[title="ex : Consultation médicale"] {
    color: #b8bec5 !important;
  }
}

span.select2-search.select2-search--dropdown{
  border-left: .1rem solid $light;
  border-radius: .5rem;
  @media (min-width: 992px) {
    border-radius: 0;
  }
}
