.js-merge-users-user-wrapper
  - if user.present?
    .collapse.show.js-merge-users-collapse-user class="collapse-#{attribute}"
      div
        b>= user.full_name
        span>= relative_tag(user)
        = link_to "changer...", ".collapse-#{attribute}", data: { toggle: "collapse" }

    = f.input attribute, as: :hidden, input_html: { id: attribute }, wrapper: false

  .collapse class="collapse-#{attribute}" class=('show' unless user.present?)
    - url_opts = local_assigns[:other_user_id].present? ? { exclude_ids: [other_user_id] } : {}
    = f.input "change_#{attribute}", \
      as: :select, \
      collection: policy_scope(User).order_by_last_name, \
      label_method: -> { full_name_and_birthdate(_1) },
      include_blank: "Sélectionner un usager", \
      required: true, \
      label: false, \
      disabled: user.present?, \
      wrapper_html: { class: "mb-0" }, \
      input_html: { \
        id: attribute, \
        class: "select2-input js-merge-users-user-select js-selectable", \
        data: { \
          "select-options": { \
            ajax: { \
              url: search_admin_organisation_users_path(current_organisation, **url_opts), \
              dataType: 'json', \
              delay: 250, \
            } \
          }, \
          "field-name": attribute \
        } \
      }
