.js-merge-users-user-wrapper
  - if user.present?
    .collapse.show.js-merge-users-collapse-user class="collapse-#{attribute}"
      div
        b>= user.reverse_full_name
        span>= relative_tag(user)
        span>= user_logged_franceconnect_tag(user)
        = link_to "changer...", ".collapse-#{attribute}", data: { toggle: "collapse" }

    = f.input attribute, as: :hidden, input_html: { id: attribute }, wrapper: false

  .collapse class="collapse-#{attribute}" class=("show" unless user.present?)
    - url_opts = local_assigns[:other_user_id].present? ? { exclude_ids: [other_user_id] } : {}
    = f.input "change_#{attribute}", \
      as: :select, \
      collection: [], \
      label_method: -> { reverse_full_name_and_birthdate(_1) },
      include_blank: "Sélectionner un usager", \
      required: true, \
      label: false, \
      disabled: user.present?, \
      wrapper_html: { class: "mb-0" }, \
      input_html: { \
        id: attribute, \
        class: "select2-input js-merge-users-user-select js-selectable", \
        data: { \
          "select2-config": { \
            ajax: { \
              url: search_admin_organisation_users_path(current_organisation, **url_opts), \
              dataType: "json", \
              delay: 250, \
            }, \
          }, \
          "field-name": attribute, \
        }, \
      }
