h1 Test visio.numerique.gouv.fr

- if @room_url
  .fr-alert.fr-alert--success.fr-mb-2w
    p Salle créée avec succès !
  = link_to "Rejoindre la salle", @room_url, target: "_blank", rel: "noopener", class: "fr-btn"

- elsif !@access_token_present
  .fr-alert.fr-alert--warning.fr-mb-2w
    p Vous devez vous connecter via ProConnect pour utiliser cette fonctionnalité.

- else
  = form_tag create_room_agents_visio_numerique_path, method: :post do
    = submit_tag "Créer une salle de visio", class: "fr-btn"
