= render partial: 'layouts/model_errors', locals: { model: zone_form }

= simple_form_for( \
  zone_form, \
  url: @zone_form.zone.new_record? ? departement_zones_path(current_departement) : departement_zone_path(current_departement, @zone_form.zone), \
  method: @zone_form.zone.new_record? ? :post : :patch, \
  as: :zone,
) do |f|
  = f.input :organisation_id, \
    collection: policy_scope(Organisation), \
    include_blank: false
  = f.input :level, \
    as: :select, \
    collection: [Zone::LEVEL_CITY], \
    include_blank: false, \
    label_method: -> { Zone.human_enum_name(:level, _1) }
  = f.input :city_label, \
    label: "Commune", \
    input_html: { \
      class: "places-js-container", \
      data: { "address-type": "municipality" } \
    }, \
    required: true
  = f.input :city_name, input_html: { readonly: true }, required: true
  = f.input :city_code, input_html: { readonly: true }, required: true
  = f.submit class: 'btn btn-primary'
