/# locals: (calendars:, preselected_url:)

- content_for :title do
  | Configuration de la synchronisation CalDAV

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.with_breadcrumb label: "Synchronisation d'agenda", href: agents_calendar_sync_path
    = b.with_breadcrumb label: "Configuration de la synchronisation CalDAV"

p Veuillez sélectionner ci-dessous l'agenda que vous souhaitez synchroniser avec RDV Service Public.

= form_tag agents_calendar_sync_caldav_sync_path, method: :put do
  = hidden_field_tag :caldav_username, params[:caldav_username]
  = hidden_field_tag :caldav_password, params[:caldav_password]
  = hidden_field_tag :caldav_include_sensitive_data, params[:caldav_include_sensitive_data]
  = hidden_field_tag :caldav_calendar_name, params[:caldav_calendar_name]
  = hidden_field_tag :caldav_calendar_color, params[:caldav_calendar_color]

  fieldset.fr-fieldset
    legend.fr-fieldset__legend.fr-fieldset__legend--regular
      | Sélectionnez l'agenda à synchroniser
    - calendars.each do |calendar|
      - writable = calendar.current_user_privilege_set&.include?("write")
      .fr-fieldset__element
        .fr-radio-group[class=("fr-radio-group--disabled" unless writable)]
          input type="radio" name="caldav_agenda_url" id="calendar_#{calendar.url.parameterize}" value=calendar.url required=true checked=(calendar.url.chomp("/") == preselected_url) disabled=(!writable || nil)
          label.fr-label for="calendar_#{calendar.url.parameterize}"
            = calendar.display_name
            - unless writable
              span.fr-hint-text Vous n’avez pas les droits d’écriture sur cet agenda.

  = submit_tag "Valider", class: "fr-btn fr-mt-2w"
