= territory_navigation(t(".title"), [["Agents", admin_territory_agents_path(current_territory)]])

.card
  .card-body
    - if current_territory.services.any?(&:secretariat?)
      = dsfr_callout do
        | Le service secrétariat a été remplacé par une nouvelle permission « Agent d’accueil » que vous pouvez activer pour chaque agent dans les paramètres de l’organisation.
    = simple_form_for [:admin, @agent], as: :admin_agent, url: admin_territory_agents_path(current_territory), html: { method: :post } do |f|
      = render "devise/shared/error_messages", resource: @agent
      = f.input :email, placeholder: t(".email_placeholder"), input_html: { autocomplete: "off"}
      = f.association :services, collection: current_territory.services.reject(&:secretariat?), input_html: { class: "select2-input", data: { "auto-select-sole-option": true } }, hint: t(".services_hint")

      = f.association :organisations, as: :check_boxes, collection: @organisations_to_select, label: t(".organisations"), include_hidden: false

      .text-right
        = f.button :submit, t("devise.invitations.new.submit_button")
