body.authentication-bg {
  background-size: cover;
  background-position: center;
  background: linear-gradient(to right, lighten($primary, 30%), lighten($secondary, 30%));
}

.logout-icon {
  width: 140px;
}

.auth-fluid {
  min-height: 100vh;
  background-size: cover;

  .auth-fluid-form-box {
    z-index: 2;
    padding: 3rem 2rem;
    background-color: $white;

    @include media-breakpoint-down(md) {
      min-height: 100vh;
      padding: 1rem;
    }
  }

  .auth-fluid-left {
    color: $white;
    background-color: $primary;

    @include media-breakpoint-up(lg) {
      padding: 6rem 3rem 0rem 3rem;
    }

    .sidemenu__item {
      padding: 0 1rem;
      a {
        color: $menu-item;
        transition: all 0.4s;

        &:focus,
        &:hover {
          color: $white;
        }
      }

    }
    .sidemenu__item--active {
      margin-left: -2px;
      border-left-width: 2px;
      border-left-style: solid;
      border-left-color: $white;
      a {
        color: $white;
      }
    }

    body.agents & {
      background-color: $blue;
      color: $white;
      .agent-profile {
        border: 3px solid $white;
        border-radius: 100%;
      }
    }
  }
  .auth-fluid-left--agent-preferences {
    @include media-breakpoint-up(lg) {
      padding: 3rem 2rem 0rem 2rem;
    }
  }
}

.toggle-password{
  float: right;
  margin-right: 1rem;
  margin-top: -1.8rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.france-connect-link {
  .hover {
    display: none;
  }
  &:hover {
    .normal {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}
.france-connect-details {
  margin-top: 8px;
  font-size: 13px;
}
