// common : users & agents
footer {
  color: $blue;
  text-decoration: none;
  h2 {
    font-size: 1.125rem;
  }
}

// only used for users
footer.main-footer {
  padding: 3rem 0 0;
  .brand {
    font-weight: 800;
    font-size: 1.7rem;
    color: #222;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  footer.main-footer {
    padding: 100px 0 0;
  }
}

// only used for agents
.footer {
  border-top: 1px solid rgba($gray-600, 0.2);
  bottom: 0;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0;
  left: $leftbar-width;
}

@include media-breakpoint-down(sm) {
  .footer {
    left: 0 !important;
    text-align: center;
  }
}

// DSFR overrides

.fr-footer__partners-title {
  font-size: 1.5rem;
}

.fr-footer__partners-main {
  // this avoids footer to overflow on the right and thus increasing the viewport width which breaks DSFR modals
  flex-wrap: wrap;
  gap: 1rem;
  background: $white;
}
