html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

// DSFR Overrides

a[href] {
  background-image: none;
}

header.fr-header,
header.fr-header .fr-header__brand {
  box-shadow: none;
  filter: none;
  background-color: inherit;
}
