header {
  .alert-warning,
  .alert-info {
    color: $gray-900;
    background-color: $white;
    border: 1px solid $gray-900;
    border-radius: 0;
  }
}

.header-brand {
  .logo-dsfr {
    width: 10rem;
  }
  &:hover {
    background-color: rgb(246, 246, 246);
  }
}

.navbar-dsfr {
  padding: 0.8rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-grow: inherit;
  @media (max-height: 800px) {
    padding: 0;

    .logo-dsfr.logo-dsfr--compactable {
      width: 8rem;
      padding: 0.7rem;
    }
  }

  .link-connect {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.logo-dsfr {
  max-height: 3.3rem;
  padding: 0.3rem;
}

.logo-brand {
  padding: 0.3rem;
  max-width: 6rem;
}

.link-dsfr {
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;

  line-height: 1.5rem;
  color: $blue;
  border: 2px solid transparent;

  &:hover {
    background-color: rgb(246, 246, 246);
  }

  &:focus {
    border: 2px solid $focus-dsfr;
    box-shadow: none;
  }
}

// Responsive Mobile

@media (max-width: 991px) {
  .navbar-dsfr {
    align-items: flex-start;
  }

  .header-brand {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .link-dsfr {
    margin-bottom: 1rem;
  }
}

// DSFR overrides

.header-wrapper {
  // necessary to preserve the RDV grid
  // remove this wrapper once we switch to the DSFR grid
  background-color: $white;
  box-shadow: 0px 3px 14px 0px $lightgrey;
}

header.fr-header {
  box-shadow: none;
  filter: none;
}

header.fr-header .fr-header__brand {
  // this shows on responsive views mostly
  filter: none;
}
