.content-and-left-menu-wrapper {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.content-page {
  overflow: hidden;
  min-height: calc(
    100vh - 73px
  ); // 73px correspond à la taille du header, arrondie au supérieur
  padding-bottom: 73px; //idem

  @media (max-height: 800px) {
    min-height: calc(100vh - 49px); // taille du header
    padding-bottom: 49px; //idem
  }
}

.left-side-menu-wrapper {
  background: $bg-leftbar;
}
.left-side-menu {
  background: $bg-leftbar;
  scrollbar-width: thin;

  a {
    color: $menu-item;
    transition: all 0.2s;

    &.side-menu__item {
      display: block;
      width: 100%; //permet d'augmenter la surface du lien pour le rendre plus facilement clickable
      padding: 20px 12px 20px 24px;

      &:hover {
        background-color: lighten($bg-leftbar, 5%);
      }

      &.active {
        border-left-width: 2px;
        border-left-style: solid;
        border-left-color: $white;
      }

      &.side-menu__item--small {
        padding: 6px 12px;
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &[aria-expanded="true"] {
      color: $menu-item-hover;
      text-decoration: none;
    }
  }

  .menu-arrow {
    transition: transform 0.4s;
  }

  [aria-expanded="true"] .menu-arrow {
    transform: rotate(-180deg);
  }

  .badge {
    margin-top: 4px;
  }

  .current-organisation {
    background-color: lighten($bg-leftbar, 10%);
  }

  .side-nav-title {
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    text-transform: uppercase;
    color: $menu-item;
    font-weight: $font-weight-bold;
  }
}

@include media-breakpoint-up(md) {
  .wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .left-side-menu {
    width: $leftbar-width;
    z-index: 10;
    bottom: 0;
    position: sticky;
    top: 0;
    max-height: 100vh; // pour permettre de scroller dans le menu
    overflow-y: auto;
    overflow-x: hidden;

    .logo-and-hamburger {
      justify-content: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .left-side-menu {
    .logo-and-hamburger {
      justify-content: space-between;
    }
  }
  .content-page {
    margin-left: 0 !important;
  }

  // the order of these next 2 rules is important
  #menu-agent.collapsing,
  #menu-agent.show {
    display: block;
  }
  #menu-agent {
    display: none;
  }
}
