.page-title-box {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  .page-title {
    margin: 0;
    line-height: 85px;
  }
  .page-title-right {
    margin-bottom: 12px;
  }

  .breadcrumb {
    padding-top: 8px;
  }
}
