- content_for(:title) { "Nouveau RDV collectif" }

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths: [["RDV collectifs", admin_organisation_rdvs_collectifs_path(current_organisation)]], current_page_title: "Choisir un motif"

.row.justify-content-md-center
  .col-md-12.col-lg-8
    .card
      .card-body
        h2.fr-h4 Choisissez un motif

        - if @motifs.empty?
          - if Agent::MotifPolicy.new(current_agent, Motif.new(organisation_id: current_organisation.id)).new?
            div Il n'existe aucun motif de RDV collectif. Veuillez en créer un pour continuer.
            .d-flex.justify-content-center.my-2
              = link_to t("admin.motifs.actions.new"), new_admin_organisation_motif_path(current_organisation), class:"fr-btn"
          - else
            div Il n'existe aucun motif de RDV collectif et vous ne pouvez pas en créer un. Demandez à un administrateur ou une administratrice.
        - else
          - @motifs.each do |motif|
            .card.fr-enlarge-link.fr-card--shadow
              .card-body
                .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
                  h3.fr-h5 = link_to motif.name, new_admin_organisation_rdvs_collectif_path(current_organisation, { motif_id: motif.id })
                .d-flex.rdv-justify-content-space-between.rdv-align-items-baseline
                  p.fr-mb-0
                    = location_type_icon(motif.location_type, class: "fr-mr-1w")
                    = motif.human_attribute_value(:location_type)
                    = " · "
                    = "#{motif.default_duration_in_min} mn"

                  = icon("fr-icon-arrow-right-line", class: "rdv-color-text-action-high-blue-france")
