- content_for(:title) { "Nouveau RDV collectif" }

- content_for :fil_ariane do
  = dsfr_breadcrumbs(html_attributes: { class: "fr-mb-0 fr-ml-2w" }) do |b|
    = b.with_breadcrumb label: "Accueil", href: root_path
    = b.with_breadcrumb label: "RDV collectifs", href: admin_organisation_rdvs_collectifs_path(current_organisation)
    = b.with_breadcrumb label: "Choisir un motif"

.row.justify-content-md-center
  .col-md-12.col-lg-8
    .card
      .card-header
        h3.rdv-text-align-center Choisissez un motif

      .card-body
        - if @motifs.empty?
          - if Agent::MotifPolicy.new(current_agent, Motif.new(organisation_id: current_organisation.id)).new?
            div Il n'existe aucun motif de RDV collectif. Veuillez en créer un pour continuer.
            .d-flex.justify-content-center.my-2
              = link_to t("admin.motifs.actions.new"), new_admin_organisation_motif_path(current_organisation), class:"btn btn-outline-primary"
          - else
            div Il n'existe aucun motif de RDV collectif et vous ne pouvez pas en créer un. Demandez à un administrateur ou une administratrice.
        - else
          - @motifs.each do |motif|
            = link_to new_admin_organisation_rdvs_collectif_path(current_organisation, { motif_id: motif.id }) do
              .mb-3
                = motif.name
                br
                = "#{motif.default_duration_in_min} minutes"
