/# locals: (rdv_plan:, event_sources:, single_day: false)

- agent = rdv_plan.rdv_agent || current_agent

ruby:
  full_calendar_config_from_server = {
    hiddenDays: fc_hidden_days_for(current_agent),
    eventSources: event_sources
  }

#rdvPlanCalendar[
  data-full-calendar-config-from-server-json=full_calendar_config_from_server.to_json
  data-default-date-json="#{(rdv_plan.starts_at&.to_date || Time.zone.today).to_json}"
  data-slot-min-time="#{I18n.l(rdv_plan.starts_at - 2.hours, format: "%H:%M:%S") if single_day}"
  data-slot-max-time="#{I18n.l(rdv_plan.starts_at + 3.hours, format: "%H:%M:%S") if single_day}"
  data-single-day="#{single_day}"
  style="margin-top: -60px; margin-bottom: 24px;"
]

= simple_form_for rdv_plan, url: update_starts_at_agents_rdv_plan_path(rdv_plan),html: { id: "rdvPlanCalendarForm"} do |f|
  = f.hidden_field :starts_at, id: "rdvPlanCalendarField"
