/ locals(rdv_plan:)
br
span.fr-icon-calendar-fill.fr-mr-1w[aria-hidden="true"]
= "#{l(rdv_plan.starts_at, format: :human)} (#{rdv_plan.motif.default_duration_in_min} minutes)"
= link_to "modifier", edit_creneau_agents_rdv_plan_path(rdv_plan), class: "fr-ml-2w"
br
span.fr-icon-user-star-fill.fr-mr-1w[aria-hidden="true"]
= rdv_plan.rdv_agent.full_name
= link_to "modifier", edit_creneau_agents_rdv_plan_path(rdv_plan), class: "fr-ml-2w"
