/ locals(rdv_plan:, current_step:, step_title:, next_step_title:)
h1.fr-h2
  | Nouveau rendez-vous
  - if rdv_plan.users.any?
    = " avec #{rdv_plan.users.first.full_name}"
= render "common/stepper", step_count: 3, current_step:, step_title:, next_step_title:
