- if @rdv_plan.oauth_application
  .fr-row.fr-mb-16w
    .fr-col-12
      = content_for(:rdv_plan_header)

    .fr-col-12.fr-col-md-8
      = content_for(:rdv_plan_summary)
      - if content_for(:rdv_plan_summary)
        hr.fr-mt-2w
      = content_for(:rdv_plan_main)

- else
  .fr-grid-row.fr-mb-4w.fr-mt-2w
    .fr-col-8.fr-col-offset-2
      = content_for(:rdv_plan_header)
      .card.card-body.fr-p-2w[style="margin-top: -24px"]
        - if content_for(:rdv_plan_summary)
          .fr-col-12
             = content_for(:rdv_plan_summary)
          hr.fr-mt-2w
        = content_for(:rdv_plan_main)
