/# locals: (rdv_plan:)

fieldset[class="fr-fieldset" id="rdv_plan[modalite]" aria-labelledby="radio-rich-no-pictogram-inline-legend radio-rich-no-pictogram-inline-messages"]
  legend[class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-rich-no-pictogram-inline-legend"]
    | Comment souhaitez-vous faire le rendez-vous ?

  - if @available_location_types.include?("public_office")
    - lieux = policy_scope(Lieu.enabled, policy_scope_class: Agent::LieuPolicy::Scope)
    - lieux.each do |lieu|
      .fr-fieldset__element
        .fr-radio-group.fr-radio-rich
          input[value="public_office-#{lieu.id}" type="radio" id="public_office-#{lieu.id}" name="rdv_plan[modalite]" required]
          label.fr-label[for="public_office-#{lieu.id}"]
            span
              = lieu_icon
              = " Sur place à #{lieu.name}"
            span.fr-hint-text = lieu.address

  - if @available_location_types.include?("phone")
    .fr-fieldset__element
      .fr-radio-group.fr-radio-rich
        input[value="phone" type="radio" id="rdv_plan_modalite_phone" name="rdv_plan[modalite]" required]
        label.fr-label[for="rdv_plan_modalite_phone"]
          span
            = phone_icon
            = " Par téléphone"

  - if @available_location_types.include?("visio")
    .fr-fieldset__element
      .fr-radio-group.fr-radio-rich
        input[value="visio" type="radio" id="rdv_plan_modalite_visio" name="rdv_plan[modalite]" required]
        label.fr-label[for="rdv_plan_modalite_visio"]
          span
            = visio_icon
            = " Par visioconférence"
          span.fr-hint-text
            | Nous vous fournirons un lien de visio

  - if @available_location_types.include?("home")
    .fr-fieldset__element
      .fr-radio-group.fr-radio-rich
        input[value="home" type="radio" id="rdv_plan_modalite_home" name="rdv_plan[modalite]" required]
        label.fr-label[for="rdv_plan_modalite_home"]
          span
            = home_icon
            | Au domicile de l'usager

  div[class="fr-messages-group" id="radio-rich-no-pictogram-inline-messages" aria-live="polite"]
