fieldset.fr-fieldset.radio-hint-element-messages[id="radio-hint-element" aria-labelledby="radio-hint-element-legend"]
  legend.fr-fieldset__legend--regular.fr-fieldset__legend[id="radio-hint-element-legend"]
  | Comment souhaitez-vous faire le rendez-vous ?
  .fr-fieldset__element
    .fr-radio-group
      input[type="radio" id="radio-hint-element-1" name="radio-hint-element"]
      label.fr-label[for="radio-hint-element-1"]
      Sur place
      span.fr-hint-text
      | Texte de description additionnel
    .fr-radio-group
      input[type="radio" id="radio-hint-element-1" name="radio-hint-element"]
      label.fr-label[for="radio-hint-element-1"]
      Libellé bouton radio
      span.fr-hint-text
      | Texte de description additionnel
    .fr-radio-group
      input[type="radio" id="radio-hint-element-1" name="radio-hint-element"]
      label.fr-label[for="radio-hint-element-1"]
      Libellé bouton radio
      span.fr-hint-text
      | Texte de description additionnel
    .fr-radio-group
      input[type="radio" id="radio-hint-element-1" name="radio-hint-element"]
      label.fr-label[for="radio-hint-element-1"]
      Libellé bouton radio
      span.fr-hint-text
      | Texte de description additionnel

