.fr-row.fr-mb-16w
  .fr-col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 2, step_title: "Créneau", next_step_title: "Usager"

  .fr-col-12.fr-col-md-8
    = render "agents/rdv_plans/summary/motif", rdv_plan: @rdv_plan
    hr.fr-mt-2w

    - creneaux_search = @rdv_plan.build_invitation.creneaux_search(Time.zone.now)
    - creneaux_count = creneaux_search.creneaux.count

    p Il y a #{creneaux_count} créneaux disponibles pour ce motif.

    p Nous allons envoyer un email à #{@rdv_plan.user.full_name} pour lui permettre de choisir un créneau.

  .fr-col-12.fr-col-md-8.fr-mt-2w.d-flex.rdv-justify-content-space-between
    = link_to "Retour", edit_motif_agents_rdv_plan_path(@rdv_plan), class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line"
    = link_to "Continuer", edit_user_agents_rdv_plan_path(@rdv_plan), class: "fr-btn fr-ml-2w"
