.row.justify-content-md-center
  .col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 2, step_title: "Créneau", next_step_title: "Usager"

    .card
      .card-body
        = render "agents/rdv_plans/motif_recap", rdv_plan: @rdv_plan
        = render "agents/rdv_plans/lieu_recap", rdv_plan: @rdv_plan
        hr.fr-mt-2w
        .row.position-relative[style="min-height: 200px"]
          - if @rdv_plan.date_range.begin > Time.zone.today
            - previous_from_date = @rdv_plan.date_range.begin - 7.days
            .col-auto.d-flex.align-items-center
              / TODO: make this link work
              = link_to "#", class: "btn btn-primary" do
                i.fa.fa-arrow-left
          .col
            .row.no-gutters.creneaux-row.lieu-creneaux-card
              - @rdv_plan.date_range.each do |date|
                .col.position-relative
                  p.rdv-text-align-center.sticky-top.bg-white
                    strong= l(date, format: "%A")
                    br
                    = l(date, format: "%d %b")

                  - if @results.creneaux.empty?
                    p.rdv-text-align-center
                      small aucune disponibilité
                  - else
                    - agents = @results.creneaux.map(&:agent).uniq
                    - creneaux_for_date = @results.creneaux.select { |c| c.starts_at.to_date == date }.sort
                    - creneaux_for_date.each do |creneau|
                      = link_to update_creneau_agents_rdv_plan_path(@rdv_plan, rdv_plan: {rdv_agent_id: creneau.agent.id, starts_at: creneau.starts_at}), method: :patch, class: "creneau bg-light d-block w-100 text-center p-1 mb-1 rounded" do
                        .m-1
                          span.strong.font-weight-bold= l(creneau.starts_at, format: "%H:%M")
                          br
                          i class= "mr-1 fa fa-user-alt #{agent_color(agents.index(creneau.agent))}"
                          small.text-dark= creneau.agent.short_name

          - if @results.next_availability
            - if @rdv_plan.date_range.end < @results.next_availability.starts_at.to_date && @results.creneaux.empty?
              .position-absolute.h-100.w-100.bg-overlay.d-flex.align-items-center.justify-content-center
                / TODO: faire aussi marcher ça
                = link_to "#", class: "btn btn-light" do
                  .d-flex.align-items-center
                    div
                      | Prochaine disponibilité le
                      br
                      strong= l(next_availability.starts_at, format: :human)
                    .ml-2
                      i.fa.fa-chevron-right

            .col-auto.d-flex.align-items-center
              / TODO: faire aussi marcher ça
              = link_to "#", class: "btn btn-primary" do
                i.fa.fa-arrow-right
        - if @rdv_plan.motif.requires_lieu?
          = link_to "retour", lieu_agents_rdv_plan_path(@rdv_plan)
        - else
          = link_to "retour", motif_agents_rdv_plan_path(@rdv_plan)
