.row.justify-content-md-center.fr-mb-4w
  .col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 1, step_title: "Créneau", next_step_title: "Motif"
    .row
      .col-12.col-md-4
        = render "agents/rdv_plans/calendar", rdv_plan: @rdv_plan, single_day: true
        = link_to edit_starts_at_agents_rdv_plan_path(@rdv_plan) do
          = back_icon(class: "fr-mr-1w")
          = "retour"

      .col-12.col-md-8
        = simple_form_for @rdv_plan, url: update_modalites_agents_rdv_plan_path(@rdv_plan) do |f|
          .fr-mb-4w
            .input-group
              = datetime_input(f, :starts_at, options: { label_html: { style: "flex-shrink: 0;", class: "fr-mr-2w" }, wrapper_html: { class: "d-flex", style: "align-items: baseline;" }})

          = "Comment souhaitez-vous faire le rendez-vous ?"
          = f.collection_radio_buttons :modalite, modalites_collection, :first, :last, item_wrapper_tag: :div, item_wrapper_class: "fr-m-2w"

          = f.submit "Continuer", class: "fr-btn float-right"
