= render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 2, step_title: "Créneau", next_step_title: "Usager"

.fr-grid-row
  .fr-col-12.fr-mb-16w.fr-col-md-8
    div
      = render "agents/rdv_plans/summary/motif", rdv_plan: @rdv_plan
      = render "agents/rdv_plans/summary/agent", rdv_plan: @rdv_plan

    hr.fr-mt-2w.fr-mb-2w
    = form_for @rdv_plan, url: update_starts_at_and_duration_agents_rdv_plan_path(@rdv_plan), builder: Dsfr::FormBuilder do |f|
      = render "model_errors", model: @rdv_plan
      = dsfr_datetime_input f, :starts_at, label: "Date et heure de début", data: { "past-date-alert-target": "date-input" }, required: true
      = f.dsfr_number_field :duration_in_minutes, label: "Durée du rendez-vous", hint: "en minutes"

      .fr-col-12.fr-mt-2w.d-flex.rdv-justify-content-space-between
        = link_to "Retour", edit_starts_at_agents_rdv_plan_path(@rdv_plan), class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line"
        = f.submit "Continuer", class: "fr-btn"
