/# locals: (event_sources:, other_agents:)

.fr-row.fr-mb-16w[data-controller="rdv-plan" data-rdv-plan-id="#{@rdv_plan.id}"]
  .fr-col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 1, step_title: "Créneau", next_step_title: "Motif"

    ol
      li Convenez d’un horaire avec #{@rdv_plan.user.full_name}
      li Choisissez un agent pour ce rendez-vous
      li Cliquez dessus dans le calendrier
      .fr-mt-2w
        .fr-select-group.fr-col-4
          label.fr-label[for="rdv_plan_agent_id"] Choisir un agent
          select.fr-select[data-action="change->rdv-plan#updateAgent"]
            - if @rdv_plan.rdv_agent == current_agent
              option[value="#{current_agent.id}" selected] #{current_agent.full_name} (vous)
            - else
              option[value="#{current_agent.id}"] #{current_agent.full_name}
            - other_agents.each do |agent|
              - if agent == @rdv_plan.rdv_agent
                option[value="#{agent.id}" selected] #{agent.full_name}
              - else
                option[value="#{agent.id}"] #{agent.full_name}
        = render "agents/rdv_plans/calendar", event_sources:, rdv_plan: @rdv_plan, single_day: false
        - if @rdv_plan.return_url
          = link_to @rdv_plan.return_url do
            = back_icon(class: "fr-mr-1w")
            = "Retour sur #{@rdv_plan.oauth_application.name}"
