.fr-row.justify-content-md-center.fr-mb-16w
  .fr-col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 2, step_title: "Motif", next_step_title: "Usager"
    .card
      .card-body
        = render "agents/rdv_plans/summary/starts_at", rdv_plan: @rdv_plan
        = render "agents/rdv_plans/summary/location_type", rdv_plan: @rdv_plan
        hr.fr-mt-2w

        = simple_form_for @rdv_plan, url: update_motif_agents_rdv_plan_path(@rdv_plan) do |f|
          = render "model_errors", model: @rdv_plan

          = f.input :motif_id, \
            label: "Motif du rendez-vous", \
              required: true, \
              include_blank: true, \
              collection: @motifs, \
              label_method: -> { "#{_1.name} #{'- RDV collectif ' if _1.collectif?}" }, \
              input_html: { \
                data: { \
                  placeholder: "Sélectionnez un motif", "auto-select-sole-option": true, \
                  "select2-config": { disableSearch: true }, \
                }, \
                class: "select2-input", \
              }

          = f.submit "Continuer", class: "fr-btn float-right"

    = link_to edit_modalites_agents_rdv_plan_path(@rdv_plan) do
      = back_icon(class: "fr-mr-1w")
      = "retour"
