= render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 3, step_title: "Usager", next_step_title: ""

.fr-grid-row
  .fr-col-12[class=(@rdv_plan.oauth_application.present? ? "fr-mb-16w" : "fr-col-md-10 fr-col-offset-md-1 card card-body" ) ]
    div
      = render "agents/rdv_plans/summary/motif", rdv_plan: @rdv_plan
      = render "agents/rdv_plans/summary/agent", rdv_plan: @rdv_plan
      = render "agents/rdv_plans/summary/starts_at", rdv_plan: @rdv_plan
      = render "agents/rdv_plans/summary/location_type", rdv_plan: @rdv_plan

    hr.fr-mt-2w
    = render "edit_user_form"
