= render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 2, step_title: "Créneau", next_step_title: "Usager"

.fr-col-12.fr-col-md-8.fr-mb-16w
  .fr-col-12
    = render "agents/rdv_plans/summary/motif", rdv_plan: @rdv_plan

    hr.fr-mt-2w

    - creneaux_search = @rdv_plan.build_invitation.creneaux_search(Time.zone.now)
    - creneaux_count = creneaux_search.creneaux.count

    - if creneaux_count > 0
      p
        = icon("fr-icon-mail-send-line", class: "fr-mr-1w")
        | Nous allons envoyer un email à #{@rdv_plan.user.full_name} pour lui permettre de choisir un créneau.

      p.fr-text-mention--grey.fr-text--sm
        = icon("fr-icon-checkbox-circle-line", class: "fr-mr-1w rdv-color-text-default-success fr-icon--sm")
        | Il y a #{creneaux_count} créneaux disponibles pour ce motif.

    - else
      p Il n'y a pas de créneau disponible pour ce motif.
      = link_to "Ajouter des plages d'ouverture", admin_organisation_planning_plage_ouvertures_path(@rdv_plan.organisation, { agent_id: current_agent.id }), class: "fr-btn fr-btn--secondary fr-mb-4w"

    p.fr-text-mention--grey.fr-text--sm
      | Si vous préférez, vous pouvez aussi #{link_to("choisir un horaire directement", edit_starts_at_agents_rdv_plan_path(@rdv_plan))}.

    .fr-col-12.fr-mt-2w.d-flex.rdv-justify-content-space-between
      = link_to "Retour", edit_motif_agents_rdv_plan_path(@rdv_plan), class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line"
      - if creneaux_count > 0
        = form_for @rdv_plan, url: update_rdv_invitation_agents_rdv_plan_path(@rdv_plan), builder: Dsfr::FormBuilder do |f|
          = f.submit "Continuer", class: "fr-btn"
