.row.justify-content-md-center
  .col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan, current_step: 3, step_title: "Usager", next_step_title: ""
    .card
      .card-body
        = render "agents/rdv_plans/motif_recap", rdv_plan: @rdv_plan
        = render "agents/rdv_plans/lieu_recap", rdv_plan: @rdv_plan
        = render "agents/rdv_plans/creneau_recap", rdv_plan: @rdv_plan
        hr.fr-mt-2w
        - if @rdv_plan.users.any?
          h3= @rdv_plan.users.first.full_name
        = simple_form_for @rdv_plan, url: create_rdv_agents_rdv_plan_path(@rdv_plan), method: :post do |f|
          = f.fields_for :user, (@rdv_plan.users.first) do |ff|
            .row
              .col-6
                = ff.input :email
              .col-6
                = ff.input :phone_number
          = f.fields_for :participation, (@rdv_plan.participations.first) do |ff|
            = ff.input :send_lifecycle_notifications, label: "Envoyer une notification de confirmation"
            = ff.input :send_reminder_notification, label: "Envoyer une notification de rappel 48h avant le rendez-vous"

          = link_to "retour", creneau_agents_rdv_plan_path(@rdv_plan)
          = f.submit "Confirmer le rendez-vous", class: "fr-btn float-right fr-btn--lg"

