.row.justify-content-md-center
  .col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan
    = render "common/stepper", step_count: 3, current_step: 1, step_title: "Motif", next_step_title: "Créneau"
    .card
      .card-body
        = simple_form_for @rdv_plan, url: agents_rdv_plans_path(@rdv_plan) do |f|
          = render "model_errors", model: @rdv_plan
          = f.hidden_field :user_id, value: params[:user_id]
          - @motifs = current_agent.motifs.where(organisation_id: current_agent.roles.select(:organisation_id))

          = f.input :motif_id, \
            label: "Motif du rendez-vous", \
              required: true, \
              include_blank: true, \
              collection: @motifs, \
              label_method: -> { "#{_1.name} - #{'RDV collectif ' if _1.collectif?}#{_1.human_attribute_value(:location_type)}" }, \
              input_html: { \
                data: { placeholder: "Sélectionnez un motif", "auto-select-sole-option": true },
                class: "select2-input", \
              }

          = f.submit "Continuer", class: "fr-btn float-right"
