.row.justify-content-md-center.fr-mb-16w
  .col-12
    .card
      .card-body
        h1.fr-h2 Rendez-vous confirmé
        span.fr-icon-information-fill.fr-mr-1w[aria-hidden="true"]
        = @rdv_plan.motif.name

        - if @rdv_plan.motif.requires_lieu?
          .fr-mt-2w
            span.fr-icon-government-fill.fr-mr-1w[aria-hidden="true"]
            = @rdv_plan.lieu.name

        .fr-mt-2w
          span.fr-icon-calendar-fill.fr-mr-1w[aria-hidden="true"]
          = "#{l(@rdv_plan.starts_at, format: :human)} (#{@rdv_plan.motif.default_duration_in_min} minutes)"

        .fr-mt-2w
          span.fr-icon-user-fill.fr-mr-1w[aria-hidden="true"]
          = @rdv_plan.users.first.full_name
          br
          .fr-ml-4w= @rdv_plan.users.first.email
            br
          .fr-ml-4w= @rdv_plan.users.first.phone_number

    = link_to "Retour sur Mon Suivi Social", "https://monsuivisocial.incubateur.anct.gouv.fr/"
    br
    = link_to "Aller à mon espace agent RDV Service Public", root_path

