.fr-grid-row.justify-content-md-center.fr-mb-16w
  .fr-col-8
    h1.fr-h2 Rendez-vous confirmé
    .card
      .card-body
        div
          span.fr-icon-calendar-fill.fr-mr-1w[aria-hidden="true"]
          = "#{l(@rdv.starts_at, format: :human)} (#{@rdv.duration_in_min} minutes)"
          = " "
          = dsfr_link_to "voir dans l'agenda", admin_organisation_planning_agenda_path(@rdv.organisation, agent_id: @rdv.agents.first.id, selected_event_id: @rdv.id, date: @rdv.starts_at.to_date), target: :blank

        .fr-mt-2w
          - if @rdv.lieu
            = lieu_icon(class: "fr-mr-1w")
            = @rdv.lieu.name
            br
            .fr-ml-4w= @rdv.lieu.address
          / TODO: gérer les autres location types

        .fr-mt-2w
          = motif_icon(class: "fr-mr-1w")
          = "Motif : #{@rdv.motif.name}"

        .fr-mt-2w
          = user_icon(class: "fr-mr-1w")
          |> Usager :
          = @rdv_plan.user.full_name
          .fr-ml-4w= @rdv_plan.user.preferred_email
          .fr-ml-4w= @rdv_plan.user.phone_number

        .fr-mt-2w
          span.fr-icon-user-line.fr-mr-1w[aria-hidden="true"]
          |> Agent :
          = @rdv_plan.rdv_agent.full_name

        .fr-mt-4w
          = link_to "Modifier", edit_admin_organisation_rdv_path(@rdv.organisation, @rdv), class: "fr-btn fr-btn--secondary", target: :blank
    - if @rdv_plan.return_url
      = link_to "Retour sur #{@rdv_plan.oauth_application.name}", @rdv_plan.return_url, class: "float-right fr-btn"
