.row.justify-content-md-center
  .col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan
    = render "common/stepper", step_count: 4, current_step: 3, step_title: "Usager", next_step_title: "Notifications"
    .card
      .card-body

