.row.justify-content-md-center
  .col-12
    h1.fr-h2 Nouveau rendez-vous
    = render "common/stepper", step_count: 4, current_step: 3, step_title: "Usager", next_step_title: "Notifications"
    .card
      .card-body

