.row.justify-content-md-center
  .col-12
    = render "agents/rdv_plans/header", rdv_plan: @rdv_plan
    = render "common/stepper", step_count: 3, current_step: 3, step_title: "Usager", next_step_title: ""
    .card
      .card-body
        = @rdv_plan.motif.name
        = @rdv_plan.starts_at
        hr
        = simple_form_for @rdv_plan, url: agents_rdv_plans_path(@rdv_plan) do |f|
          = f.fields_for :user, (@rdv_plan.users.first) do |ff|
            .row
              .col-6
                = ff.input :first_name
              .col-6
                = ff.input :last_name
            .row
              .col-6
                = ff.input :email
              .col-6
                = ff.input :phone_number
          = f.fields_for :participation, (@rdv_plan.participations.first) do |ff|
            = ff.input :send_lifecycle_notifications, label: "Envoyer une notification de confirmation"
            = ff.input :send_reminder_notification, label: "Envoyer une notification de rappel 48h avant le rendez-vous"

          = f.submit "Confirmer le rendez-vous", class: "fr-btn float-right fr-btn--lg"

