/ Component: the form inputs for a participation

- participation = form.object

div data-controller="destroyable"
  = form.hidden_field :user_id
  h6
    => icon("fr-icon-user-fill", class: "fr-icon--sm")
    = render "admin/users/identity", user: participation.user
    - if participation.rdv.persisted?
      = form.hidden_field :_destroy, "data-target": "destroyable.destroyInput"
      button.fr-btn.fr-btn--tertiary.fr-btn--sm.fr-btn--icon-left.fr-icon-delete-fill type="button" data-action="destroyable#destroyItem"
        = "Supprimer"

  .ml-3
    = render "admin/users/notifications_preferences", user: participation.user.user_to_notify
    - if participation.user.user_to_notify.valid_email? || participation.user.user_to_notify.phone_number.present?
      h6= t("admin.participations.notifications_overrides")
      = form.dsfr_check_box :send_lifecycle_notifications
      - if current_organisation.rdv_insertion?
        span.text-muted.font-14= participation.rdv.motif.human_attribute_value(:visibility_type, context: :hint_checkbox)
      = form.dsfr_check_box :send_reminder_notification
      - if current_organisation.rdv_insertion?
        span.text-muted.font-14= participation.rdv.motif.human_attribute_value(:visibility_type, context: :hint_checkbox)
