span.mr-1
  - if participation.user.user_to_notify.phone_number.present?
    - if participation.user.user_to_notify.notifiable_by_sms?
      = icon("fr-icon-phone-fill", class: "fr-icon--sm")
      span.fr-ml-1v.text-nowrap= participation.user.user_to_notify.phone_number
    - elsif !participation.user.user_to_notify.phone_number_mobile?
      = icon("fr-icon-error-fill", class: "fr-icon--sm")
      span.fr-ml-1v= t("admin.users.notifications_preferences.sms_invalid")
    - else
      = icon("fr-icon-error-fill", class: "fr-icon--sm")
      span.fr-ml-1v= t("admin.users.notifications_preferences.sms_disabled")
  - else
    = icon("fr-icon-error-line", class: "fr-icon--sm")
    span.fr-ml-1v= t("admin.users.notifications_preferences.sms_absent")
