span.mr-1
  - if participation.user.user_to_notify.valid_email?
    - if participation.user.user_to_notify.notify_by_email?
      i.fa.fa-envelope.text-primary-blue.mr-2
      span.word-break-all = participation.user.user_to_notify.preferred_email
    - else
      i.fa.fa-times.text-primary-blue.mr-2
      span= t("admin.users.notifications_preferences.email_disabled")
  - else
    i.fa.fa-times-circle.text-primary-blue.mr-2
    span= t("admin.users.notifications_preferences.email_absent")
