span.mr-1
  - if participation.user.user_to_notify.phone_number.present?
    - if participation.user.user_to_notify.notifiable_by_sms?
      i.fa.fa-mobile-alt.text-primary-blue.mr-2
      span.text-nowrap= participation.user.user_to_notify.phone_number
    - elsif !participation.user.user_to_notify.phone_number_mobile?
      i.fa.fa-times.text-primary-blue.mr-2
      span= t("admin.users.notifications_preferences.sms_invalid")
    - else
      i.fa.fa-times.text-primary-blue.mr-2
      span= t("admin.users.notifications_preferences.sms_disabled")
  - else
    i.fa.fa-times-circle.text-primary-blue.mr-2
    span= t("admin.users.notifications_preferences.sms_absent")
