.dropdown.text-right
  = participation_status_dropdown_toggle(participation)
  .dropdown-menu
    - case participation.temporal_status
    - when "unknown_future"
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "excused"

    - when "unknown_today"
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "seen"
      - if participation.rdv.in_the_past?
        = render "admin/participations/participation_status_dropdown_item", participation:, status: "noshow"
      .dropdown-divider
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "excused"

    - when "unknown_past"
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "seen"
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "noshow"
      .dropdown-divider
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "excused"

    - else
      = render "admin/participations/participation_status_dropdown_item", participation:, status: "unknown"

    - if policy(participation.rdv, policy_class: Agent::RdvPolicy).destroy?
      .dropdown-divider
      = participation_delete_dropdown_item(participation)
