= territory_navigation(t(".title"), [["Équipes", admin_territory_teams_path(current_territory)]])

.card
  .card-body
    = render "form", team: @team, url: admin_territory_teams_path(current_territory)
