- content_for(:title) { "Support" }
- content_for(:menu_item) { "menu-support" }
- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths: [["Accueil", root_path]], current_page_title: "Support"

.fr-grid-row.fr-grid-row--gutters
  .fr-col.fr-col-md-6
    .fr-tile.fr-enlarge-link.fr-tile--horizontal
      .fr-tile__body
        .fr-tile__content
          h3.fr-tile__title
            = link_to "Documentation", current_domain.documentation_url, target: "_blank"
          p.fr-tile__desc
            | Explorez les fonctionnalités de l'outil à travers la documentation, et trouvez les informations dont vous avez besoin.
      .fr-tile__header
        .fr-tile__pictogram
          = dsfr_svg "artwork/pictograms/leisure/book", class: "fr-responsive-img"
  .fr-col.fr-col-md-6
    .fr-tile.fr-enlarge-link.fr-tile--horizontal
      .fr-tile__body
        .fr-tile__content
          h3.fr-tile__title
            = link_to "Contactez l’équipe", new_aide_demande_support_path(role: "agent", sujet: "Question")
          p.fr-tile__desc
            | Vous avez des questions, vous rencontrez une difficulté, ou vous avez une suggéstion à nous partager ? Contactez nous via notre formulaire.
      .fr-tile__header
        .fr-tile__pictogram
          = dsfr_svg "artwork/pictograms/leisure/community", class: "fr-responsive-img"

.fr-grid-row.fr-grid-row--gutters.fr-mt-3w
  .fr-col.fr-col-md-6
    .fr-tile.fr-enlarge-link.fr-tile--horizontal
      .fr-tile__body
        .fr-tile__content
          h3.fr-tile__title
            = link_to "Feuille de route", "https://projets.suite.anct.gouv.fr/boards/1608721650465900252", target: "_blank"
          p.fr-tile__desc
            | Découvrez les nouvelles fonctionnalités et améliorations principales sur lesquelles nous sommes en train de travailler.
      .fr-tile__header
        .fr-tile__pictogram
          = dsfr_svg "artwork/pictograms/digital/in-progress", class: "fr-responsive-img"
  .fr-col.fr-col-md-6
    .fr-tile.fr-enlarge-link.fr-tile--horizontal
      .fr-tile__body
        .fr-tile__content
          h3.fr-tile__title
            = link_to "État des serveurs", "https://rdv-service-public.instatus.com", target: "_blank"
          .fr-tile__desc
            = render "admin/static_pages/instatus_iframe"
