h1 Merci pour votre inscription !
p <strong>Nous vous invitons à confirmer votre adresse email</strong> et compléter votre inscription en utilisant le lien suivant&nbsp;:
.btn-wrapper
  = link_to "Confirmer mon compte", confirmation_url(@resource, confirmation_token: @token), class:"btn btn-primary"
