h1 Confirmation de votre nouvelle adresse email
p
  |> Cet email nous permet de confirmer que vous recevez bien les emails à l’adresse
  span{style="white-space: nowrap;"}
    => @resource.unconfirmed_email
p
  | Pour confirmer confirmer et utiliser cette adresse email sur #{domain.name}, veuillez cliquer sur ce bouton :
.btn-wrapper
  = link_to "Confirmer mon adresse email", confirmation_url(@resource, confirmation_token: @token), class:"btn btn-primary"
