p Bonjour #{@resource.email}
p Votre compte a été bloqué suite à un nombre excessif de connexion
p Cliquez sur le lien ci-dessous pour déverrouiller votre compte&nbsp;:
p Déverrouiller mon compte
p
  = link_to "Déverrouiller mon compte", unlock_url(@resource, unlock_token: @token)
