.fr-container
  | Vous êtes invité.e à prendre rendez-vous

  = render "search/creneaux", date_range: context.date_range, query_params: context.query_params, creneau_selection_service: creneau_selection_service
