- content_for :title, "Applications connectées"

- @applications.each do |application|
  .card
    .card-header
      h3= application.name
    .card-body.flex
      = form_tag oauth_authorized_application_path(application), method: :delete, class: "mt-2" do
        = submit_tag "Déconnecter", data: { confirm: "Déconnecter"}, class: "btn btn-outline-danger"
