- if rdv.available_to_file_attente?
  li.list-group-item.fr-pl-0.fr-py-2w
    .fr-mb-2w
      span.fr-icon-notification-3-fill.fr-mr-1w[aria-hidden="true"]
      | Vous souhaitez prendre RDV plus tôt ?
    .fr-ml-4w
      - fa = rdv.file_attentes.where(user: current_user).first || FileAttente.new(user: current_user, rdv: rdv)
      = simple_form_for fa, url: users_file_attente_path, html: { method: :post, class: "form-inline" }, wrapper: :inline_form, remote: false, data: { controller: "form" }  do |f|
        = f.input :id, as: :hidden
        = f.input :rdv_id, as: :hidden
        = f.input :user_id, as: :hidden
        = label_tag "active[0]", class: "pl-1"
          = check_box "active", "0", { checked: (fa.id.nil? ? false : true), data: { action: "change->form#submit" } }
          span.fr-ml-1w Je souhaite être prévenu·e si un créneau se libère.
