- content_for :title, "Déplacer le RDV"

.row.mt-3.justify-content-center
  .fr-container
    - if @next_availability.blank?
      .fr-grid-row
        .fr-col-12.fr-col-md-8
          .fr-highlight
            | Malheureusement, tous les créneaux sont pris. Vous recevrez d'autres propositions si un créneau se libère. La date de votre RDV reste le #{I18n.l(@rdv.starts_at, format: :human)}.
      .fr-py-4w.border-bottom
        = link_to "Retour au RDV", users_rdv_path(@rdv), class: "fr-btn fr-btn--secondary"
    - else
      p
        | Voici les créneaux disponibles pour déplacer votre rendez-vous du
        b= " #{l(@rdv.starts_at, format: :human)}."
      = render "creneaux"
