/# locals: (path:)
span.small.text-muted
  | Vous ne trouvez pas l'usager ?&nbsp;
  button[data-fr-opened="false" aria-controls="new-user-modal" type="button" class="fr-btn  fr-btn--sm fr-btn--tertiary-no-outline"] Ajouter un usager
  dialog#new-user-modal.fr-modal[aria-labelledby="modal-title" aria-modal="true"]
    .fr-container.fr-container--fluid.fr-container-md
      .fr-grid-row.fr-grid-row--center
        .fr-col-12.fr-col-md-8
          .fr-modal__body
            .fr-modal__header
              button[aria-controls="new-user-modal" title="Fermer" type="button" class="fr-btn--close fr-btn"] Fermer
            .fr-modal__content
              turbo-frame#new-user-form[src=path]
