/# locals: (path:)
span.small.fr-text-mention--grey
  | Vous ne trouvez pas l'usager ?&nbsp;
  = link_to("Ajouter un usager", path, data: { modal: true }, class: "fr-btn fr-btn--sm fr-btn--tertiary-no-outline")
