- user = f.object
- frozen_fields_opts = user.logged_once_with_franceconnect? ? { disabled: true, input_html: { class: "js-force-disabled" } } : {}

- if user.logged_once_with_franceconnect?
  .fr-alert.fr-alert--info
    = I18n.t("users.franceconnect_frozen_fields")

.form-row
  .col-md-6= f.input :first_name, **input_opts.deep_merge(frozen_fields_opts)
  .col-md-6= f.input :last_name, **input_opts

.form-row
  - if current_domain != Domain::RDV_SERVICE_PUBLIC
    .col-md-6= f.input :birth_name, **input_opts.deep_merge(frozen_fields_opts)
  - if current_territory.enable_birth_date_field?
    .col-md-6= date_input(f, :birth_date, **input_opts.deep_merge(frozen_fields_opts))

= f.input :phone_number, as: :tel, **input_opts

- if user.notification_email.present?
  = f.input(:notification_email, as: :email, **input_opts)
- else
  = f.input(:email, as: :email, **input_opts)
.label Préférences de notifications
.mb-2
  div= f.input( \
    :notify_by_email,  \
    wrapper: false, \
    **input_opts.deep_merge(user.already_logged_in? ? { disabled: true, input_html: { class: "js-force-disabled" } } : {}) \
  )
  div= f.input( \
    :notify_by_sms,  \
    wrapper: false, \
    **input_opts.deep_merge(user.already_logged_in? ? { disabled: true, input_html: { class: "js-force-disabled" } } : {}) \
  )
- if user.already_logged_in?
  .mt-1.text-muted
    | L'usager s'étant connecté, vous ne pouvez plus modifier ses préférences

- if current_territory.enable_address_field?
  = f.input :address, **(input_opts.deep_merge(input_html: { data: { "address-autocomplete": "on" }, dir: "ltr" }))

  = f.input :city_code, as: :hidden, **input_opts
  = f.input :post_code, as: :hidden, **input_opts
  = f.input :city_name, as: :hidden, **input_opts

- if current_territory.enable_address_details
  = f.input :address_details, **input_opts

- if current_territory.enable_case_number
  = f.input :case_number, **input_opts

- if current_territory.enable_notes_field
  = f.input :annotation_content, **input_opts.deep_merge(input_html: { rows: 6, value: user.annotation_for(current_territory)} )

- if current_territory.enable_caisse_affiliation_field || current_territory.enable_affiliation_number_field
  .form-row
    - if current_territory.enable_caisse_affiliation_field
      .col-md-6= f.input :caisse_affiliation, collection: User.human_attribute_values(:caisse_affiliation), **input_opts
    - if current_territory.enable_affiliation_number_field
      .col-md-6= f.input :affiliation_number, **input_opts

- if current_territory.enable_family_situation_field || current_territory.enable_number_of_children_field
  .form-row
    - if current_territory.enable_family_situation_field
      .col-md-6= f.input :family_situation, collection: User.human_attribute_values(:family_situation), **input_opts
    - if current_territory.enable_number_of_children_field
      .col-md-6= f.input :number_of_children, **{ input_html: { min: "0", max: "15", step: "any" } }.deep_merge(input_opts)

- if current_territory.enable_logement_field
  = f.input :logement, collection: User.human_attribute_values(:logement), **input_opts
