= turbo_stream.update "edit-user-#{@user.id}-form" do
  h2.fr-h4
    - if @user.relative?
      | Modifier un proche
    - else
      | Modifier l'usager

  = render "form", user: @user, user_form: @user_form, format: :turbo_stream
