- content_for(:menu_item) { "menu-users" }

- titles_and_paths = [["Usagers", admin_organisation_users_path(current_organisation)]]

- if @user.relative?
  - content_for :title do
    | Modifier un proche

  - titles_and_paths << [@user.responsible.full_name, admin_organisation_user_path(current_organisation, @user.responsible)]
- else
  - content_for :title do
    | Modifier l'usager

- titles_and_paths << [@user.full_name, admin_organisation_user_path(current_organisation, @user)]

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths:, current_page_title: yield(:title)

- if from_modal?
  = render "form", user: @user, user_form: @user_form
- else
  .row.justify-content-center
    .col-md-6
      .card
        .card-body
          = render "form", user: @user, user_form: @user_form
