- content_for(:menu_item) { "menu-users" }

- content_for :title do
  | Usagers

- content_for :fil_ariane do
    = render "common/fil_ariane", titles_and_paths: [["Accueil", root_path]], current_page_title: "Usagers"

- content_for :breadcrumb do
  .btn-group
    = link_to "Fusionner deux usagers", new_admin_organisation_merge_users_path(current_organisation), class: "fr-btn fr-btn--secondary mr-1"
    = link_to "Ajouter un usager", new_admin_organisation_user_path(current_organisation), class: "fr-btn"

.card[class="#{"fr-mt-6w" if @search_needed}"]
  .card-body
    = form_with url: admin_organisation_users_path(current_organisation), method: :get  do |f|
      .row
        .col-md-8
          .form-group.string.optional._search
            = label_tag :search, "Recherche", {class: "form-control-label string optional"}
            = text_field_tag :search, {}, {placeholder: "Prénom, Nom, Email, Téléphone", autocomplete: "off", class: "form-control string optional search-form-control", value: params[:search] }
        .col-md-4
          .form-group.string.optional._search
            = f.label :agent_id, "Agent référent", {class: "form-control-label select optional"}
            = f.select :agent_id, [], {}, { class: "form-control select optional select2-input", data: { "select2-config": { ajax: { url: admin_organisation_agents_path(current_organisation), dataType: "json", delay: 250 } } } }

      input.btn.btn-primary.d-print-none type="submit" value="Rechercher"

      - if @search_needed
      .fr-grid-row
        .fr-col-12.rdv-text-align-center
          p Utilisez le champ de recherche pour trouver&nbsp;un&nbsp;usager

  - if @users.any? && !@search_needed
    .table-responsive
      table.table
        thead
          tr
            th Nom
            th Date de naissance
            th Téléphone
            th Email
        tbody id="users-list"
          / On dédoublonne ici les résultats de la page courante.
          / En effet, on rencontre ce problème : Casecommons/pg_search#238
          / Le uniq est un solution qui casse parfois le décompte, mais ça paraît acceptable !
          - @users.uniq.each do |user|
            - cache([current_organisation.id, user], expires_in: 7.days)
              = render partial: "admin/users/user", locals: { user: user }

    - if @users.empty?
      .mb-4.p.rdv-text-align-center Aucun usager trouvé pour ces critères
    - elsif @users.total_pages > 1
      .m-3
        .d-flex.justify-content-center id="users-pagination"
          = paginate @users, theme: "dsfr"
          .rdv-text-align-center= page_entries_info @users

- if @search_needed
  = dsfr_alert type: :info, size: :sm, html_attributes: { class: "fr-mb-2v" } do
    |< Pour protéger la confidentialité de vos usagers, ils sont accessibles uniquement via une recherche, et pas directement en liste.
