- content_for(:menu_item) { "menu-users" }

- content_for :title do
  | #{@user.full_name}

ruby:
  titles_and_paths = [["Accueil", root_path], ["Usagers", admin_organisation_users_path(current_organisation)]]
  if @user.relative?
    titles_and_paths << [@user.responsible.full_name, admin_organisation_user_path(current_organisation, @user.responsible)]
  end

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths:, current_page_title: @user.full_name

- content_for :breadcrumb do
  = link_to "Trouver un RDV pour l’usager", admin_organisation_creneaux_search_path(current_organisation, user_ids: [@user.id]), class: "fr-btn fr-btn--secondary", title: "Trouver un RDV pour l’usager #{@user.full_name}"

.row
  .col-md-6
    .card#spec-primary-user-card
      .card-body
        - if @user.invitable?
          .row.bg-info.text-white.p-2.mb-3
            .col-md-8
              | Cet usager ne s'est pas encore créé de compte #{current_domain.name}.
              - if @user.invitation_sent_at
                p.small.m-0 Invitation envoyée il y a #{distance_of_time_in_words_to_now(@user.invitation_sent_at)}
            .col-md-4.text-right
              = link_to "Inviter", invite_admin_organisation_user_path(current_organisation, @user), method: :post, class: "btn btn-outline-white", data: { disable_with: "Veuillez patienter…"}

        - if @user.invited_through == "external" && @user.invitation_accepted_at.nil?
          .row.bg-info.text-white.p-2.mb-3
            .col-md-8
              | Cet usager a reçu une invitation via un partenaire de #{current_domain.name} (ex : rdv-insertion).

        - if @user.logged_once_with_franceconnect?
          .row.bg-info.text-white.p-2.mb-3 Cet usager s'est déjà connecté via FranceConnect.

        - if @user.responsible?
          h2.card-title.mb-3 Informations générales
          = render "responsible_information", user: @user

        - else
          h2.card-title.mb-3 Informations de votre proche
          ul.list-unstyled
            li= object_attribute_tag(@user, :first_name)
            li= object_attribute_tag(@user, :last_name)
            - if current_organisation.motifs.requires_ants_predemande_number.any?
              li= object_attribute_tag(@user, :ants_pre_demande_number)
            li= object_attribute_tag(@user, :birth_date, birth_date_and_age(@user))
            - if current_territory.enable_notes_field?
              li= object_attribute_tag(@user, :annotation_content, formatted_user_annotation(@user, current_territory))

        - references = @user.user_profiles.find_by(organisation_id: current_organisation.id)&.external_references
        - if references.present?
          - references.each do |reference|
            = link_to("Voir sur #{reference.oauth_application.name}", reference.external_url, target: :_blank, class: "fr-mb-2w")
        ul.fr-btns-group.fr-btns-group--right.fr-btns-group--inline.fr-btns-group--icon-left.fr-mb-0
          li
            - if @user.can_be_soft_deleted_from_organisation?(current_organisation)
              = link_to "Supprimer", admin_organisation_user_path(current_organisation, @user), method: :delete, class: "fr-btn fr-btn--tertiary fr-icon-delete-fill", data: { confirm: user_soft_delete_confirm_message(@user)}
            - else
              = link_to "Supprimer", "#", class: "fr-btn fr-btn--tertiary fr-icon-delete-fill", onclick: "alert(this.dataset.message)", data: { message: I18n.t("users.can_not_delete_because_has_future_rdvs") }
          li
            = link_to "Modifier", edit_admin_organisation_user_path(current_organisation, @user), class: "fr-btn fr-btn--secondary fr-icon-edit-fill"

    - if @user.responsible?
      .card
        .card-header(id="agents-referents") Agents référents
        .card-body
          ul.list-unstyled.mb-2
            - @referent_agents.each do |referent_agent|
              li.mb-2 = referent_agent.full_name_and_service
            - if @referent_agents.empty?
              li.font-italic Aucun référent

          .text-right
            = link_to "Modifier", admin_organisation_user_referent_assignations_path(current_organisation, @user), class: "fr-btn fr-btn--secondary fr-icon-edit-fill fr-btn--icon-left"

    - if @user.relative?
      .card#spec-secondary-user-card
        .card-body
          h2.card-title.mb-3 Informations sur l'usager en charge
          = render "admin/users/responsible_information", user: @user.responsible
          .text-right
            = link_to "Voir", admin_organisation_user_path(current_organisation, @user.responsible), class: "fr-btn fr-btn--secondary fr-icon-eye-line fr-btn--icon-left"

      .card
        .card-header Agents référents du responsable
        .card-body
          ul.list-unstyled.mb-2
            - policy_scope(@user.responsible.referent_agents.includes([:services]), policy_scope_class: Agent::AgentPolicy::Scope).each do |agent|
              li.mb-2
              | #{agent.full_name_and_service}
            - if @user.responsible.referent_agents.empty?
              li.mb-2
                .font-italic Aucun référent

    - if @user.responsible?
      .card
        .card-header Proches
        .card-body
          ul.list-unstyled.mb-2
            - if @user.relatives.merge(current_organisation.users).empty?
              li
                em Aucun proche
            - @user.relatives.merge(current_organisation.users).order(:birth_date).each do |relative|
              li
                => link_to relative.full_name, admin_organisation_user_path(current_organisation, relative)
                = "(#{age(relative)})" if relative.birth_date
          .text-right
            = link_to "Ajouter un proche", new_admin_organisation_user_path(current_organisation, responsible_id: @user.id), class: "fr-btn fr-btn--secondary fr-icon-add-line fr-btn--icon-left"

  .col-md-6

    - ongoing_rdvs = policy_scope(@user.ongoing_rdvs(current_organisation), policy_scope_class: Agent::RdvPolicy::Scope).order(starts_at: :asc)
    - if ongoing_rdvs.load.any?
      .card
        .card-header Rendez-vous en cours (+/- 1 heure)
        = render "admin/rdvs/short_rdvs_list", user: @user, rdvs: ongoing_rdvs

    .card
      .card-header Prochains rendez-vous
      - future_rdvs = policy_scope(@user.rdvs_future_without_ongoing(current_organisation), policy_scope_class: Agent::RdvPolicy::Scope).order(starts_at: :asc).limit(10)
      = render "admin/rdvs/short_rdvs_list", user: @user, rdvs: future_rdvs

    .card
      .card-header
        .d-flex.justify-content-between
          .mt-1
            | Statuts
            small.text-muted< sur #{@participations.count} RDV
          - if @user.rdvs.count > 0
            = link_to "Voir tous les RDV de l’usager", admin_organisation_rdvs_path(current_organisation, user_id: @user.id), class: "fr-btn fr-btn--tertiary fr-btn--sm", title: "Voir tous les RDV de l’usager #{@user.full_name}"
      .card-body
        .row
          .fr-mb-2v
            = render "admin/rdvs/rdv_visibility"
          .col-lg-6
            - %i[seen excused revoked noshow].each do |temporal_status|
              = render "stats/rdv_counter_with_link", \
                temporal_status: temporal_status, \
                count: @participations.status(temporal_status).count,
                path: admin_organisation_rdvs_path(current_organisation, status: temporal_status, user_id: @user.id, breadcrumb_page: "user")
          .col-lg-6
            - %i[unknown_future unknown_past].each do |temporal_status|
              = render "stats/rdv_counter_with_link", \
                temporal_status: temporal_status, \
                count: @participations.joins(:rdv).status(temporal_status).count,
                path: admin_organisation_rdvs_path(current_organisation, status: temporal_status, user_id: @user.id, breadcrumb_page: "user")
      .card-footer
        = dsfr_alert type: :info, size: :sm
          | Les RDV sont supprimés au bout de 2 ans.

.row.justify-content-center
  .col-md-12.col-lg-8
    = render "admin/versions/resource_versions_row", resource_policy: policy(@user, policy_class: Agent::UserPolicy), resource: @user
