- model.overflow_motifs_duration.each do |motif|
  li.mb-1
    span>= link_to("#{motif.name}", edit_admin_organisation_motif_path(model.organisation, motif))
    span> a une durée de #{motif.default_duration_in_min} minutes qui est supérieure aux plages journalières prévues
