- content_for(:menu_item) { "menu-plages-ouvertures" }
- content_for(:menu_agent_select_path_helper_name) { "admin_organisation_agent_plage_ouvertures_path" }

- content_for :title do
  - if current_agent == @agent
    | Plages d’ouverture
  - else
    | Plages d’ouverture de #{@agent.full_name_and_service}

- content_for :fil_ariane do
  = render "common/fil_ariane", titles_and_paths: [["Accueil", root_path]], current_page_title: yield(:title)

- content_for :breadcrumb do
  .fr-btns-group.fr-btns-group--inline.fr-btns-group--icon-left
    = link_to t("admin.plage_ouvertures.index.list_view"), admin_organisation_agent_plage_ouvertures_path(current_organisation, @agent.id, search: params[:search], current_tab: params[:current_tab]), class: "fr-btn fr-btn--secondary fr-icon-list-unordered"
    = link_to t("admin.plage_ouvertures.index.create_plage_ouverture"), new_admin_organisation_agent_plage_ouverture_path(current_organisation, @agent.id), class: "fr-btn fr-btn--secondary"

#calendar [
  data-agent-id="#{@agent.id}"
  data-organisation-id="#{@current_organisation.id}"
  data-display-saturdays="#{current_agent.display_saturdays}"
  data-event-sources-json="#{[admin_api_agenda_plage_ouvertures_path(agent_id: @agent, organisation_id: current_organisation.id), OffDays.to_full_calendar_array].to_json}"
]
