.fr-grid-row.fr-mb-8w
  .fr-col-12.fr-col-md-8.fr-col-offset-md-2
    .card
      .card-body
        h1.fr-h2 Demande d'ouverture d'un nouvel espace
        = form_for @territory_creation_request, url: agents_territory_creation_requests_path, builder: Dsfr::FormBuilder do |f|
          = f.dsfr_text_field :organisation_name, hint: "par exemple : CCAS de Montreuil, Bureau de Bobigny", autocomplete: "organization", required: true

          = f.submit "Envoyer la demande", class: "fr-btn float-right"
