- if model.respond_to?(:errors_are_all_benign?) && model.errors_are_all_benign?
  / warnings only appear if there are no other errors
  .fr-alert.fr-alert--warning.fr-mb-2w
    ul.fr-mb-0[class="#{"list-unstyled" if model.benign_errors&.count == 1}"]
      - model.benign_errors.each do |msg|
        li
          = msg

  - if local_assigns[:f]
    .collapse.show.js-collapse-warning-confirmation
      = f.hidden_field :ignore_benign_errors, class: "js-ignore-benign-errors", value: "1"
      .d-flex.justify-content-between.align-items-center
        div
          a.fr-btn.fr-btn--secondary[
            data-toggle="collapse"
            data-target=".js-collapse-warning-confirmation"
            href="#"
            onclick="document.querySelector('.js-ignore-benign-errors').setAttribute('disabled', 'disabled');"
          ] Annuler et modifier
        div= f.submit "Confirmer en ignorant les avertissements", class: "fr-btn fr-btn--tertiary"
      hr

- elsif model.errors.any?
  .fr-alert.fr-alert--error.fr-mb-1w
    - error_messages = errors_full_messages(model).uniq
    ul.fr-m-0.fr-pl-2w[class="#{"list-unstyled" if error_messages.count == 1}"]
      - error_messages.each do |msg|
        li= msg
