- content_for :title, "Statistiques de notifications - #{@territory}"

= render "stats_territory/layout" do
  h3 Territoire : #{@territory}
  .fr-mb-4w= link_to "Retour aux statistiques générales - #{@territory}", stats_territory_path(@territory), class: "fr-link fr-icon-arrow-left-line fr-link--icon-left"
  - cache([@territory, Time.zone.today], expires_in: 24.hours) do
    - if @territory.present? && Organisation.joins(:territory).where(territories: [@territory]).empty?
      h3 Cette structure n'utilise pas #{current_domain.name}.
    - else
      .card.mb-5
        .card-body
          = self_anchor "notifications"
            h2.card-title #{Receipt.model_name.human(count: 2)} (#{@stats.receipts.count})
          - %i[event channel result].each do |attribute|
            h3.card-subtitle Par #{Receipt.human_attribute_name(attribute).downcase}
            = column_chart receipts_stats_territory_path(@territory, group_by: attribute, departement: @departement), stacked: true
