- content_for :title, "Migration vers RDV Service Public"

= form_with url: admin_organisation_instance_export_path(current_organisation, @instance_export), method: :put, builder: Dsfr::FormBuilder do |form|
  .d-flex.rdv-justify-content-center
    .card
      .card-header
        b= current_domain.name
      .card-body
        - source_org = @instance_export.source_organisation
        h6= source_org.name
        p #{source_org.users.count} usagers
        - if source_org.agents.count > 1
          p #{source_org.agents.count} agents
        p #{source_org.lieux.count}  #{"lieu".pluralize(source_org.lieux.count)}
        p #{source_org.motifs.count} #{"motif".pluralize(source_org.motifs.count)}

    .fr-mx-4w[style="align-self: center"]= icon("fr-icon-arrow-right-fill")

    .card
      .card-header
        b RDV Service Public
      .card-body
        - if @instance_export.new_instance_organisations.empty?
          h6= @instance_export.source_organisation.name
        - elsif @instance_export.new_instance_organisations.count == 1
          h6= @instance_export.source_organisation.name
          = form.hidden_field :destination_organisation_id, value: @instance_export.new_instance_organisations.first["id"]
        - else
          = form.select :destination_organisation_id, @instance_export.new_instance_organisations.map { |o| [o["name"], o["id"]] }, {}, { class: "select2-input" }

  .rdv-text-align-center
    p
      | Vous allez copier ces données
      |  de #{@instance_export.source_organisation.name} sur #{current_domain.name}
      |  vers RDV Service Public

    = form.submit  "Copier les données", class: "fr-btn"
