- content_for :title, "Migration vers RDV Service Public"

.card.fr-mb-8w
  .card-body
    h2.fr-h3 Pourquoi passer à RDV Service Public ?
    p #{link_to "RDV Service Public", "https://rdv.anct.gouv.fr", target: :_blank} est une version améliorée de RDV Aide Numérique. Cette nouvelle version vous permettra de :
    ul
      li
        b Inviter vos collègues
        |  qui travaillent dans d'autre domaines que la médiation numérique à rejoindre votre organisation sur RDV Service Public.
      li
        b ="Prendre des rendez-vous depuis la Coop de la Médiation Numérique"
        |  sans avoir à copier les information des bénéficiaires.
      li
        b Pré-remplir vos comptes-rendus d'activité sur la Coop de la Médiation Numérique
        |  en fonction de vos rendez-vous.

.card
  .card-body
    h2.fr-h3 Comment se passe la migration ?

    p La migration se fait en trois étapes

    h3.fr-h4 Connexion à RDV Service Public
    p Vous allez vous connecter à RDV Service Public avec ProConnect pour permettre l'échange de données entre les deux applications

    h3.fr-h4 Ouverture de votre espace sur RDV Service Public
    p Votre configuration sera copiée sur ce nouvel espace. Cette étape est facultative si vous avez déjà un espace sur RDV Service Public.

    h3.fr-h4 Copie de vos usagers
    p Vos usagers seront copiés automatiquement sur RDV Service Public. Leur historique de rendez-vous ne sera pas copié, mais vous pourrez retrouver un lien vers RDV Aide Numérique sur chaque fiche usager.
    p Si vous avez de nouveaux usagers qui sont ajoutés sur #{current_domain.name} après votre première migration, vous pouvez répéter cette étape sans créer de doublons.

    p.fr-mt-2w
      = icon("fr-icon-checkbox-circle-fill", class: "fr-mr-1w")
      | Vos données sur RDV Aide Numérique seront conservées, et resteront accessibles même après la migration.

    .rdv-text-align-center
      = link_to  "Commencer la migration", new_admin_organisation_instance_export_path, class: "fr-btn"
