- content_for :title, "Migration vers RDV Service Public"

.card.fr-mb-8w
  .card-body
    p #{link_to "RDV Service Public", "https://rdv.anct.gouv.fr", target: :_blank} est une version améliorée de RDV Aide Numérique. Cette nouvelle version vous permettra de :
    ul
      li
        b Inviter vos collègues
        |  qui travaillent dans d'autre domaines que la médiation numérique à rejoindre votre organisation sur RDV Service Public.
      li
        b ="Prendre des rendez-vous depuis la Coop de la Médiation Numérique"
        |  sans avoir à copier les information des bénéficiaires.
      li
        b Pré-remplir vos comptes-rendus d'activité sur la Coop de la Médiation Numérique
        |  en fonction de vos rendez-vous.

.card
  .card-body
    h2.fr-h5 Copie automatique des usagers

    p Pour faciliter la migration, nous fournissons une copie automatique vos fiches usagers depuis #{current_domain.name} vers RDV Service Public.

    p
      | Pour le moment, cette fonctionnalité ne fonctionne que pour les agents qui ont une seule organisation sur RDV Aide Numérique et sur RDV Service Public.
      |  Elle sera bientôt étendue aux autres cas.
    p
      = icon("fr-icon-checkbox-circle-fill", class: "fr-mr-1w")
      | Vos données sur RDV Aide Numérique seront conservées, et resteront accessibles.

    .rdv-text-align-center
      = link_to  "Commencer l'export de mes usagers", new_admin_organisation_instance_export_path, class: "fr-btn"
