- content_for :title, "Migration vers RDV Service Public"

.card
  .card-body
    p Pour commencer, nous allons lier votre compte #{current_domain.name} à RDV Service Public.

    p Sur la prochaine page, vous allez être redirigé vers RDV Service Public. <b>Utilisez ProConnect pour vous connecter</b>

    .rdv-text-align-center
      = link_to  "Connexion à RDV Service Public", "/omniauth/rdvservicepublic", class: "fr-btn", method: :post
