- content_for :title, "Migration vers RDV Service Public"

.card
  .card-body
    .rdv-text-align-center
      - if @instance_export.good_job_batch && @instance_export.good_job_batch.jobs.where(finished_at: nil).none?
        p Migration terminée !

        = link_to  "Ouvrir RDV Service Public", ENV["RDV_SERVICE_PUBLIC_OAUTH_BASE_URL"], class: "fr-btn fr-btn--secondary"
      - else
        p Migration en cours. Rechargez cette page dans quelques instants.
