/ Include the charts pack in the <head> section
- content_for(:additional_scripts) { javascript_include_tag "charts" }

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.with_breadcrumb label: "Accueil", href: "/"
    = b.with_breadcrumb label: "Statistiques globales", href: stats_path
    = b.with_breadcrumb label: "Statistiques par structure", href: stats_territories_path
    = b.with_breadcrumb label: @territory.name_in_stats

- content_for :title, "Statistiques par structure"

h2= @territory.name_in_stats

- if @territory.organisations.none?
  h3 Cette structure n'utilise pas #{current_domain.name}.

- cache([@territory, Time.zone.today], expires_in: 24.hours) do
  .card.mb-5
    .card-body
      h2.card-title Nombre de RDV par statut
      .fr-grid-row
        .fr-col-lg-4
          .px-1
            - %i[seen excused revoked noshow].each do |temporal_status|
              = render "stats/rdv_counter_without_link", \
                temporal_status: temporal_status, \
                element: "RDV".pluralize(@stats.rdvs.status(temporal_status).count), \
                count: @stats.rdvs.status(temporal_status).count
        .fr-col-lg-4
          .px-1
            = render "stats/rdv_counter_without_link", \
              temporal_status: :unknown_past, \
              element: "RDV", \
              count: @stats.rdvs.status(:unknown_past).count
        .fr-col-lg-4
          .px-1
            = render "stats/rdv_counter_without_link", \
              temporal_status: :unknown_future, \
              element: "RDV", \
              count: @stats.rdvs.status(:unknown_future).count
      hr
      .fr-grid-row
        .fr-col-lg-4
          .px-1
            = render "stats/rdv_counter_without_link", \
              element: "RDV", \
              label: "Tous", \
              count: @stats.rdvs.count

  .card.mb-5
    .card-body
      h2.card-title Nombre de RDV par statut de participation
      .fr-grid-row
        .fr-col-lg-4
          .px-1
            - %i[seen excused revoked noshow].each do |temporal_status|
              - count = Participation.where(rdv: @stats.rdvs).status(temporal_status).count
              = render "stats/rdv_counter_without_link", \
                temporal_status: temporal_status, \
                element: "Usager".pluralize(count), \
                count: count
        .fr-col-lg-4
          .px-1
            - count = Participation.where(rdv: @stats.rdvs).joins(:rdv).status(:unknown_past).count
            = render "stats/rdv_counter_without_link", \
              temporal_status: :unknown_past, \
              element: "Usager".pluralize(count), \
              count: count
        .fr-col-lg-4
          .px-1
            - count = Participation.where(rdv: @stats.rdvs).joins(:rdv).status(:unknown_future).count
            = render "stats/rdv_counter_without_link", \
              element: "Usager".pluralize(count), \
              temporal_status: :unknown_future, \
              count: count
      hr
      .fr-grid-row
        .fr-col-lg-4
          .px-1
            - count = Participation.where(rdv: @stats.rdvs).count
            = render "stats/rdv_counter_without_link", \
              element: "Usager".pluralize(count), \
              label: "Tous", \
              count: count

  .card.mb-5
    .card-body
      = self_anchor "rdvs"
        h2.card-title RDV créés par type d’usager (#{@stats.rdvs.count})
      = column_chart stats_territory_rdvs_path(territory: @territory), stacked: true

  .card.mb-5
    .card-body
      = self_anchor "rdvs-service"
        h2.card-title RDV créés par service (#{@stats.rdvs.count})
      = column_chart stats_territory_rdvs_path(by_service: true, territory: @territory), stacked: true

  .card.mb-5
    .card-body
      = self_anchor "rdvs-type"
        h2.card-title RDV par type (#{@stats.rdvs.count})
      = column_chart stats_territory_rdvs_path(by_location_type: true, territory: @territory), stacked: true

  .card.mb-5
    .card-body
      = self_anchor "rdvs-status"
        h2.card-title RDV par statut
      /
        Note: colors are synced manually with the status css and the order of the stats.
        From stat.rb, Stat#rdvs_group_by_status:
          * stats are in this order: unknown seen excused revoked noshow
        From _rdv_status.scss, the colors are:
          "unknown": $info, #ffbc00
          "seen": $success, #0acf97
          "excused": $info, #39afd1
          "revoked": $teal, #02a8b5
          "noshow": $danger, #fa5c7c
      - colors = %w[#fa5c7c #02a8b5 #39afd1 #0acf97 #ffbc00]
      = column_chart stats_territory_rdvs_path(by_status: true, territory: @territory), stacked: :percent, max: 100, suffix: "%", colors: colors

  .card.mb-5
    .card-body
      = self_anchor "rdvs-status"
        h2.card-title RDV par statut de participation
      - colors = %w[#fa5c7c #02a8b5 #39afd1 #0acf97 #ffbc00]
      = column_chart stats_territory_rdvs_path(by_participations_status: true, territory: @territory), stacked: :percent, max: 100, suffix: "%", colors: colors
