.fr-card.fr-enlarge-link.fr-card--horizontal
  .fr-card__body
    .fr-card__content
      h3.fr-card__title
        = link_to("Intitulé", "#")
      p.fr-card__desc
        | Lorem [...] elit ut.
      .fr-card__start
        ul.fr-tags-group
          li
            p.fr-taglabel tag
          li
            p.fr-taglabel tag
          p.fr-card__detail.fr-icon-warning-fill
            | détail (optionnel)
      .fr-card__end
        p.fr-card__detail.fr-icon-warning-fill
          | détail (optionnel)
