/# locals: (clipboard_content:)
= button_tag class: "fr-btn fr-btn--tertiary fr-btn--sm fr-ml-2w js-copy-to-clipboard", data: { "clipboard-content": clipboard_content }
  = icon("fr-icon-survey-line fr-icon--sm", class: "fr-mr-1w")
  | copier
