javascript:
  var ENV = {
    MATOMO_APP_ID: "#{ ENV['MATOMO_APP_ID'] }",
    PLACES_APP_ID: "#{ ENV['PLACES_APP_ID'] }",
    PLACES_API_KEY: "#{ ENV['PLACES_API_KEY'] }",
    SENTRY_DSN_RAILS: "#{ ENV['SENTRY_DSN_RAILS'] }",
    ENV: "#{ Rails.env }",
    BAN_API_URL: "#{ ENV['BAN_API_URL'] }"
  };
