javascript:
  var ENV = {
    PLACES_APP_ID: "#{ ENV['PLACES_APP_ID'] }",
    PLACES_API_KEY: "#{ ENV['PLACES_API_KEY'] }",
    SENTRY_DSN_RAILS: "#{ ENV['SENTRY_DSN_RAILS'] }",
    ENV: "#{ Rails.env }"
  };
