- if current_domain.france_connect_enabled || params[:force_franceconnect].present?
  h2 Se connecter avec FranceConnect
  .rdv-text-align-center
    .fr-connect-group
      = link_to "/omniauth/franceconnect", class: "fr-connect", method: :post do
        span.fr_connect__login S’identifier avec
        span.fr-connect__brand FranceConnect

    p
      = link_to "Qu’est-ce que FranceConnect ?", "https://franceconnect.gouv.fr/", target: "_blank", class: "fr-link"

  p.fr-hr-or ou
