= render "common/meta"
= render "common/env"
= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
= stylesheet_link_tag "/marianne_font_face.css", "data-turbo-track": "reload"
= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
= javascript_include_tag "application", "data-turbolinks-track": "reload"

= content_for(:charts_script)
