meta name="viewport" content="width=device-width, initial-scale=1.0"
meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
meta name="google-site-verification" content="l3Fi1TsTsnPUrx5485PTls0fWpK1yKJPGj0nDkxu1SY" 
meta name="google-site-verification" content="lSinhqmLj__y4WD8X9Ye6g8YjYKy3wm8Xtr9vo_VHxQ"

title Lapin.beta.gouv
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'landing', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'print', media: 'print', data: { turbolinks_track: true }
= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type:  'image/png'