= render "common/meta"
= stylesheet_link_tag "dsfr.min", "data-turbo-track": "reload"
= stylesheet_link_tag "utility/dsfr-utility.min", "data-turbo-track": "reload"
= stylesheet_link_tag "application_agent", media: "all"

= javascript_include_tag "application_agent"
= javascript_include_tag "application_test" if Rails.env.test?
= javascript_include_tag "dsfr.module.min.js", "data-turbo-track": "reload", type: "module", defer: true
= javascript_include_tag "dsfr.nomodule.min.js", "data-turbo-track": "reload", nomodule: true, defer: true

= content_for(:additional_scripts)
