= render "common/meta"
= render "common/env"
= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
= stylesheet_link_tag "@gouvfr/dsfr/dist/core/core.min.css", "data-turbo-track": "reload"
= stylesheet_link_tag "@gouvfr/dsfr/dist/component/logo/logo.min.css", "data-turbo-track": "reload"
= stylesheet_link_tag "@gouvfr/dsfr/dist/component/button/button.min.css", "data-turbo-track": "reload"
= stylesheet_link_tag "@gouvfr/dsfr/dist/component/header/header.min.css", "data-turbo-track": "reload"
= stylesheet_link_tag "@gouvfr/dsfr/dist/utility/icons/icons.min.css", "data-turbo-track": "reload"
= javascript_include_tag "application", "data-turbolinks-track": "reload"

= content_for(:charts_script)
