.fr-stepper
  h2.fr-stepper__title
    = step_title
    span.fr-stepper__state
      | Étape #{current_step} sur #{step_count}
  .fr-stepper__steps[data-fr-current-step="#{current_step}" data-fr-steps="#{step_count}"]
  p.fr-stepper__details
    span.fr-text--bold
      = "Étape suivante : "
    = next_step_title
