/# locals: (title:, path:, description:, details: nil)
.fr-tile.fr-tile--horizontal.fr-enlarge-link.fr-tile--md.fr-m-2w
  .fr-tile__body
    .fr-tile__content
      h3.fr-tile__title
        = link_to(title, path)
      - if description
        p.fr-tile__desc
          = description
      - if details
        p.fr-tile__detail
          = details
      /.fr-tile__start
        p.fr-tag
          | Tag (optionel)
  /.fr-tile__header
    .fr-tile__pictogram
      svg aria-hidden="true".fr-artwork".viewBox="0.0.80.80".width="80px".height="80px
        use.fr-artwork-decorative".href="/img/artwork/pictograms/buildings/city-hall.svg#artwork-decorative
        use.fr-artwork-minor".href="/img/artwork/pictograms/buildings/city-hall.svg#artwork-minor
        use.fr-artwork-major".href="/img/artwork/pictograms/buildings/city-hall.svg#artwork-major
