- content_for :title, "Aide particuliers"

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.with_breadcrumb label: "Accueil", href: root_path
    = b.with_breadcrumb label: "Contact", href: aide_aiguillage_role_path
    = b.with_breadcrumb label: yield(:title)

.fr-grid-row.fr-mb-4w
  .fr-col-12.fr-col-md-8
    - if @form.raison.blank?
      = form_for @form, url: aide_aiguillage_usager_path, method: :GET, builder: Dsfr::FormBuilder do |f|
        = f.dsfr_radio_buttons :raison, @form.raisons_options, legend: "Veuillez sélectionner la raison qui correspond le mieux à votre situation :"
        = f.submit "Valider", class: "fr-btn"
    - else
      .fr-mb-4w
        |> Votre situation :
        b=> @form.raison_label
        = link_to "modifier", aide_aiguillage_usager_path, class: "fr-link fr-link--icon-right fr-icon-pencil-line"

    - if @form.raison_creneaux?

      h6 Étapes pour prendre un RDV
      ol
        li Sélectionnez un service puis un motif
        li Choisissez un lieu : pour les rendez-vous physiques, plusieurs options peuvent être proposées. Si le rendez-vous est téléphonique, en visioconférence ou à domicile, cette étape ne sera pas proposée
        li Prenez en compte les instructions: certaines informations peuvent s'afficher avant de valider le rendez-vous, assurez-vous de les prendre en compte
        li Choisissez un créneau horaire: Si aucun créneau ne convient, explorez les dates futures
        li Identifiez-vous : la connexion se fait par la création d'un compte ou via France Connect
        li Confirmez le rendez-vous : un SMS et/ou un email seront envoyés quelques minutes après la confirmation du rendez-vous. Pour les emails, pensez à vérifier vos spams si besoin

      .fr-mb-4w
        = link_to "Faire une recherche de RDV depuis l’accueil", root_path, class: "fr-btn"

      .fr-callout.fr-mb-2w
        ' Si vous ne trouvez pas de créneaux, nous vous invitons à prendre contact avec l’organisation avec laquelle vous souhaitez prendre RDV

      p
        ' Vous pouvez chercher les coordonnées de l’organisation avec lequel vous souhaitez prendre RDV dans l’annuaire des services publics :
      .fr-mb-8w
        = link_to "Consulter l’annuaire du Service Public", "https://lannuaire.service-public.fr/", class: "fr-btn fr-btn--secondary", target: "_blank"

    - if @form.raison_annuler?
      .fr-accordions-group.fr-mb-4w
        = render "aide/pages/documentation_usager/faq_annuler_rdv"
        = render "aide/pages/documentation_usager/faq_annuler_rdv_sms"
        = render "aide/pages/documentation_usager/faq_annuler_rdv_email"

    - if @form.raison.present?
      p
        ' Si vous rencontrez des difficultés, vous pouvez contacter l’équipe de RDV Service Public :
      div
        = link_to "Contacter l’équipe de RDV Service Public",
          new_aide_demande_support_path(role: :usager, sujet: @form.raison_label),
          class: "fr-link fr-mb-2w"
      .fr-mt-8w
        = link_to "Revenir à l’accueil", root_path, class: "fr-link fr-link--icon-left fr-icon-arrow-left-line fr-link--sm"
