- content_for :title, "Aide usagers"

- content_for :breadcrumbs do
  = dsfr_breadcrumbs do |b|
    = b.breadcrumb label: "Contact", href: aide_aiguillage_role_path
    = b.breadcrumb label: yield(:title)

.fr-grid-row.fr-mb-4w
  .fr-col-12.fr-col-md-8
    - if @form.raison.blank?
      = form_for @form, url: aide_aiguillage_usager_path, method: :GET, builder: DsfrFormBuilder do |f|
        = f.dsfr_radio_buttons :raison, @form.raisons_options, legend: "Veuillez sélectionner la raison qui correspond le mieux à votre situation :"
        = f.submit "Valider", class: "fr-btn"
    - else
      .fr-mb-4w
        |> Votre situation :
        b=> @form.raison_label
        = link_to "modifier", aide_aiguillage_usager_path, class: "fr-link fr-link--icon-right fr-icon-pencil-line"

    - if @form.raison_creneaux?
      .fr-callout.fr-mb-2w
        p
          ' L’équipe de RDV Service Public ne peut pas débloquer de nouvelles disponibilités dans les administrations.

      p
        ' Nous vous invitons à prendre contact avec l’organisme avec lequel vous souhaitez prendre RDV.
        ' Les numéros de téléphone des organismes sont généralement affichés lors de la recherche de RDV accessible depuis l’accueil
      .fr-mb-4w
        = link_to "Faire une recherche de RDV depuis l’accueil", root_path, class: "fr-btn"

      p
        ' Vous pouvez aussi chercher les coordonnées de l’organisme avec lequel vous souhaitez prendre RDV dans l’annuaire des services publics.
      .fr-mb-8w
        = link_to "Consulter l’annuaire du Service Public", "https://lannuaire.service-public.fr/", class: "fr-btn fr-btn--secondary", target: "_blank"

    - if @form.raison_annuler?
      .fr-accordions-group.fr-mb-4w
        = render "aide/pages/documentation_usager/faq_annuler_rdv"
        = render "aide/pages/documentation_usager/faq_annuler_rdv_sms"
        = render "aide/pages/documentation_usager/faq_annuler_rdv_email"

    - if @form.raison.present?
      p
        ' Si votre problème persiste, vous pouvez contacter l’équipe de RDV Service Public :
      div
        = link_to "Contacter l’équipe de RDV Service Public",
          new_aide_demande_support_path(role: :usager, sujet: @form.raison_label),
          class: "fr-link fr-mb-2w"
      .fr-mt-8w
        = link_to "Revenir à l’accueil", root_path, class: "fr-link fr-link--icon-left fr-icon-arrow-left-line fr-link--sm"
