- content_for(:title) do
  | Nouveau RDV par prescription
main.container
  .row.justify-content-center.mt-4
    .col-lg-7.col-md-10.col-sm-11
      .card
        .card-body
          h2.fr-h3
            = icon("fr-icon-checkbox-fill", class: "fr-mr-1w")
            |< Rendez-vous confirmé
          - rdv = @rdv
          ul.list-group.list-group-flush
            li.list-group-item
              = calendar_icon(class: "fr-mr-1w")
              = rdv_title(rdv)

            - if rdv.public_office?
              li.list-group-item
                = lieu_icon(class: "fr-mr-1w")
                = human_location(rdv)
                - if rdv.lieu&.phone_number
                  = phone_icon(class: "fr-mr-1w")
                  = link_to rdv.lieu.phone_number, "tel:#{rdv.lieu.phone_number_formatted}"

            - elsif rdv.phone?
              li.list-group-item
                = phone_icon(class: "fr-mr-1w")
                | RDV Téléphonique

            li.list-group-item
              = user_icon(class: "fr-mr-1w")
              = @rdv.users.first.full_name
              = " (#{@rdv.users.first.phone_number})" if @rdv.users.first.phone_number.present?

            li.list-group-item
              .row
                .col-auto.pr-0
                  = motif_icon(class: "fr-mr-1w")
                .col-auto.pl-1
                  = rdv.motif.name
                  - if current_territory.enable_context_field && @rdv.context.present?
                    div.rdv-white-space-pre.pt-3= @rdv.context

            - if rdv.motif.instruction_for_rdv.present?
              li.list-group-item
                = icon("fr-icon-warning-fill", class: "fr-mr-1w")
                strong Informations supplémentaires&nbsp;:
                .pl-3.pt-1
                  = instruction_for_rdv_to_html(rdv.motif)
            li.list-group-item
              |> Besoin de déplacer le rendez-vous ou de corriger un détail ?
              = link_to "Contactez-nous", new_aide_demande_support_path(role: :agent, sujet: "Déplacer ou corriger un RDV pris via prescription (RDV ID: #{rdv.id})")
          .mt-4.rdv-text-align-center= link_to "Retour à l'accueil", admin_organisation_planning_agenda_path(current_organisation), class: "fr-btn fr-btn--tertiary-no-outline"
