h1 Prescription
h6.card-subtitle.mb-2 = t("admin.creneaux.agent_searches.index.search_for_slots_subtitle", users_fullname: @context.user.full_name)
= render partial: @context.to_partial_path, locals: { context: @context }
