h1 Documentation

p Cette page documente différentes fonctionnalités de RDV Service Public

- @scenarios.keys.each.with_index do |title, i|
  a[href='scenario_#{i}.html'] #{title}

p Dernière mise à jour le #{I18n.l(Time.zone.now)}
