.fr-m-2w
  a[href="index.html"] retour
  h1 = @title
  - @sections.each.with_index do |section, index|
    h2 = "#{index +1}) #{section.title}"
    div[style="display: flex"]
      - section.steps.each do |step|
        div[style="padding: 8px; display: flex; flex-direction: column; align-items: center"]
          - if step[:img_src]
            img[src='#{step[:img_src]}' width=800 style='border: solid 2px grey']
            - if step[:text]
              p.fr-mt-2w = step[:text]
          - else
            p[style="min-width: 300px"] = step[:text]
