header.header.bg-white
  = render "layouts/rdv_solidarites_instance_name"
  = render "layouts/degraded_service", message: ENV["DEGRADED_SERVICE_MESSAGE_USERS"]
  nav.navbar.navbar-expand-lg.bg-transparent.navbar-dsfr[role="navigation" aria-label="navigation"]
    = link_to root_path, class: "header-brand ml-4" do
      = image_tag current_domain.dark_logo_path, alt: current_domain.name, class: "logo-dsfr logo-dsfr--compactable"
    button.navbar-toggler.navbar-toggler-right aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button"
      i.fr-icon-menu-fill.text-primary-blue
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.align-items-start.align-items-lg-center
        = render "layouts/rdv_a_renseigner", organisation: defined?(current_organisation) && current_organisation
        li.list-inline-item
          - if current_domain != Domain::RDV_AIDE_NUMERIQUE
            = link_to agents_blog_posts_path, class: "btn text-primary-blue link-dsfr d-flex justify-content-center", data: { modal: true } do
              | Nouveautés
              - if BlogPost.new_content_for_agent?(current_agent)
                .ml-1.fr-badge.fr-badge--new.fr-badge--sm.fr-pl-3v
          - elsif defined?(current_organisation) && current_organisation && current_agent.organisations_count <= 1 && current_agent.admin_in_organisation?(current_organisation)
            = link_to "Passer à RDV Service Public", admin_organisation_instance_exports_path(current_organisation), class: "btn text-primary-blue link-dsfr"

        li#rdv-account-dropdown.list-inline-item.dropdown.mr-2
          button.link-dsfr.dropdown-toggle type="button" data-toggle="dropdown" aria-expanded="false"
            = current_agent.full_name
          ul.dropdown-menu.dropdown-menu-right
            li = link_to edit_agent_registration_path, class: "dropdown-item-dsfr dropdown-item" do
              span.fr-icon--sm.fr-mr-2v.fr-icon-account-line[aria-hidden="true"]
              = "Mon compte"
            - Agent::TerritoryPolicy::Scope.new(current_agent, Territory.all).resolve.distinct.order(:name).each do |territory|
              li = link_to admin_territory_path(territory), class: "dropdown-item-dsfr dropdown-item" do
                span.fr-icon--sm.fr-mr-2v.fr-icon-settings-5-line[aria-hidden="true"]
                | Paramètres de #{territory.name_for_agent}
            li.dropdown-divider.my-1[aria-hidden="true"]
            li = link_to destroy_agent_session_path, method: :delete, class: "dropdown-item-dsfr dropdown-item" do
              span.fr-icon--sm.fr-mr-2v.fr-icon-logout-box-r-line[aria-hidden="true"]
              | Se déconnecter
        - if current_domain == Domain::RDV_SERVICE_PUBLIC && current_agent.lagaufre_access?
          li.list-inline-item.fr-mr-6v.fr-mt-n1v
            = render "layouts/lagaufre_button"

  = render "layouts/super_admin_sign_in_as_warning"
  = render "layouts/meet_the_team_banner"
