header.header.bg-white
  = render "layouts/rdv_solidarites_instance_name"
  = render "layouts/degraded_service", message: ENV["DEGRADED_SERVICE_MESSAGE_USERS"]

  nav.navbar.navbar-expand-lg.bg-transparent.navbar-dsfr[role="navigation" aria-label="navigation"]
    = link_to root_path, class: "header-brand ml-4" do
      = image_tag current_domain.dark_logo_path, alt: current_domain.name, class: "logo-dsfr logo-dsfr--compactable"
    button.navbar-toggler.navbar-toggler-right aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button"
      i.fa.fa-bars.text-primary-blue
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.align-items-start.align-items-lg-center
        = render "layouts/rdv_a_renseigner", organisation: defined?(current_organisation) && current_organisation
        li.list-inline-item
          #js-headway-anchor.btn.text-primary-blue.link-dsfr.d-flex.justify-content-center
            | Nouveautés
        li.list-inline-item.dropdown.mr-2
          button.link-dsfr.dropdown-toggle type="button" data-toggle="dropdown" aria-expanded="false"
            = current_agent.full_name
          ul.dropdown-menu.dropdown-menu-right style="min-width: auto"
            li = link_to edit_agent_registration_path, class: "btn text-primary-blue link-dsfr dropdown-item" do
              span.fr-icon--sm.fr-mr-1v.fr-icon-account-line[aria-hidden="true"]
              = "Mon compte"
            - territories_i_admin = defined?(current_organisation) ? [current_organisation.territory] : current_agent.territories
            - territories_i_admin.each do |territory|
              li = link_to admin_territory_path(territory), class: "btn text-primary-blue link-dsfr dropdown-item" do
                span.fr-icon--sm.fr-mr-1v.fr-icon-settings-5-line[aria-hidden="true"]
                | Configurer le territoire "#{territory.name}"
            .dropdown-divider.m-0[aria-hidden="true"]
            li = link_to edit_agent_registration_path, class: "btn text-primary-blue link-dsfr dropdown-item" do
              span.fr-icon--sm.fr-mr-1v.fr-icon-logout-box-r-line[aria-hidden="true"]
              | Se déconnecter
