button[data-fr-opened="false" aria-controls="blog-posts-modal" type="button" class="btn rdv-color-active-blue link-dsfr d-flex justify-content-center"]
  | Nouveautés
  - if BlogPost.new_content_for_agent?(current_agent)
    .ml-1.fr-badge.fr-badge--new.fr-badge--sm.fr-pl-3v

dialog#blog-posts-modal.fr-modal[aria-labelledby="modal-title" aria-modal="true"]
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8
        .fr-modal__body
          .fr-modal__header
            button[aria-controls="blog-posts-modal" title="Fermer" type="button" class="fr-btn--close fr-btn"] Fermer
          .fr-modal__content.fr-mb-4w
            turbo-frame#blog-posts[src=agents_blog_posts_path(format: "turbo_stream") loading="lazy"]
