- if may_need_onboarding_help?
  .fr-notice.fr-notice--info
    .fr-notice__body
      p.fr-mb-0.fr-ml-6w
        span.fr-notice__desc
          | Besoin d'aide pour bien démarrer ? Nous pouvons vous aider
          = " "
          = external_link_to("Rencontrer l'équipe", "https://rdv.anct.gouv.fr/motif/d17ekoDa/accompagnement-support", class: "fr-btn fr-btn--tertiary fr-ml-1w")
