- if current_domain == Domain::RDV_MAIRIE
  header.with_direct_link_simple title: "Accueil", path: root_path, html_attributes: current_page?(root_path) ? { "aria-current": "page" } : {}
    header.with_direct_link_simple title: "Statistiques", path: stats_path, html_attributes: current_page?(stats_path) ? { "aria-current": "page" } : {}
end


