- if current_agent.should_link_pro_connect_for_visio?
  = dsfr_notice title: "RDV en visioconférence", description: "Vous proposez des rendez-vous en visioconférence. Pour continuer à en organiser, vous devez vous connecter à votre compte #{current_domain.name} via ProConnect avant le 29 octobre.", type: "warning", link_label: "Connecter mon compte à ProConnect dès maintenant", link_href: agents_pro_connect_linking_path, link_blank: false
