- if organisation.present? && current_agent.unknown_past_rdv_count > 0 && !current_agent.conseiller_numerique? # See https://github.com/betagouv/rdv-solidarites.fr/issues/2245
  li.list-inline-item.fr-mr-2w
    = link_to a_renseigner_admin_organisation_rdvs_path(organisation), class: "btn text-primary-blue link-dsfr" do
      .fa.fa-exclamation-triangle.alert-link>
      = "#{current_agent.unknown_past_rdv_count} RDV à renseigner"
