- if session[:sign_in_as]
  .fr-notice.fr-notice--warning
    .fr-container
      .fr-notice__body
        p.fr-mb-0
          span.fr-notice__title Information importante
          span.fr-notice__desc Vous êtes connecté en tant que #{current_agent.full_name}. Soyez attentif à vos manipulations.
          = link_to "Se déconnecter et revenir au super admin", destroy_agent_session_path, method: :delete, class: "fr-notice__link"
