doctype html
html lang="fr"
  head
    = yield :html_head_prepend
    = render "common/head_agent"
  body
    - links = [dsfr_link_to("Contenu", "#main"), link_to("Pied de page", "#footer")]
    = dsfr_skiplink label: "Accès rapide", links: links

    = render "layouts/agent_header"
    / doit être dans <body> et pas dans <head>

    .content-and-left-menu-wrapper
      = render "layouts/left_menu"
      main#main.content-page[style="flex-grow: 1;" role="main" data-beta-planning-layout=@beta_planning_layout.to_s]
        .content
          - if @beta_planning_layout
            = content_for :onboarding_banner
            = render partial: "admin/planning/planning_agents_select"
            .fr-p-2w
              = content_for(:fil_ariane)
              = yield

          - else
            = render "layouts/instance_migration_banner"
            = content_for :fil_ariane
            .container-fluid
              = render "layouts/flash"
              = content_for :onboarding_banner
              - if content_for :title
                .page-title-box
                  h1.fr-h2= yield :title
                  - if content_for :right_of_page_title
                    .page-title-right
                      = yield :right_of_page_title
              = yield

      = render "layouts/agent_footer"
    #modal-holder
