doctype html
html lang="fr"
  head
    = render "common/meta"
    = stylesheet_link_tag "dsfr.min", "data-turbo-track": "reload"
    = stylesheet_link_tag "utility/dsfr-utility.min", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", media: "all"
    = content_for(:additional_stylesheets)

    = javascript_include_tag "application"
    = javascript_include_tag "application_test" if Rails.env.test?
    = javascript_include_tag "dsfr.module.min.js", "data-turbo-track": "reload", type: "module", defer: true
    = javascript_include_tag "dsfr.nomodule.min.js", "data-turbo-track": "reload", nomodule: true, defer: true
    = content_for(:additional_scripts)

  body
    - links = [dsfr_link_to("Contenu", "#content"), link_to("Pied de page", "#footer")]
    = dsfr_skiplink label: "Accès rapide", links: links

    = render "layouts/rdv_solidarites_instance_name"
    = render "layouts/degraded_service", message: ENV["DEGRADED_SERVICE_MESSAGE_USERS"]

    = dsfr_header logo_text: sanitize("République<br>Française"), html_attributes: {id: "header"} do |header|
      ruby:
        header.with_operator_image title: "", src: asset_path(current_domain.dark_logo_path), alt: "Accueil - #{current_domain.name}"
        if current_user.present? && !current_user.signed_in_with_invitation_token?
          header.with_tool_link title: "Vos rendez-vous", path: users_rdvs_path, html_attributes: { class: "fr-icon-calendar-fill" }
          header.with_tool_link title: "Vos informations", path: users_informations_path
          header.with_tool_link title: "Votre compte", path: edit_user_registration_path
          header.with_tool_link title: "Déconnexion", path: destroy_user_session_path, html_attributes: { "data-method": "delete", class: "fr-icon-lock-fill" }
        elsif current_agent
          header.with_tool_link title: "Espace Agent", path: root_path
          header.with_tool_link title: current_agent.full_name, path: edit_agent_registration_path
        elsif current_domain == Domain::RDV_SERVICE_PUBLIC && request.path == "/"
          header.with_tool_link title: "Centre d’aide", path: "https://aide.rdv-service-public.fr", html_attributes: { class: "fr-icon-questionnaire-line" }
          header.with_tool_link title: "Connexion Agent", path: new_agent_session_path, html_attributes: { class: "fr-icon-admin-line" }
          header.with_tool_link title: "Connexion Usager", path: new_user_session_path, html_attributes: { class: "fr-icon-account-line" }
        else
          header.with_tool_link title: "Connexion Agent", path: new_agent_session_path, html_attributes: { class: "fr-icon-admin-line" }
          header.with_tool_link title: "Connexion Usager", path: new_user_session_path, html_attributes: { class: "fr-icon-account-line" }
        end

        if current_domain == Domain::RDV_SERVICE_PUBLIC  && @site_vitrine_page
          header.with_direct_link_simple title: "Accueil", path: root_path, html_attributes: current_page?(root_path) ? { "aria-current": "page" } : {}
          header.with_direct_link_simple title: "Notre impact", path: stats_path, html_attributes: current_page?(stats_path) ? { "aria-current": "page" } : {}
        end

    main#content[role="main"]
      - if content_for :main_content
        = yield :main_content
      - else
        .fr-container
          = render "layouts/flash"
        = yield

    #modal-holder

    = render "layouts/footer"
