/ Ce layout sert à la fois aux vues liées à Devise, et aux préférences des agents, puisque l'édition du profil agent utilise un controller Devise.
/ TODO: Si on évitait ce couplage, on pourrait séparer ce layout en deux layouts différents avec une meilleure sémantique
doctype html
html lang="fr"
  head
    = render "common/meta"
    = stylesheet_link_tag "dsfr.min", "data-turbo-track": "reload"
    = stylesheet_link_tag "utility/dsfr-utility.min", "data-turbo-track": "reload"
    = stylesheet_link_tag "application_agent_config", media: "all"

    = javascript_include_tag "application_test" if Rails.env.test?
    = javascript_include_tag "application_agent_config"
    = javascript_include_tag "dsfr.module.min.js", "data-turbo-track": "reload", type: "module", defer: true
    = javascript_include_tag "dsfr.nomodule.min.js", "data-turbo-track": "reload", nomodule: true, defer: true
  main
    body.pb-0
      - links = [dsfr_link_to("Contenu", "#content")]
      - if current_agent
        - links << dsfr_link_to("Menu", "#sidemenu")
      = dsfr_skiplink label: "Accès rapide", links: links, html_attributes: { "data-turbolinks": "false" }
      = render "layouts/super_admin_sign_in_as_warning"
      = render "layouts/rdv_solidarites_instance_name"
      .auth-fluid.row
        .auth-fluid-left.text-center.col-xs-12.col-md-4#sidemenu class="#{"auth-fluid-left--agent-preferences" if current_agent}"
          .p-2
            = link_logo
          - if current_agent.present?
            = link_to(root_path, class: "pt-1 pb-4") do
              i.fr-icon-arrow-left-line
              |< Retour à l'accueil
          .align-items-center.d-flex.mt-2.mt-lg-4
            .p-1.p-lg-3.flex-grow-1.mt-lg-4
              - if current_agent
                / Lors de la connexion par Oauth, on affiche juste les informations qui indiquent à l'agent qu'iel est connecté.e, et avec quel compte
                / On ne propose pas tout le menu, parce que ce n'est pas pertinent de faire sortir l'agent du flow d'Oauth
                - if controller.instance_of?(Doorkeeper::AuthorizationsController)
                  .d-flex.flex-row.justify-content-center
                    div.text-left
                      h3 = current_agent.full_name
                      p = current_agent.email
                - else
                  = render "agents/preferences_menu"
              - else
                p.lead.mb-3
                  ' Faciliter
                  span.rdv-color-blue-ecume-sun-247-moon-675-hover
                    ' la gestion et la prise de rendez‑vous
                    / on utilise un non-breaking hyphen dans rendez-vous pour éviter le retour à la ligne
                  | dans votre administration

        .auth-fluid-form-box.col-xs-12.col-md-8#content
          = content_for :breadcrumbs
          / Permet de centrer les formulaire de login, et d'aligner en haut de l'écran les formulaires de préférences
          div class="#{"align-items-center d-flex h-100" if current_agent.blank?}"
            .p-3.flex-grow-1
              .row
                .col-md-10.offset-md-1
                  = render "layouts/flash"
                  - if content_for :title
                    .text-center.m-auto
                      h1.card-title.text-dark-50.text-center.mt-0.font-weight-bold.mb-4
                        = content_for :title

                  = yield
                  - if content_for :footer
                  .mt-3.text-center
                    = yield :footer
