---
http_interactions:
- request:
    method: report
    uri: https://ox8-oidc.ox8-oidc.osprod.dimail1.numerique.gouv.fr/dav/caldav/1234_calendar_id
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT"/>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:APPLE="http://apple.com/ns/ical/" xmlns:CAL="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/event_signaled_as_deleted.ics</D:href>
            <D:propstat>
              <D:prop>
                <D:getetag>3-193694-1769419251999</D:getetag>
                <CAL:calendar-data/>
              </D:prop>
              <D:status>HTTP/1.1 200 OK</D:status>
            </D:propstat>
          </D:response>
        </D:multistatus>
  recorded_at: Mon, 26 Jan 2026 09:22:56 GMT
recorded_with: VCR 6.4.0
