---
http_interactions:
- request:
    method: propfind
    uri: https://ox8-oidc.ox8-oidc.osprod.dimail1.numerique.gouv.fr/dav/caldav/1234_calendar_id
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
            <apple:calendar-color/>
            <dav:sync-token/>
            <dav:supported-report-set/>
            <caldav:supported-calendar-component-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:APPLE="http://apple.com/ns/ical/" xmlns:CAL="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
          <D:response>
            <D:href>/dav/caldav/1234_calendar_id/</D:href>
            <D:propstat>
              <D:prop>
                <D:displayname>agenda VCR</D:displayname>
                <calendar-color xmlns="http://apple.com/ns/ical/" symbolic-color="custom">#ff2968</calendar-color>
                <D:sync-token>1769419251161.0.1</D:sync-token>
                <D:supported-report-set>
                  <D:supported-report>
                    <D:report>
                      <CAL:calendar-multiget/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <CAL:calendar-query/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:acl-principal-prop-set/>
                    </D:report>
                  </D:supported-report>
  [...]
