---
http_interactions:
- request:
    method: propfind
    uri: https://webmail.genci.fr/dav/pbrdv@genci.fr/Calendar
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
            <apple:calendar-color/>
            <dav:sync-token/>
            <dav:supported-report-set/>
            <caldav:supported-calendar-component-set/>
            <dav:current-user-privilege-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
      Dav:
      - 1, 2, 3, access-control, calendar-access, calendar-auto-schedule
      - calendarserver-principal-property-search
      - version-control, addressbook, extended-mkcol, calendar-proxy
      X-Content-Options:
      - nosniff
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:">
          <D:response>
            <D:href>/dav/pbrdv%40genci.fr/Calendar/</D:href>
            <D:propstat>
              <D:status>HTTP/1.1 404 Not Found</D:status>
              <D:prop>
                <dav:sync-token xmlns:dav="DAV:"/>
              </D:prop>
            </D:propstat>
            <D:propstat>
              <D:status>HTTP/1.1 200 OK</D:status>
              <D:prop>
                <D:resourcetype>
                  <D:collection/>
                  <C:calendar xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                </D:resourcetype>
                <C:supported-calendar-component-set xmlns:C="urn:ietf:params:xml:ns:caldav">
                  <C:comp name="VEVENT"/>
                  <C:comp name="VFREEBUSY"/>
                </C:supported-calendar-component-set>
                <D:supported-report-set>
                  <D:supported-report>
                    <D:report>
                      <C:calendar-query xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <C:calendar-multiget xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <C:free-busy-query xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:acl-principal-prop-set/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:principal-match/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:principal-property-search/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:principal-search-property-set/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:expand-property/>
                    </D:report>
                  </D:supported-report>
                </D:supported-report-set>
                <CS:getctag xmlns:CS="http://calendarserver.org/ns/">1-32</CS:getctag>
                <D:getetag>"1-1"</D:getetag>
                <D:displayname>Calendar</D:displayname>
                <A:calendar-color xmlns:A="http://apple.com/ns/ical/">#F57802FF</A:calendar-color>
                <D:current-user-privilege-set>
                  <D:privilege>
                    <D:read-current-user-privilege-set/>
                  </D:privilege>
                  <D:privilege>
                    <D:read/>
                  </D:privilege>
                  <D:privilege>
                    <D:write/>
                  </D:privilege>
                  <D:privilege>
                    <D:write-content/>
                  </D:privilege>
                  <D:privilege>
                    <D:write-properties/>
                  </D:privilege>
                  <D:privilege>
                    <D:bind/>
                  </D:privilege>
                  <D:privilege>
                    <D:unbind/>
                  </D:privilege>
                </D:current-user-privilege-set>
              </D:prop>
            </D:propstat>
          </D:response>
        </D:multistatus>
  recorded_at: Mon, 05 Oct 2026 12:21:20 GMT
- request:
    method: report
    uri: https://webmail.genci.fr/dav/pbrdv@genci.fr/Calendar
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT"/>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
      Dav:
      - 1, 2, 3, access-control, calendar-access, calendar-auto-schedule
      - calendarserver-principal-property-search
      - version-control, addressbook, extended-mkcol, calendar-proxy
      X-Content-Options:
      - nosniff
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:">
          <D:response>
            <D:href>/dav/pbrdv%40genci.fr/Calendar/3aacf91a-88ee-4f1b-8ae6-93a674aaf9bd.ics</D:href>
            <D:propstat>
              <D:status>HTTP/1.1 200 OK</D:status>
              <D:prop>
                <C:calendar-data xmlns:C="urn:ietf:params:xml:ns:caldav">BEGIN:VCALENDAR
        PRODID:Zimbra-Calendar-Provider
        VERSION:2.0
        BEGIN:VTIMEZONE
        TZID:Europe/Brussels
        BEGIN:STANDARD
        DTSTART:16010101T030000
        TZOFFSETTO:+0100
        TZOFFSETFROM:+0200
        RRULE:FREQ=YEARLY;WKST=MO;INTERVAL=1;BYMONTH=10;BYDAY=-1SU
        TZNAME:CET
        END:STANDARD
        BEGIN:DAYLIGHT
        DTSTART:16010101T020000
        TZOFFSETTO:+0200
        TZOFFSETFROM:+0100
        RRULE:FREQ=YEARLY;WKST=MO;INTERVAL=1;BYMONTH=3;BYDAY=-1SU
        TZNAME:CEST
        END:DAYLIGHT
        END:VTIMEZONE
        BEGIN:VEVENT
        UID:3aacf91a-88ee-4f1b-8ae6-93a674aaf9bd
        SUMMARY:c
        ORGANIZER:mailto:pbrdv@genci.fr
        DTSTART;TZID="Europe/Brussels":20261007T103000
        DTEND;TZID="Europe/Brussels":20261007T123000
        STATUS:CONFIRMED
        CLASS:PUBLIC
        TRANSP:OPAQUE
        LAST-MODIFIED:20261005T121409Z
        DTSTAMP:20261005T121409Z
        SEQUENCE:0
        BEGIN:VALARM
        ACTION:DISPLAY
        TRIGGER;RELATED=START:-PT15M
        DESCRIPTION:Reminder
        END:VALARM
        END:VEVENT
        END:VCALENDAR</C:calendar-data>
                <D:getetag>"25-25"</D:getetag>
              </D:prop>
            </D:propstat>
          </D:response>
          <D:response>
            <D:href>/dav/pbrdv%40genci.fr/Calendar/459a4266-1c9d-4b33-a6c0-93c7adf010fb.ics</D:href>
            <D:propstat>
              <D:status>HTTP/1.1 200 OK</D:status>
              <D:prop>
                <C:calendar-data xmlns:C="urn:ietf:params:xml:ns:cald[...]
