---
http_interactions:
- request:
    method: propfind
    uri: https://webmail.genci.fr/dav/pbrdv@genci.fr/Calendar
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
            <apple:calendar-color/>
            <dav:sync-token/>
            <dav:supported-report-set/>
            <caldav:supported-calendar-component-set/>
            <dav:current-user-privilege-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization: "[Filtered in vcr.rb -> before_record]"
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
      Dav:
      - 1, 2, 3, access-control, calendar-access, calendar-auto-schedule
      - calendarserver-principal-property-search
      - version-control, addressbook, extended-mkcol, calendar-proxy
      X-Content-Options:
      - nosniff
      X-Service-Auth: "[Filtered in vcr.rb -> before_record]"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:">
          <D:response>
            <D:href>/dav/pbrdv%40genci.fr/Calendar/</D:href>
            <D:propstat>
              <D:status>HTTP/1.1 404 Not Found</D:status>
              <D:prop>
                <dav:sync-token xmlns:dav="DAV:"/>
              </D:prop>
            </D:propstat>
            <D:propstat>
              <D:status>HTTP/1.1 200 OK</D:status>
              <D:prop>
                <D:resourcetype>
                  <D:collection/>
                  <C:calendar xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                </D:resourcetype>
                <C:supported-calendar-component-set xmlns:C="urn:ietf:params:xml:ns:caldav">
                  <C:comp name="VEVENT"/>
                  <C:comp name="VFREEBUSY"/>
                </C:supported-calendar-component-set>
                <D:supported-report-set>
                  <D:supported-report>
                    <D:report>
                      <C:calendar-query xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <C:calendar-multiget xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <C:free-busy-query xmlns:C="urn:ietf:params:xml:ns:caldav"/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:acl-principal-prop-set/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:principal-match/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:principal-property-search/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:principal-search-property-set/>
                    </D:report>
                  </D:supported-report>
                  <D:supported-report>
                    <D:report>
                      <D:expand-property/>
                    </D:report>
                  </D:supported-report>
                </D:supported-report-set>
                <CS:getctag xmlns:CS="http://calendarserver.org/ns/">1-38</CS:getctag>
                <D:getetag>"1-1"</D:getetag>
                <D:displayname>Calendar</D:displayname>
                <A:calendar-color xmlns:A="http://apple.com/ns/ical/">#F57802FF</A:calendar-color>
                <D:current-user-privilege-set>
                  <D:privilege>
                    <D:read-current-user-privilege-set/>
                  </D:privilege>
                  <D:privilege>
                    <D:read/>
                  </D:privilege>
                  <D:privilege>
                    <D:write/>
                  </D:privilege>
                  <D:privilege>
                    <D:write-content/>
                  </D:privilege>
                  <D:privilege>
                    <D:write-properties/>
                  </D:privilege>
                  <D:privilege>
                    <D:bind/>
                  </D:privilege>
                  <D:privilege>
                    <D:unbind/>
                  </D:privilege>
                </D:current-user-privilege-set>
              </D:prop>
            </D:propstat>
          </D:response>
        </D:multistatus>
  recorded_at: Mon, 05 Oct 2026 12:49:40 GMT
[...]
- request:
    method: report
    uri: https://webmail.genci.fr/dav/pbrdv@genci.fr/Calendar
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-multiget xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <dav:href>/dav/pbrdv%40genci.fr/Calendar/0cbd7890-605e-42de-84db-c9bbb6ae47e7.ics</dav:href>
          <dav:href>/dav/pbrdv%40genci.fr/Calendar/0d69b6f5-2b33-46b5-b07b-981f03d3cc8d.ics</dav:href>
          <dav:href>/dav/pbrdv%40genci.fr/Calendar/178e5040-b7bb-433c-8a18-626aacf82375.ics</dav:href>
          <dav:href>/dav/pbrdv%40genci.fr/Calendar/204d307e-03c8-476d-b8df-69b1f1e31a28.ics</dav:href>
          <dav:href>/dav/pbrdv%40genci.fr/Calendar/6d2e4654-b353-4aee-914d-1671f2f9e882.ics</dav:href>
     [...]
