div
  p= t("mailers.common.hello")
  p
    - author = @author.full_name
    - if @author == @agent
      | Vous avez annulé la participation de #{@participation.user} au RDV collectif le #{l(@rdv.starts_at, format: :short)}.
    - elsif @author.is_a? Agent
      | La participation de #{@participation.user} au RDV collectif le #{l(@rdv.starts_at, format: :short)} a été annulée par #{@author}.
    - elsif @author == @participation.user
      | #{@participation.user} a annulé sa participation au RDV collectif le #{l(@rdv.starts_at, format: :short)}.
    - else
      - Sentry.capture_message("Mail d’annulation de participation à un RDV collectif dans un cas surprenant", level: :error)
      | La participation de #{@participation.user} au RDV collectif le #{l(@rdv.starts_at, format: :short)} a été annulée.

    = render "mailers/common/rdv_overview", rdv: @rdv, for_role: :agent

  p.aligncenter
    = link_to "Voir sur #{domain.name}", admin_organisation_rdv_url(@rdv.organisation_id, @rdv.id),  class: "btn btn-primary"

  br
  = t("mailers.common.farewell_html", domain_name: domain.name)
