- content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) }

header.main-content__header
  h1.main-content__page-title
    = content_for(:title)

  div
    = link_to(t("administrate.actions.edit_resource", name: page.page_title), [:edit, namespace, page.resource], class: "button") if accessible_action?(page.resource, :edit)
    = link_to(t("administrate.actions.destroy"), [namespace, page.resource], class: "button button--danger", method: :delete, data: { confirm: t("administrate.actions.confirm") }) if accessible_action?(page.resource, :destroy)

section.main-content__body
  dl
    - page.attributes.each do |attribute|
      dt.attribute-label id=attribute.name
        = t("helpers.label.#{resource_name}.#{attribute.name}", default: page.resource.class.human_attribute_name(attribute.name))

      dd.attribute-data class="attribute-data--#{attribute.html_class}"
        = render_field attribute, page: page

  - expired_plage_ouvertures_count = page.resource.plage_ouvertures.expired.count
  - if expired_plage_ouvertures_count > 0
    h3 Outils
    = link_to "Supprimer les #{expired_plage_ouvertures_count} plages d’ouvertures expirées",
      super_admins_organisation_past_plage_ouvertures_path(page.resource),
      method: :delete,
      data: { confirm: t("administrate.actions.confirm") },
      class: "button"
