- content_for :title, "Votre compte"

.card
  .card-body
    - if resource.logged_once_with_franceconnect?
      .fr-alert.fr-alert--info.fr-mb-3w
        | Vous pouvez ici changer l'email et le mot de passe de votre compte #{current_domain.name}, et pas ceux de FranceConnect
    = form_for resource, as: resource_name, url: registration_path(resource_name), remote: request.xhr?, html: { method: :put }, builder: DsfrFormBuilder do |f|
      = f.dsfr_email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .form-text.rdv-color-text-mention-grey.mb-2
          | En attente de confirmation pour #{resource.unconfirmed_email}
      = render "common/form/new_password_input", f:, hint: "Choisissez votre mot de passe ou laissez ce champ vide si vous ne souhaitez pas changer votre mot de passe.", password_label: "Nouveau mot de passe"
      = render "common/form/current_password_input", f: f, name: :current_password, hint: "Renseignez votre mot de passe actuel pour tout changement.", password_label: "Mot de passe actuel"
      .rdv-text-align-right= f.submit "Modifier", class: "fr-btn"
      .mt-5.rdv-text-align-center
        hr
        p.font-13 Vous souhaitez supprimer votre compte ?
        = link_to "Supprimer", user_registration_path, data:{ confirm: @rdv_insertion_organisations.blank? ? "Voulez-vous vraiment supprimer votre compte ?" : "Vous ne pourrez plus vous connecter à votre compte mais les données liées aux structures d'insertion ne seront pas supprimées. Vos données liées à d'autres structures seront bien supprimées." }, method: :delete, class: "fr-btn fr-btn--secondary"
