- content_for :title, "Inscription"

.card
  = render "users/rdv_wizard_steps/rdv_wizard_summary", rdv_wizard: @rdv_wizard if @rdv_wizard.present?

  .card-body
    = form_for resource, as: :user, url: registration_path(resource_name), builder: DsfrFormBuilder do |f|
      - if current_domain.france_connect_enabled || params[:force_franceconnect].present?
        h2 Se créer un compte avec FranceConnect
        = render "common/franceconnect_button"

        p.fr-hr-or ou

      h2 Se créer un compte avec un email
      = render "devise/shared/dsfr_error_messages", resource: resource
      .fr-grid-row.fr-grid-row--gutters.fr-mb-5v
        .fr-col-6
          = f.dsfr_text_field :first_name, label: "Prénom", required: true
        .fr-col-6
          = f.dsfr_text_field :last_name, label: "Nom", required: true
      = f.dsfr_email_field :email, label: "Adresse email", hint: "Format attendu : nom@domaine.fr", required: true
      = f.dsfr_phone_field :phone_number, label: "Numéro de téléphone", hint: "Vous recevrez les rappels et les informations du RDV sur ce numéro."

      .form-group
        small
        span
          | En vous inscrivant, vous acceptez les #{link_to("conditions générales d'utilisation", cgu_path, class: "fr-link")}.

      .rdv-text-align-center
        = f.submit "Je m’inscris", class: "fr-btn"

    hr.fr-my-2w
    .rdv-text-align-center
      p
        = "Vous avez un compte ? "
        = link_to "Se connecter", new_session_path(resource_name, params: params.permit(:lieu_id, :motif_id, :starts_at)), class: "fr-link"
