- content_for :title, t("devise.invitations.invitation.title")

.card
  .card-body
    p = t("devise.invitations.invitation.click_on_link_sent")
    .rdv-text-align-center
      - unless email_tld_infos(@email_tld).blank?
        = link_to "Ouvrir #{email_tld_infos(@email_tld)[:name]}", email_tld_infos(@email_tld)[:url], target: "_blank", class: "fr-link"

      - if apple_mobile_device? # could not find android equivalent
        .fr-mt-2w
          - if email_tld_infos(@email_tld).present?
            .fr-hr-or.fr-mb-2w ou
          = link_to "#{t('devise.invitations.invitation.open_app_mail')}", "message://", target: "_blank", class: "fr-icon"
